@media (max-width: $screen-width-sub-full-hd) {
  .indicator {
    margin-right: 1.5rem;
  }
}

@media (max-width: $screen-width-notebook-small) {
  .indicator {
    margin-right: 1.5rem;
  }
}
@media (max-width: $screen-width-sm) {
  .indicator {
    &__title {
      font-size: 1.125rem;
    }
  }
}

@media (max-width: $screen-width-xs) {
  .indicator {
    margin-right: 8px;
    margin-bottom: 12px;
    min-width: 115px;
    &__count {
      margin-top: 2px;
      margin-left: 6px;
    }
  }
}
