.indicator {
  margin-right: 3.0625rem;
  min-width: 135px;
  &:last-child {
    margin-right: 0;
  }
  &__body {
    display: flex;
    align-items: baseline;
    margin-bottom: -0.375rem;
    svg {
      margin-top: 5px;
    }
  }
  &__title {
    font-size: 1.25rem;
    font-weight: normal;
    margin-bottom: 0;
  }
  &__count {
    display: inline-block;
    min-width: 28px;
    margin-left: 1.0625rem;
    margin-right: 0.625rem;
  }
  &__bonus {
    font-size: 0.875rem;
    font-weight: bold;
    background: linear-gradient(166.83deg, #49d8bd 28.06%, #3793ff 99.24%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
  &__caption {
    font-weight: 300;
    font-size: 0.875rem;
    color: #808d9d;
    opacity: 0.7;
  }
}
