@media (max-width: $screen-width-sub-full-hd) {
  .os {
    .period {
    }
  }
}

@media (max-width: $screen-width-sm) {
  .os {
    &::before {
      display: none;
    }
    .section__title {
      max-width: 92%;
    }
    .btn-collapse {
      top: 25px;
      right: 20px;
      position: absolute;
    }
  }
}

@media (max-width: $screen-width-sub-lg) {
  .os {
    .section__title {
      width: 100%;
      span {
        display: inline;
        width: 100%;
      }
    }
    .period__select {
      min-width: 70%;
    }
    &__indicators {
      flex-wrap: wrap;
    }
    &__graphic {
      min-height: 365px;
    }
    &__footer {
      flex-wrap: wrap;
    }
    .btn-collapse {
      top: 25px;
      right: 20px;
      position: absolute;
    }
  }
}
