.os {
  position: relative;
  &::before {
    position: absolute;
    content: " ";
    width: 40px;
    height: 40px;
    background: linear-gradient(160.38deg, #49D8BD 28.06%, #3793FF 99.24%);
    box-shadow: 0px 15px 25px rgba(29, 115, 115, 0.2);
    border-radius: 50%;
    left: 21.5%;
    bottom: 99%;
  }
  &__title {
    margin-bottom: 30px;
  }
  &__indicators {
    display: flex;
  }
  &__header {
    display: flex;
    justify-content: space-between;
  }
  &__graphic {
    min-height: 425px;
    position: relative;
    overflow: hidden;
    .spinner {
      margin: auto;
      position: absolute;
      top: 0; left: 0; bottom: 0; right: 0;
      display: flex;
      align-items: center;
      justify-content: center;
    }
  }
  &__footer {
    display: flex;
    align-items: center;
    margin-top: 0.25rem;
  }
}

.apexcharts-legend.position-bottom {
  bottom: 0px !important;
}