@media (max-width: $screen-width-md) {
  .modal-news-item {
      img {
        width: 100%;
      }

  }
}
@media (max-width: $screen-width-sm) {
  .modal-dialog {
    &::before {
      display: none;
    }
    &::after {
      display: none;
    }
  }
}

@media (max-width: $screen-width-xs) {
  .modal-title {
    font-size: 20px;
  }
  .modal {
    .modal-content {
      padding: 0px 0 0px 0px !important;
    }
  }
  .news-options {
    max-height: 320px;
  }
  .news-options-item {
    &__body {
      padding-right: 8px;
      padding-bottom: 20px;
    }
  }
  .modal-news-item__body {
    padding-right: 8px;
    max-height: 360px;
  }
}