.modal {
  .modal-header {
    padding-top: 55px !important;
  }

  .modal-body {
    padding: 1rem 2rem 1rem 1rem;
  }
  .modal-content {
    padding: 0px 0 0px 38px !important;
  }

  .close {
    // padding: 0.5rem;
    // margin-top: -64px;
    // margin-right: -14px;

    padding: 1rem;
    margin-top: 0;
    margin-right: 0;
    position: absolute;
    right: 0;
    top: -0.9rem;
  }

  .modal-footer {
    padding-bottom: 26px;
    justify-content: flex-start;
    text-align: center;
  }
}

.modal-title {
  font-size: 1.375rem;
  line-height: 1.5625rem;
  color: #2b415b;
}

.modal-content {
  position: relative;
  background: #ffffff;
  box-shadow: 0 50px 50px rgba(0, 0, 0, 0.2);
  border-radius: 10px;
}

.modal-dialog {
  z-index: 1;

  & > * {
    z-index: 1;
  }

  &::before {
    position: absolute;
    content: " ";
    width: 257px;
    height: 257px;
    background: linear-gradient(160.38deg, #49d8bd 28.06%, #3793ff 99.24%);
    box-shadow: 0px 15px 25px rgba(29, 115, 115, 0.6);
    border-radius: 50%;
    left: -45px;
    bottom: 70%;
    z-index: 0;
  }
  &::after {
    position: absolute;
    content: " ";
    width: 83px;
    height: 83px;
    background: linear-gradient(160.38deg, #49d8bd 28.06%, #3793ff 99.24%);
    box-shadow: 0px 15px 25px rgba(29, 115, 115, 0.2);
    border-radius: 50%;
    left: -45px;
    bottom: 67%;
    z-index: 1;
  }
}

.team-modal {
  &__footer {
    width: 100%;
    text-align: center;
  }

  .modal-content {
    padding: 0;
  }

  .modal-body {
    display: block;
  }
}

.confirm-modal {
  .modal-header {
    display: block;
    text-align: center;
  }
  .modal-content {
    padding: 0px 15px 0px 15px !important;
    text-align: center;
  }
}

.add-master-team-modal {
  .modal-content {
    text-align: left;
  }
}

.no-footer-modal {
  .modal-footer {
    display: none;
  }

  .modal-body {
    padding-bottom: 2rem;
  }
}

.modal-feed {
  .modal-dialog {
    &::before {
      bottom: 60%;
    }
    &::after {
      bottom: 60%;
    }
  }
}
.close {
  opacity: 1;
}

.modal-body {
  display: flex;
}

.modal-options {
  &__title {
    font-weight: 500;
    font-size: 1.125rem;
    line-height: 1.3125rem;
    color: #2b415b;
  }
}
