<template>
    <b-modal v-model="state_open" id="modal-feed" centered title="BootstrapVue">
        <p class="my-4">Vertically centered modal!</p>
    </b-modal>
</template>

<script>
    import { BModal } from 'bootstrap-vue'
    export default {
        name: "Modal",
        props: ['open'],
        data() {
          return {
              state_open: this.open
          }
        },
        components: {
            'b-modal': BModal
        },
    }
</script>

<style scoped>

</style>