<template>
    <div class="news-item" :class="{'news-item_important': source == 'Traffic Light'}" @click="click">
        <span class="news-item__source">Источник: {{source}}</span>
        <div class="news-item__img">
            <img :src="img">
        </div>
        <span class="news-item__date">{{date | formatTime}}</span>
        <h5 class="news-item__title">{{title}}</h5>
        <p class="news-item__description">{{description}}</p>
    </div>
</template>

<script>
    import {formatTime} from '../../utils'
    export default {
        name: "NewsItem",
        props: {
            id: String,
            source: String,
            date: String,
            img: String,
            title: String,
            description: String
        },
        methods: {
            click() {
                this.$emit('click', this.id);
            }
        },
        filters: {
            formatTime
        }
    }
</script>