<template>
    <div class="modal-news-item__body">
        <div class="modal-news-item__text" v-html=text></div>
    </div>
</template>

<script>
    export default {
        name: "NewsModalItem",
        props: {
            text: String
        }
    }
</script>