<template>
    <section class="section">
        <header class="news__header section__header align-items-center mb-20 flex-wrap flex-sm-nowrap"
                :class="{'mb-0': open}">
            <div class="section__caption d-flex justify-content-between w-100 align-items-center flex-wrap">
                <h2 class="h2 section__title mb-5-px" :class="{'mb-0': open}">Новости</h2>
                <button-gradient @click="modalNewsState = !modalNewsState" :class="{'disabled': !loaders.options, 'd-none': open}"
                                 :text="'Настроить фильтры'">
                </button-gradient>
            </div>
            <button type="button" class="btn-collapse icon-arrow-bottom ml-4 d-flex" :class="{'btn-collapse_close': open}"
                    @click="collapse">
            </button>
        </header>
        <hr class="section__divider" :class="{'d-none': open}">
        <b-alert v-if="loaders.news && total === 0" show class="text-center mb-0" :class="{'d-none': open}">Новостей нет</b-alert>
        <div v-else class="news-body mr-negative-8" v-on:scroll="handleScroll" :class="{'d-none': open}">
            <news-item v-for="(item, index) in news"
                       :key="index"
                       :source="item.source"
                       :id="item.id"
                       :date="item.date"
                       :img="item.img"
                       :title="item.title"
                       :description="item.description" @click="openNewsItem">
            </news-item>
            <b-alert v-if="loaders.all_news" show class="text-center w-100 mb-0">Больше нечего показывать</b-alert>
            <div class="text-center mx-auto" v-if="!loaders.error && !loaders.news">
                <b-spinner label="Spinning"></b-spinner>
            </div>
        </div>
        <b-modal v-model="modalNewsState" size="xl" id="modal-news" centered title="Настройки отображения новостей">
            <div class="news-options">
                <div class="news-options-item"
                     v-for="(item, index) in options"
                     :key="index">
                    <h5 class="news-options-item__title">{{selectCaption(index)}}</h5>
                    <div class="news-options-item__body">
                        <div class="d-flex justify-content-between mb-12" v-for="(el, option) in options[index]"
                             :key="option">
                            <label :for="option + '_check'" class="ios-checkbox__title"
                                   :class="{'ios-checkbox__title_active':options[index][option]}">{{selectLabel(option)}}</label>
                            <input :id="option + '_check'"
                                   type='checkbox'
                                   v-model=options[index][option]
                                   :checked="options[index][option]"
                                   class='ios-checkbox__checkbox'>
                            <label :for="option + '_check'"></label>
                        </div>
                    </div>
                </div>
            </div>
            <template v-slot:modal-footer>
                <button class="btn btn-primary btn-gradient btn-gradient__size-md btn-gradient__text-center"
                        @click="applyFilters">
                    <span class="text font-weight-normal">
                        Применить фильтры
                    </span>
                </button>
                <button class="btn btn-primary btn-gradient btn-gradient__size-md btn-gradient__text-center btn-gradient__outline"
                        @click="resetFilters">
                    <span class="text font-weight-normal">
                        Сбросить
                    </span>
                </button>
            </template>
        </b-modal>
        <b-modal v-model="modalNewsItemState" size="xl" id="modal-news-item" centered title=""
                 modal-class="modal-news-item">
            <div class="text-center modal-news-item__body mx-auto d-flex align-items-center justify-content-center" v-if="!loaders.news_item">
                <b-spinner label="Spinning"></b-spinner>
            </div>
            <div v-else>
                <span class="news-item__date d-block mb-1 mb-sm-3">{{news_item_date | formatTime}}</span>
                <news-modal-item :text="news_item_text">
                </news-modal-item>
            </div>
            <template v-slot:modal-footer>
                <div class="modal-news-item__footer">
                    <button type="button"
                            class="slider-navigation__button icon-arrow-left order-sm-0 order-md-0"
                            :class="{'disabled': !loaders.news_item}"
                            @click="prev">
                    </button>
                    <div class="modal-news-item__interaction order-sm-2 order-md-1">
                        <like :like="true"
                              :count="news_item_like"
                              :id="news_item_id"
                              :target="'news_id'"
                              @vote="getNewsItem"
                              class="order-sm-0 order-md-0 mr-3 mr-md-0"
                              :class="{'disabled': !loaders.news_item}">
                        </like>
                        <a :href="news_item_link"
                           class="btn btn-primary mx-40 mx-md-5 btn-gradient btn-gradient__size-md btn-gradient__text-center btn-gradient__outline order-sm-2 order-md-1"
                           :class="{'disabled': !loaders.news_item}">
                            <span class="text font-weight-normal">
                                Открыть полностью
                            </span>
                        </a>
                        <like :like="false"
                              :count="news_item_dislike"
                              :id="news_item_id"
                              :target="'news_id'"
                              @vote="getNewsItem"
                              class="order-sm-1 order-md-2"
                              :class="{'disabled': !loaders.news_item}">
                        </like>
                    </div>
                    <button type="button" class="slider-navigation__button icon-arrow-right order-sm-1 order-md-2"
                            @click="next"
                            :class="{'disabled': !loaders.news_item}">
                    </button>
                </div>
            </template>
        </b-modal>
    </section>

</template>

<script>
    import ButtonGradient from "../buttons/ButtonGradient";
    import NewsItem from "./NewsItem";
    import NewsModalItem from "./NewsModalItem";
    import Like from '../like/Like'

    import {BSpinner} from 'bootstrap-vue'
    import {BAlert} from 'bootstrap-vue';
    import {BModal} from 'bootstrap-vue'

    import {get, post} from '../../service/api';
    import {formatTime} from '../../utils'

    export default {
        name: "News",
        components: {
            ButtonGradient,
            NewsItem,
            NewsModalItem,
            'b-spinner': BSpinner,
            'b-alert': BAlert,
            'b-modal': BModal,
            Like
        },
        data() {
            return {
                loaders: {
                    news: false,
                    options: false,
                    all_news: false,
                    first_load: false,
                    error: false,
                    news_item_error: false,
                    news_item: false
                },
                options: {
                    sources: {
                        facebook: true,
                        mt: true,
                        google: true,
                        yandex: true,
                        teaser: true,
                        push: true,
                        vk: true
                    },
                    category: {
                        cases: true,
                        educational: true,
                        interview: true,
                        another_one: true,
                        another_next: true
                    },
                    resources: {
                        traffic_light: true,
                        partnerkin: true,
                        cpa_rip: true,
                        zorbas_media: true,
                        pro_traffic: true,
                        conversion_im: true
                    }
                },
                from: 1,
                to: 12,
                news_count: 0,
                total: 0,
                news: [],
                news_item_date: '',
                news_item_id: '',
                news_item_prev: '',
                news_item_next: '',
                news_item_text: '',
                news_item_link: '',
                news_item_like: 0,
                news_item_dislike: 0,
                modalNewsState: false,
                modalNewsItemState: false,
                labels: [{
                    label: 'facebook',
                    text: 'Facebook'
                }, {
                    label: 'mt',
                    text: 'MT'
                }, {
                    label: 'google',
                    text: 'Google'
                }, {
                    label: 'yandex',
                    text: 'Yandex'
                }, {
                    label: 'teaser',
                    text: 'Тизерки'
                }, {
                    label: 'push',
                    text: 'Пуши'
                }, {
                    label: 'vk',
                    text: 'Вконтакте'
                }, {
                    label: 'cases',
                    text: 'Кейсы'
                }, {
                    label: 'educational',
                    text: 'Обучающие'
                }, {
                    label: 'interview',
                    text: 'Интервью'
                }, {
                    label: 'another_one',
                    text: ' Еще один'
                }, {
                    label: 'another_next',
                    text: 'Еще следующий'
                }, {
                    label: 'traffic_light',
                    text: 'Traffic Light'
                }, {
                    label: 'partnerkin',
                    text: 'Partnerkin'
                }, {
                    label: 'cpa_rip',
                    text: 'CPA RIP'
                }, {
                    label: 'zorbas_media',
                    text: 'Zorbas Media'
                }, {
                    label: 'pro_traffic',
                    text: 'ProTraffic'
                }, {
                    label: 'conversion_im',
                    text: 'Conversion.im'
                }],
            }
        },
        mounted() {
            this.loadOptions().then(() => {
                this.firstLoadNews();
            }).catch(() => {
                this.loaders.error = true;
            });
        },
        methods: {
            async loadOptions() {
                this.loaders.options = false;
                try {
                    const response = await get('news/options');
                    this.options = response.data.data;
                    this.loaders.options = true;
                } catch (err) {
                    this.loaders.error = true;
                    this.loaders.options = true;
                    // eslint-disable-next-line
                    console.log(err);

                }
            },
            async firstLoadNews() {
                this.loaders.feed = false;
                try {
                    const response = await post('news/list', {
                        from: this.from,
                        to: this.to,
                        options: this.options
                    });

                    this.news_count = response.data.data.length;
                    this.total = response.data.count_all;

                    this.from = this.from + 12;
                    this.to = this.to + 12;
                    this.news = response.data.data;
                    this.loaders.first_load = false;
                    this.loaders.news = true;
                } catch (err) {
                    this.loaders.first_load = false;
                    this.loaders.error = true;
                    this.loaders.news = true;
                    // eslint-disable-next-line
                    console.log(err);

                }
            },
            async loadNews() {
                if (!this.loaders.first_load && this.total > this.news_count) {
                    this.loaders.news = false;
                    try {
                        const response = await post('news/list', {
                            from: this.from,
                            to: this.to,
                            options: this.options
                        });

                        let data = response.data.data;
                        this.from = this.from + 12;
                        this.to = this.to + 12;
                        this.news_count = this.news_count + response.data.data.length;
                        this.total = response.data.count_all;

                        this.news = this.news.concat(data);
                        this.loaders.news = true;
                    } catch (err) {
                        this.loaders.error = true;
                        this.loaders.news = true;
                        // eslint-disable-next-line
                        console.log(err);

                    }
                } else {
                    this.loaders.all_news = true;
                }
            },
            async applyFilters() {
                this.loaders.news = false;
                try {
                    await post('news/options', {
                        data: this.options
                    });

                    this.resetData();
                    this.firstLoadNews().then(() => {
                        this.modalNewsState = false;
                    }).catch(() => {
                        this.modalNewsState = false;
                    });
                } catch (err) {
                    this.loaders.error = true;
                    this.loaders.news = true;
                    // eslint-disable-next-line
                    console.log(err);

                }
            },
            async resetFilters() {
                this.options.sources.facebook = false;
                this.options.sources.mt = false;
                this.options.sources.google = false;
                this.options.sources.yandex = false;
                this.options.sources.teaser = false;
                this.options.sources.push = false;
                this.options.sources.vk = false;

                this.options.category.cases = false;
                this.options.category.educational = false;
                this.options.category.interview = false;
                this.options.category.another_one = false;
                this.options.category.another_next = false;

                this.options.resources.traffic_light = false;
                this.options.resources.partnerkin = false;
                this.options.resources.cpa_rip = false;
                this.options.resources.zorbas_media = false;
                this.options.resources.pro_traffic = false;
                this.options.resources.conversion_im = false;
            },
            prev() {
                this.news_item_id = this.news_item_prev;
                this.getNewsItem();
            },
            next() {
                this.news_item_id = this.news_item_next;
                this.getNewsItem();
            },
            async getNewsItem() {
                this.loaders.news_item = false;
                try {
                    const response = await post('news/get', {
                        id: this.news_item_id
                    });
                    this.news_item_date = response.data.data.date;
                    this.news_item_prev = response.data.data.prev;
                    this.news_item_next = response.data.data.next;
                    this.news_item_text = response.data.data.text;
                    this.news_item_link = response.data.data.link;
                    this.news_item_like = response.data.data.assessment.like;
                    this.news_item_dislike = response.data.data.assessment.dislike;

                    this.loaders.news_item = true;
                } catch (err) {
                    this.loaders.news_item_error = true;
                    this.loaders.news_item = true;
                    // eslint-disable-next-line
                    console.log(err);
                }
            },
            handleScroll(event) {
                let $target = event.target;
                if ($target.scrollHeight - $target.clientHeight == $target.scrollTop && this.loaders.news) {
                    this.loadNews();
                }

            },
            resetData() {
                this.loaders.all_news = false;
                this.loaders.first_load = true;
                this.from = 1;
                this.to = 12;
                this.news_count = 0;
                this.total = 0;
                this.news = [];
            },
            selectCaption(caption) {
                if (caption === 'sources') {
                    return 'Источники траффика';
                } else if (caption === 'category') {
                    return 'Категория';
                } else if (caption === 'resources') {
                    return 'Ресурсы';
                } else {
                    return caption;
                }
            },
            selectLabel(index) {
                let result = '';
                for (let i = 0; i < this.labels.length; i++) {
                    if (this.labels[i].label === index) {
                        result = this.labels[i].text;
                        break;
                    }
                }
                return result;
            },
            openNewsItem(id) {
                this.modalNewsItemState = true;
                this.news_item_id = id;
                this.getNewsItem();
            },
            collapse() {
                let state = this.$store.getters.news;
                this.$store.dispatch('NewsOpen', !state);
            }
        },
        filters: {
            formatTime
        },
        computed: {
            open() {
                return this.$store.getters.news
            }
        }
    }
</script>