.main-header {
  box-shadow: 0px 15px 15px rgba(15, 50, 62, 0.05);
  z-index: 1000;

  .navbar-toggler {
    transition: 0.15s;
    outline: none;

    &:hover {
      background-color: #def2f8;
    }

    &:active {
      background-color: darken(#def2f8, 20%);
    }
  }

  &__logo {
    margin-right: 3.5rem;
  }
}