@media (max-width: $screen-width-sm) {
  .navbar {
    padding-top: 0.875rem;
    padding-bottom: 0.875rem;
  }
  .main-header {
    &__logo {
      width: 120px;
      margin-right: 1rem;
    }
  }
}

@media (max-width: $screen-width-xs) {
  .navbar {
    padding-left: 0.9375rem;
    padding-right: 0.9375rem;
  }
  .main-header {
    &__logo {
      margin-right: 0.5rem;
    }
  }
}