<template>
  <div
    class="web-masters-table-item"
    @click="open = !open"
    :class="{
      'web-masters-table-item_disabled': !item.active,
      'web-masters-table-item_open': open
    }"
  >
    <b-tooltip
      :target="`pop-block-${item.id}`"
      offset="-10"
      :placement="'bottomleft'"
      triggers="hover"
      variant="secondary"
      custom-class="master-block-tooltip"
    >
      <p class="font-weight-500">Заблокировать</p>
      <p>
        Вебмастер не сможет видеть статистику команды и запрашивать вывод
        средств, а также лишится лишится доступа к предоставленным приватным
        офферам.
      </p>
      <p>
        Он будет автоматически удален из команды при выполнении следующих
        условий:
      </p>
      <CheckOptions :options="blockOptions" customTextClass="check-options__small" />
    </b-tooltip>
    <div
      v-if="masterColumns[activeTeam.options.statOption]['name'].active"
      class="web-masters-table-item__name d-flex justify-content-start align-items-center"
    >
      <span class="item-index">
        <crown v-if="item.is_lead"></crown>
        <div v-if="!item.is_lead && item.active">{{ idx + 1 }}</div>
        <div v-if="!item.active">
          <stop-disabled />
        </div>
      </span>

      <img class="mx-3" :src="item.img" alt />
      <span class="web-masters-table-item__name_val">{{ item.name }}</span>
    </div>
    <div
      v-if="masterColumns[activeTeam.options.statOption]['confirm-lid'].active"
      class="web-masters-table-item_mb-hide web-masters-table-item__confirm-lid"
    >{{ item.confirm_lids }}</div>
    <div
      v-if="masterColumns[activeTeam.options.statOption]['tested-offers'].active"
      class="web-masters-table-item_mb-hide web-masters-table-item__tested-offers"
    >{{ item.tested_offers }}</div>
    <div
      v-if="masterColumns[activeTeam.options.statOption]['summ-work'].active"
      class="web-masters-table-item_mb-hide web-masters-table-item__summ-work"
    >{{ item.summ_work }}</div>
    <div
      v-if="masterColumns[activeTeam.options.statOption]['change'].active"
      class="web-masters-table-item_mb-hide web-masters-table-item__change"
      :class="{
        'web-masters-table-item__change_up': item.change > 0,
        'web-masters-table-item__change_down': item.change < 0,
        'web-masters-table-item__change_without-change': item.change == 0
      }"
    >
      <span class="change">{{ addPlus(item.change) | formatPrice }}</span>
      <icon-base
        v-if="big"
        width="7"
        height="11"
        viewBox="0 0 7 11"
        class="arrow"
        :iconColor="'#E5E5E5'"
      >
        <icon-arrow></icon-arrow>
      </icon-base>
    </div>

    <div
      v-if="masterColumns[activeTeam.options.statOption]['balance'].active"
      class="web-masters-table-item_mb-hide web-masters-table-item__balance justify-content-around"
    >
      <span v-if="cur.isRub">{{ item.balance_rub }}</span>
      <span v-if="cur.isUsd">{{ item.balance_usd }}</span>
      <span v-if="cur.isEur">{{ item.balance_eur }}</span>
    </div>

    <div
      v-if="masterColumns[activeTeam.options.statOption]['status'].active"
      class="web-masters-table-item_mb-hide web-masters-table-item__status justify-content-between"
    >
      <span>
        <span class="status_icons i_leads mr-3">
          <icon-stat />
          <span class="vis_hover ml-2">Лиды</span>
        </span>

        <span class="status_icons i_statistics">
          <icon-check-filled />
          <span class="vis_hover ml-2">Статистика</span>
        </span>
      </span>
      <span v-if="activeTeam.am_i_teamlid">
        <icon-rollback v-if="!item.active" />

        <span :id="`pop-block-${item.id}`" class="cursor-pointer" @click="showBlockModal = true">
          <icon-stop v-if="item.active" />
        </span>
        <span class="cursor-pointer" @click="showDeleteModal = true">
          <icon-trash class="mx-3" />
        </span>
      </span>
    </div>

    <!-- <div
      class="btn-collapse btn-collapse_transparent d-flex d-sm-none ml-4"
      :class="{ 'btn-collapse_close': !open }"
    >
      <arrow-gradient-top></arrow-gradient-top>
    </div>-->

    <b-modal
      size="md"
      :title="`Удалить из команды ${item.name}?`"
      centered
      modal-class="confirm-modal delete-web-master-modal"
      v-model="showDeleteModal"
    >
      <template v-slot:modal-footer>
        <div class="w-100">
          <button @click="deleteMaster" class="btn btn-outline">Подтвердить</button>
        </div>
      </template>
    </b-modal>

    <b-modal
      size="md"
      :title="`Заблокировать вебмастера ${item.name}?`"
      centered
      modal-class="confirm-modal block-web-master-modal"
      v-model="showBlockModal"
    >
      <template v-slot:modal-footer>
        <div class="w-100">
          <button @click="blockMaster" class="btn btn-outline">Заблокировать</button>
        </div>
      </template>
    </b-modal>

    <b-modal
      size="md"
      :title="`Невозможно удалить из команды ${item.name}`"
      centered
      modal-class="confirm-modal delete-web-master-modal-error"
      v-model="showDeleteModalError"
    >
      <div class="d-flex flex-column align-items-start text-left px-4">
        <p>Перед тем как удалить вебмастера вам нужно:</p>
        <CheckOptions :options="deleteConditions" customTextClass="check-options__small_air" />

        <p class="font-size-small font-weight-400">
          До этого вермени вы можете заблокировать вебмастера, что деактивирует
          его членство в команде.
        </p>
        <p class="font-size-small font-weight-400">
          Вебмастер будет удален из рейтинга автоматически после выполнения
          перечисленных условий.
        </p>
      </div>
      <template v-slot:modal-footer>
        <div class="w-100">
          <button @click="blockMaster" class="btn btn-outline">Заблокировать</button>
        </div>
      </template>
    </b-modal>
  </div>
</template>

<script>
import IconBase from "../icons/IconBase";
import IconArrow from "../icons/Arrow";
import ArrowGradientTop from "../icons/ArrowGradientTop";
import Crown from "../icons/Crown";
import StopDisabled from "../icons/StopDisabled";
import IconStat from "../icons/Stat";
import IconCheckFilled from "../icons/CheckFilled";
import IconTrash from "../icons/Trash";
import IconRollback from "../icons/Rollback";
import IconStop from "../icons/Stop2";
import { formatPrice, addPlus } from "../../utils";
import CheckOptions from "../lists/CheckOptions.vue";
import { BModal } from "bootstrap-vue";
import { BTooltip } from "bootstrap-vue";
import { mapState, mapGetters } from "vuex";

export default {
  components: {
    IconArrow,
    IconBase,
    ArrowGradientTop,
    Crown,
    StopDisabled,
    IconStat,
    IconCheckFilled,
    IconTrash,
    IconRollback,
    IconStop,
    BModal,
    BTooltip,
    CheckOptions
  },
  props: ["idx", "cur", "item"],
  data() {
    return {
      showDeleteModal: false,
      showBlockModal: false,
      showDeleteModalError: false,
      open: false,
      icons_name: {},
      big: false,
      blockOptions: [
        {
          text: "С баланса вебмастера будут выведены все средства",
          value: 1,
          success: true
        },
        {
          text: "У вебмастера не будет лидов в обработке",
          value: 2,
          success: false
        }
      ],
      deleteConditions: [
        {
          text: "Вывести средстава вебмастера на свои реквизиты;",
          value: 1,
          success: true
        },
        {
          text: "Дождаться, когда обработаются все лиды данного веба.",
          value: 2,
          success: false
        }
      ]
    };
  },
  mounted() {},
  filters: {
    formatPrice
  },
  computed: {
    ...mapState("team", ["activeTeam"]),
    ...mapGetters("team", ["masterColumns"])
  },
  methods: {
    addPlus,
    deleteMaster() {
      this.showDeleteModalError = true;
    },
    blockMaster() {
      this.showBlockModal = true;
      this.showDeleteModalError = false;
      this.showDeleteModal = false;
    }
  }
};
</script>
