<template>
  <section class="web-masters section mb-30">
    <header class="web-masters__header section__header" :class="{ 'align-items-center': open }">
      <div class="section__caption">
        <h2 class="h2 section__title mb-5-px" :class="{ 'mb-0': open }">Вебмастера</h2>
      </div>
      <div
        class="period mr-30 mr-xl-0 flex-column flex-sm-row align-items-start align-items-sm-center"
      >
        <div
          v-if="masterColumns[activeTeam.options.statOption]['balance'].active"
          class="d-flex justify-content-start web-masters__balance flex-column flex-md-row"
        >
          <span class="period__title">Показать баланс</span>
          <span class="d-flex justify-content-start">
            <b-form-checkbox
              id="b_rub"
              :checked="cur.isRub"
              name="b_rub"
              class="mt-2 mb-2 mt-sm-0 mb-sm-0 green"
              @input="toggleBalanceRub"
            >
              <RubleSign></RubleSign>
            </b-form-checkbox>

            <b-form-checkbox
              id="b_usd"
              :checked="cur.isUsd"
              name="b_usd"
              class="mt-2 mb-2 mt-sm-0 mb-sm-0 green"
              @input="toggleBalanceUsd"
            >
              <DollarSign></DollarSign>
            </b-form-checkbox>
            <b-form-checkbox
              id="b_eur"
              :checked="cur.isEur"
              name="b_eur"
              class="mt-2 mb-2 mt-sm-0 mb-sm-0 green"
              @input="toggleBalanceEur"
            >
              <EurSign></EurSign>
            </b-form-checkbox>
          </span>
        </div>
        <span class="period__title mt-2 mt-sm-0" :class="{ 'd-none': open }">Период</span>
        <b-form-select
          class="period__select"
          :class="{ 'd-none': open }"
          v-model="period"
          @change="changePeriod"
          :options="period_options"
        ></b-form-select>
      </div>
    </header>
    <web-masters-table
      class="mt-28"
      :cur="cur"
      :class="{ 'd-none': open }"
      :loading="loaders.data"
      :webMasters="activeTeam.masters"
      :all_data_loaded="loaders.all_data_loaded"
    ></web-masters-table>
  </section>
</template>

<script>
import WebMastersTable from "./WebMastersTable";
import RubleSign from "../icons/RubleSign";
import DollarSign from "../icons/DollarSign";
import EurSign from "../icons/EurSign";

import { BFormSelect } from "bootstrap-vue";

import { post } from "../../service/api";
import { createTime } from "../../utils";
import ArrowGradientTop from "../icons/ArrowGradientTop";
import { BFormCheckbox } from "bootstrap-vue";
import { mapState, mapGetters, mapMutations } from "vuex";

export default {
  components: {
    "b-form-select": BFormSelect,
    WebMastersTable,
    ArrowGradientTop,
    BFormCheckbox,
    RubleSign,
    DollarSign,
    EurSign
  },
  data() {
    return {
      cur: { isRub: true, isUsd: true, isEur: true },
      loaders: {
        data: false,
        first_load: true,
        all_data_loaded: false
      },
      period: "today",
      period_options: [
        {
          value: "today",
          text: "за сегодня"
        },
        {
          value: "at_week",
          text: "за неделю"
        },
        {
          value: "at_month",
          text: "за месяц"
        }
      ],
      from: 0,
      to: 10,
      total: 4
    };
  },
  mounted() {
    this.firstLoad();
  },
  methods: {
    ...mapMutations("team", ["SET_ACTIVE_TEAM_MASTERS"]),
    toggleBalanceRub(val) {
      this.cur.isRub = val;
    },
    toggleBalanceUsd(val) {
      this.cur.isUsd = val;
    },
    toggleBalanceEur(val) {
      this.cur.isEur = val;
    },
    changePeriod() {
      /*
       * При нулевой задержке внутренний планировщик setTimeout будет ждать выполнения предыдущего кода.
       * Это небольшой хак, при переключении периода, DOM не успевает обновиться,
       * из-за этого на мгновение появляется сообщение "Больше нечего показывать" (только если прокрутили
       * список до конца). Если так не сделать - будет мелькать сообщение.
       * */
      this.loaders.all_data_loaded = false;

      setTimeout(() => {
        //this.resetData();
        this.firstLoad();
      });
    },
    async firstLoad() {
      this.loaders.data = false;
      try {
        const response = await post(`web-masters/list/${this.activeTeam.id}`, {
          period: createTime(this.period),
          from: this.from,
          to: this.to
        });

        this.from = this.from;
        this.to = this.to + 10;
        this.total = response.data.length;

        this.SET_ACTIVE_TEAM_MASTERS(response.data);
        this.loaders.data = true;
        this.loaders.first_load = false;
      } catch (err) {
        this.loaders.data = true;
        this.loaders.first_load = false;
        // eslint-disable-next-line
        console.log(err);
      }
    },

    resetData() {
      this.loaders.first_load = true;
      this.total = 0;
      this.from = 1;
      this.to = 10;
      this.SET_ACTIVE_TEAM_MASTERS([]);
    },
    collapse() {
      let state = this.$store.getters.webMaster;
      this.$store.dispatch("WebMasterOpen", !state);
    }
  },
  computed: {
    ...mapState("team", ["activeTeam"]),
    ...mapGetters("team", ["masterColumns"]),
    open() {
      return this.$store.getters.webMaster;
    }
  }
};
</script>