<template>
  <div class="web-masters-table-wrap" :class="{'web-masters-table-wrap_open':open}">
    <div
      class="web-masters-table stat-var-1"
      :class="{
        [masterColumns[activeTeam.options.statOption]['class']]:!activeTeam.am_i_teamlid}"
    >
      <header class="web-masters-table-header">
        <span
          v-if="masterColumns[activeTeam.options.statOption].name.active"
          class="web-masters-table-header__item web-masters-table-header__item_name"
        >Ник</span>
        <span
          v-if="masterColumns[activeTeam.options.statOption]['confirm-lid'].active"
          class="web-masters-table-header__item web-masters-table-header__item_confirm-lid"
        >
          Подтвержденные
          <br />лиды
        </span>
        <span
          v-if="masterColumns[activeTeam.options.statOption]['tested-offers'].active"
          class="web-masters-table-header__item web-masters-table-header__item_tested-offers"
        >
          Протестированные
          <br />офферы
          <span class="web-masters-table-header_hint">
            <svg
              width="13"
              height="18"
              viewBox="0 0 13 18"
              fill="none"
              xmlns="http://www.w3.org/2000/svg"
            >
              <circle cx="6.5" cy="6.5" r="6.5" fill="#2B415B" />
              <path
                d="M6.68153 4.016C6.39353 4.016 6.12153 4.052 5.86553 4.124C5.60953 4.196 5.32553 4.312 5.01353 4.472L4.50953 3.116C4.82153 2.916 5.18953 2.764 5.61353 2.66C6.03753 2.548 6.45353 2.492 6.86153 2.492C7.37353 2.492 7.79353 2.56 8.12153 2.696C8.45753 2.832 8.72153 3.004 8.91353 3.212C9.10553 3.42 9.23753 3.648 9.30953 3.896C9.38953 4.144 9.42953 4.38 9.42953 4.604C9.42953 4.828 9.39353 5.036 9.32153 5.228C9.25753 5.412 9.17353 5.584 9.06953 5.744C8.96553 5.904 8.84553 6.056 8.70953 6.2C8.57353 6.344 8.44153 6.48 8.31353 6.608C8.21753 6.704 8.11753 6.808 8.01353 6.92C7.90953 7.024 7.81353 7.136 7.72553 7.256C7.64553 7.376 7.57753 7.504 7.52153 7.64C7.46553 7.768 7.43753 7.9 7.43753 8.036C7.43753 8.068 7.43753 8.116 7.43753 8.18C7.43753 8.244 7.44153 8.3 7.44953 8.348H5.86553C5.84953 8.268 5.83753 8.18 5.82953 8.084C5.82953 7.98 5.82953 7.892 5.82953 7.82C5.82953 7.596 5.85753 7.396 5.91353 7.22C5.96953 7.036 6.04153 6.868 6.12953 6.716C6.22553 6.556 6.33353 6.408 6.45353 6.272C6.57353 6.136 6.69753 6.004 6.82553 5.876C7.00953 5.692 7.17753 5.512 7.32953 5.336C7.48153 5.152 7.55753 4.944 7.55753 4.712C7.55753 4.52 7.48153 4.356 7.32953 4.22C7.18553 4.084 6.96953 4.016 6.68153 4.016ZM7.79753 10.052C7.79753 10.404 7.68153 10.676 7.44953 10.868C7.22553 11.06 6.96953 11.156 6.68153 11.156C6.39353 11.156 6.13353 11.06 5.90153 10.868C5.67753 10.676 5.56553 10.404 5.56553 10.052C5.56553 9.7 5.67753 9.428 5.90153 9.236C6.13353 9.044 6.39353 8.948 6.68153 8.948C6.96953 8.948 7.22553 9.044 7.44953 9.236C7.68153 9.428 7.79753 9.7 7.79753 10.052Z"
                fill="white"
              />
            </svg>
          </span>
        </span>
        <span
          v-if="masterColumns[activeTeam.options.statOption]['summ-work'].active"
          class="web-masters-table-header__item web-masters-table-header__item_summ-work"
        >
          Суммарный
          <br />вклад
        </span>

        <span
          v-if="masterColumns[activeTeam.options.statOption]['change'].active"
          class="web-masters-table-header__item web-masters-table-header__item_change"
        >Изменение</span>

        <span
          v-if="(masterColumns[activeTeam.options.statOption]['balance'].active)&&(cur.isRub || cur.isUsd || cur.isEur)"
          class="web-masters-table-header__item web-masters-table-header__item_balance"
        >
          <!-- <span class="d-block">Баланс</span> -->
          <span class="d-flex justify-content-around">
            <span v-if="cur.isRub">
              <span>
                Баланс,
                <svg
                  width="9"
                  height="11"
                  viewBox="0 0 9 11"
                  fill="none"
                  xmlns="http://www.w3.org/2000/svg"
                >
                  <path
                    d="M5.74219 6.25C7.64062 6.25 9 5.07812 9 3.25C9 1.42188 7.64062 0.25 5.74219 0.25H2.53125C2.36719 0.25 2.25 0.390625 2.25 0.53125V5.3125H0.28125C0.117188 5.3125 0 5.45312 0 5.59375V5.96875C0 6.13281 0.117188 6.25 0.28125 6.25H2.25V7.60938H0.28125C0.117188 7.60938 0 7.75 0 7.89062V8.21875C0 8.38281 0.117188 8.5 0.28125 8.5H2.25V10.4688C2.25 10.6328 2.36719 10.75 2.53125 10.75H2.97656C3.14062 10.75 3.25781 10.6328 3.25781 10.4688V8.5H7.21875C7.35938 8.5 7.5 8.38281 7.5 8.21875V7.89062C7.5 7.75 7.35938 7.60938 7.21875 7.60938H3.25781V6.25H5.74219ZM3.25781 1.1875H5.71875C7.10156 1.1875 8.01562 1.9375 8.01562 3.22656C8.01562 4.53906 7.10156 5.3125 5.69531 5.3125H3.25781V1.1875Z"
                    fill="#516378"
                  />
                </svg>
              </span>
            </span>
            <span v-if="cur.isUsd">
              <span>
                Баланс,
                <svg
                  width="6"
                  height="13"
                  viewBox="0 0 6 13"
                  fill="none"
                  xmlns="http://www.w3.org/2000/svg"
                >
                  <path
                    d="M4.47656 6.59375L1.71094 5.72656C1.14844 5.53906 0.75 4.92969 0.75 4.27344C0.75 3.42969 1.33594 2.75 2.08594 2.75H3.79688C4.33594 2.75 4.82812 2.96094 5.20312 3.33594C5.29688 3.40625 5.39062 3.40625 5.46094 3.33594L5.74219 3.07812C5.83594 3.00781 5.83594 2.89062 5.76562 2.82031C5.22656 2.30469 4.52344 2 3.79688 2H3.375V0.6875C3.375 0.59375 3.28125 0.5 3.1875 0.5H2.8125C2.69531 0.5 2.625 0.59375 2.625 0.6875V2H2.08594C0.914062 2 0 3.03125 0 4.27344C0 5.25781 0.609375 6.14844 1.5 6.42969L4.26562 7.29688C4.82812 7.48438 5.25 8.07031 5.25 8.75C5.25 9.59375 4.64062 10.25 3.91406 10.25H2.17969C1.66406 10.25 1.14844 10.0625 0.773438 9.6875C0.703125 9.61719 0.585938 9.61719 0.515625 9.6875L0.234375 9.92188C0.164062 9.99219 0.140625 10.1328 0.234375 10.2031C0.75 10.7188 1.45312 11 2.17969 11H2.625V12.3125C2.625 12.4297 2.69531 12.5 2.8125 12.5H3.1875C3.28125 12.5 3.375 12.4297 3.375 12.3125V11H3.91406C5.0625 11 6 9.99219 6 8.75C6 7.76562 5.36719 6.875 4.47656 6.59375Z"
                    fill="#516378"
                  />
                </svg>
              </span>
            </span>
            <span v-if="cur.isEur">
              <span>
                Баланс,
                <svg
                  width="8"
                  height="11"
                  viewBox="0 0 8 11"
                  fill="none"
                  xmlns="http://www.w3.org/2000/svg"
                >
                  <path
                    d="M7.10156 9.92969C7.07812 9.76562 6.91406 9.67188 6.77344 9.71875C6.53906 9.76562 6.16406 9.83594 5.74219 9.83594C3.84375 9.83594 2.41406 8.73438 1.96875 7H5.60156C5.74219 7 5.85938 6.90625 5.88281 6.78906L5.90625 6.60156C5.95312 6.41406 5.8125 6.25 5.64844 6.25H1.80469C1.75781 5.78125 1.75781 5.24219 1.82812 4.75H6C6.14062 4.75 6.25781 4.65625 6.28125 4.53906L6.32812 4.35156C6.35156 4.16406 6.21094 4 6.04688 4H1.99219C2.46094 2.35938 3.86719 1.1875 5.71875 1.1875C6.07031 1.1875 6.39844 1.23438 6.60938 1.28125C6.75 1.30469 6.89062 1.21094 6.9375 1.07031L7.03125 0.71875C7.05469 0.554688 6.96094 0.390625 6.79688 0.367188C6.5625 0.320312 6.1875 0.25 5.74219 0.25C3.35156 0.25 1.47656 1.86719 0.914062 4H0.28125C0.117188 4 0 4.14062 0 4.28125V4.46875C0 4.63281 0.117188 4.75 0.28125 4.75H0.773438C0.726562 5.17188 0.75 5.92188 0.773438 6.25H0.28125C0.117188 6.25 0 6.39062 0 6.53125V6.71875C0 6.88281 0.117188 7 0.28125 7H0.890625C1.38281 9.27344 3.25781 10.75 5.74219 10.75C6.25781 10.75 6.70312 10.6797 6.98438 10.6094C7.125 10.5859 7.21875 10.4219 7.19531 10.2812L7.10156 9.92969Z"
                    fill="#516378"
                  />
                </svg>
              </span>
            </span>
          </span>
        </span>

        <span
          v-if="masterColumns[activeTeam.options.statOption]['status'].active"
          class="web-masters-table-header__item web-masters-table-header__item_status"
        ></span>
      </header>

      <div class="web-masters-table-body" v-on:scroll="handleScroll">
        <web-masters-table-item
          v-for="(item, index) in webMastersFiltered"
          :key="index"
          :cur="cur"
          :item="item"
          :idx="index"
        ></web-masters-table-item>
        <b-alert
          :show="loading && webMasters.length === 0"
          class="text-center mb-0"
        >В команде нет вебмастеров</b-alert>

        <div class="text-center" v-if="!loading">
          <b-spinner label="Spinning"></b-spinner>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import { mapState, mapGetters } from "vuex";
import ArrowGradientTop from "../icons/ArrowGradientTop";
import WebMastersTableItem from "./WebMastersTableItem";
import { BAlert, BSpinner } from "bootstrap-vue";

import { formatPrice, addPlus } from "../../utils";

import RubleSign from "../icons/RubleSign";
import DollarSign from "../icons/DollarSign";
import EurSign from "../icons/EurSign";

export default {
  components: {
    "b-spinner": BSpinner,
    "b-alert": BAlert,
    WebMastersTableItem,
    ArrowGradientTop,
    RubleSign,
    DollarSign,
    EurSign
  },
  props: {
    cur: Object,
    loading: Boolean,
    all_data_loaded: Boolean,
    webMasters: Array
  },
  data() {
    return {};
  },
  computed: {
    ...mapState("team", ["activeTeam"]),
    ...mapGetters("team", ["masterColumns"]),
    open() {
      return this.$store.getters.sidebar_open;
    },
    webMastersFiltered() {
      return this.webMasters
        ? this.webMasters.filter(wm => {
            if (this.activeTeam.options.statOption === 2 && wm.is_lead) {
              return false;
            }

            return true;
          })
        : [];
    }
  },
  methods: {
    addPlus,
    handleScroll(event) {
      let $target = event.target;

      if (
        $target.scrollHeight - $target.clientHeight == $target.scrollTop &&
        this.loading
      ) {
        this.$emit("scrollFull");
      }
    }
  },

  filters: {
    formatPrice
  }
};
</script>

<style scoped>
</style>