.page_wrap {
  &__body {
    height: calc(100vh - 140px);
    width: 100%;
    overflow-x: hidden;
    overflow-y: auto;
    position: relative;
  }
}

@media (min-width: $screen-width-sm_gt) {
  .page_wrap {
    &__body {
      height: calc(100vh - 150px);
    }
  }
}
