<template>
    <div id="app">
        <Header/>
        <div class="d-flex">
            <Sidebar/>
            <router-view/>
        </div>
    </div>
</template>

<script>
    import Header from "./components/header/Header";
    import Sidebar from "./components/sidebar/Sidebar"

    export default {
        name: 'app',
        components: {
            Header,
            Sidebar
        },
        data() {
            return {}
        }
    }
</script>

<style lang="scss">
    html {
        height: 100vh;
        width: 100%;
    }
    body {
        height: 100vh;
        overflow: hidden;
    }
</style>
