<template>
    <svg width="8" height="11" viewBox="0 0 8 11" fill="none" xmlns="http://www.w3.org/2000/svg">
        <path d="M1.5 1L6 5.5L1.5 10" stroke="url(#arrow-gradient-right)" stroke-width="2" stroke-linecap="round"/>
        <defs>
            <linearGradient id="arrow-gradient-right" x1="4.19062" y1="-0.368" x2="-1.57382" y2="7.71506" gradientUnits="userSpaceOnUse">
                <stop offset="0.287293" stop-color="#49D8BD"/>
                <stop offset="1" stop-color="#3793FF"/>
            </linearGradient>
        </defs>
    </svg>
</template>