<template>
    <g fill="none">
        <path d="M1.07267 3.9843C1.78807 2.75869 2.75847 1.78829 3.98412 1.07292C5.20999 0.357592 6.54819 0 7.99976 0C9.45118 0 10.7898 0.357592 12.0154 1.07292C13.2412 1.78818 14.2116 2.75858 14.927 3.9843C15.6424 5.2101 16 6.54871 16 8.00002C16 9.4514 15.6423 10.7898 14.9271 12.0157C14.2117 13.2413 13.2413 14.2117 12.0156 14.9271C10.7898 15.6424 9.45129 16 7.99991 16C6.54852 16 5.20988 15.6424 3.98415 14.9271C2.7585 14.2119 1.78814 13.2413 1.07281 12.0157C0.357591 10.7899 3.43323e-05 9.45133 3.43323e-05 8.00002C-1.90735e-06 6.54856 0.357591 5.20992 1.07267 3.9843ZM2.81243 8.45842L3.76035 9.40634C3.89218 9.53817 4.04862 9.60409 4.22908 9.60409C4.40961 9.60409 4.5658 9.53817 4.69781 9.40634L6.66633 7.43756V12.6666C6.66633 12.8472 6.73248 13.0035 6.86438 13.1354C6.9962 13.2674 7.15254 13.3334 7.3331 13.3334H8.66653C8.84706 13.3334 9.00333 13.2674 9.13526 13.1354C9.26722 13.0035 9.33323 12.8472 9.33323 12.6666V7.43756L11.3019 9.40634C11.4271 9.53131 11.5832 9.59362 11.7708 9.59362C11.9583 9.59362 12.1146 9.53131 12.2396 9.40634L13.1875 8.45842C13.3124 8.33331 13.375 8.17697 13.375 7.98951C13.375 7.80209 13.3126 7.64586 13.1875 7.52078L9.41656 3.74992L8.46863 2.802C8.3436 2.67703 8.18733 2.61446 7.99991 2.61446C7.8123 2.61446 7.65611 2.67703 7.53111 2.802L6.58322 3.74992L2.81247 7.52078C2.68725 7.64582 2.62493 7.80209 2.62493 7.98951C2.6249 8.17697 2.68721 8.33331 2.81243 8.45842Z" fill="url(#arrow_up_linear)"/>
        <defs>
            <linearGradient id="arrow_up_linear" x1="9.56668" y1="-2.43201" x2="2.70869" y2="16.8008" gradientUnits="userSpaceOnUse">
                <stop offset="0.287293" stop-color="#49D8BD"/>
                <stop offset="1" stop-color="#3793FF"/>
            </linearGradient>
        </defs>
    </g>
</template>