<template>
    <g fill="none">
        <path d="M14.9273 12.0157C14.2119 13.2413 13.2415 14.2117 12.0159 14.9271C10.79 15.6424 9.45179 16 8.00022 16C6.54881 16 5.2102 15.6424 3.98455 14.9271C2.75883 14.2118 1.78843 13.2414 1.07303 12.0157C0.357592 10.7899 0 9.45131 0 8C0 6.54862 0.357701 5.21023 1.07292 3.98437C1.78829 2.75875 2.75868 1.78836 3.98441 1.07292C5.2102 0.357627 6.5487 0 8.00008 0C9.45146 0 10.7901 0.357627 12.0158 1.07292C13.2415 1.7881 14.2118 2.75875 14.9272 3.98437C15.6424 5.21012 15.9999 6.54869 15.9999 8C16 9.45145 15.6424 10.7901 14.9273 12.0157ZM13.1875 7.5416L12.2396 6.59368C12.1078 6.46186 11.9514 6.39593 11.7709 6.39593C11.5904 6.39593 11.4342 6.46186 11.3022 6.59368L9.33365 8.56246V3.3334C9.33365 3.15287 9.2675 2.99657 9.13561 2.86467C9.00379 2.7326 8.84745 2.66667 8.66688 2.66667H7.33346C7.15293 2.66667 6.99666 2.7326 6.86473 2.86467C6.73276 2.99653 6.66676 3.15283 6.66676 3.3334L6.66676 8.56246L4.69806 6.59368C4.57288 6.46872 4.41683 6.4064 4.22922 6.4064C4.04169 6.4064 3.88542 6.46872 3.76039 6.59368L2.81246 7.5416C2.68761 7.66671 2.62504 7.82305 2.62504 8.01051C2.62504 8.19793 2.68739 8.35416 2.81246 8.47923L6.58343 12.2501L7.53135 13.198C7.65639 13.323 7.81265 13.3855 8.00008 13.3855C8.18769 13.3855 8.34388 13.323 8.46888 13.198L9.41676 12.2501L13.1875 8.47923C13.3127 8.3542 13.375 8.19793 13.375 8.01051C13.3751 7.82305 13.3128 7.66671 13.1875 7.5416Z" fill="url(#arrow_down_linear)"/>
        <defs>
            <linearGradient id="arrow_down_linear" x1="7.99997" y1="16" x2="7.99997" y2="0" gradientUnits="userSpaceOnUse">
                <stop stop-color="#FF5353"/>
                <stop offset="1" stop-color="#FF88B3"/>
            </linearGradient>
        </defs>
    </g>
</template>