<template>
    <svg width="9" height="6" viewBox="0 0 9 6" fill="none" xmlns="http://www.w3.org/2000/svg">
        <path d="M1 5L4.5 2L8 5" stroke="url(#arrow-gradient-top-1)" stroke-width="2" stroke-linecap="round"/>
        <defs>
            <linearGradient id="arrow-gradient-top-1" x1="1" y1="0.333333" x2="2.26663" y2="6.94882" gradientUnits="userSpaceOnUse">
                <stop offset="0.287293" stop-color="#49D8BD"/>
                <stop offset="1" stop-color="#3793FF"/>
            </linearGradient>
        </defs>
    </svg>
</template>