<template>
    <g fill="none">
        <path d="M12.0157 1.07263C13.2413 1.78804 14.2117 2.75844 14.9271 3.98409C15.6424 5.20996 16 6.54817 16 7.99975C16 9.45117 15.6424 10.7898 14.9271 12.0154C14.2118 13.2412 13.2414 14.2116 12.0157 14.927C10.7899 15.6424 9.45128 16 7.99997 16C6.54858 16 5.21019 15.6423 3.98432 14.9271C2.75871 14.2117 1.7883 13.2413 1.07286 12.0156C0.357568 10.7898 -6.09744e-05 9.45128 -6.09609e-05 7.99989C-6.09474e-05 6.5485 0.357568 5.20985 1.07286 3.98413C1.78805 2.75848 2.75871 1.78811 3.98432 1.07278C5.21008 0.357557 6.54866 -1.44815e-07 7.99997 -1.22578e-07C9.45143 -3.634e-05 10.7901 0.357557 12.0157 1.07263ZM7.54157 2.8124L6.59364 3.76033C6.46182 3.89215 6.39589 4.0486 6.39589 4.22906C6.39589 4.40958 6.46182 4.56578 6.59364 4.69778L8.56243 6.66631L3.33335 6.66631C3.15282 6.66631 2.99652 6.73246 2.86462 6.86436C2.73254 6.99618 2.66662 7.15252 2.66662 7.33308L2.66662 8.66651C2.66662 8.84704 2.73254 9.00331 2.86462 9.13524C2.99648 9.26721 3.15278 9.33321 3.33335 9.33321L8.56243 9.33321L6.59364 11.3019C6.46868 11.4271 6.40636 11.5832 6.40636 11.7708C6.40636 11.9583 6.46868 12.1146 6.59364 12.2396L7.54157 13.1875C7.66668 13.3124 7.82302 13.375 8.01048 13.375C8.1979 13.375 8.35413 13.3126 8.4792 13.1875L12.2501 9.41654L13.198 8.46862C13.323 8.34358 13.3855 8.18732 13.3855 7.99989C13.3855 7.81228 13.323 7.65609 13.198 7.53109L12.2501 6.5832L8.4792 2.81244C8.35417 2.68722 8.1979 2.6249 8.01048 2.6249C7.82302 2.62487 7.66668 2.68718 7.54157 2.8124Z" fill="url(#arrow_right_linear)"/>
        <defs>
            <linearGradient id="arrow_right_linear" x1="7.5" y1="-1.82507" x2="3.61887" y2="15.4604" gradientUnits="userSpaceOnUse">
                <stop offset="0.287293" stop-color="#F0F0F0"/>
                <stop offset="1" stop-color="#DCDCDC"/>
            </linearGradient>
        </defs>
    </g>
</template>