<template>
    <svg width="8" height="11" viewBox="0 0 8 11" fill="none" xmlns="http://www.w3.org/2000/svg">
        <path d="M6.5 1L2 5.5L6.5 10" stroke="url(#arrow-gradient-left-1)" stroke-width="2" stroke-linecap="round"/>
        <defs>
            <linearGradient id="arrow-gradient-left-1" x1="3.80938" y1="-0.368" x2="9.57382" y2="7.71506" gradientUnits="userSpaceOnUse">
                <stop offset="0.287293" stop-color="#49D8BD"/>
                <stop offset="1" stop-color="#3793FF"/>
            </linearGradient>
        </defs>
    </svg>
</template>