<template>
    <g fill="none">
        <path d="M9.84375 1.40625C8.91309 1.40625 8.15625 2.16309 8.15625 3.09375C8.15625 3.40397 7.90397 3.65625 7.59375 3.65625C7.28353 3.65625 7.03125 3.40397 7.03125 3.09375V2.25H6.46875V3.09375C6.46875 3.71419 6.97331 4.21875 7.59375 4.21875C8.21419 4.21875 8.71875 3.71419 8.71875 3.09375C8.71875 2.47331 9.22331 1.96875 9.84375 1.96875C10.4642 1.96875 10.9688 2.47331 10.9688 3.09375V3.9375H11.5312V3.09375C11.5312 2.16309 10.7744 1.40625 9.84375 1.40625Z" fill="url(#bomb_1)"/>
        <path d="M4.78125 6.1875L3.65625 5.0625L4.78125 3.9375L3.09375 4.5L2.25 3.375V4.5H0.5625L1.6875 5.625L0.84375 6.46875H1.96875L2.8125 7.3125L3.375 6.1875H3.54291C3.96619 6.59109 4.5 7.35103 4.5 7.875H5.0625C5.0625 7.308 4.68984 6.66422 4.30481 6.1875H4.78125Z" fill="url(#bomb_2)"/>
        <path d="M7.11365 1.88634L7.51134 1.48865L7.14768 1.12499L7.51134 0.761335L7.11365 0.363647L6.74999 0.727304L6.38634 0.363647L5.98865 0.761335L6.3523 1.12499L5.98865 1.48865L6.38634 1.88634L6.74999 1.52268L7.11365 1.88634Z" fill="url(#bomb_3)"/>
        <path d="M5.625 8.80087V8.15625H3.9375V8.80087C4.21116 8.74856 4.49269 8.71875 4.78125 8.71875C5.06981 8.71875 5.35134 8.74856 5.625 8.80087Z" fill="url(#bomb_4)"/>
        <path d="M12.6562 4.93706V4.21875H9.84375V4.94072C10.3013 4.83778 10.7719 4.78125 11.25 4.78125C11.7329 4.78125 12.2032 4.83609 12.6562 4.93706Z" fill="url(#bomb_5)"/>
        <path d="M11.25 5.34375C9.18422 5.34375 7.25231 6.44091 6.1875 8.20997V8.94684C7.98159 9.53916 9.28125 11.2289 9.28125 13.2188C9.28125 14.3842 8.83209 15.4443 8.10225 16.2444C9.04444 16.8398 10.1247 17.1562 11.25 17.1562C14.5066 17.1562 17.1562 14.5066 17.1562 11.25C17.1562 7.99312 14.5066 5.34375 11.25 5.34375ZM11.25 6.46875V5.90625C14.1967 5.90625 16.5938 8.30334 16.5938 11.25H16.0312C16.0312 8.61356 13.8864 6.46875 11.25 6.46875Z" fill="url(#bomb_6)"/>
        <path d="M4.78125 9.28125C2.61 9.28125 0.84375 11.0475 0.84375 13.2188C0.84375 15.39 2.61 17.1562 4.78125 17.1562C6.9525 17.1562 8.71875 15.39 8.71875 13.2188C8.71875 11.0475 6.9525 9.28125 4.78125 9.28125ZM4.78125 10.4062V9.84375C6.64228 9.84375 8.15625 11.3577 8.15625 13.2188H7.59375C7.59375 11.6679 6.33206 10.4062 4.78125 10.4062Z" fill="url(#bomb_7)"/>
        <defs>
            <linearGradient id="bolb_1" x1="8.5043" y1="0.97875" x2="9.23067" y2="4.64548" gradientUnits="userSpaceOnUse">
                <stop offset="0.287293" stop-color="#49D8BD"/>
                <stop offset="1" stop-color="#3793FF"/>
            </linearGradient>
            <linearGradient id="bomb_2" x1="2.37188" y1="2.691" x2="4.30067" y2="8.10023" gradientUnits="userSpaceOnUse">
                <stop offset="0.287293" stop-color="#49D8BD"/>
                <stop offset="1" stop-color="#3793FF"/>
            </linearGradient>
            <linearGradient id="bomb_3" x1="6.60089" y1="0.132199" x2="7.25355" y2="1.96255" gradientUnits="userSpaceOnUse">
                <stop offset="0.287293" stop-color="#49D8BD"/>
                <stop offset="1" stop-color="#3793FF"/>
            </linearGradient>
            <linearGradient id="bomb_4" x1="4.61602" y1="8.05827" x2="4.73282" y2="8.91575" gradientUnits="userSpaceOnUse">
                <stop offset="0.287293" stop-color="#49D8BD"/>
                <stop offset="1" stop-color="#3793FF"/>
            </linearGradient>
            <linearGradient id="bomb_5" x1="10.9746" y1="4.10901" x2="11.0634" y2="5.07907" gradientUnits="userSpaceOnUse">
                <stop offset="0.287293" stop-color="#49D8BD"/>
                <stop offset="1" stop-color="#3793FF"/>
            </linearGradient>
            <linearGradient id="bomb_6" x1="10.5979" y1="3.54825" x2="15.9539" y2="17.4961" gradientUnits="userSpaceOnUse">
                <stop offset="0.287293" stop-color="#49D8BD"/>
                <stop offset="1" stop-color="#3793FF"/>
            </linearGradient>
            <linearGradient id="bomb_7" x1="4.01016" y1="8.08425" x2="7.38556" y2="17.5504" gradientUnits="userSpaceOnUse">
                <stop offset="0.287293" stop-color="#49D8BD"/>
                <stop offset="1" stop-color="#3793FF"/>
            </linearGradient>
        </defs>
    </g>
</template>