<template>
    <g fill="none">
        <path d="M9.88303 9.67121V9.27105C9.88303 8.78382 9.48752 8.38867 9.00065 8.38867C8.51307 8.38867 8.11792 8.78382 8.11792 9.27105V9.67121C8.11792 10.1581 8.51307 10.5536 9.00065 10.5536C9.48752 10.5536 9.88303 10.1584 9.88303 9.67121Z" fill="url(#case_1)"/>
        <path d="M10.4882 10.1591C10.2929 10.7993 9.70359 11.2697 9.0007 11.2697C8.29745 11.2697 7.70813 10.7997 7.51252 10.1591H1.43335C1.04966 10.1591 0.687109 10.0699 0.361816 9.91516V13.9516C0.361816 14.7397 1.00667 15.3846 1.79482 15.3846H16.2059C16.994 15.3846 17.6389 14.7397 17.6389 13.9516V9.91552C17.3136 10.0703 16.951 10.1595 16.5677 10.1595L10.4882 10.1591Z" fill="url(#case_2)"/>
        <path d="M16.5075 2.91103H13.0676C12.8602 1.61201 11.7342 0.615356 10.3778 0.615356H7.62144C6.26474 0.615356 5.13983 1.61201 4.93169 2.91103H1.49247C0.671356 2.91103 -0.000366211 3.55589 -0.000366211 4.34404V7.65178C-0.000366211 8.4428 0.641263 9.08479 1.43264 9.08479H7.4441C7.46453 8.67316 7.6415 8.30165 7.9213 8.03404C7.92989 8.02615 7.93993 8.01935 7.94888 8.01147C8.01086 7.9545 8.07535 7.90077 8.14592 7.85419C8.171 7.83736 8.19966 7.82589 8.22581 7.81084C8.28385 7.77753 8.34117 7.74278 8.40386 7.71698C8.45294 7.69656 8.50596 7.68474 8.55755 7.66933C8.60197 7.65608 8.64425 7.63852 8.69046 7.62921C8.79077 7.60879 8.89431 7.59804 8.99999 7.59804C9.10603 7.59804 9.20921 7.60915 9.30916 7.62921C9.35502 7.63852 9.39765 7.65608 9.44243 7.66933C9.49402 7.68474 9.54633 7.69656 9.59612 7.71734C9.65846 7.74313 9.71542 7.77753 9.77346 7.81084C9.79961 7.82625 9.82827 7.83771 9.85406 7.85455C9.92464 7.90077 9.98877 7.9545 10.0507 8.01147C10.0597 8.0197 10.0708 8.02615 10.0787 8.03475C10.3588 8.30272 10.5355 8.67316 10.5559 9.0855H16.5673C17.3587 9.0855 18.0004 8.44388 18.0004 7.6525V4.34476C18.0004 3.55589 17.3286 2.91103 16.5075 2.91103ZM6.31203 2.91103C6.49474 2.35897 7.00955 1.95665 7.62216 1.95665H10.3785C10.9908 1.95665 11.5056 2.35897 11.6883 2.91103H6.31203Z" fill="url(#case_3)"/>
        <defs>
            <linearGradient id="case_1" x1="8.82764" y1="8.0596" x2="9.90449" y2="10.5219" gradientUnits="userSpaceOnUse">
                <stop offset="0.287293" stop-color="#49D8BD"/>
                <stop offset="1" stop-color="#3793FF"/>
            </linearGradient>
            <linearGradient id="case_2" x1="7.30863" y1="9.08381" x2="8.13461" y2="16.401" gradientUnits="userSpaceOnUse">
                <stop offset="0.287293" stop-color="#49D8BD"/>
                <stop offset="1" stop-color="#3793FF"/>
            </linearGradient>
            <linearGradient id="case_3" x1="7.23742" y1="-0.672106" x2="9.11022" y2="10.4898" gradientUnits="userSpaceOnUse">
                <stop offset="0.287293" stop-color="#49D8BD"/>
                <stop offset="1" stop-color="#3793FF"/>
            </linearGradient>
        </defs>
    </g>

</template>