<template>
  <svg
    width="18"
    height="18"
    viewBox="0 0 18 18"
    fill="none"
    xmlns="http://www.w3.org/2000/svg"
  >
    <path
      d="M2.67188 8.4375C3.09732 8.4375 3.48239 8.2668 3.76694 7.99269L5.32796 8.77313C5.32013 8.83672 5.30859 8.8992 5.30859 8.96484C5.30859 9.83716 6.01831 10.5469 6.89062 10.5469C7.76294 10.5469 8.47266 9.83716 8.47266 8.96484C8.47266 8.72136 8.41278 8.49339 8.31404 8.28712L10.4317 6.16951C10.6379 6.26825 10.8659 6.32812 11.1094 6.32812C11.9817 6.32812 12.6914 5.61841 12.6914 4.74609C12.6914 4.58185 12.6591 4.42653 12.6124 4.27753L14.4524 2.89792C14.7034 3.0656 15.0043 3.16406 15.3281 3.16406C16.2004 3.16406 16.9102 2.45435 16.9102 1.58203C16.9102 0.709717 16.2004 0 15.3281 0C14.4558 0 13.7461 0.709717 13.7461 1.58203C13.7461 1.74628 13.7784 1.9016 13.8251 2.0506L11.9851 3.43021C11.7341 3.26253 11.4332 3.16406 11.1094 3.16406C10.2371 3.16406 9.52734 3.87378 9.52734 4.74609C9.52734 4.98958 9.58722 5.21754 9.68596 5.42381L7.56834 7.54143C7.36208 7.44269 7.13411 7.38281 6.89062 7.38281C6.46518 7.38281 6.08011 7.55351 5.79556 7.82762L4.23454 7.04718C4.24237 6.9836 4.25391 6.92111 4.25391 6.85547C4.25391 5.98315 3.54419 5.27344 2.67188 5.27344C1.79956 5.27344 1.08984 5.98315 1.08984 6.85547C1.08984 7.72778 1.79956 8.4375 2.67188 8.4375Z"
      fill="url(#paint0_linear)"
    />
    <path
      d="M17.4727 16.9453H16.9102V5.80078C16.9102 5.50937 16.6742 5.27344 16.3828 5.27344H14.2734C13.982 5.27344 13.7461 5.50937 13.7461 5.80078V16.9453H12.6914V8.96484C12.6914 8.67343 12.4555 8.4375 12.1641 8.4375H10.0547C9.76328 8.4375 9.52734 8.67343 9.52734 8.96484V16.9453H8.47266V13.1836C8.47266 12.8922 8.23672 12.6562 7.94531 12.6562H5.83594C5.54453 12.6562 5.30859 12.8922 5.30859 13.1836V16.9453H4.25391V11.0742C4.25391 10.7828 4.01797 10.5469 3.72656 10.5469H1.61719C1.32578 10.5469 1.08984 10.7828 1.08984 11.0742V16.9453H0.527344C0.235931 16.9453 0 17.1812 0 17.4727C0 17.7641 0.235931 18 0.527344 18H17.4727C17.7641 18 18 17.7641 18 17.4727C18 17.1812 17.7641 16.9453 17.4727 16.9453Z"
      fill="url(#paint1_linear)"
    />
    <defs>
      <linearGradient
        id="paint0_linear"
        x1="7.45093"
        y1="-1.60313"
        x2="10.6662"
        y2="11.9224"
        gradientUnits="userSpaceOnUse"
      >
        <stop offset="0.287293" stop-color="#49D8BD" />
        <stop offset="1" stop-color="#3793FF" />
      </linearGradient>
      <linearGradient
        id="paint1_linear"
        x1="7.2375"
        y1="3.339"
        x2="11.3249"
        y2="19.5516"
        gradientUnits="userSpaceOnUse"
      >
        <stop offset="0.287293" stop-color="#49D8BD" />
        <stop offset="1" stop-color="#3793FF" />
      </linearGradient>
    </defs>
  </svg>
</template>