<template>
  <svg viewBox="0 0 14 11" fill="none" xmlns="http://www.w3.org/2000/svg">
    <path
      d="M11.8945 1.04688L4.70312 8.23828L2.07812 5.58594C1.94141 5.47656 1.72266 5.47656 1.61328 5.58594L0.820312 6.37891C0.710938 6.48828 0.710938 6.70703 0.820312 6.84375L4.48438 10.4805C4.62109 10.6172 4.8125 10.6172 4.94922 10.4805L13.1523 2.27734C13.2617 2.16797 13.2617 1.94922 13.1523 1.8125L12.3594 1.04688C12.25 0.910156 12.0312 0.910156 11.8945 1.04688Z"
      fill="url(#paint0_linear)"
    />
    <defs>
      <linearGradient
        id="paint0_linear"
        x1="30.9604"
        y1="-8.192"
        x2="33.7015"
        y2="19.9941"
        gradientUnits="userSpaceOnUse"
      >
        <stop offset="0.287293" stop-color="#49D8BD" />
        <stop offset="1" stop-color="#3793FF" />
      </linearGradient>
    </defs>
  </svg>
</template>