<template>
    <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
        <path d="M0.9443 9.00246C0.94062 9.0685 0.945465 9.1357 0.962063 9.20245L2.44244 15.1239C2.51709 15.4223 2.78445 15.632 3.09183 15.6336L11.9741 15.6785C11.9752 15.6785 11.9763 15.6785 11.9775 15.6785H20.8598C21.1688 15.6785 21.4381 15.468 21.5127 15.1682L22.9931 9.22425C23.0101 9.15571 23.0151 9.08662 23.0108 9.01888C23.5834 8.83846 24 8.30256 24 7.67103C24 6.89181 23.3661 6.25794 22.5869 6.25794C21.8077 6.25794 21.1738 6.89181 21.1738 7.67103C21.1738 8.10984 21.3749 8.50246 21.6897 8.76184L19.8363 10.6293C19.3679 11.1013 18.7178 11.3719 18.0528 11.3719C17.2665 11.3719 16.5168 10.9985 16.0447 10.3728L12.9988 6.33689C13.2546 6.08119 13.4131 5.72788 13.4131 5.33832C13.4131 4.5591 12.7792 3.92523 12 3.92523C11.2208 3.92523 10.5869 4.5591 10.5869 5.33832C10.5869 5.71621 10.7369 6.05921 10.9794 6.31303C10.9786 6.31411 10.9776 6.315 10.9768 6.31617L7.95293 10.3632C7.481 10.9949 6.72861 11.372 5.94007 11.372C5.26896 11.372 4.63788 11.1106 4.16335 10.636L2.29826 8.7709C2.61972 8.51161 2.82617 8.11523 2.82617 7.67103C2.82617 6.89181 2.1923 6.25794 1.41308 6.25794C0.633869 6.25794 0 6.89181 0 7.67103C0 8.2857 0.395216 8.80849 0.9443 9.00246ZM2.58689 17.7869C2.58689 17.4153 2.88816 17.114 3.25978 17.114H20.6654C21.037 17.114 21.3383 17.4153 21.3383 17.7869V19.4019C21.3383 19.7735 21.037 20.0748 20.6654 20.0748H3.25978C2.88816 20.0748 2.58689 19.7735 2.58689 19.4019V17.7869Z" fill="url(#crown)"/>
        <defs>
            <linearGradient id="crown" x1="14.35" y1="1.4705" x2="9.38575" y2="22.1602" gradientUnits="userSpaceOnUse">
                <stop offset="0.287293" stop-color="#FFEA2D"/>
                <stop offset="1" stop-color="#FFC737"/>
            </linearGradient>
        </defs>
    </svg>
</template>