<template>
    <svg width="22" height="22" viewBox="0 0 22 22" fill="none" xmlns="http://www.w3.org/2000/svg">
        <path d="M21.2437 9.39118C21.7478 9.96861 22 10.6515 22 11.4399C22 12.1549 21.7384 12.7735 21.2169 13.2963C20.6945 13.819 20.0758 14.0802 19.3608 14.0802H15.5523C15.5889 14.2085 15.6256 14.3185 15.6622 14.4102C15.6984 14.5018 15.7494 14.6028 15.8133 14.7128C15.8772 14.8228 15.9232 14.9054 15.9506 14.9603C16.1156 15.2718 16.2419 15.5286 16.329 15.7301C16.4161 15.932 16.5027 16.2069 16.5901 16.5552C16.6773 16.9034 16.7206 17.2518 16.7206 17.6002C16.7206 17.8201 16.718 17.999 16.7136 18.1364C16.7093 18.2739 16.686 18.4802 16.6451 18.7552C16.6036 19.0301 16.5485 19.2593 16.4799 19.4426C16.411 19.6259 16.301 19.8323 16.15 20.0613C15.9987 20.2907 15.8154 20.4761 15.5998 20.6182C15.3842 20.7603 15.1093 20.8795 14.7748 20.9756C14.4399 21.0719 14.062 21.12 13.64 21.12C13.4017 21.12 13.1957 21.0329 13.0213 20.8587C12.838 20.6754 12.6819 20.4463 12.5537 20.1714C12.4254 19.8963 12.3359 19.658 12.2854 19.4563C12.235 19.2546 12.1777 18.9749 12.1138 18.6176C12.031 18.2324 11.9694 17.9553 11.9279 17.7857C11.8867 17.6161 11.8063 17.3939 11.6872 17.1189C11.5679 16.8438 11.426 16.6239 11.261 16.4588C10.9585 16.1564 10.4956 15.6064 9.87217 14.8089C9.42289 14.2224 8.96003 13.6678 8.48339 13.1453C8.00666 12.6226 7.65837 12.3523 7.43842 12.3339C7.20942 12.3156 7.01231 12.2217 6.84726 12.052C6.68222 11.8824 6.59972 11.683 6.59972 11.4539V2.64021C6.59972 2.40187 6.68675 2.19801 6.86094 2.02844C7.03504 1.85867 7.24131 1.76934 7.47965 1.76014C7.80044 1.75094 8.52462 1.54949 9.65218 1.15496C10.3579 0.917007 10.9101 0.735688 11.3089 0.61211C11.7075 0.488532 12.2648 0.355515 12.9792 0.213251C13.6944 0.0712285 14.3542 0 14.9591 0H16.7328C17.9523 0.0183007 18.8548 0.375934 19.4417 1.07242C19.9732 1.705 20.1976 2.53459 20.1154 3.56126C20.4729 3.9004 20.7206 4.33105 20.8579 4.85367C21.0135 5.41252 21.0135 5.94882 20.8579 6.46206C21.2795 7.02124 21.4766 7.64915 21.4489 8.34583C21.45 8.63945 21.3815 8.9877 21.2437 9.39118Z" fill="url(#dislike-gradient-0)"/>
        <path d="M4.84004 12.3199H0.880165C0.641679 12.3199 0.435411 12.2328 0.261266 12.0586C0.0871207 11.8845 0 11.6782 0 11.4399V2.63957C0 2.40157 0.0871207 2.1952 0.261314 2.02086C0.435604 1.84696 0.641871 1.75979 0.880213 1.75979H4.84004C5.07833 1.75979 5.2845 1.84696 5.45875 2.02086C5.63289 2.1952 5.71996 2.40152 5.71996 2.63957V11.4399C5.71996 11.6782 5.63284 11.8844 5.45875 12.0586C5.28455 12.2328 5.07838 12.3199 4.84004 12.3199ZM3.25872 3.77426C3.08457 3.60469 2.87836 3.51993 2.64001 3.51993C2.39247 3.51993 2.18389 3.60469 2.01442 3.77426C1.84485 3.94383 1.76009 4.15231 1.76009 4.39985C1.76009 4.63815 1.8448 4.84446 2.01442 5.01856C2.18394 5.19275 2.39247 5.27997 2.64001 5.27997C2.87836 5.27997 3.08457 5.19275 3.25872 5.01856C3.43291 4.84451 3.52003 4.6382 3.52003 4.39985C3.52003 4.15231 3.43311 3.94388 3.25872 3.77426Z" fill="url(#dislike-gradient-1)"/>
        <defs>
            <linearGradient id="dislike-gradient-0" x1="11" y1="14.56" x2="11" y2="-8.44" gradientUnits="userSpaceOnUse">
                <stop stop-color="#FF5353"/>
                <stop offset="1" stop-color="#FF88B3"/>
            </linearGradient>
            <linearGradient id="dislike-gradient-1" x1="11" y1="14.56" x2="11" y2="-8.44" gradientUnits="userSpaceOnUse">
                <stop stop-color="#FF5353"/>
                <stop offset="1" stop-color="#FF88B3"/>
            </linearGradient>
        </defs>
    </svg>
</template>