<template>
    <g fill="none" >
        <path d="M15.75 11.4573V7.87501H10.125V6.54272C11.4317 6.07682 12.375 4.83971 12.375 3.37502C12.375 1.51392 10.8611 0 9.00002 0C7.13896 0 5.62504 1.51392 5.62504 3.37498C5.62504 4.83967 6.56834 6.07674 7.87505 6.5426V7.87497H2.25002V11.4573C0.9433 11.9232 0 13.1603 0 14.625C0 16.4861 1.51392 18 3.37498 18C5.23604 18 6.74997 16.4861 6.74997 14.625C6.74997 13.1603 5.80667 11.9232 4.49995 11.4573V10.125H13.5V11.4573C12.1933 11.9232 11.25 13.1603 11.25 14.625C11.25 16.4861 12.7639 18 14.6249 18C16.486 18 17.9999 16.4861 17.9999 14.625C18 13.1603 17.0567 11.9232 15.75 11.4573Z" fill="url(#flow_1)"/>
        <defs>
            <linearGradient id="flow_1" x1="7.23747" y1="-2.736" x2="14.9527" y2="18.9009" gradientUnits="userSpaceOnUse">
                <stop offset="0.287293" stop-color="#49D8BD"/>
                <stop offset="1" stop-color="#3793FF"/>
            </linearGradient>
        </defs>
    </g>
</template>