<template>
    <g fill="none" >
        <path d="M16.5 0.0534668H1.5C0.675 0.0534668 0 0.728467 0 1.55347V6.23384H4.61287L5.62088 3.65497C5.736 3.36059 6.03113 3.16784 6.33862 3.17834C6.65438 3.18659 6.9315 3.39172 7.03125 3.69134L8.45737 7.98022L9.99638 4.31909C10.1096 4.05022 10.368 3.87134 10.6601 3.86047C10.9609 3.84772 11.2238 4.00897 11.3558 4.26884L12.3593 6.23422H13.3751C13.7891 6.23422 14.1251 6.57022 14.1251 6.98422C14.1251 7.39822 13.7891 7.73422 13.3751 7.73422H11.8995C11.6175 7.73422 11.3602 7.57559 11.232 7.32509L10.7539 6.38759L9.06675 10.4001C8.94975 10.6791 8.67637 10.8602 8.37562 10.8602C8.36587 10.8602 8.35612 10.8602 8.34637 10.8595C8.034 10.8478 7.76213 10.6435 7.6635 10.3468L6.2625 6.13372L5.82375 7.25684C5.71125 7.54484 5.43412 7.73347 5.12512 7.73347H0V12.4461C0 13.2711 0.675 13.9461 1.5 13.9461H16.5C17.325 13.9461 18 13.2711 18 12.4461V1.55272C18 0.728467 17.325 0.0534668 16.5 0.0534668Z" fill="url(#graph)"/>
        <defs>
            <linearGradient id="graph" x1="7.2375" y1="-2.05821" x2="12.053" y2="15.4394" gradientUnits="userSpaceOnUse">
                <stop offset="0.287293" stop-color="#49D8BD"/>
                <stop offset="1" stop-color="#3793FF"/>
            </linearGradient>
        </defs>
    </g>
</template>