<template>
    <svg xmlns="http://www.w3.org/2000/svg" width="10" height="12" viewBox="0 0 11 16" fill="none">
        <path fill-rule="evenodd" clip-rule="evenodd"
              d="M5 2.5C5 3.88071 3.88071 5 2.5 5C1.11929 5 0 3.88071 0 2.5C0 1.11929 1.11929 0 2.5 0C3.88071 0 5 1.11929 5 2.5ZM3.33334 2.5C3.33334 2.96021 2.96021 3.33334 2.5 3.33334C2.03979 3.33334 1.66666 2.96021 1.66666 2.5C1.66666 2.03979 2.03979 1.66666 2.5 1.66666C2.96021 1.66666 3.33334 2.03979 3.33334 2.5Z"
              fill="#97A7BA"/>
        <path d="M10.0141 15.9999V14.0663H3.58408V6H1.33301V15.9999H10.0141Z" fill="#97A7BA"/>
    </svg>
</template>