<template>
    <svg width="22" height="22" viewBox="0 0 22 22" fill="none" xmlns="http://www.w3.org/2000/svg">
        <path d="M21.2437 11.7288C21.7478 11.1514 22 10.4686 22 9.68014C22 8.96516 21.7384 8.3465 21.2169 7.82373C20.6945 7.301 20.0758 7.03978 19.3608 7.03978H15.5523C15.5889 6.91149 15.6256 6.80149 15.6622 6.70984C15.6984 6.61819 15.7494 6.51725 15.8133 6.40725C15.8772 6.29721 15.9232 6.21466 15.9506 6.15976C16.1156 5.84827 16.2419 5.59143 16.329 5.38993C16.4161 5.18805 16.5027 4.91315 16.5901 4.56481C16.6773 4.21667 16.7206 3.86818 16.7206 3.51984C16.7206 3.29995 16.718 3.12103 16.7136 2.98363C16.7093 2.84614 16.686 2.63982 16.6451 2.36478C16.6036 2.08989 16.5485 1.8607 16.4799 1.67745C16.411 1.49415 16.301 1.28774 16.15 1.05874C15.9987 0.829309 15.8154 0.643943 15.5998 0.501775C15.3842 0.359704 15.1093 0.240557 14.7748 0.144383C14.4399 0.0481115 14.062 0 13.64 0C13.4017 0 13.1957 0.0871208 13.0213 0.261314C12.838 0.44461 12.6819 0.673753 12.5537 0.948649C12.4254 1.22369 12.3359 1.46203 12.2854 1.66377C12.235 1.86542 12.1777 2.14508 12.1138 2.50247C12.031 2.88765 11.9694 3.16476 11.9279 3.33433C11.8867 3.5039 11.8063 3.72616 11.6872 4.0011C11.5679 4.27624 11.426 4.49609 11.261 4.66118C10.9585 4.96362 10.4956 5.51365 9.87217 6.31108C9.42289 6.89766 8.96003 7.45222 8.48339 7.97475C8.00666 8.49738 7.65837 8.76775 7.43842 8.7861C7.20942 8.8044 7.01231 8.89836 6.84726 9.06803C6.68222 9.2376 6.59972 9.43703 6.59972 9.66612V18.4798C6.59972 18.7182 6.68675 18.922 6.86094 19.0916C7.03504 19.2614 7.24131 19.3507 7.47965 19.3599C7.80044 19.3691 8.52462 19.5705 9.65218 19.9651C10.3579 20.203 10.9101 20.3843 11.3089 20.5079C11.7075 20.6315 12.2648 20.7645 12.9792 20.9068C13.6944 21.0488 14.3542 21.12 14.9591 21.12H16.7328C17.9523 21.1017 18.8548 20.7441 19.4417 20.0476C19.9732 19.415 20.1976 18.5854 20.1154 17.5588C20.4729 17.2196 20.7206 16.789 20.8579 16.2664C21.0135 15.7075 21.0135 15.1712 20.8579 14.658C21.2795 14.0988 21.4766 13.4709 21.4489 12.7742C21.45 12.4806 21.3815 12.1323 21.2437 11.7288Z" fill="url(#like-gradient-0)"/>
        <path d="M4.84004 8.80012H0.880165C0.641679 8.80012 0.435411 8.88724 0.261266 9.06143C0.0871207 9.23553 0 9.4418 0 9.68014V18.4805C0 18.7185 0.0871207 18.9248 0.261314 19.0992C0.435604 19.2731 0.641871 19.3602 0.880213 19.3602H4.84004C5.07833 19.3602 5.2845 19.2731 5.45875 19.0992C5.63289 18.9248 5.71996 18.7185 5.71996 18.4805V9.68014C5.71996 9.4418 5.63284 9.23558 5.45875 9.06143C5.28455 8.88719 5.07838 8.80012 4.84004 8.80012ZM3.25872 17.3458C3.08457 17.5153 2.87836 17.6001 2.64001 17.6001C2.39247 17.6001 2.18389 17.5153 2.01442 17.3458C1.84485 17.1762 1.76009 16.9677 1.76009 16.7202C1.76009 16.4819 1.8448 16.2756 2.01442 16.1015C2.18394 15.9273 2.39247 15.8401 2.64001 15.8401C2.87836 15.8401 3.08457 15.9273 3.25872 16.1015C3.43291 16.2755 3.52003 16.4818 3.52003 16.7202C3.52003 16.9677 3.43311 17.1761 3.25872 17.3458Z" fill="url(#like-gradient-1)"/>
        <defs>
            <linearGradient id="like-gradient-0" x1="8.84582" y1="-3.21024" x2="17.6138" y2="22.4036" gradientUnits="userSpaceOnUse">
                <stop offset="0.287293" stop-color="#49D8BD"/>
                <stop offset="1" stop-color="#3793FF"/>
            </linearGradient>
            <linearGradient id="like-gradient-1" x1="8.84582" y1="-3.21024" x2="17.6138" y2="22.4036" gradientUnits="userSpaceOnUse">
                <stop offset="0.287293" stop-color="#49D8BD"/>
                <stop offset="1" stop-color="#3793FF"/>
            </linearGradient>
        </defs>
    </svg>
</template>