<template>
    <svg width="14" height="14" viewBox="0 0 14 14" fill="none" xmlns="http://www.w3.org/2000/svg">
        <g clip-path="url(#message-gradient-clip)">
            <path d="M1.34372 4.89037C1.52082 5.01534 2.05466 5.3865 2.94527 6.00366C3.8359 6.62082 4.51819 7.09602 4.99216 7.42929C5.04423 7.46582 5.15486 7.54523 5.32411 7.66762C5.49338 7.7901 5.63403 7.88908 5.74595 7.96458C5.85795 8.04004 5.99334 8.12471 6.15227 8.21843C6.31114 8.31207 6.46091 8.3825 6.60153 8.42913C6.74218 8.47614 6.87238 8.49943 6.99215 8.49943H7H7.00788C7.12765 8.49943 7.2579 8.47611 7.39855 8.42913C7.53912 8.3825 7.68902 8.31199 7.84776 8.21843C8.00658 8.1246 8.14197 8.04002 8.25397 7.96458C8.36597 7.88908 8.50651 7.7901 8.67584 7.66762C8.84505 7.54512 8.95582 7.46582 9.0079 7.42929C9.48698 7.09602 10.7058 6.24964 12.6641 4.89021C13.0443 4.62469 13.3619 4.30432 13.6171 3.9293C13.8725 3.55444 14 3.1612 14 2.74979C14 2.40599 13.8762 2.11169 13.6288 1.86692C13.3814 1.6221 13.0884 1.49976 12.75 1.49976H1.24995C0.848933 1.49976 0.540324 1.63515 0.324178 1.90594C0.108059 2.17679 0 2.51533 0 2.92155C0 3.24967 0.143277 3.60523 0.429693 3.98802C0.716082 4.37084 1.02086 4.67165 1.34372 4.89037Z" fill="url(#message-gradient-0)"/>
            <path d="M13.2186 5.72629C11.5105 6.88244 10.2134 7.78095 9.32815 8.42165C9.03128 8.64031 8.79045 8.81101 8.6055 8.93332C8.42055 9.05572 8.17458 9.18072 7.86723 9.30826C7.55999 9.43599 7.27365 9.49967 7.00798 9.49967H7.00002H6.99216C6.72654 9.49967 6.44004 9.43599 6.13281 9.30826C5.82557 9.18072 5.57943 9.05572 5.39453 8.93332C5.20969 8.81101 4.96878 8.64031 4.67194 8.42165C3.96878 7.90606 2.67453 7.00749 0.789142 5.72629C0.483791 5.52291 0 5.72399 0 6.09087V11.2496C0 11.5935 0.122343 11.8877 0.367166 12.1325C0.611934 12.3773 0.906258 12.4997 1.25003 12.4997H12.7501C13.0937 12.4997 13.388 12.3773 13.6328 12.1325C13.8777 11.8876 14 11.5936 14 11.2496V6.08474C14 5.72035 13.5194 5.52064 13.2186 5.72629Z" fill="url(#message-gradient-1)"/>
        </g>
        <defs>
            <linearGradient id="message-gradient-0" x1="5.62917" y1="0.435806" x2="7.26784" y2="9.62742" gradientUnits="userSpaceOnUse">
                <stop offset="0.287293" stop-color="#49D8BD"/>
                <stop offset="1" stop-color="#3793FF"/>
            </linearGradient>
            <linearGradient id="message-gradient-1" x1="5.62917" y1="3.91376" x2="7.47941" y2="13.6607" gradientUnits="userSpaceOnUse">
                <stop offset="0.287293" stop-color="#49D8BD"/>
                <stop offset="1" stop-color="#3793FF"/>
            </linearGradient>
            <clipPath id="message-gradient-clip">
                <rect width="14" height="14" fill="white" transform="translate(0 -0.000244141)"/>
            </clipPath>
        </defs>
    </svg>
</template>