<template>
    <g fill="none">
        <path d="M10.8622 4.02595C11.6945 4.54778 12.2781 5.43082 12.3844 6.45583C12.7238 6.61442 13.1005 6.70562 13.4999 6.70562C14.958 6.70562 16.1398 5.52382 16.1398 4.06594C16.1398 2.60783 14.958 1.42603 13.4999 1.42603C12.0557 1.42647 10.8842 2.58716 10.8622 4.02595ZM9.13276 9.43112C10.5909 9.43112 11.7727 8.24909 11.7727 6.79121C11.7727 5.33333 10.5906 4.15152 9.13276 4.15152C7.67488 4.15152 6.4924 5.33355 6.4924 6.79143C6.4924 8.24931 7.67488 9.43112 9.13276 9.43112ZM10.2526 9.61105H8.0125C6.14871 9.61105 4.63242 11.1276 4.63242 12.9914V15.7308L4.63939 15.7737L4.82808 15.8328C6.60674 16.3885 8.152 16.5738 9.42389 16.5738C11.9081 16.5738 13.348 15.8656 13.4368 15.8204L13.6131 15.7312H13.632V12.9914C13.6326 11.1276 12.1164 9.61105 10.2526 9.61105ZM14.6201 6.88578H12.3974C12.3733 7.77511 11.9937 8.57593 11.3933 9.1519C13.0499 9.64452 14.2621 11.1808 14.2621 12.9954V13.8396C16.4568 13.7592 17.7215 13.1371 17.8048 13.0954L17.9811 13.006H18V10.2656C18 8.40207 16.4837 6.88578 14.6201 6.88578ZM4.50056 6.70607C5.017 6.70607 5.49749 6.55534 5.90453 6.29858C6.03392 5.45463 6.48634 4.71715 7.13261 4.21487C7.13531 4.16545 7.14002 4.11648 7.14002 4.06661C7.14002 2.6085 5.95799 1.4267 4.50056 1.4267C3.04223 1.4267 1.86065 2.6085 1.86065 4.06661C1.86065 5.52404 3.04223 6.70607 4.50056 6.70607ZM6.87136 9.1519C6.27383 8.57885 5.89555 7.7823 5.86791 6.89836C5.78547 6.89229 5.70393 6.88578 5.61992 6.88578H3.38008C1.51629 6.88578 0 8.40207 0 10.2656V13.0055L0.00696368 13.0477L0.195657 13.1073C1.62254 13.5527 2.89599 13.758 4.0021 13.8227V12.9954C4.00255 11.1808 5.21423 9.64497 6.87136 9.1519Z" fill="url(#users)"/>
        <defs>
            <linearGradient id="users" x1="7.2375" y1="-0.876442" x2="12.8874" y2="17.9517" gradientUnits="userSpaceOnUse">
                <stop offset="0.287293" stop-color="#49D8BD"/>
                <stop offset="1" stop-color="#3793FF"/>
            </linearGradient>
        </defs>
    </g>
</template>