<template>
    <g fill="none">
        <path d="M8 0C3.58866 0 0 3.58866 0 8C0 12.4113 3.58866 16 8 16C12.4107 16 16 12.4113 16 8C16 3.58866 12.4107 0 8 0ZM10.6667 4C11.4027 4 12 4.59666 12 5.33334C12 6.06934 11.4027 6.66669 10.6667 6.66669C9.93 6.66669 9.33331 6.06934 9.33331 5.33334C9.33334 4.59666 9.93 4 10.6667 4ZM5.33334 4C6.06934 4 6.66669 4.59666 6.66669 5.33334C6.66669 6.06934 6.06934 6.66669 5.33334 6.66669C4.59669 6.66669 4 6.06934 4 5.33334C4 4.59666 4.59666 4 5.33334 4ZM11.1267 11.57C10.6233 10.2533 9.33734 9.33334 8.00003 9.33334C6.66138 9.33334 5.37537 10.2533 4.87203 11.5713C4.87203 11.5713 3.70313 11.1175 3.71131 11.096C4.40663 9.27334 6.12069 8.12873 8.00003 8.12873C9.87803 8.12873 11.5673 9.27469 12.2633 11.096L11.1267 11.57Z" fill="url(#negative_linear)"/>
        <defs>
            <linearGradient id="negative_linear" x1="8" y1="0" x2="8" y2="16" gradientUnits="userSpaceOnUse">
                <stop stop-color="#FF88B3"/>
                <stop offset="1" stop-color="#FF5353"/>
            </linearGradient>
        </defs>
    </g>
</template>