<template>
    <g fill="none">
        <path d="M17.8218 0.178291C17.7031 0.0595228 17.5624 0.00012207 17.3999 0.00012207H0.600048C0.437575 0.00012207 0.296872 0.0595228 0.178103 0.178291C0.0594663 0.297027 0 0.437631 0 0.600072V11.3999C0 11.5624 0.0594663 11.7031 0.178103 11.8218C0.296872 11.9404 0.437575 12 0.600048 12H17.3999C17.5624 12 17.7031 11.9404 17.8218 11.8218C17.9404 11.7031 18 11.5624 18 11.3999V0.600072C18 0.437631 17.9404 0.297125 17.8218 0.178291ZM16.7999 8.40007C16.1373 8.40007 15.5719 8.63449 15.1029 9.10306C14.6342 9.57167 14.3998 10.1373 14.3998 10.7998H3.59996C3.59996 10.1373 3.36561 9.57167 2.89691 9.10306C2.42817 8.63426 1.8626 8.40007 1.2 8.40007V3.60005C1.8626 3.60005 2.42814 3.36563 2.89691 2.89699C3.36561 2.42829 3.59996 1.86262 3.59996 1.20009H14.4001C14.4001 1.86262 14.6343 2.42829 15.1031 2.89699C15.5719 3.36563 16.1373 3.60005 16.7999 3.60005V8.40007Z" fill="url(#bill_1)"/>
        <path d="M11.2452 3.41271C11.0046 3.02515 10.6873 2.70949 10.2936 2.46582C9.89987 2.22207 9.46869 2.10022 8.99989 2.10022C8.53109 2.10022 8.09995 2.22207 7.70618 2.46582C7.31244 2.70949 6.99521 3.02515 6.75458 3.41271C6.51386 3.80011 6.32801 4.21884 6.19676 4.66889C6.06545 5.11888 5.99988 5.56272 5.99988 6.0001C5.99988 6.43738 6.06545 6.88126 6.19676 7.33118C6.32801 7.7811 6.51386 8.20002 6.75458 8.58749C6.99524 8.97519 7.31244 9.29058 7.70618 9.53432C8.09998 9.77819 8.53109 9.90012 8.99989 9.90012C9.46869 9.90012 9.89987 9.77819 10.2936 9.53432C10.6873 9.29058 11.0046 8.97506 11.2452 8.58749C11.4859 8.20002 11.6717 7.7811 11.803 7.33118C11.9344 6.88126 11.9998 6.43738 11.9998 6.0001C11.9998 5.56276 11.9344 5.11891 11.803 4.66889C11.6717 4.21884 11.4859 3.80011 11.2452 3.41271ZM10.7999 8.40006H7.19988V7.49999H8.39971V4.80004H8.38093C8.29969 4.92505 8.12786 5.10325 7.86543 5.33441L7.14363 4.58447L8.53106 3.30008H9.59991V7.49999H10.7999V8.40006Z" fill="url(#bill_2)"/>
        <defs>
            <linearGradient id="bill_1" x1="7.2375" y1="-1.82385" x2="10.8956" y2="13.565" gradientUnits="userSpaceOnUse">
                <stop offset="0.287293" stop-color="#49D8BD"/>
                <stop offset="1" stop-color="#3793FF"/>
            </linearGradient>
            <linearGradient id="bill_2" x1="8.41235" y1="0.914636" x2="12.4447" y2="9.61344" gradientUnits="userSpaceOnUse">
                <stop offset="0.287293" stop-color="#49D8BD"/>
                <stop offset="1" stop-color="#3793FF"/>
            </linearGradient>
        </defs>
    </g>

</template>