<template>
    <svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"
         x="0px" y="0px"
         viewBox="0 0 32 32" style="enable-background:new 0 0 32 32;" xml:space="preserve">
        <g>

		<linearGradient id="SVGID_1_" gradientUnits="userSpaceOnUse" x1="113.0826" y1="48.851" x2="120.3424" y2="48.851"
                        gradientTransform="matrix(0.7071 -0.7071 0.7071 0.7071 -113.4412 63.0023)">
		<stop offset="0" style="stop-color:#B33FFF"/>
            <stop offset="1" style="stop-color:#FF5D79"/>
	</linearGradient>
            <path class="st0"
                  d="M6.2,12.45c-1.42-1.42-3.72-1.42-5.13,0h0c-1.42,1.42-1.42,3.72,0,5.13l2.57,2.57l5.13-5.13L6.2,12.45z"/>

            <linearGradient id="SVGID_2_" gradientUnits="userSpaceOnUse" x1="13.8611" y1="15.4991" x2="31.9643"
                            y2="15.4991" gradientTransform="matrix(1 0 0 1 0.0357 0.0862)">
		<stop offset="0" style="stop-color:#B33FFF"/>
                <stop offset="1" style="stop-color:#FF5D79"/>
	</linearGradient>
            <path class="st1" d="M30.94,8.24c-1.42-1.42-3.72-1.42-5.13,0l-6.77,6.77l-5.13,5.13l2.92,2.92c1.22,1.22,3.2,1.22,4.42,0l9.7-9.7
		C32.35,11.96,32.35,9.66,30.94,8.24L30.94,8.24z"/>

            <linearGradient id="SVGID_3_" gradientUnits="userSpaceOnUse" x1="3.5942" y1="16.5507" x2="21.0978"
                            y2="16.5507" gradientTransform="matrix(1 0 0 1 0.0357 0.0862)">
		<stop offset="0" style="stop-color:#B33FFF"/>
                <stop offset="1" style="stop-color:#FF5D79"/>
	</linearGradient>
            <path class="st2" d="M18.57,10.35c-1.42-1.42-3.72-1.42-5.13,0l-4.67,4.67l-5.13,5.13l2.92,2.92c1.22,1.22,3.2,1.22,4.42,0
		l2.92-2.92l7.24-7.24L18.57,10.35z"/>
</g>
</svg>
</template>

<style type="text/css">
    .st0 {
        fill: url(#SVGID_1_);
    }

    .st1 {
        fill: url(#SVGID_2_);
    }

    .st2 {
        fill: url(#SVGID_3_);
    }

    .st3 {
        fill: url(#SVGID_4_);
    }
</style>