<template>
  <svg width="22" height="22" viewBox="0 0 22 22" fill="none" xmlns="http://www.w3.org/2000/svg">
    <path
      d="M16.5 10.0625C16.5 9.80469 16.2422 9.54688 15.9844 9.54688H12.2031V5.76562C12.2031 5.50781 11.9453 5.25 11.6875 5.25H10.3125C10.0117 5.25 9.79688 5.50781 9.79688 5.76562V9.54688H6.01562C5.71484 9.54688 5.5 9.80469 5.5 10.0625V11.4375C5.5 11.7383 5.71484 11.9531 6.01562 11.9531H9.79688V15.7344C9.79688 16.0352 10.0117 16.25 10.3125 16.25H11.6875C11.9453 16.25 12.2031 16.0352 12.2031 15.7344V11.9531H15.9844C16.2422 11.9531 16.5 11.7383 16.5 11.4375V10.0625ZM21.6562 10.75C21.6562 4.86328 16.8867 0.09375 11 0.09375C5.11328 0.09375 0.34375 4.86328 0.34375 10.75C0.34375 16.6367 5.11328 21.4062 11 21.4062C16.8867 21.4062 21.6562 16.6367 21.6562 10.75ZM19.5938 10.75C19.5938 15.5195 15.7266 19.3438 11 19.3438C6.23047 19.3438 2.40625 15.5195 2.40625 10.75C2.40625 6.02344 6.23047 2.15625 11 2.15625C15.7266 2.15625 19.5938 6.02344 19.5938 10.75Z"
      fill="#53C1FF"
    />
  </svg>
</template>

<script>
export default {};
</script>

<style>
</style>