<template>
    <g fill="none">
        <mask  mask-type="alpha" maskUnits="userSpaceOnUse" x="0" y="0" width="30" height="30">
            <circle cx="15" cy="15" r="15" fill="#C4C4C4"/>
        </mask>
        <g mask="url(#mask0)">
            <rect opacity="0.1"  width="30" height="30" fill="url(#paint0_linear)"/>
            <path d="M10.9913 9.9932L17.401 8.16029L17.0616 7.4415C16.8395 6.97429 16.2978 6.78135 15.8519 7.01401L10.1138 9.9932H10.9913Z" fill="url(#paint1_linear)"/>
            <path d="M19.3908 8.21326C19.3114 8.21326 19.2319 8.22461 19.1525 8.2473L17.6466 8.67858L13.0479 9.9932H18.2677H20.5428L20.2611 8.91124C20.1528 8.48942 19.788 8.21326 19.3908 8.21326Z" fill="url(#paint2_linear)"/>
            <path d="M21.4834 10.6553H21.2776H20.9977H20.7178H18.5819H10.7331H9.7039H8.83723H8.67653H8.13847C7.8532 10.6553 7.59861 10.7934 7.4325 11.0109C7.35667 11.1111 7.29889 11.2265 7.26639 11.3533C7.24653 11.4327 7.23389 11.5159 7.23389 11.601V11.7145V12.7927V22.1388C7.23389 22.6609 7.63833 23.0846 8.13667 23.0846H21.4816C21.98 23.0846 22.3844 22.6609 22.3844 22.1388V19.5001H17.0273C16.1805 19.5001 15.4925 18.7795 15.4925 17.8923V17.026V16.7328V16.4396V15.7889C15.4925 15.3539 15.6586 14.9586 15.9277 14.6691C16.166 14.4119 16.4856 14.2379 16.8431 14.1944C16.9027 14.1868 16.9641 14.183 17.0255 14.183H21.6333H21.9131H22.193H22.3844V11.601C22.3862 11.079 21.9817 10.6553 21.4834 10.6553Z" fill="url(#paint3_linear)"/>
            <path d="M23.0182 15.0871C22.9279 15.0001 22.8214 14.9339 22.7022 14.8904C22.6101 14.8583 22.5126 14.8394 22.4097 14.8394H22.3862H22.3682H22.0883H21.079H17.0273C16.5289 14.8394 16.1245 15.263 16.1245 15.7851V16.2561V16.5493V16.8425V17.8904C16.1245 18.4125 16.5289 18.8362 17.0273 18.8362H22.3862H22.4097C22.5126 18.8362 22.6101 18.8173 22.7022 18.7851C22.8214 18.7435 22.9279 18.6754 23.0182 18.5884C23.1987 18.4162 23.3125 18.1666 23.3125 17.8904V15.7851C23.3125 15.5089 23.1987 15.2592 23.0182 15.0871ZM18.9123 17.026C18.9123 17.287 18.7101 17.4988 18.4609 17.4988H18.1612C17.912 17.4988 17.7098 17.287 17.7098 17.026V16.712C17.7098 16.5606 17.7766 16.4263 17.8831 16.3412C17.9608 16.2788 18.0565 16.2391 18.1612 16.2391H18.237H18.4609C18.7101 16.2391 18.9123 16.4509 18.9123 16.712V17.026Z" fill="url(#paint4_linear)"/>
        </g>
        <defs>
            <linearGradient  x1="-8.35304" y1="31.875" x2="34.5721" y2="38.2377" gradientUnits="userSpaceOnUse">
                <stop stop-color="#00D1FF"/>
                <stop offset="0.534722" stop-color="#0BA8EA"/>
                <stop offset="1" stop-color="#1485D7"/>
            </linearGradient>
            <linearGradient id="paint1_linear" x1="13.0439" y1="6.44744" x2="13.658" y2="10.5252" gradientUnits="userSpaceOnUse">
                <stop offset="0.287293" stop-color="#49D8BD"/>
                <stop offset="1" stop-color="#3793FF"/>
            </linearGradient>
            <linearGradient id="paint2_linear" x1="16.0614" y1="7.94271" x2="16.2642" y2="10.3372" gradientUnits="userSpaceOnUse">
                <stop offset="0.287293" stop-color="#49D8BD"/>
                <stop offset="1" stop-color="#3793FF"/>
            </linearGradient>
            <linearGradient id="paint3_linear" x1="13.3257" y1="8.76601" x2="17.8636" y2="24.2788" gradientUnits="userSpaceOnUse">
                <stop offset="0.287293" stop-color="#49D8BD"/>
                <stop offset="1" stop-color="#3793FF"/>
            </linearGradient>
            <linearGradient id="paint4_linear" x1="19.0147" y1="14.2318" x2="20.0477" y2="19.4422" gradientUnits="userSpaceOnUse">
                <stop offset="0.287293" stop-color="#49D8BD"/>
                <stop offset="1" stop-color="#3793FF"/>
            </linearGradient>
        </defs>
    </g>
</template>
