<template>
    <g  fill="none">
        <g clip-path="url(#question_clip)">
            <path d="M14.9273 3.9843C14.2119 2.75869 13.2415 1.78829 12.0159 1.07292C10.79 0.357592 9.4518 0 8.00024 0C6.54882 0 5.21021 0.357592 3.98456 1.07292C2.75883 1.78818 1.78844 2.75858 1.07303 3.9843C0.357592 5.2101 0 6.54871 0 8.00002C0 9.4514 0.357702 10.7898 1.07292 12.0157C1.78829 13.2413 2.75869 14.2117 3.98441 14.9271C5.21021 15.6424 6.54871 16 8.00009 16C9.45148 16 10.7901 15.6424 12.0158 14.9271C13.2415 14.2119 14.2119 13.2413 14.9272 12.0157C15.6424 10.7899 16 9.45133 16 8.00002C16 6.54856 15.6424 5.20992 14.9273 3.9843ZM9.33366 13C9.33366 13.0972 9.30221 13.1771 9.23979 13.2395C9.17762 13.3019 9.09768 13.3331 9.00055 13.3331H7.00032C6.90312 13.3331 6.82322 13.3019 6.76072 13.2395C6.69819 13.1771 6.66695 13.0972 6.66695 13V10.9998C6.66695 10.9027 6.69815 10.8227 6.76072 10.7603C6.82322 10.698 6.90312 10.6668 7.00032 10.6668H9.00055C9.09768 10.6668 9.17762 10.698 9.23979 10.7603C9.30221 10.8228 9.33366 10.9027 9.33366 10.9998V13ZM11.87 6.84369C11.7831 7.10066 11.686 7.31085 11.5784 7.47397C11.4708 7.63717 11.3162 7.80387 11.1147 7.97393C10.9137 8.14406 10.7538 8.26567 10.6355 8.33871C10.5176 8.4115 10.3473 8.51067 10.1253 8.63552C9.89609 8.76734 9.70702 8.93929 9.55779 9.1512C9.40846 9.36296 9.33381 9.53477 9.33381 9.66659C9.33381 9.76401 9.30236 9.84387 9.2399 9.90634C9.17762 9.96876 9.09771 9.99996 9.00055 9.99996H7.00043C6.90323 9.99996 6.82333 9.96876 6.76083 9.90634C6.69826 9.84387 6.66714 9.76401 6.66714 9.66659V9.29156C6.66714 8.8263 6.84931 8.39034 7.21394 7.98422C7.57858 7.57792 7.97962 7.27757 8.41719 7.08311C8.7503 6.93038 8.98651 6.77408 9.12537 6.61438C9.26445 6.45468 9.33388 6.24267 9.33388 5.97892C9.33388 5.74968 9.20356 5.54485 8.94309 5.36418C8.68262 5.18368 8.38596 5.09342 8.05252 5.09342C7.69132 5.09342 7.39279 5.17679 7.15662 5.34352C6.92739 5.51008 6.62886 5.82958 6.26076 6.30174C6.19827 6.38514 6.11143 6.42692 6.0003 6.42692C5.91696 6.42692 5.85096 6.40612 5.8024 6.36457L4.42749 5.32284C4.26779 5.1978 4.24003 5.05204 4.34408 4.88534C5.23308 3.40616 6.52123 2.66656 8.20868 2.66656C8.81298 2.66656 9.40335 2.80897 9.97971 3.09373C10.556 3.37835 11.037 3.78119 11.4226 4.30209C11.8076 4.82281 12.0007 5.38888 12.0007 6C12.0002 6.30553 11.9566 6.58665 11.87 6.84369Z" fill="url(#question_1)"/>
        </g>
        <defs>
            <linearGradient id="question_1" x1="6.43332" y1="-2.43201" x2="13.2913" y2="16.8008" gradientUnits="userSpaceOnUse">
                <stop offset="0.287293" stop-color="#49D8BD"/>
                <stop offset="1" stop-color="#3793FF"/>
            </linearGradient>
            <clipPath id="question_clip">
                <rect width="16" height="16" fill="white"/>
            </clipPath>
        </defs>
    </g>
</template>