<template>
  <svg
    width="18"
    height="18"
    viewBox="0 0 18 18"
    fill="none"
    xmlns="http://www.w3.org/2000/svg"
  >
    <path
      d="M16.9805 1.26953L15.1523 3.09766C13.5703 1.51562 11.3906 0.53125 9 0.53125C4.18359 0.53125 0.246094 4.46875 0.28125 9.28516C0.28125 14.1016 4.18359 17.9688 9 17.9688C11.2148 17.9688 13.2891 17.125 14.8359 15.7539C15.0117 15.5781 15.0117 15.2969 14.8359 15.1211L14.1328 14.418C13.9922 14.2773 13.7461 14.2773 13.5703 14.418C12.3398 15.5078 10.7578 16.1406 9 16.1406C5.16797 16.1406 2.10938 13.082 2.10938 9.25C2.10938 5.45312 5.16797 2.35938 9 2.35938C10.8984 2.35938 12.6211 3.13281 13.8516 4.39844L11.9531 6.29688C11.6719 6.57812 11.8828 7 12.2344 7H17.2969C17.5078 7 17.7188 6.82422 17.7188 6.57812V1.55078C17.7188 1.19922 17.2617 0.988281 16.9805 1.26953Z"
      fill="url(#paint0_linear)"
    />
    <defs>
      <linearGradient
        id="paint0_linear"
        x1="5.475"
        y1="-9.256"
        x2="15.2448"
        y2="25.9713"
        gradientUnits="userSpaceOnUse"
      >
        <stop offset="0.287293" stop-color="#49D8BD" />
        <stop offset="1" stop-color="#3793FF" />
      </linearGradient>
    </defs>
  </svg>
</template>