<template>
    <g fill="none">
        <path d="M8 0C3.58866 0 0 3.58866 0 8C0 12.4113 3.58866 16 8 16C12.4113 16 16 12.4113 16 8C16 3.58866 12.4113 0 8 0ZM10.6667 4C11.4033 4 12 4.59734 12 5.33334C12 6.07 11.4033 6.66669 10.6667 6.66669C9.93 6.66669 9.33331 6.07003 9.33331 5.33334C9.33334 4.59734 9.93 4 10.6667 4ZM5.33334 4C6.07 4 6.66669 4.59734 6.66669 5.33334C6.66669 6.07 6.07003 6.66669 5.33334 6.66669C4.59669 6.66669 4 6.07003 4 5.33334C4 4.59734 4.59666 4 5.33334 4ZM12 11.3333H4V10.1604H12V11.3333Z" fill="url(#sceptic_linear)"/>
        <defs>
            <linearGradient id="sceptic_linear" x1="6.43333" y1="-2.432" x2="13.2913" y2="16.8008" gradientUnits="userSpaceOnUse">
                <stop offset="0.287293" stop-color="#F0F0F0"/>
                <stop offset="1" stop-color="#DCDCDC"/>
            </linearGradient>
        </defs>
    </g>
</template>