<template>
    <g fill="none">
        <path d="M13.8461 15.2309C13.8461 15.6133 13.9817 15.9395 14.2519 16.2097C14.5221 16.4802 14.8486 16.6155 15.2311 16.6155C15.6131 16.6155 15.9395 16.4802 16.2098 16.2097C16.4802 15.9395 16.6156 15.6133 16.6156 15.2309C16.6156 14.8486 16.4804 14.5223 16.2098 14.2519C15.9395 13.9816 15.6131 13.8463 15.2311 13.8463C14.8486 13.8463 14.5221 13.9816 14.2519 14.2519C13.9817 14.5223 13.8461 14.8486 13.8461 15.2309Z" fill="url(#shop_1)"/>
        <path d="M17.7944 2.97457C17.6573 2.83752 17.4952 2.76899 17.3076 2.76899H4.31613C4.30882 2.71856 4.2926 2.62668 4.26737 2.49327C4.24213 2.3598 4.22236 2.25348 4.20792 2.17407C4.19341 2.095 4.16651 1.99937 4.12676 1.8876C4.0871 1.77575 4.04023 1.68732 3.98616 1.62257C3.93217 1.55748 3.86007 1.50175 3.7699 1.45473C3.6798 1.40801 3.57697 1.38452 3.46164 1.38452H0.692442C0.50482 1.38452 0.342584 1.45317 0.20558 1.59003C0.0685395 1.72703 0 1.88938 0 2.07685C0 2.26432 0.0685395 2.42659 0.20558 2.56359C0.342697 2.70064 0.504972 2.7691 0.692442 2.7691H2.89893L4.81349 11.6719C4.79916 11.7007 4.72524 11.8375 4.59176 12.0829C4.45836 12.3282 4.35201 12.5426 4.27275 12.7265C4.19345 12.9106 4.15378 13.053 4.15378 13.1538C4.15378 13.3413 4.22232 13.5036 4.35928 13.6409C4.49648 13.7775 4.65867 13.8462 4.84618 13.8462H5.53847H15.2308H15.9227C16.1101 13.8462 16.2725 13.7775 16.4094 13.6409C16.5466 13.5037 16.615 13.3414 16.615 13.1538C16.615 12.9663 16.5466 12.804 16.4094 12.6671C16.2725 12.5302 16.1102 12.4614 15.9227 12.4614H5.971C6.14415 12.1152 6.23069 11.8847 6.23069 11.7693C6.23069 11.697 6.22167 11.6176 6.2036 11.5313C6.18552 11.4449 6.16393 11.3492 6.1387 11.2445C6.11342 11.1402 6.09728 11.0627 6.09009 11.0121L17.3836 9.69244C17.5637 9.67066 17.7117 9.5934 17.827 9.45981C17.9424 9.32652 18 9.1733 18 9.00011V3.46154C17.9999 3.27407 17.9316 3.1118 17.7944 2.97457Z" fill="url(#shop_2)"/>
        <path d="M4.15369 15.2309C4.15369 15.6133 4.28883 15.9395 4.55932 16.2097C4.82987 16.4802 5.15605 16.6155 5.53838 16.6155C5.92048 16.6155 6.24685 16.4802 6.51722 16.2097C6.7877 15.9395 6.923 15.6133 6.923 15.2309C6.923 14.8486 6.78782 14.5223 6.51722 14.2519C6.24681 13.9816 5.92048 13.8463 5.53838 13.8463C5.15609 13.8463 4.82972 13.9816 4.55932 14.2519C4.28898 14.5223 4.15369 14.8486 4.15369 15.2309Z" fill="url(#shop_3)"/>
        <defs>
            <linearGradient id="shop_1" x1="14.9596" y1="13.4254" x2="16.1465" y2="16.7542" gradientUnits="userSpaceOnUse">
                <stop offset="0.287293" stop-color="#49D8BD"/>
                <stop offset="1" stop-color="#3793FF"/>
            </linearGradient>
            <linearGradient id="shop_2" x1="7.2375" y1="-0.509661" x2="11.1662" y2="15.4047" gradientUnits="userSpaceOnUse">
                <stop offset="0.287293" stop-color="#49D8BD"/>
                <stop offset="1" stop-color="#3793FF"/>
            </linearGradient>
            <linearGradient id="shop_3" x1="5.26718" y1="13.4254" x2="6.45411" y2="16.7542" gradientUnits="userSpaceOnUse">
                <stop offset="0.287293" stop-color="#49D8BD"/>
                <stop offset="1" stop-color="#3793FF"/>
            </linearGradient>
        </defs>
    </g>
</template>