<template>
    <svg width="16" height="16" viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg">
        <g clip-path="url(#skype-clip)">
            <path d="M15.4337 9.34421C15.5162 8.89463 15.5595 8.43455 15.5595 7.97459C15.5595 6.95469 15.36 5.96531 14.9654 5.0338C14.5848 4.13402 14.0403 3.32604 13.346 2.63232C12.6528 1.93847 11.8442 1.39404 10.9449 1.01342C10.0138 0.619383 9.02427 0.419677 8.0045 0.419677C7.52379 0.419677 7.04234 0.464842 6.57384 0.554808C6.57286 0.555052 6.57152 0.555052 6.5703 0.555296C5.92748 0.2135 5.20458 0.0310059 4.47277 0.0310059C3.27807 0.0310059 2.15478 0.496214 1.31006 1.3413C0.465453 2.18603 0 3.30932 0 4.50401C0 5.26439 0.195678 6.01195 0.562743 6.67247C0.48828 7.10044 0.448974 7.53782 0.448974 7.97459C0.448974 8.99472 0.64868 9.98398 1.04321 10.9156C1.42322 11.8156 1.96801 12.6231 2.66162 13.317C3.35583 14.0107 4.16332 14.556 5.06359 14.9356C5.99486 15.3304 6.98461 15.5302 8.00438 15.5302C8.44835 15.5302 8.89329 15.4897 9.32762 15.4127C9.99681 15.7912 10.7544 15.9924 11.5281 15.9924C12.7225 15.9924 13.8452 15.528 14.69 14.6827C15.535 13.8385 16 12.7149 16 11.5202C16 10.7573 15.8033 10.0073 15.4337 9.34421Z" fill="url(#skype-gradient)"/>
            <path d="M8.03455 12.6018C5.35046 12.6018 4.14966 11.2822 4.14966 10.2932C4.14966 9.78602 4.52417 9.43043 5.04028 9.43043C6.18896 9.43043 5.89148 11.0797 8.03455 11.0797C9.13171 11.0797 9.73755 10.484 9.73755 9.8744C9.73755 9.5077 9.55664 9.10132 8.83423 8.92322L6.4469 8.32727C4.52417 7.8451 4.17529 6.80567 4.17529 5.82862C4.17529 3.80005 6.08533 3.03833 7.87903 3.03833C9.53137 3.03833 11.4791 3.95154 11.4791 5.16858C11.4791 5.69007 11.0276 5.99329 10.5116 5.99329C9.53137 5.99329 9.71167 4.63648 7.73706 4.63648C6.7572 4.63648 6.21448 5.0802 6.21448 5.71509C6.21448 6.34888 6.9884 6.55127 7.66028 6.70435L9.42737 7.09656C11.363 7.52784 11.8538 8.65796 11.8538 9.72242C11.8539 11.3709 10.5885 12.6018 8.03455 12.6018Z" fill="white"/>
        </g>
        <defs>
            <linearGradient id="skype-gradient" x1="6.43332" y1="-2.39512" x2="13.2619" y2="16.8017" gradientUnits="userSpaceOnUse">
                <stop offset="0.287293" stop-color="#49D8BD"/>
                <stop offset="1" stop-color="#3793FF"/>
            </linearGradient>
            <clipPath id="skype-clip">
                <rect width="16" height="16" fill="white" transform="translate(0 -0.000244141)"/>
            </clipPath>
        </defs>
    </svg>
</template>