<template>
    <g fill="none">
        <path d="M8 0C12.4183 0 16 3.58171 16 8C16 12.4183 12.4183 16 8 16C3.58171 16 0 12.4183 0 8C0 3.58171 3.58171 0 8 0ZM5.32698 5.15116C4.64724 5.15116 4.09621 5.70219 4.09621 6.38193C4.09621 7.06166 4.64724 7.61269 5.32698 7.61269C6.00672 7.61269 6.55775 7.06166 6.55775 6.38193C6.55775 5.70219 6.00672 5.15116 5.32698 5.15116ZM10.673 5.15116C9.99328 5.15116 9.44225 5.70219 9.44225 6.38193C9.44225 7.06166 9.99328 7.61269 10.673 7.61269C11.3528 7.61269 11.9038 7.06166 11.9038 6.38193C11.9038 5.70219 11.3528 5.15116 10.673 5.15116ZM8 13.011C10.0895 13.011 11.9796 11.6922 12.7034 9.72923L11.7135 9.36429C11.142 10.9145 9.64962 11.956 8 11.956C6.35038 11.956 4.85802 10.9145 4.28645 9.36429L3.29663 9.72923C4.02036 11.6922 5.91051 13.011 8 13.011Z" fill="url(#gradient-smiley)"/>
        <defs>
            <linearGradient id="gradient-smiley" x1="9.56667" y1="-2.432" x2="2.70871" y2="16.8008" gradientUnits="userSpaceOnUse">
                <stop offset="0.287293" stop-color="#49D8BD"/>
                <stop offset="1" stop-color="#3793FF"/>
            </linearGradient>
        </defs>
    </g>
</template>
