<template>
  <svg
    width="16"
    height="16"
    viewBox="0 0 16 16"
    fill="none"
    xmlns="http://www.w3.org/2000/svg"
  >
    <path
      d="M14.9273 3.9843C14.2119 2.75869 13.2415 1.78829 12.0159 1.07292C10.79 0.357592 9.45181 0 8.00024 0C6.54882 0 5.21021 0.357592 3.98456 1.07292C2.75883 1.78818 1.78844 2.75858 1.07303 3.9843C0.357592 5.2101 0 6.54871 0 8.00002C0 9.4514 0.357702 10.7898 1.07292 12.0157C1.78829 13.2413 2.75869 14.2117 3.98441 14.9271C5.21021 15.6424 6.54871 16 8.00009 16C9.45148 16 10.7901 15.6424 12.0158 14.9271C13.2415 14.2119 14.2119 13.2413 14.9272 12.0157C15.6424 10.7899 16 9.45133 16 8.00002C16 6.54856 15.6424 5.20992 14.9273 3.9843ZM13.1874 6.78126L7.53129 12.4374C7.39932 12.5695 7.2397 12.6355 7.05209 12.6355C6.87157 12.6355 6.71537 12.5695 6.58337 12.4374L2.8124 8.66668C2.68754 8.54157 2.62497 8.38563 2.62497 8.19795C2.62497 8.00356 2.68732 7.84372 2.8124 7.71868L3.76032 6.78126C3.89243 6.64933 4.04848 6.58337 4.22916 6.58337C4.40983 6.58337 4.5661 6.64937 4.69799 6.78126L7.0522 9.1354L11.3022 4.89585C11.4342 4.76388 11.5904 4.69788 11.7709 4.69788C11.9513 4.69788 12.1078 4.76388 12.2396 4.89585L13.1876 5.83341C13.3128 5.95834 13.3751 6.11803 13.3751 6.31243C13.3751 6.5 13.3128 6.65627 13.1874 6.78126Z"
      fill="url(#paint0_linear)"
    />
    <defs>
      <linearGradient
        id="paint0_linear"
        x1="6.43332"
        y1="-2.43201"
        x2="13.2913"
        y2="16.8008"
        gradientUnits="userSpaceOnUse"
      >
        <stop offset="0.287293" stop-color="#49D8BD" />
        <stop offset="1" stop-color="#3793FF" />
      </linearGradient>
    </defs>
  </svg>
</template>

<script>
export default {};
</script>

<style>
</style>