<template>
  <svg viewBox="0 0 18 18" fill="none" xmlns="http://www.w3.org/2000/svg">
    <path
      d="M9 0.53125C4.18359 0.53125 0.28125 4.46875 0.28125 9.25C0.28125 14.0664 4.18359 17.9688 9 17.9688C13.7812 17.9688 17.7188 14.0664 17.7188 9.25C17.7188 4.46875 13.7812 0.53125 9 0.53125ZM13.957 4.29297C16.5234 6.85938 16.6641 10.8672 14.5195 13.6094L4.64062 3.73047C7.38281 1.58594 11.3906 1.72656 13.957 4.29297ZM4.00781 14.2422C1.44141 11.6758 1.30078 7.66797 3.44531 4.92578L13.3242 14.8047C10.582 16.9492 6.57422 16.8086 4.00781 14.2422Z"
      fill="#EB5757"
    />
  </svg>
</template>