<template>
    <svg width="26" height="26" viewBox="0 0 26 26" fill="none" xmlns="http://www.w3.org/2000/svg">
        <g opacity="0.7">
            <path fill-rule="evenodd" clip-rule="evenodd" d="M13 25.9998C5.8203 25.9998 0 20.1795 0 12.9998C0 5.82005 5.8203 -0.000244141 13 -0.000244141C20.1797 -0.000244141 26 5.82005 26 12.9998C26 20.1795 20.1797 25.9998 13 25.9998ZM4.01367 11.2576L19.6149 5.17551C20.2087 4.94402 20.8224 5.46394 20.6919 6.08799L18.0283 18.8279C17.9033 19.4257 17.2024 19.6943 16.7102 19.3328L12.6885 16.3796L10.6388 18.4733C10.2791 18.8408 9.65764 18.6921 9.50309 18.2015L8.02356 13.5049L4.05913 12.3337C3.53895 12.1801 3.50834 11.4546 4.01367 11.2576ZM10.4122 14.4137L17.6589 8.00282C17.8324 7.84938 17.6309 7.57836 17.4341 7.70055L8.87653 13.0102C8.72587 13.1037 8.65733 13.2872 8.7099 13.4566L9.8578 17.157C9.88196 17.2347 9.99515 17.224 10.0043 17.1431L10.2833 14.6619C10.294 14.566 10.34 14.4776 10.4122 14.4137Z" fill="white"/>
        </g>
    </svg>
</template>