<template>
    <svg width="16" height="16" viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg">
        <g clip-path="url(#telegram-clip)">
            <path d="M0 7.99976C0 12.418 3.58172 15.9998 8 15.9998C12.4183 15.9998 16 12.418 16 7.99976C16 3.58148 12.4183 -0.000244141 8 -0.000244141C3.58172 -0.000244141 0 3.58148 0 7.99976Z" fill="url(#telegram-gradient)"/>
            <path d="M12.0706 3.18468L2.46982 6.92751C2.15885 7.04875 2.17769 7.49518 2.49779 7.58973L4.93744 8.31044L5.84792 11.2007C5.94303 11.5026 6.32545 11.5941 6.54682 11.3679L7.80819 10.0795L10.2831 11.8969C10.586 12.1193 11.0173 11.9541 11.0942 11.5862L12.7334 3.74621C12.8136 3.36218 12.436 3.04223 12.0706 3.18468ZM10.8669 4.92457L6.40739 8.8697C6.36294 8.90903 6.33465 8.96346 6.32803 9.02245L6.15634 10.5493C6.15073 10.5991 6.08108 10.6057 6.06621 10.5579L5.35981 8.28075C5.32745 8.1765 5.36964 8.06354 5.46235 8.00603L10.7285 4.73856C10.8496 4.66336 10.9736 4.83014 10.8669 4.92457Z" fill="white"/>
        </g>
        <defs>
            <linearGradient id="telegram-gradient" x1="6.43333" y1="-2.43224" x2="13.2913" y2="16.8006" gradientUnits="userSpaceOnUse">
                <stop offset="0.287293" stop-color="#49D8BD"/>
                <stop offset="1" stop-color="#3793FF"/>
            </linearGradient>
            <clipPath id="telegram-clip">
                <rect width="16" height="16" fill="white" transform="matrix(1 0 0 -1 0 15.9998)"/>
            </clipPath>
        </defs>
    </svg>
</template>