<template>
    <g fill="none">
        <path d="M7.88795 6.9679L0.427324 14.4285C0.149817 14.706 0.0109863 15.0383 0.0109863 15.4254C0.0109863 15.8199 0.149778 16.1485 0.427324 16.4116L1.58854 17.5948C1.87349 17.8651 2.2058 18.0001 2.58549 18.0001C2.97263 18.0001 3.30128 17.8651 3.57154 17.5948L11.0429 10.1232C10.3274 9.83822 9.69393 9.42011 9.14229 8.86874C8.59096 8.31726 8.1729 7.68365 7.88795 6.9679ZM3.77975 15.2173C3.6408 15.356 3.47649 15.4255 3.28666 15.4255C3.09676 15.4255 2.93245 15.356 2.7937 15.2173C2.65491 15.0785 2.58549 14.9142 2.58549 14.7243C2.58549 14.5346 2.65491 14.3701 2.7937 14.2311C2.93245 14.0926 3.09665 14.0231 3.28666 14.0231C3.47661 14.0231 3.64095 14.0926 3.77975 14.2311C3.91846 14.3701 3.98788 14.5346 3.98788 14.7243C3.98788 14.9142 3.91846 15.0785 3.77975 15.2173Z" fill="url(#tool_1)"/>
        <path d="M17.896 5.08344C17.8339 5.0103 17.748 4.97385 17.6386 4.97385C17.5729 4.97385 17.3155 5.10359 16.8662 5.36287C16.4171 5.62207 15.9221 5.91781 15.3818 6.25019C14.8412 6.58261 14.5527 6.7597 14.5163 6.78165L12.4017 5.60937V3.15531L15.6116 1.3037C15.7284 1.22338 15.7869 1.12112 15.7869 0.99695C15.7869 0.872854 15.7284 0.77063 15.6116 0.690279C15.2901 0.471096 14.8975 0.301261 14.434 0.180772C13.9701 0.0602828 13.5263 0 13.1028 0C11.7517 0 10.5959 0.480344 9.63559 1.44073C8.67494 2.40103 8.19495 3.55692 8.19495 4.90804C8.19495 6.25921 8.67521 7.41506 9.63559 8.37544C10.5959 9.33574 11.7517 9.81608 13.1028 9.81608C14.1327 9.81608 15.0768 9.51091 15.9349 8.90121C16.7929 8.29136 17.3939 7.4971 17.7371 6.51841C17.9049 6.02913 17.9889 5.64195 17.9889 5.35719C17.9892 5.24791 17.9579 5.15658 17.896 5.08344Z" fill="url(#tool_2)"/>
        <defs>
            <linearGradient id="tool_1" x1="4.44675" y1="5.29101" x2="9.17546" y2="18.5522" gradientUnits="userSpaceOnUse">
                <stop offset="0.287293" stop-color="#49D8BD"/>
                <stop offset="1" stop-color="#3793FF"/>
            </linearGradient>
            <linearGradient id="tool_2" x1="12.1329" y1="-1.49205" x2="16.3477" y2="10.3014" gradientUnits="userSpaceOnUse">
                <stop offset="0.287293" stop-color="#49D8BD"/>
                <stop offset="1" stop-color="#3793FF"/>
            </linearGradient>
        </defs>
    </g>

</template>