<template>
  <svg
    width="16"
    height="19"
    viewBox="0 0 16 19"
    fill="none"
    xmlns="http://www.w3.org/2000/svg"
  >
    <path
      d="M9.54688 14.875H10.3906C10.6016 14.875 10.8125 14.6992 10.8125 14.4531V6.85938C10.8125 6.64844 10.6016 6.4375 10.3906 6.4375H9.54688C9.30078 6.4375 9.125 6.64844 9.125 6.85938V14.4531C9.125 14.6992 9.30078 14.875 9.54688 14.875ZM15.3125 3.0625H12.3945L11.1992 1.09375C10.918 0.636719 10.2852 0.25 9.75781 0.25H6.20703C5.67969 0.25 5.04688 0.636719 4.76562 1.09375L3.57031 3.0625H0.6875C0.371094 3.0625 0.125 3.34375 0.125 3.625V4.1875C0.125 4.50391 0.371094 4.75 0.6875 4.75H1.25V16.5625C1.25 17.5117 1.98828 18.25 2.9375 18.25H13.0625C13.9766 18.25 14.75 17.5117 14.75 16.5625V4.75H15.3125C15.5938 4.75 15.875 4.50391 15.875 4.1875V3.625C15.875 3.34375 15.5938 3.0625 15.3125 3.0625ZM6.13672 2.04297C6.17188 2.00781 6.27734 1.9375 6.3125 1.9375H6.34766H9.65234C9.6875 1.9375 9.79297 2.00781 9.82812 2.04297L10.4258 3.0625H5.53906L6.13672 2.04297ZM13.0625 16.5625H2.9375V4.75H13.0625V16.5625ZM5.60938 14.875H6.45312C6.66406 14.875 6.875 14.6992 6.875 14.4531V6.85938C6.875 6.64844 6.66406 6.4375 6.45312 6.4375H5.60938C5.36328 6.4375 5.1875 6.64844 5.1875 6.85938V14.4531C5.1875 14.6992 5.36328 14.875 5.60938 14.875Z"
      fill="url(#paint0_linear)"
    />
    <defs>
      <linearGradient
        id="paint0_linear"
        x1="5.84583"
        y1="-9.256"
        x2="20.1222"
        y2="22.2019"
        gradientUnits="userSpaceOnUse"
      >
        <stop offset="0.287293" stop-color="#49D8BD" />
        <stop offset="1" stop-color="#3793FF" />
      </linearGradient>
    </defs>
  </svg>
</template>