<template>
    <g fill="none">
        <mask id="mask0" mask-type="alpha" maskUnits="userSpaceOnUse" x="0" y="0" width="30" height="30">
            <circle cx="15" cy="15" r="15" fill="#C4C4C4"/>
        </mask>
        <g mask="url(#mask0)">
            <rect opacity="0.1" width="100%" height="100%" fill="url(#paint0_linear)"/>
            <path d="M14.9998 15.0022C17.0463 15.0022 18.7055 12.987 18.7055 10.5011C18.7055 8.01518 18.1608 6 14.9998 6C11.8388 6 11.2939 8.01518 11.2939 10.5011C11.2939 12.987 12.9531 15.0022 14.9998 15.0022Z" fill="url(#paint1_linear)"/>
            <path d="M8.00049 21.8752C7.99985 21.7228 7.99922 21.8322 8.00049 21.8752V21.8752Z" fill="url(#paint2_linear)"/>
            <path d="M21.9988 21.9938C22.0008 21.9521 21.9995 21.7045 21.9988 21.9938V21.9938Z" fill="url(#paint3_linear)"/>
            <path d="M21.9911 21.693C21.9225 17.3626 21.3569 16.1286 17.0291 15.3475C17.0291 15.3475 16.4198 16.1238 14.9999 16.1238C13.5799 16.1238 12.9706 15.3475 12.9706 15.3475C8.68996 16.1201 8.09 17.3357 8.01111 21.5523C8.00464 21.8966 8.00165 21.9147 8.00049 21.8748C8.00075 21.9497 8.00107 22.0882 8.00107 22.3297C8.00107 22.3297 9.03143 24.4069 14.9999 24.4069C20.9682 24.4069 21.9987 22.3297 21.9987 22.3297C21.9987 22.1745 21.9988 22.0666 21.999 21.9932C21.9978 22.0179 21.9955 21.97 21.9911 21.693Z" fill="url(#paint4_linear)"/>
        </g>
        <defs>
            <linearGradient id="paint0_linear" x1="-8.35304" y1="31.875" x2="34.5721" y2="38.2377" gradientUnits="userSpaceOnUse">
                <stop stop-color="#00D1FF"/>
                <stop offset="0.534722" stop-color="#0BA8EA"/>
                <stop offset="1" stop-color="#1485D7"/>
            </linearGradient>
            <linearGradient id="paint1_linear" x1="14.274" y1="4.63167" x2="18.7221" y2="14.9021" gradientUnits="userSpaceOnUse">
                <stop offset="0.287293" stop-color="#49D8BD"/>
                <stop offset="1" stop-color="#3793FF"/>
            </linearGradient>
            <linearGradient id="paint2_linear" x1="8.00005" y1="21.785" x2="8.00283" y2="21.785" gradientUnits="userSpaceOnUse">
                <stop offset="0.287293" stop-color="#49D8BD"/>
                <stop offset="1" stop-color="#3793FF"/>
            </linearGradient>
            <linearGradient id="paint3_linear" x1="21.9992" y1="21.8344" x2="22.0033" y2="21.8345" gradientUnits="userSpaceOnUse">
                <stop offset="0.287293" stop-color="#49D8BD"/>
                <stop offset="1" stop-color="#3793FF"/>
            </linearGradient>
            <linearGradient id="paint4_linear" x1="13.629" y1="13.9705" x2="16.3183" y2="25.6243" gradientUnits="userSpaceOnUse">
                <stop offset="0.287293" stop-color="#49D8BD"/>
                <stop offset="1" stop-color="#3793FF"/>
            </linearGradient>
        </defs>
    </g>

</template>