<template>
  <div class="custom-divider w-100 d-flex justify-content-start align-items-center">
    <div v-if="title">{{title}}</div>
    <div class="custom-divider__hr-line mx-2 mt-1"></div>
  </div>
</template>

<script>
export default {
  props: ["title"]
};
</script>
