<template>
  <div class="input-with-button">
    <span class="input-with-button__label mr-3" v-if="label">{{ label }}</span>
    <div class="input-with-button__input-block">
      <input :placeholder="placeholder" v-model="value" :type="inputType" />
      <span @click="click">{{ btnText }}</span>
    </div>
  </div>
</template>

<script>
export default {
  data() {
    return {
      value: ""
    };
  },
  props: {
    label: {
      type: String,
      default: ""
    },
    btnText: {
      type: String,
      default: ""
    },
    inputValue: {
      type: String,
      default: ""
    },
    inputType: {
      type: String,
      default: ""
    },
    placeholder: {
      type: String,
      default: ""
    }
  },
  methods: {
    click(val) {
      this.$emit("click");
      this.$emit("getVal", this.value);
    }
  }
};
</script>