.counter {
  width: 1.3125rem !important;
  height: 1.3125rem !important;
  font-size: 0.6875rem;
  line-height: 0.8125rem;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  color: #FFFFFF;
  font-weight: bold;
  background: linear-gradient(98.43deg, #00D1FF 4.8%, #0BA8EA 56.69%, #1485D7 101.83%);
  border-radius: 50%;
  &_pointer {
    cursor: pointer;
  }
}

@media (max-width: $screen-width-xs) {
  .counter {
    line-height: 19px;
  }
}