<template>
  <b-modal
    @hide="$emit('hide')"
    size="lg"
    :title="isCreateByCode ? `Вы подтверждаете присоединение к команде ${teamName}?` : `Вы подтверждаете создание команды ${teamName}?`"
    centered
    modal-class="team-modal"
    v-model="showCreateTeamModal"
  >
    <p class="font-weight-400 mb-4">Конфигурация команды</p>
    <CheckOptions :options="configOptionResult" customTextClass="check-options__small_air" />
    <div class="divider my-5 mr-3"></div>
    <p class="font-weight-400 mb-4">Условия</p>
    <CheckOptions
      :options="isCreateByCode ? conditionOptionResult:createTeamOptions"
      customTextClass="check-options__small_air"
    />
    <template v-slot:modal-footer>
      <div class="team-modal__footer">
        <button @click="confirm" type="button" class="btn btn-outline">Подтвердить</button>
      </div>
    </template>
  </b-modal>
</template>

<script>
import { mapState, mapActions } from "vuex";
import CheckOptions from "../lists/CheckOptions.vue";
import { BModal } from "bootstrap-vue";
export default {
  data() {
    return {
      showCreateTeamModal: false
    };
  },
  components: {
    CheckOptions,
    BModal
  },
  props: [
    "selectedStatOption",
    "selectedPayOption",
    "teamName",
    "show",
    "isCreateByCode"
  ],
  watch: {
    show(val) {
      if (val !== "undefined") {
        this.showCreateTeamModal = val;
      }
    }
  },
  methods: {
    confirm() {
      this.showCreateTeamModal = false;
      this.$emit("confirmed", {});
    }
  },
  computed: {
    ...mapState("team", [
      "statOptions",
      "payOptions",
      "deleteFromTeamEvents",
      "conditionOptionResult"
    ]),
    createTeamOptions() {
      return [
        {
          text:
            "После присоединения к команде вебмастера не смогут выйти из нее до тех пор, пока у них будут средства на балансе и лиды в обработке;",
          value: "",
          success: true
        },
        {
          text:
            "Вебмастера не смогут выводить деньги никуда кроме Eprofit и ZaleyCash. Все остальные платежные методы будут доступны только вам;",
          value: "",
          success: true
        },
        {
          text:
            "Вебмастера в команде не будут видеть статистику друг друга за исключением показателя суммарного вклада в общекомандный результат.",
          value: "",
          success: true
        }
      ];
    },
    configOptionResult() {
      return [
        {
          text: this.statOptions.find(o => o.value == this.selectedStatOption)
            .text,
          value: this.statOptions.find(o => o.value == this.selectedStatOption)
            .value,
          success: true
        },
        {
          text: this.payOptions.find(o => o.value == this.selectedPayOption)
            .text,
          value: this.payOptions.find(o => o.value == this.selectedPayOption)
            .value,
          success: true
        }
      ];
    }
  }
};
</script>

<style>
</style>