<template>
  <section class="section" v-if="loaded">
    <div class="team" v-if="!accessErrors.length">
      <h2 class="h2 mb-4">Создайте команду</h2>
      <p>
        Внимание! После создания команды вы не сможете присоединяться к другим
        командам. Но сможете создавать неограниченное количество своих команд.
        <br />Вам потребуется расформировать все свои команды в случае, если вы
        захотите присоединиться к другой команде.
      </p>

      <create-team-form type="page" />
    </div>

    <!-- <error-team
      v-if="accessErrors.includes('blocked')"
      error="Вы заблокированы тимлидом. Ваше членство в команде остановлено."
    >
      <p
        class="font-size-small font-weight-400 mb-2 mt-2"
      >Вы будете удалены из команды после следующих событий:</p>
      <CheckOptions :options="deleteFromTeamEvents" customTextClass="check-options__small" />
    </error-team>-->

    <error-team
      v-if="accessErrors.includes('already_in_team')"
      error="Вы уже состоите в арбитражной команде. По условиям, вы не можете состоять одновременно в двух и более командах или создавать свои команды в роли тимлида."
    ></error-team>
  </section>
</template>

<script>
import { mapActions, mapState } from "vuex";
import CreateTeamForm from "./CreateTeamForm.vue";
import CheckOptions from "../lists/CheckOptions.vue";
import ErrorTeam from "./ErrorTeam.vue";

export default {
  components: {
    ErrorTeam,
    CheckOptions,
    CreateTeamForm
  },
  data() {
    return {
      accessErrors: [],
      loaded: false
    };
  },
  computed: {
    ...mapState("team", ["deleteFromTeamEvents"])
  },
  methods: {
    ...mapActions("team", ["getMyTeams", "getDict"])
  },
  async mounted() {
    await this.getDict();
    this.loaded = true;

    // mock errors
    window.addEventListener("keypress", e => {
      // if (String.fromCharCode(e.keyCode) === "1") {
      //   this.accessErrors = ["blocked"];
      // }

      if (String.fromCharCode(e.keyCode) === "2") {
        this.accessErrors = ["already_in_team"];
      }

      if (String.fromCharCode(e.keyCode) === "0") {
        this.accessErrors = [];
      }
    });
    //end mock erros
  }
};
</script>
