<template>
  <div v-if="loaded">
    <b-form class="team-form" v-if="type === 'page'">
      <b-row no-gutters>
        <b-col>
          <b-row no-gutters align-v="center">
            <b-col class="team-form__left-side">
              <label class="team-form__field-name" for="team_name">Название команды</label>
            </b-col>

            <b-col>
              <b-form-input class="form_input" size="sm" id="team_name" v-model="teamName"></b-form-input>
            </b-col>
          </b-row>
          <b-row no-gutters align-v="top" class="mt-4 avatar-upload">
            <b-col class="team-form__left-side">
              <div class="avatar-upload__title d-flex align-items-start flex-column mb-3">
                <div class="mb-auto">
                  <label class="team-form__field-name" for="team_name">Аватар команды</label>
                </div>
                <div class="avatar-upload__hint">
                  Макс. размер: 100 x 100 px
                  <br />Форматы: jpg, png
                </div>
              </div>
            </b-col>

            <b-col>
              <label
                title="Выбрать аватар"
                for="avatar_team"
                class="avatar-upload__file"
                :style="
                  preview
                    ? 'background-image:url(' + preview + ');color:#fff'
                    : ''
                "
              >
                <b-icon v-if="!preview" font-scale="2" icon="arrow-bar-bottom"></b-icon>
                <input id="avatar_team" hidden type="file" @change="onFileChange" />
              </label>
            </b-col>
          </b-row>
        </b-col>
      </b-row>
      <b-row class="mt-4">
        <b-col sm="6">
          <h3 class="h3 font-weight-400 mb-4">Отображение статистики</h3>

          <b-form-radio-group
            class="gradient-radio"
            id="radio-group-1"
            v-model="selectedStatOption"
            name="selectedStatOption"
          >
            <b-form-radio
              v-for="(option, idx) in statOptions"
              :value="option.value"
              :key="idx"
            >{{ option.text }}</b-form-radio>
          </b-form-radio-group>
        </b-col>
        <b-col>
          <h3 class="h3 font-weight-400 mb-1">Начисление выплат</h3>
          <span
            class="team-form__alert team-form__alert_danger mb-4"
          >После создания команды нельзя будет изменить данный параметр</span>

          <b-form-radio-group
            id="radio-group-2"
            class="gradient-radio"
            v-model="selectedPayOption"
            name="selectedPayOption"
          >
            <b-form-radio v-for="(option, idx) in payOptions" :value="option.value" :key="idx">
              <span>{{ option.text }}</span>
              <template v-if="option.popHint">
                <b-icon
                  :id="`pop-hint-${idx}`"
                  icon="alert-circle-fill"
                  variant="dark"
                  class="h3 font-weight-100"
                ></b-icon>

                <b-tooltip
                  :target="`pop-hint-${idx}`"
                  triggers="hover"
                  variant="secondary"
                  custom-class="team-tooltip"
                >
                  <p class="team-tooltip__title">{{ option.popHint.title }}</p>
                  <p class="team-tooltip__body" v-html="option.popHint.body"></p>
                </b-tooltip>
              </template>

              <template v-if="option.bottomHint">
                <p class="team-tooltip__bottom-hint mt-2">{{ option.bottomHint }}</p>
              </template>
            </b-form-radio>
          </b-form-radio-group>
        </b-col>
      </b-row>

      <button
        class="btn btn-outline mt-4"
        @click.prevent="showCreateTeamModal = true"
      >создать команду</button>
    </b-form>

    <b-form class="team-form" v-if="type === 'modal'">
      <b-row no-gutters>
        <b-col sm="3">
          <b-row class="avatar-upload">
            <b-col>
              <label
                title="Выбрать аватар"
                for="avatar_team"
                class="avatar-upload__file"
                :style="
                  preview
                    ? 'background-image:url(' + preview + ');color:#fff'
                    : ''
                "
              >
                <b-icon v-if="!preview" font-scale="2" icon="arrow-bar-bottom"></b-icon>
                <input id="avatar_team" hidden type="file" @change="onFileChange" />
              </label>
              <div class="mt-2 avatar-upload__title">
                <div class="avatar-upload__hint">
                  Макс. размер: 100 x 100 px
                  <br />Форматы: jpg, png
                </div>
              </div>
            </b-col>
          </b-row>
        </b-col>

        <b-col sm="9">
          <label class="team-form__field-name" for="team_name">Название команды</label>
          <b-form-input class="mt-2 form_input" size="sm" id="team_name" v-model="teamName"></b-form-input>

          <h3 class="h3 font-weight-100 mb-4 mt-4">Отображение статистики</h3>
          <b-form-radio-group
            class="gradient-radio"
            id="radio-group-1"
            v-model="selectedStatOption"
            name="selectedStatOption"
          >
            <b-form-radio
              v-for="(option, idx) in statOptions"
              :value="option.value"
              :key="idx"
            >{{ option.text }}</b-form-radio>
          </b-form-radio-group>

          <h3 class="h3 font-weight-100 mb-1 mt-5">Начисление выплат</h3>
          <span
            class="team-form__alert team-form__alert_danger mb-4"
          >После создания команды нельзя будет изменить данный параметр</span>

          <b-form-radio-group
            id="radio-group-2"
            class="gradient-radio"
            v-model="selectedPayOption"
            name="selectedPayOption"
          >
            <b-form-radio v-for="(option, idx) in payOptions" :value="option.value" :key="idx">
              <span>{{ option.text }}</span>
              <template v-if="option.popHint">
                <b-icon
                  :id="`pop-hint-${idx}`"
                  icon="alert-circle-fill"
                  variant="dark"
                  class="h3 font-weight-100"
                ></b-icon>

                <b-tooltip
                  :target="`pop-hint-${idx}`"
                  triggers="hover"
                  variant="secondary"
                  custom-class="team-tooltip"
                >
                  <p class="team-tooltip__title">{{ option.popHint.title }}</p>
                  <p class="team-tooltip__body" v-html="option.popHint.body"></p>
                </b-tooltip>
              </template>

              <template v-if="option.bottomHint">
                <p class="team-tooltip__bottom-hint mt-2">{{ option.bottomHint }}</p>
              </template>
            </b-form-radio>
          </b-form-radio-group>
          <button
            class="btn btn-outline mt-4"
            @click.prevent="showCreateTeamModal = true"
          >создать команду</button>
        </b-col>
      </b-row>
    </b-form>

    <create-team-confirm
      :selectedStatOption="selectedStatOption"
      :selectedPayOption="selectedPayOption"
      :teamName="teamName"
      :show="showCreateTeamModal"
      @hide="showCreateTeamModal = false"
      @confirmed="createTeam"
      :isCreateByCode="isCreateByCode"
    />
  </div>
</template>

<script>
import {
  BIcon,
  BIconArrowBarBottom,
  BIconAlertCircleFill,
  BButton,
  BTooltip,
  BFormRadioGroup,
  BBadge,
  BFormRadio
} from "bootstrap-vue";
import { mapActions, mapState, mapMutations } from "vuex";
import CreateTeamConfirm from "./CreateTeamConfirm.vue";
export default {
  props: {
    type: {
      type: String,
      default: "modal"
    },
    new: {
      type: Boolean,
      default: true
    }
  },
  data() {
    return {
      loaded: false,
      isCreateByCode: false,
      teamName: "Новая команда",
      preview: "",
      showCreateTeamModal: false,
      selectedStatOption: 1,
      selectedPayOption: 1
    };
  },
  components: {
    CreateTeamConfirm,
    BIcon,
    BIconArrowBarBottom,
    BIconAlertCircleFill,
    BButton,
    BTooltip,
    BFormRadioGroup,
    BBadge,
    BFormRadio
  },
  methods: {
    ...mapActions("team", ["getMyTeams", "getDict"]),
    ...mapMutations("team", [
      "SET_ACTIVE_TEAM",
      "SET_TEAM_LIST",
      "SET_ACTIVE_TEAM_MASTERS"
    ]),
    onFileChange(e) {
      const file = e.target.files[0];
      this.preview = URL.createObjectURL(file);
    },
    createTeam() {
      this.$emit("created");
      const newTeam = {
        id: "sdfssdf8s89df798sd7sd7",
        link: "",
        linkExpired: "48 часов 00 минут",
        status: "",
        name: this.teamName,
        img: "img/team-blank.jpg",
        am_i_teamlid: true,
        options: {
          statOption: this.selectedStatOption,
          payOption: this.selectedPayOption
        }
      };

      const masters = [
        {
          id: "873948573jsdljfl",
          modifier: "pro",
          img: "img/master-blank.jpg",
          team_id: "sdfssdf8s89df798sd7sd7",
          is_lead: true,
          name: "MyLoginTeamLid",
          confirm_lids: 0,
          tested_offers: 0,
          summ_work: 0,
          balance_rub: 0,
          balance_usd: 0,
          balance_eur: 0,
          change: 1,
          status: 1,
          active: true
        }
      ];

      if (this.type === "page") {
        this.SET_TEAM_LIST([newTeam]);
        this.SET_ACTIVE_TEAM(newTeam);
        this.$router.push("/my-team-one-example");
      } else {
        this.$router.push("/my-team");
        this.SET_TEAM_LIST(this.teams.concat(newTeam));
        this.SET_ACTIVE_TEAM(newTeam);
        this.SET_ACTIVE_TEAM_MASTERS(masters);
      }
    }
  },
  computed: {
    ...mapState("team", ["teams", "statOptions", "payOptions"])
  },
  async mounted() {
    await this.getDict();
    this.loaded = true;
    this.$nextTick(function() {
      if (this.$route.params.code) {
        setTimeout(() => {
          this.showCreateTeamModal = true;
          this.isCreateByCode = true;
        }, 300);
        // console.log("code", this.$route.params.code);
      }
    });
  }
};
</script>

<style>
</style>