<template>
  <div class="team-detail">
    <b-row v-if="activeTeam.link">
      <b-col colls="12">
        <section class="section mb-3">
          <share-link type="page" title="Ссылка-приглашение сгенерирована" />
        </section>
      </b-col>
    </b-row>

    <b-row class="mb-30 team-second-view">
      <b-col md="4" sm="12" lg="3">
        <short-team />
      </b-col>
      <div class="d-block d-sm-none mb-3 w-100"></div>
      <div class="d-block d-md-none mb-3 w-100"></div>
      <b-col md="8" sm="12" lg="9">
        <os v-if="activeTeam.am_i_teamlid || activeTeam.options.statOption!==3" />
        <web-masters v-if="!activeTeam.am_i_teamlid && activeTeam.options.statOption===3" />
      </b-col>
    </b-row>

    <b-row class="mb-30" v-if="activeTeam.am_i_teamlid || activeTeam.options.statOption!==3">
      <b-col>
        <web-masters />
      </b-col>
    </b-row>

    <b-row v-if="activeTeam.am_i_teamlid || activeTeam.options.statOption!==3">
      <b-col>
        <private-offer-slider class="mb-30" />
      </b-col>
    </b-row>
  </div>
</template>

<script>
import { mapState } from "vuex";
import ShortTeam from "./ShortTeam.vue";
import ShareLink from "./ShareLink.vue";
import WebMasters from "../web-masters/WebMasters";
import os from "../os/OS.vue";
import PrivateOfferSlider from "../private-offers/PrivateOfferSlider.vue";

export default {
  components: {
    ShortTeam,
    ShareLink,
    WebMasters,
    os,
    PrivateOfferSlider
  },
  computed: {
    ...mapState("team", ["activeTeam"])
  }
};
</script>

<style lang="scss">
.team-second-view {
  section {
    &.team-short {
      min-height: 100%;
    }
    &.os {
      min-height: 100%;
    }
  }
}
</style>