<template>
  <div>
    <b-form class="team-form">
      <b-row no-gutters>
        <b-col sm="3">
          <b-row class="avatar-upload">
            <b-col>
              <label
                title="Выбрать новый аватар"
                for="avatar_team"
                class="avatar-upload__file"
                :style="
                  img ? 'background-image:url(' + img + ');color:#fff' : ''
                "
              >
                <b-icon v-if="!img" font-scale="2" icon="arrow-bar-bottom"></b-icon>
                <input id="avatar_team" type="file" hidden @change="onFileChange" />
              </label>
              <div class="mt-2 avatar-upload__title">
                <div class="avatar-upload__hint">
                  Макс. размер: 100 x 100 px
                  <br />Форматы: jpg, png
                </div>
              </div>
            </b-col>
          </b-row>
        </b-col>

        <b-col sm="9">
          <label class="team-form__field-name" for="team_name">Название команды</label>
          <b-form-input class="mt-2 form_input" size="sm" id="team_name" v-model="team.name"></b-form-input>

          <h3 class="h3 font-weight-100 mb-4 mt-4">Отображение статистики</h3>
          <b-form-radio-group
            class="gradient-radio"
            id="radio-group-1"
            v-model="team.options.statOption"
            name="team.options.statOption"
          >
            <b-form-radio
              v-for="(option, idx) in statOptions"
              :value="option.value"
              :key="idx"
            >{{ option.text }}</b-form-radio>
          </b-form-radio-group>
          <div class="team-form_disabled">
            <h3 class="h3 font-weight-100 mb-4 mt-5">Начисление выплат и лайтов</h3>
            <b-form-radio-group
              id="radio-group-2"
              class="gradient-radio"
              v-model="team.options.payOption"
              name="team.options.payOption"
            >
              <b-form-radio
                disabled
                v-for="(option, idx) in payOptions"
                :value="option.value"
                :key="idx"
              >
                <span>{{ option.text }}</span>
              </b-form-radio>
            </b-form-radio-group>
          </div>
        </b-col>
      </b-row>
    </b-form>
    <div class="w-100 text-center">
      <button class="btn btn-outline mt-4" @click.prevent="saveChanges">Сохранить</button>
    </div>
  </div>
</template>

<script>
import {
  BIcon,
  BIconArrowBarBottom,
  BIconAlertCircleFill,
  BButton,
  BTooltip,
  BFormRadioGroup,
  BBadge,
  BFormRadio
} from "bootstrap-vue";
import { mapActions, mapState } from "vuex";
export default {
  data() {
    return {
      preview: "",
      team: {
        options: {
          statOption: 1,
          payOpiton: 1
        }
      },
      showCreateTeamModal: false
    };
  },
  components: {
    BIcon,
    BIconArrowBarBottom,
    BIconAlertCircleFill,
    BButton,
    BTooltip,
    BFormRadioGroup,
    BBadge,
    BFormRadio
  },
  methods: {
    ...mapActions("team", ["editTeam"]),
    onFileChange(e) {
      const file = e.target.files[0];
      this.preview = URL.createObjectURL(file);
    },
    saveChanges() {
      this.editTeam(this.team).then(res => {
        this.$emit("saved");
      });
    }
  },
  computed: {
    ...mapState("team", ["statOptions", "payOptions", "activeTeam"]),
    img() {
      return this.preview ? this.preview : this.team.img ? this.team.img : "";
    }
  },
  mounted() {
    this.team = JSON.parse(JSON.stringify(this.activeTeam));
  }
};
</script>