<template>
  <div class="error-team">
    <div class="error-team__stop-icon">
      <span class="mr-3">
        <icon-base width="20" height="20">
          <icon-stop></icon-stop>
        </icon-base>
      </span>
    </div>
    <div>
      <p class="error-team__error-text">{{error}}</p>
      <slot />
    </div>
  </div>
</template>

<script>
import { BIcon } from "bootstrap-vue";
import IconBase from "../icons/IconBase";
import IconStop from "../icons/Stop";

export default {
  components: {
    BIcon,
    IconBase,
    IconStop
  },
  props: ["error"]
};
</script>