<template>
  <div class="share-link">
    <p>{{ title }}</p>
    <div
      :class="
        type === 'modal'
          ? 'd-flex flex-column align-items-start'
          : 'd-flex flex-sm-column flex-md-row align-items-sm-start align-items-md-center'
      "
    >
      <div class="d-flex align-items-center flex-wrap">
        <div
          v-if="localTeam.link"
          class="mr-2 copy-link-input d-flex justify-content-between align-items-center"
        >
          <input disabled type="text" :value="localTeam.link" />
          <span
            v-clipboard:copy="localTeam.link"
            v-clipboard:success="onCopy"
            v-clipboard:error="onError"
          >скопировать</span>
        </div>
        <div class="my-3 my-md-0">
          <button
            v-if="!activeTeam.link"
            @click="generateNewLink"
            class="btn btn-outline btn-outline__size-small"
          >Cгенерировать</button>
          <button
            v-else
            @click="generateNewLink"
            class="btn btn-outline btn-outline__size-small"
          >Регенерировать</button>
          <button
            v-if="activeTeam.link||localTeam.link"
            @click="reset"
            class="ml-2 btn btn-outline btn-outline__size-small"
          >Сбросить</button>
        </div>
      </div>
      <div class="mt-2" v-if="type === 'modal'"></div>
      <div
        v-if="localTeam.link"
        class="share-link__last-time text-danger-2 d-flex align-items-center"
      >
        <b-icon v-if="type !== 'modal'" icon="alert-circle-fill" variant="danger" class="h3"></b-icon>
        <span class="font-weight-300 font-size-small">
          {{
          type !== "modal" ? "Осталось" : "До деактивации ключа осталось"
          }}
          {{ localTeam.linkExpired }}
        </span>
      </div>
    </div>
  </div>
</template>

<script>
import { BIcon, BIconAlertCircleFill } from "bootstrap-vue";
import { mapState, mapMutations } from "vuex";
import { baseHost } from "../../service/api";
function makeid(length) {
  var result = "";
  var characters = "abcdefghijklmnopqrstuvwxyz0123456789";
  var charactersLength = characters.length;
  for (var i = 0; i < length; i++) {
    result += characters.charAt(Math.floor(Math.random() * charactersLength));
  }
  return result;
}

export default {
  props: ["title", "type"],
  data() {
    return {
      localTeam: {}
    };
  },
  components: {
    BIcon,
    BIconAlertCircleFill
  },
  methods: {
    ...mapMutations("team", ["SET_ACTIVE_TEAM"]),
    reset() {
      this.localTeam.link = "";
      this.SET_ACTIVE_TEAM(this.localTeam);
      if (this.type === "modal") {
        this.$emit("hide");
      }
    },
    onCopy: function(e) {
      alert("Вы скопировали: " + e.text);
    },
    onError: function(e) {
      alert("Ошибка копирования");
    },
    generateNewLink() {
      this.localTeam.link = `${baseHost()}/invite/${makeid(7)}`;
      this.SET_ACTIVE_TEAM(this.localTeam);
    }
  },
  computed: {
    ...mapState("team", ["activeTeam"])
  },
  mounted() {
    this.localTeam = JSON.parse(JSON.stringify(this.activeTeam));

    if (this.type === "modal") {
      // if (!this.activeTeam.link) {
      //   this.generateNewLink();
      // }
    }
  }
};
</script>

<style>
</style>