<template>
  <section class="section team-short px-3 d-flex justify-content-between flex-column">
    <div class="text-center mb-4">
      <img width="100" :src="activeTeam.img" />
    </div>

    <div class="text-center">
      <h2 class="team-short__title h2 font-weight-500">Команда “{{ activeTeam.name }}”</h2>
      <button
        @click="enableEditMode"
        v-if="!activeTeam.status && !editMode && activeTeam.am_i_teamlid"
        class="h4 text-info font-size-small font-weight-400 btn btn-link"
      >Добавить статус</button>
      <div class="team-short__status" :class="{ 'team-short__status_edit': editMode }">
        <input
          placeholder="введите статус компании"
          ref="edit_team_status"
          v-show="editMode"
          type="text"
          v-model="newTeamStatus"
          @blur="disableEditMode"
        />
        <span @click="chageTeamStatus">
          <icon-base v-if="newTeamStatus && editMode" width="22" height="22">
            <icon-check></icon-check>
          </icon-base>
        </span>
        <span @click="enableEditMode" :title="activeTeam.status">
          <input
            class="team-short__read-only"
            disabled
            v-show="!editMode"
            type="text"
            v-model="activeTeam.status"
          />
        </span>

        <!-- <p  @click="enableEditMode">{{ activeTeam.status }}</p> -->
      </div>
    </div>

    <div class="mt-5">
      <CheckOptions :options="teamOptions" customTextClass="check-options__small_air" />
    </div>
    <div class="d-flex justify-content-between flex-column">
      <div v-if="activeTeam.am_i_teamlid">
        <div class="text-center mt-5">
          <button
            @click="showAddMasterModal = true"
            class="mt-2 btn btn-block btn-outline btn-outline__size-sm"
          >добавить вебмастера</button>
          <button
            @click="showEditTeamModal = true"
            class="mt-3 btn btn-block btn-outline btn-outline__size-sm"
          >редактировать</button>
        </div>
      </div>
      <div v-else>
        <div class="mt-5">
          <div class="team-short__alert mb-3">
            <CheckOptions :options="exitTeamAlerts" customTextClass="check-options__small_air" />
          </div>
        </div>
      </div>

      <div class="text-center mt-5" v-if="activeTeam.am_i_teamlid">
        <button
          @click="showDeleteTeamModal = true"
          class="btn btn-text text-grey-light font-size-small"
        >удалить команду</button>
      </div>

      <div class="text-center" v-else>
        <button disabled class="btn btn-text text-grey-light">выйти из команды</button>
      </div>
    </div>

    <b-modal
      size="md"
      title="Невозможно удалить команду"
      centered
      modal-class="no-footer-modal delete-team-modal"
      v-model="showDeleteTeamModalError"
    >
      <div class="d-flex flex-column align-items-start text-left">
        <p class="font-size-small font-weight-400">Перед тем как удалить команду вам нужно:</p>
        <CheckOptions :options="deleteTeamConditions" customTextClass="check-options__small" />
        <p class="mt-4 font-size-small font-weight-400">
          До этого вермени вы можете заблокировать вебмастеров, что остановит их
          членство в команде.
        </p>
        <div class="mt-2 w-100 text-center">
          <button @click="blockAll" class="btn btn-outline">Заблокировать всех</button>
        </div>
      </div>
      <template v-slot:modal-footer>
        <span></span>
      </template>
    </b-modal>

    <b-modal
      size="md"
      :title="`Удалить команду ${activeTeam.name}`"
      centered
      modal-class="confirm-modal delete-team-modal"
      v-model="showDeleteTeamModal"
    >
      <template v-slot:modal-footer>
        <div class="w-100">
          <button @click="deleteTeam" class="btn btn-outline">Удалить</button>
        </div>
      </template>
    </b-modal>

    <b-modal
      size="lg"
      title="Редактирование команды"
      centered
      modal-class="no-footer-modal edit-team-modal"
      v-model="showEditTeamModal"
    >
      <edit-team-form @saved="showEditTeamModal = false" />

      <template v-slot:modal-footer>
        <p></p>
      </template>
    </b-modal>
    <b-modal
      size="lg"
      title="Добавить вебмастера"
      centered
      modal-class="add-master-team-modal no-footer-modal"
      v-model="showAddMasterModal"
    >
      <share-link
        @hide="showAddMasterModal = false"
        type="modal"
        title="Отправьте сгенерированную ссылку-приглашение вебмастерам"
      />
      <template v-slot:modal-footer>
        <p></p>
      </template>
    </b-modal>
  </section>
</template>

<script>
import CheckOptions from "../lists/CheckOptions.vue";
import IconBase from "../icons/IconBase";
import IconCheck from "../icons/Check";
import EditTeamForm from "./EditTeamForm.vue";
import ShareLink from "./ShareLink.vue";
import { BModal, BAlert } from "bootstrap-vue";
import { mapGetters, mapState, mapMutations, mapActions } from "vuex";
export default {
  data() {
    return {
      exitTeamAlerts: [
        {
          text:
            "Вы не можете выйти из команды, пока у вас есть средства на балансе и лиды в обработке.",
          value: false,
          success: false
        }
      ],
      deleteTeamConditions: [
        {
          text: "Вывести средстава всех вебмастеров на свои реквизиты;",
          value: "",
          success: true
        },
        {
          text: "Дождаться, когда обработаются все лиды вебмастеров.",
          value: "",
          success: false
        }
      ],
      team: {
        status: ""
      },
      editMode: false,
      newTeamStatus: "",
      showDeleteTeamModal: false,
      showDeleteTeamModalError: false,
      showEditTeamModal: false,
      showAddMasterModal: false
    };
  },
  components: {
    BModal,
    BAlert,
    CheckOptions,
    ShareLink,
    EditTeamForm,
    IconBase,
    IconCheck
  },
  methods: {
    ...mapActions("team", ["editTeam"]),
    deleteTeam() {
      this.showDeleteTeamModalError = true;
    },
    blockAll() {
      this.showDeleteTeamModalError = false;
      this.showDeleteTeamModal = false;
    },
    disableEditMode() {
      setTimeout(() => {
        this.editMode = false;
      }, 300);
    },
    enableEditMode() {
      if (!this.activeTeam.am_i_teamlid) return false;
      this.editMode = true;
      this.newTeamStatus = this.activeTeam.status;
      this.$nextTick(function() {
        this.$refs.edit_team_status.focus();
      });
    },
    chageTeamStatus() {
      this.team.status = this.newTeamStatus;
      this.editTeam(this.team);
      this.team = this.activeTeam;
      this.editMode = false;
    }
  },
  computed: {
    ...mapState("team", ["activeTeam"]),
    ...mapGetters("team", ["teamOptions"])
  },
  mounted() {
    this.team = JSON.parse(JSON.stringify(this.activeTeam));
  }
};
</script>

<style>
</style>