<template>
  <section class="section mb-4 tab-items-team">
    <ul class="tab-items-team__list" :class="{'tab-items-team__list_open':open}">
      <li
        @click="setActive(team)"
        v-for="team in teams"
        :key="team.id"
        :class="team.id === activeTeam.id ? 'tab-items-team__list_active' : ''"
      >
        <img src="img/team-blank.jpg" />
        {{ team.name }}
      </li>
    </ul>

    <button class="btn btn-text tab-items-team__add" @click="showCreateTeamModal = true">
      <icon-plus-outline />Создать команду
    </button>
    <b-modal
      size="lg"
      title="Создать команду"
      centered
      modal-class="create-team-modal no-footer-modal team"
      v-model="showCreateTeamModal"
    >
      <create-team-form type="modal" @created="showCreateTeamModal = false" />

      <template v-slot:modal-footer>
        <p></p>
      </template>
    </b-modal>
  </section>
</template>

<script>
import { BModal } from "bootstrap-vue";
import IconPlusOutline from "../icons/PlusOutline";
import CreateTeamForm from "./CreateTeamForm.vue";
export default {
  components: { IconPlusOutline, CreateTeamForm, BModal },
  props: {
    activeTeam: {
      type: Object,
      default: {}
    },
    teams: {
      type: Array,
      default: []
    }
  },
  data() {
    return { showCreateTeamModal: false };
  },
  computed: {
    open() {
      return this.$store.getters.sidebar_open;
    }
  },
  methods: {
    setActive(teamObject) {
      this.$emit("change", teamObject);
    }
  }
};
</script>