.custom-control {
  min-height: 1.25rem;
}

.custom-control-label {
  font-size: 0.875rem;
  line-height: 1.5rem;
  cursor: pointer;
}

.custom-control-label::after {
  border-radius: 0.1875rem;
}
$gradient-checkbox: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 8 8'%3e%3cpath fill='%23fff' d='M6.564.75l-3.59 3.612-1.538-1.55L0 4.26 2.974 7.25 8 2.193z'/%3e%3c/svg%3e");
.custom-checkbox .custom-control-input:checked ~ .custom-control-label::after {
  background: $gradient-checkbox no-repeat 50%/50% 50%, linear-gradient(160.38deg, #49d8bd 28.06%, #3793ff 99.24%);
}

.custom-checkbox.pink {
  .custom-control-input:checked ~ .custom-control-label::after {
    background: $gradient-checkbox no-repeat 50%/50% 50%, linear-gradient(144.49deg, #ff5656 -18.31%, #ff56c6 79.42%);
  }
  .custom-control-input:focus ~ .custom-control-label::before {
    box-shadow: 0 0 0 0.2rem rgba(255, 86, 198, 0.25);
  }
}

.gradient-radio {
  .custom-control-inline {
    .custom-control-label {
      font-size: 0.91rem;
      font-weight: 400;
    }
    margin-bottom: 0.9rem;
    width: 100%;
    .custom-control-label::before {
      background-color: #bec9d4;
      border: none;
    }
    .custom-control-input:checked ~ .custom-control-label::before {
      background: linear-gradient(160.38deg, #49d8bd 28.06%, #3793ff 99.24%);
      border: none;
    }
  }
}
