<template>
  <div class="indicator">
    <div class="indicator__body">
      <h3 class="indicator__title">{{ title }}</h3>
      <div v-if="type == 'balance'">
        <span class="indicator__count"
          >{{ animatedNumber | formatPrice }} р</span
        >
        <span class="indicator__bonus"
          >{{ animatedBonus | formatPrice }} L</span
        >
      </div>
      <div v-else>
        <span class="indicator__count">{{ animatedNumber }}</span>
      </div>
      <div v-if="type == 'leads'">
        <icon-base
          v-if="state == 'up'"
          :width="16"
          :height="16"
          :viewBox="'0 0 16 16'"
        >
          <icon-smiley></icon-smiley>
        </icon-base>
        <icon-base
          v-if="state == 'down'"
          :width="16"
          :height="16"
          :viewBox="'0 0 16 16'"
        >
          <icon-negative></icon-negative>
        </icon-base>
        <icon-base
          v-if="state == 'without_change'"
          :width="16"
          :height="16"
          :viewBox="'0 0 16 16'"
        >
          <icon-sceptic></icon-sceptic>
        </icon-base>
      </div>
      <div v-else-if="type == 'ranking'">
        <icon-base
          v-if="state == 'up'"
          :width="16"
          :height="16"
          :viewBox="'0 0 16 16'"
        >
          <icon-arrow-up></icon-arrow-up>
        </icon-base>
        <icon-base
          v-else-if="state == 'down'"
          :width="16"
          :height="16"
          :viewBox="'0 0 16 16'"
        >
          <icon-arrow-down></icon-arrow-down>
        </icon-base>
        <icon-base
          v-else-if="state == 'without_change'"
          :width="16"
          :height="16"
          :viewBox="'0 0 16 16'"
        >
          <icon-arrow-static></icon-arrow-static>
        </icon-base>
      </div>
    </div>
    <span class="indicator__caption">{{ caption }}</span>
  </div>
</template>

<script>
import IconBase from "../icons/IconBase";
import IconSmiley from "../icons/Smiley";
import IconSceptic from "../icons/Sceptic";
import IconNegative from "../icons/Negative";
import IconArrowUp from "../icons/ArrowRoundUp";
import IconArrowDown from "../icons/ArrowRoundDown";
import IconArrowStatic from "../icons/ArrowRoundRight";

import { formatPrice } from "../../utils";
import { TweenLite } from "gsap";

export default {
  name: "Indicator",
  components: {
    IconBase,
    IconSmiley,
    IconSceptic,
    IconNegative,
    IconArrowUp,
    IconArrowDown,
    IconArrowStatic
  },
  props: {
    type: String,
    title: String,
    caption: String,
    count: Number,
    state: String,
    bonus: Number
  },
  data() {
    return {
      tweenedNumber: 0,
      tweenedBonusNumber: 0
    };
  },
  filters: {
    formatPrice
  },
  computed: {
    animatedNumber: function() {
      return this.tweenedNumber.toFixed(0);
    },
    animatedBonus: function() {
      return this.tweenedBonusNumber.toFixed(0);
    }
  },
  watch: {
    count: function(newValue) {
      TweenLite.to(this.$data, 3, {
        tweenedNumber: newValue,
        repeatRefresh: false,
        ease: "expo.out"
      });
    },
    bonus: function(newValue) {
      TweenLite.to(this.$data, 3, {
        tweenedBonusNumber: newValue,
        repeatRefresh: false,
        ease: "expo.out"
      });
    }
  }
};
</script>

<style scoped>
</style>