<template>
  <section class="os section" ref="os">
    <h2
      class="h2 section__title d-flex flex-wrap justify-content-between"
      :class="{ 'mb-0': collapse }"
    >
      <span>Операционка</span>
    </h2>
    <!-- <button
      type="button"
      class="btn-collapse icon-arrow-bottom ml-4 d-flex d-xl-none"
      :class="{ 'btn-collapse_close': collapse }"
      @click="collapse = !collapse"
    ></button>-->
    <header
      class="os__header align-items-start flex-column flex-lg-row"
      :class="{ 'd-none': collapse }"
    >
      <div class="os__indicators">
        <indicator
          v-for="(item, index) in indicators"
          v-bind:key="index"
          :type="item.type"
          :title="item.title"
          :state="item.state"
          :count="item.count"
          :caption="item.caption"
          :bonus="item.bonus"
        ></indicator>
      </div>

      <div class="period" :class="{ 'mt-4 mt-sm-0': !collapse }">
        <span class="period__title" :class="{ 'd-none': collapse }">Период</span>
        <b-form-select
          class="period__select"
          :class="{ 'd-none': collapse }"
          v-model="period"
          @change="loadData"
          :options="period_options"
        ></b-form-select>
      </div>
    </header>
    <div class="os__graphic" :class="{ 'd-none': collapse }">
      <div class="text-center spinner" v-if="!loaders.data">
        <b-spinner label="Spinning"></b-spinner>
      </div>
      <apexchart v-else type="area" height="410" :options="chartOptions" :series="series" />
    </div>
    <footer class="os__footer" :class="{ 'd-none': collapse }">
      <div class="ios-checkbox mr-0 mr-sm-3">
        <label
          for="raw_leads"
          class="ios-checkbox__title"
          :class="{ 'ios-checkbox__title_active': !rides }"
        >Сырые лиды</label>
        <input
          @change="loadData"
          type="checkbox"
          v-model="rides"
          :checked="rides"
          class="ios-checkbox__checkbox"
          id="raw_leads"
        />
        <label
          for="raw_leads"
          class="ios-checkbox__title"
          :class="{ 'ios-checkbox__title_active': rides }"
        >Аппрувы</label>
      </div>
      <b-form-checkbox
        id="previous"
        :checked="oldPeriod"
        name="previous"
        class="mt-3 mt-sm-0 pink"
        @input="setupPrevious"
      >Предыдущий период</b-form-checkbox>
    </footer>
  </section>
</template>

<script>
import Indicator from "./Indicator";
import { BFormSelect } from "bootstrap-vue";
import { BSpinner } from "bootstrap-vue";
import { BFormCheckbox } from "bootstrap-vue";
import VueApexCharts from "vue-apexcharts";

import { post } from "../../service/api";
import { createTime } from "../../utils";

export default {
  name: "OS",
  components: {
    Indicator,
    "b-form-select": BFormSelect,
    "b-spinner": BSpinner,
    apexchart: VueApexCharts,
    "b-form-checkbox": BFormCheckbox
  },
  data() {
    return {
      loaders: {
        data: false
      },
      indicators: [
        {
          type: "leads",
          title: "Лидов",
          state: "up",
          count: 0,
          caption: "за день"
        },
        {
          type: "ranking",
          title: "Место",
          state: "up",
          count: 0,
          caption: "в рейтинге"
        },
        {
          type: "balance",
          title: "Доход",
          count: 0,
          bonus: 0,
          caption: "за день"
        }
      ],
      period: "today",
      period_options: [
        {
          value: "today",
          text: "за сегодня"
        },
        {
          value: "at_week",
          text: "за неделю"
        },
        {
          value: "at_month",
          text: "за месяц"
        }
      ],
      rides: true,
      previous: false,
      series: [
        {
          name: "Текущий период",
          data: []
        },
        {
          name: "Предыдущий период",
          data: []
        }
      ],
      chartOptions: {
        colors: ["#49D8BD", "#FF56C6"],
        dataLabels: {
          enabled: false
        },
        markers: {
          size: 4,
          colors: ["#72c3f7", "#FF56C6"],
          strokeColors: ["#49D8BD", "#FF56C6"],
          strokeWidth: 11,
          strokeOpacity: 0.1,
          fillOpacity: 1,
          shape: "circle",
          radius: 2
        },
        stroke: {
          show: true,
          curve: "smooth",
          lineCap: "butt",
          colors: ["#49D8BD", "#FF56C6"],
          width: 2,
          dashArray: 0
        },
        fill: {
          colors: ["rgba(229, 247, 253, 0.5)", "rgba(250,240,238, 0.5)"],
          type: "solid"
        },
        grid: {
          show: true,
          padding: {
            left: -10
          },
          borderColor: "#eaeaea"
        },
        xaxis: {
          type: "datetime",
          labels: {
            show: true,
            style: {
              colors: "rgba(128,141,157, 0.7)",
              fontFamily: "Ubuntu"
            },
            offsetY: 2
          },
          axisBorder: {
            show: true,
            color: "#F2F2F2"
          },
          axisTicks: {
            show: false
          }
        },
        yaxis: {
          show: true,
          labels: {
            style: {
              color: "rgba(128,141,157, 0.7)",
              fontFamily: "Ubuntu"
            },
            offsetX: -20
          },
          axisBorder: {
            show: true,
            color: "#F2F2F2"
          }
        },
        tooltip: {
          enabled: true
        },
        legend: {
          show: true,
          position: "bottom",
          horizontalAlign: "right",
          showForNullSeries: false,
          fontSize: "14px",
          fontFamily: "Ubuntu",
          labels: {
            colors: "#516378"
          }
        },
        chart: {
          toolbar: {
            show: false
          },
          zoom: {
            enabled: false
          },
          animations: {
            enabled: true,
            animateGradually: {
              enabled: true,
              delay: 0
            },
            dynamicAnimation: {
              enabled: true,
              speed: 0
            }
          }
        },
        responsive: [
          {
            breakpoint: 1367,
            options: {
              chart: {
                height: 433
              }
            }
          },
          {
            breakpoint: 575,
            options: {
              chart: {
                height: 350
              },
              legend: {
                position: "bottom",
                horizontalAlign: "left"
              }
            }
          }
        ],
        noData: {
          text: "Пока что нет никаких данных",
          offsetX: 0,
          offsetY: 0,
          style: {
            color: "#516378",
            fontSize: "14px",
            fontFamily: "Ubuntu"
          }
        }
      },
      collapse: false
    };
  },
  mounted() {
    this.loadData();
  },
  methods: {
    setupPrevious() {
      let previous = this.$store.getters.os_old_period;
      this.$store.dispatch("OsOldPeriodChange", !previous);
      this.loadData();
    },
    async loadData() {
      this.loaders.data = false;
      try {
        const response = await post("operating/list", {
          period: createTime(this.period),
          rides: this.rides,
          previous: this.$store.getters.os_old_period
        });
        let current = [];
        let old = [];

        if (response.data.data.current !== null) {
          current = response.data.data.current.map(el => {
            return {
              x: el.time,
              y: Math.round(el.value)
            };
          });
        }

        if (response.data.data.old !== null) {
          old = response.data.data.old.map(el => {
            return {
              x: el.time,
              y: Math.round(el.value)
            };
          });
        }

        this.indicators[0].state = response.data.leads.state;
        this.indicators[0].count = response.data.leads.count;

        this.indicators[1].state = response.data.ranking.state;
        this.indicators[1].count = response.data.ranking.site;

        this.indicators[2].count = response.data.income.currency;
        this.indicators[2].bonus = response.data.income.bonus;

        if (current.length === 0 && old.length === 0) {
          this.series = [];
        } else if (old.length === 0) {
          this.series[0].data = current;
          this.series[1].data = [];
        } else {
          this.series[0].data = current;
          this.series[1].data = old;
        }

        this.loaders.data = true;
      } catch (err) {
        this.loaders.data = true;
        // eslint-disable-next-line
        console.log(err);
      }
    }
  },
  computed: {
    oldPeriod() {
      return this.$store.getters.os_old_period;
    }
  }
};
</script>

<style>
/*.apexcharts-legend {*/
/*    flex-direction: column !important;*/
/*    align-items: flex-end !important;*/
/*}*/
</style>