.share-link {
  & > div {
    justify-content: space-between;
    margin-top: 1rem;
  }
  &__last-time {
    span {
      border-bottom: 1px dashed #bec9d4;
      display: inline;
      padding-bottom: 0.05rem;
      margin-left: 0.5rem;
      min-width: 190px;
    }
  }
  .copy-link-input {
    border: 1px solid #eff0f1;
    border-radius: 5px;
    font-size: 0.91rem;
    width: auto;
    min-width: 386px;
    padding: 0.35rem 0.8rem;

    input {
      outline: none;
      background: transparent;
      border: none;
      width: 100%;
    }

    span {
      color: #bec9d4;
      font-size: 0.91em;
      display: inline-block;
      cursor: pointer;
    }
  }
}
