@import "../variables";
$avatar-size: 98px;
.team {
  .team-form {
    .avatar-upload {
      @media (min-width: $screen-width-sm) {
        .avatar-upload__title {
          height: $avatar-size;
        }
      }
    }
  }
}
