.team-short {
  .text-grey-light {
    color: #bec9d4;
  }
  &__title {
    word-break: break-all;
  }

  &__alert {
    margin-left: -1rem;
    background: rgba(235, 87, 87, 0.1);
    margin-right: -1rem;
    padding: 1rem;
    color: #eb5757;
  }

  .check-options {
    &__small {
      li {
        font-size: 0.91rem;
        margin-bottom: 0.25rem;
      }
    }
  }

  &__status {
    font-size: 1rem;
    color: grey;
    min-height: 2rem;
    border-bottom: 1px solid transparent;

    &_edit {
      text-align: left;
      // width: 75%;
      margin: 0 auto;
      border-bottom: 1px solid #bec9d4;
    }

    input {
      min-height: 2rem;
      width: 90%;
      border: none;
      outline: none;
      color: grey;
      &::-webkit-input-placeholder {
        font-style: italic;
      }
      &:-moz-placeholder {
        font-style: italic;
      }
      &::-moz-placeholder {
        font-style: italic;
      }
      &:-ms-input-placeholder {
        font-style: italic;
      }
    }

    span {
      vertical-align: middle;
      cursor: pointer;
    }

    p {
      font-style: italic;
    }
  }
  &__read-only {
    text-overflow: ellipsis;
    text-align: center;
  }
}
