@media (min-width: $screen-width-sm) {
  .team-short {
    &__status {
      input {
        width: 87%;
      }
    }
  }
}

@media (min-width: $screen-width-notebook) {
  .team-short {
    &__status {
      input {
        width: 89%;
      }
    }
  }
}
