.tab-items-team {
  padding-top: 1.4rem;
  display: flex;
  padding-bottom: 0;
  justify-content: space-between;
  align-items: center;

  &__list {
    list-style-type: none;
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    vertical-align: middle;
    max-width: calc(100vw - 388px);
    overflow: auto;

    &_open {
      max-width: calc(100vw - 550px);
    }

    &_active {
      position: relative;
      background: linear-gradient(177.16deg, #49d8bd 28.06%, #3793ff 99.24%);
      -webkit-background-clip: text;
      background-clip: text;
      -webkit-text-fill-color: transparent;
      // border-bottom: 2px solid transparent;
      border-image: linear-gradient(177.16deg, #49d8bd 28.06%, #3793ff 99.24%);
      border-image-slice: 1;

      &::before {
        position: absolute;
        bottom: 0;
        content: "";
        display: block;
        height: 2px;
        width: 100%;
        background: linear-gradient(179.8deg, #49d8bd 28.06%, #3793ff 99.24%);
      }
    }

    li {
      font-size: 1rem;
      font-weight: 400;
      min-width: 150px;
      display: inline-block;

      margin-right: 57px;
      padding-bottom: 0.5rem;
      cursor: pointer;

      flex: none;

      img {
        width: 32px;
        height: 32px;
        margin-right: 1rem;
      }
    }
  }

  &__add {
    font-size: 1rem;
    color: #23c6ea;
    margin-top: -1.439rem;
    svg {
      margin-right: 0.75rem;
    }

    &:focus {
      outline: 0;
      box-shadow: none;
    }
  }
}
