@import "../variables";
@import "team-navigation";
@import "team-navigation-mq";
$avatar-size: 98px;
.green-check {
  width: 3rem;
  height: 2rem;
  display: inline-block;
}
.team {
  .team-tooltip {
    .tooltip-inner {
      color: #fff;
      max-width: 400px;
    }

    &__title {
      font-size: 1rem;
    }
    &__body {
      font-size: 0.91rem;
    }
    &__bottom-hint {
      max-width: 500px;
      font-weight: 300;
      font-size: 0.91rem;
      color: #808d9d;
    }
  }
}

.team-form {
  &_disabled {
    opacity: 0.6;
    .custom-control-label {
      cursor: default;
    }
  }
  &__left-side {
    max-width: 150px;
  }

  &__alert {
    display: inline-block;
    width: 100%;
    font-size: 1rem;
    font-weight: 100;
    &_danger {
      color: #eb5757;
    }
  }

  .form_input {
    background: #fafdfe;
    border: 1px solid #eff0f1;
    max-width: 300px;
  }

  &__field-name {
    font-size: 0.91rem;
    font-weight: 400;
    line-height: 1;
    text-align: left;
    margin: 0;
    color: #516378;
  }

  .avatar-upload {
    @media (min-width: $screen-width-sm) {
      .avatar-upload__title {
        height: $avatar-size;
      }
    }

    &__hint {
      font-size: 0.65rem;
      font-weight: 300;
      color: #516378;
    }

    &__file {
      cursor: pointer;
      width: $avatar-size;
      height: $avatar-size;
      background: #fafdfe;
      border: 1px solid #eff0f1;
      box-sizing: border-box;
      border-radius: 100px;
      text-align: center;
      background-size: cover;
      background-position: center center;

      svg {
        transform: translateY(100%);
      }
    }
  }
}
