@media (max-width: $screen-width-sm) {
  .tab-items-team {
    flex-direction: column-reverse;

    &__list {
      flex: 100%;
      max-width: 100%;
      overflow-x: auto;

      li {
        text-align: center;
        margin-right: 15px;
      }
    }

    &__add {
      margin-top: 0rem;
      margin-bottom: 1rem;
    }
  }
}
