.share-link {
  @media (max-width: $screen-width-xs) {
    & > div {
      flex-wrap: wrap;
      flex-direction: column;
      justify-content: flex-start;
      margin-top: 1.5rem;
    }

    .copy-link-input {
      width: 100%;
      min-width: 100px;
    }
  }
}
