<template>
  <div class="w-100">
    <div class="period">
      <span class="period__title">Выбрать гео</span>
      <b-form-select
        style="width:auto"
        class="period__select"
        v-model="geo"
        @change="geoChange"
        :options="locations"
      ></b-form-select>
    </div>
    <div class="mt-4 w-100 d-flex justify-content-between">
      <div class="w-50">
        <div
          class="mb-2"
          v-for="(task, i) in tasks.filter((t, i) => i % 2 === 0)"
          :key="i"
        >
          <b-form-checkbox
            :id="`task-o-${i}`"
            v-model="task.value"
            :name="`task-o-${i}`"
            class="green"
            >{{ task.text }}</b-form-checkbox
          >
        </div>
      </div>
      <div class="w-50">
        <div
          class="mb-2"
          v-for="(task, i) in tasks.filter((t, i) => i % 2 !== 0)"
          :key="i"
        >
          <b-form-checkbox
            :id="`task-e-${i}`"
            v-model="task.value"
            :name="`task-e-${i}`"
            class="green"
            >{{ task.text }}</b-form-checkbox
          >
        </div>
      </div>
    </div>

    <divider class="my-4" title="Команда" />

    <div v-if="masters.length">
      <b-form-checkbox
        id="all_masters"
        v-model="allMasters"
        name="all_masters"
        class="green"
        >Открыть всей команде</b-form-checkbox
      >

      <div class="sub-checkbox-block">
        <div class="mb-2" v-for="master in masters" :key="master.id">
          <b-form-checkbox
            @input="changeMasterAccess"
            :id="master.id"
            v-model="master.value"
            name="b_usd"
            class="green"
          >
            {{ master.name }}
            <span v-if="master.value && master.openDate"
              >(открыт {{ master.openDate }})</span
            >
          </b-form-checkbox>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import Divider from "../utils/Divider.vue";
import { post, get } from "../../service/api";
import { createTime } from "../../utils";
import { BFormCheckbox } from "bootstrap-vue";
import { BFormSelect } from "bootstrap-vue";
import { mapMutations, mapState } from "vuex";
export default {
  props: ["id"],
  components: {
    Divider,
    BFormSelect,
    BFormCheckbox
  },
  watch: {
    allMasters(val) {
      if (val === true) {
        this.masters.map(master => {
          master.value = true;
          return master;
        });
      }
    }
  },
  data() {
    return {
      allMasters: false,
      masters: [],
      mastersAccess: [],
      tasks: [],
      geo: "ru",
      locations: [
        {
          text: "Россия",
          value: "ru"
        },
        {
          text: "Украина",
          value: "uk"
        }
      ]
    };
  },

  computed: {
    ...mapState("team", ["activeTeam"])
  },

  methods: {
    changeMasterAccess(val) {
      console.log(val);
      if (val == false) {
        this.allMasters = false;
      }
    },
    geoChange() {
      console.log("geoChange");
    },
    async getTeamOfferAccess() {
      const response = await get(`/offer/${this.id}/access`);
      this.tasks = response.data.tasks;
      this.mastersAccess = response.data.masters;
    }
  },
  mounted() {
    this.getTeamOfferAccess();

    if (this.activeTeam.masters.length) {
      this.masters = this.activeTeam.masters
        .reduce((p, c) => {
          p.push({
            id: c.id,
            name: c.name,
            value: false
          });

          return p;
        }, [])
        .map(master => {
          const accessMaster = this.mastersAccess.find(m => m.id === master.id);
          if (accessMaster) {
            master.value = accessMaster.value;
            master.openDate = accessMaster.openDate;
          }
          return master;
        });
    }
  }
};
</script>

<style>
</style>