<template>
  <a class="slider-item">
    <div class="slider-item__wrap">
      <div class="slider-item__img">
        <img :src="img" />
        <span class="slider-item__type" v-if="type === 'private'">Приватный</span>
      </div>
      <h5 class="slider-item__title">{{ title }}</h5>

      <div class="slider-item__body">
        <div class="slider-item__date">
          <span>Дата выхода:</span>
          <span>{{ time }}</span>
        </div>
        <div class="slider-item__value">
          <span class="slider-item__price" v-for="(item, index) in price.slice(0, 3)" :key="index">
            <icon-russia v-if="item.country === 'RUS'" class="slider-item__icon"></icon-russia>
            <icon-ukraine v-if="item.country === 'UA'" class="slider-item__icon"></icon-ukraine>
            {{ item.price | formatPrice }} RUB /
            {{ item.affiliate_payout | formatPrice }} RUB
          </span>
        </div>
        <div
          class="slider-item__geo-prompt"
          v-if="price.length > 3"
        >Показать все {{ price.length }} гео</div>
      </div>
    </div>
    <div class="slider-item__action">
      <button
        @click.stop="showAccessModal = true"
        v-if="hasAccess"
        class="btn btn-outline font-weight-500 btn-outline__size-small btn-block"
      >Изменить доступ</button>
      <button
        @click.stop="showAccessModal = true"
        v-else
        class="mt-3 btn btn-outline font-weight-500 btn-outline__size-small btn-block"
      >Добавить доступ</button>
    </div>

    <b-modal
      size="md"
      :title="`Открыть доступ к офферу  “${title}”`"
      centered
      modal-class="offer-access-add-modal"
      v-model="showAccessModal"
    >
      <offer-access-form :id="id" />
      <template v-slot:modal-footer>
        <div class="w-100 text-center">
          <button @click="confirmChangeAccess" class="btn btn-outline">Подтвердить</button>
        </div>
      </template>
    </b-modal>
  </a>
</template>

<script>
import IconRussia from "../icons/country/Russia";
import IconUkraine from "../icons/country/Ukraine";
import { BModal } from "bootstrap-vue";
import { formatPrice } from "../../utils";
import OfferAccessForm from "./OfferAccessForm.vue";

export default {
  data() {
    return {
      showAccessModal: false
    };
  },
  components: {
    IconRussia,
    IconUkraine,
    BModal,
    OfferAccessForm
  },
  props: {
    id: String,
    img: String,
    title: String,
    link: String,
    time: String,
    price: Array,
    type: String,
    hasAccess: Boolean
  },
  methods: {
    confirmChangeAccess() {
      this.showAccessModal = false;
    },
    addAccess() {
      console.log("addAccess");
    },
    editAccess() {
      console.log("editAccess");
    }
  },
  filters: {
    formatPrice
  }
};
</script>

<style scoped>
</style>