<template>
  <section class="offers section p-0">
    <div class="px-4 pt-4 pb-0">
      <h2 class="h2 section__title" :class="{ 'mb-0': collapse }">
        <span>Приватные офферы</span>
      </h2>
      <input-with-button
        class="mt-4"
        label="Поиск"
        inputType="text"
        btnText="Найти"
        placeholder="Название офера"
        @getVal="filterOffers"
      />
    </div>
    <div
      class="private-ofers"
      :class="{ 'private-ofers_open': open }"
      v-if="loaders.data"
    >
      <swiper ref="private_offer_slider_swiper" :options="sliderOptions">
        <swiper-slide v-for="(item, index) in sliders" :key="index">
          <private-offer-slider-item
            :id="item.id"
            :title="item.title"
            :img="item.img"
            :link="item.link"
            :time="item.time"
            :price="item.price"
            :type="item.type"
            :hasAccess="item.hasAccess"
          />
        </swiper-slide>
      </swiper>

      <div class="slider-navigation" :class="{ 'd-none': collapse }">
        <button
          type="button"
          class="slider-navigation__button slider-navigation__button_prev d-none d-md-flex"
        >
          <arrow-gradient-left></arrow-gradient-left>
        </button>
        <div class="slider-navigation__pagination"></div>
        <button
          type="button"
          class="slider-navigation__button slider-navigation__button_next d-none d-md-flex"
        >
          <arrow-gradient-right></arrow-gradient-right>
        </button>
      </div>
    </div>

    <div class="text-center" v-if="!loaders.data">
      <b-spinner label="Spinning"></b-spinner>
    </div>
  </section>
</template>

<script>
import ArrowGradientLeft from "../icons/ArrowGradientLeft";
import ArrowGradientRight from "../icons/ArrowGradientRight";
import PrivateOfferSliderItem from "./PrivateOfferSliderItem.vue";
import InputWithButton from "../utils/InputWithButton.vue";
import { swiper, swiperSlide } from "vue-awesome-swiper";

import { get } from "../../service/api";
import { BSpinner } from "bootstrap-vue";

export default {
  components: {
    BSpinner,
    PrivateOfferSliderItem,
    swiper,
    swiperSlide,
    ArrowGradientLeft,
    ArrowGradientRight,
    InputWithButton
  },
  data() {
    return {
      loaders: {
        data: false
      },
      sliderOptions: {
        // slidesPerGroup: 1,
        // slidesPerView: 1,
        navigation: {
          prevEl: ".slider-navigation__button_prev",
          nextEl: ".slider-navigation__button_next"
        },
        loop: true,
        loopFillGroupWithBlank: false,
        pagination: {
          el: ".slider-navigation__pagination",
          clickable: true,
          renderBullet: function(index, className) {
            return (
              '<span class="' +
              className +
              ' swiper-pagination-bullet__wrap">' +
              '<i class="' +
              "swiper-pagination-bullet__icon" +
              '"></i>' +
              "</span>"
            );
          }
        },
        // autoplay: {
        //   delay: 5000
        // },
        breakpoints: {
          4500: {
            slidesPerView: 8,
            slidesPerGroup: 8,
            spaceBetween: 18
          },
          1800: {
            slidesPerView: 7,
            slidesPerGroup: 7,
            spaceBetween: 18
          },
          1600: {
            slidesPerView: 6,
            slidesPerGroup: 6,
            spaceBetween: 18
          },
          1440: {
            slidesPerView: 5,
            slidesPerGroup: 5,
            spaceBetween: 18
          },
          1200: {
            slidesPerView: 4,
            slidesPerGroup: 4,
            spaceBetween: 18
          },
          991: {
            slidesPerView: 3,
            slidesPerGroup: 3,
            spaceBetween: 18
          },
          767: {
            slidesPerView: 2,
            slidesPerGroup: 2,
            spaceBetween: 18
          },
          575: {
            slidesPerView: "auto",
            slidesPerGroup: 1,
            spaceBetween: 18
          }
        }
      },
      sliders: [],
      collapse: false,
      watcher_open: null
    };
  },
  mounted() {
    let that = this;
    this.loadData();
    this.watcher_open = this.$store.watch(
      (state, getters) => getters.sidebar_open,
      () => {
        that.$refs.private_offer_slider_swiper.update();
      }
    );
  },
  beforeDestroy() {
    this.watcher_open();
  },
  computed: {
    open() {
      return this.$store.getters.sidebar_open;
    }
  },
  methods: {
    filterOffers(val) {
      console.log(val);
    },
    async loadData() {
      try {
        const response = await get("offers/private/list");
        setTimeout(() => {
          this.sliders = response.data.data;
          this.loaders.data = true;
        }, 1500);
      } catch (err) {
        // eslint-disable-next-line
        console.log(err);
      }
    }
  }
};
</script>

<style scoped>
</style>