@media (max-width: $screen-width-lg) {
  .btn-gradient {
    padding: 1rem;
  }
}
@media (max-width: $screen-width-sm) {
  .btn-gradient {
    padding: 7px 9px 9px 11px;
    .text {
      font-size: 0.875rem;
      margin-right: 36px;
    }
  }
}
@media (max-width: $screen-width-xs) {
  .btn-gradient {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 12px 1rem;
    .text {
      font-size: 0.75rem;
      margin-right: 1rem;
    }
  }
}