.btn-gradient {
  background: linear-gradient(122.41deg, #00D1FF 4.8%, #0BA8EA 56.69%, #1485D7 101.83%);
  border-radius: 10px;
  padding: 1.1875rem 1.8125rem 1.25rem 1.5625rem;
  border: 1px solid #00D1FF !important;
  line-height: 1.125rem;
  transition: 0.3s;
  svg {
    transition: 0.3s;
  }
  &:not(.disabled):hover {
    background: linear-gradient(160.41deg, #00D1FF 4.8%, #0BA8EA 56.69%, #1485D7 101.83%);
    border: 1px solid #00D1FF;
    svg {
      transform: rotate(90deg);
    }
  }
   &__size-md {
     padding: 11px 28px;
     .text {
       font-size: 0.875rem;
     }
   }

  &__text-center {
    text-align: center;
    .text {
      margin-right: 0 !important;
    }
  }
  &__outline {
    background: none;
    border-width: 2px !important;
    border-color: #43bfd5 !important;
    &.disabled {
      background-color: white;
    }
    .text {
      color:  #516378 !important;
    }
    &:hover {
      .text {
        color: white !important;
      }
    }
  }
  .text {
    font-weight: bold;
    font-size: 1rem;
    color: white;
    margin-right: 51px;
  }
}

@import "btn-gradient-mq";