@media (max-width: $screen-width-sub-lg) {
  .web-masters-table-wrap {
    max-width: calc(100vw - 190px);
    overflow: auto;
  }
}

@media (max-width: $screen-width-md) {
  .web-masters-table-wrap {
    max-width: calc(100vw - 1px);
    overflow: auto;
  }
}

@media (max-width: $screen-width-xs) {
  .web-masters {
    &__balance {
      min-width: 170px;
      margin-right: 1.5rem;
    }
  }
}

@media (max-width: $screen-width-sm) {
  .web-masters {
    &__balance {
      min-width: 300px;
      margin-right: 0.25rem;
    }
  }
}
// @media (max-width: $screen-width-xs) {
//   .web-masters {
//     &__header {
//       flex-wrap: wrap;

//       .btn-collapse {
//         top: 25px;
//         right: 20px;
//         position: absolute;
//       }

//       .section__caption {
//         max-width: 100%;
//       }

//       .period {
//         margin-top: 0.5rem;
//       }
//     }
//   }
//   .web-masters-table {
//     min-width: auto;
//   }

//   .stat-var-1,
//   .stat-var-2,
//   .stat-var-3 {
//     .web-masters-table-header {
//       &__item {
//         font-size: 12px;

//         &_name {
//           padding-left: 8px;
//           flex: 35%;
//           max-width: 35%;
//         }

//         &_confirm-lid {
//           display: none;
//         }
//         &_tested-offers {
//           display: none;
//         }
//         &_summ-work {
//           display: none;
//         }
//         &_change {
//           display: none;
//         }
//         &_balance {
//           display: none;
//         }
//         &_status {
//           display: none;
//         }
//       }
//     }

//     .web-masters-table-item {
//       align-items: center;
//       padding: 1rem;
//       font-size: 12px;

//       &_mb-hide {
//         margin-top: 1rem;
//         padding-top: 1rem;
//         padding-bottom: 1rem;
//         display: none;
//         flex: 100%;
//         max-width: 100%;
//         position: relative;
//         padding-left: 60% !important;
//         border-bottom: 1px solid #eff0f1;
//         justify-content: left;
//         margin-top: 0;

//         &::before {
//           position: absolute;
//           display: block;
//           max-width: 37%;
//           overflow: hidden;
//           left: 0;
//           color: #808d9d;
//         }
//       }

//       &__name {
//         order: 0;
//         flex: 90%;
//         max-width: 90%;
//       }

//       &__confirm-lid {
//         order: 1;

//         &::before {
//           content: "Подтвержденные лиды";
//         }
//       }
//       &__tested-offers {
//         order: 2;

//         &::before {
//           content: "Протестированные офферы";
//         }
//       }
//       &__summ-work {
//         order: 3;

//         &::before {
//           content: "Суммарный вклад";
//         }
//       }
//       &__balance {
//         order: 4;

//         &::before {
//           content: "Баланс";
//         }
//       }

//       &__change {
//         order: 6;

//         &::before {
//           content: "Изменение";
//         }

//         .change {
//           min-width: auto;
//           padding-left: 2px;
//         }
//         svg {
//           display: none;
//         }
//       }

//       &__status {
//         order: 7;
//         padding-left: 0 !important;
//         border-bottom: none;
//       }

//       .btn-collapse {
//         order: 0;
//         width: 15px !important;
//         height: 15px !important;
//         margin-left: 0 !important;
//         padding: 0;
//       }

//       &_open {
//         .web-masters-table-item__confirm-lid {
//           display: flex;
//         }
//         .web-masters-table-item__tested-offers {
//           display: flex;
//         }
//         .web-masters-table-item__summ-work {
//           display: flex;
//         }

//         .web-masters-table-item__change {
//           display: flex;
//         }
//         .web-masters-table-item__balance {
//           display: flex;
//         }
//         .web-masters-table-item__status {
//           display: flex;
//         }
//       }
//     }
//   }

//   .web-masters-table-body {
//     padding-right: 8px;
//   }
// }
