.web-masters {
  min-height: 100%;
}
.web-masters-table {
  min-width: 1300px;
}
.web-masters-table-body {
  max-height: 682px;
  padding: 2px;
}

@mixin head-custom($name, $tested-offers, $confirm-lid, $summ-work, $change, $balance, $status) {
  display: flex;
  align-items: center;
  margin-bottom: 1.125rem;
  &_hint {
    vertical-align: middle;
    cursor: pointer;
  }
  &__item {
    display: inline-block;
    font-size: 0.875rem;
    line-height: 1rem;
    color: #808d9d;

    &_name {
      flex: $name;
      max-width: $name;
      padding-left: 1.5rem;
    }

    &_confirm-lid {
      text-align: center;
      flex: $tested-offers;
      max-width: $tested-offers;
    }
    &_tested-offers {
      text-align: center;
      flex: $confirm-lid;
      max-width: $confirm-lid;
    }

    &_summ-work {
      text-align: center;
      flex: $summ-work;
      max-width: $summ-work;
    }
    &_change {
      text-align: center;
      flex: $change;
      max-width: $change;
    }
    &_balance {
      text-align: center;
      flex: $balance;
      max-width: $balance;
      // background-color: #edf8fb;
      // border-radius: 5px;
      // padding: 10px 5px;
    }

    &_status {
      flex: $status;
      max-width: $status;
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
      padding-right: 1rem;
    }
  }
}

@mixin item-custom($name, $tested-offers, $confirm-lid, $summ-work, $change, $balance, $status) {
  .status_icons {
    color: #53c1ff;
    font-size: 0.91rem;

    .vis_hover {
      opacity: 0;
      vertical-align: middle;

      &:hover {
        opacity: 1;
      }
    }
  }

  &:hover {
    // border-width: 2px;
    border-color: transparent;
    box-shadow: 0 0 0 2px #43bfd5;

    .status_icons {
      .vis_hover {
        opacity: 1;
      }
    }
  }

  display: flex;
  align-items: center;
  flex-wrap: wrap;
  background: #fafdfe;
  border: 1px solid #eff0f1;
  border-radius: 5px;
  margin-bottom: 10px;
  transition: 0.3s;
  padding: 15px 0;
  cursor: pointer;

  & > div {
    padding-left: 10px;
    padding-right: 10px;
  }
  &_disabled {
    & > div {
      &:not(.web-masters-table-item__status) {
        opacity: 0.5;
      }
    }
    // .web-masters-table-item {
    //   &__balance {
    //     opacity: 0.5;
    //   }
    // }
    // opacity: 0.5;

    .i_leads {
      filter: grayscale(1);
      opacity: 0.5;
    }
    .i_statistics {
      filter: grayscale(1);
      opacity: 0.5;
    }
  }

  &:hover,
  &:focus {
    background: darken(#fafdfe, 3%);
    // border-color: darken(#eff0f1, 3%);
  }
  &:last-child {
    margin-bottom: 0;
  }
  &_active {
    border-width: 2px;
    border-color: #43bfd5;
    &:hover,
    &:focus {
      border-color: darken(#43bfd5, 3%);
    }
  }
  &__name {
    padding-left: 27px !important;

    .item-index {
      width: 24px;
      display: inline-block;
      text-align: center;
      margin-right: 20px;
    }
    img {
      border-radius: 2rem;
    }

    &_val {
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
      display: inline-block;
      max-width: 100%;
    }

    // & > span {
    //   display: block;
    //   text-align: center;
    //   margin-right: 20px;
    // }

    font-weight: 500;
    flex: $name;
    max-width: $name;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }

  &__confirm-lid {
    text-align: center;
    flex: $tested-offers;
    max-width: $tested-offers;
  }
  &__tested-offers {
    text-align: center;
    flex: $confirm-lid;
    max-width: $confirm-lid;
  }
  &__summ-work {
    text-align: center;
    flex: $summ-work;
    max-width: $summ-work;
  }

  &__change {
    display: flex;
    align-items: center;
    justify-content: center;
    flex: $change;
    max-width: $change;
    .change {
      display: inline-block;
      font-weight: bold;
      text-align: center;
      color: #2b415b;
    }
    .arrow {
      margin-top: 6px;
      transition: 0.3s;
      transform: rotate(90deg);
    }
    &_up {
      .change {
        background: linear-gradient(166.83deg, #49d8bd 28.06%, #3793ff 99.24%);
        -webkit-background-clip: text;
        background-clip: text;
        -webkit-text-fill-color: transparent;
      }
    }
    &_down {
      .change {
        color: #ff5353;
      }
    }
  }

  &__balance {
    text-align: center;
    flex: $balance;
    max-width: $balance;
    display: flex;
  }

  &__status {
    flex: $status;
    max-width: $status;
    display: flex;
  }
}

.stat-var-1 {
  $name: 22%;
  $tested-offers: 10%;
  $confirm-lid: 10%;
  $summ-work: 10%;
  $change: 8%;
  $balance: 18%;
  $status: 22%;
  .web-masters-table-header {
    @include head-custom(
      $name,
      $tested-offers,
      $confirm-lid,
      $summ-work,
      $change,
      $balance,
      $status
    );
  }
  .web-masters-table-item {
    @include item-custom(
      $name,
      $tested-offers,
      $confirm-lid,
      $summ-work,
      $change,
      $balance,
      $status
    );
  }
}
.stat-var-2 {
  min-width: 1200px;
  $name: 21%;
  $tested-offers: 11%;
  $confirm-lid: 11%;
  $summ-work: 11%;
  $change: 8%;
  $balance: 18%;
  $status: 20%;
  .web-masters-table-header {
    @include head-custom(
      $name,
      $tested-offers,
      $confirm-lid,
      $summ-work,
      $change,
      $balance,
      $status
    );
  }
  .web-masters-table-item {
    @include item-custom(
      $name,
      $tested-offers,
      $confirm-lid,
      $summ-work,
      $change,
      $balance,
      $status
    );
  }
}
.stat-var-3 {
  min-width: 600px;

  .web-masters-table-body {
    max-height: 490px;
  }

  $name: 40%;
  $tested-offers: 0%;
  $confirm-lid: 0%;
  $summ-work: 30%;
  $change: 30%;
  $balance: 0%;
  $status: 0%;
  .web-masters-table-header {
    @include head-custom(
      $name,
      $tested-offers,
      $confirm-lid,
      $summ-work,
      $change,
      $balance,
      $status
    );
  }
  .web-masters-table-item {
    @include item-custom(
      $name,
      $tested-offers,
      $confirm-lid,
      $summ-work,
      $change,
      $balance,
      $status
    );
  }
}

.web-masters-table-wrap {
  max-width: calc(100vw - 230px);
  overflow: auto;

  &_open {
    max-width: calc(100vw - 380px);
  }
}

.main_open {
  .web-masters-table-item {
    &__name {
      flex: 12.2%;
      max-width: 12.2%;
    }
  }
  .web-masters-table-header {
    &__item {
      &_status {
        flex: 39.75%;
        max-width: 39.75%;
      }
    }
  }
}
