<template>
    <div class="like" :class="{'dislike': !like}" @click="vote">
        <like-icon v-if="like"></like-icon>
        <disike-icon v-else></disike-icon>
        <span class="like__count">{{count | formatPrice}}</span>
    </div>
</template>

<script>
    import LikeIcon from '../icons/LikeGradient'
    import DisikeIcon from '../icons/DislikeGradient'
    import {post} from '../../service/api';
    import {formatPrice} from '../../utils/'

    export default {
        name: "Like",
        props: {
            like: Boolean,
            count: Number,
            id: String,
            target: String
        },
        data() {
          return {
              loaders: {
                  vote: false,
                  error: false
              },
          }
        },
        components: {
            LikeIcon,
            DisikeIcon
        },
        methods: {
            async vote() {
                this.loaders.vote = false;
                // добавить обновление счетчиков
                try {
                    let req = {};
                    req[this.target] = this.id;
                    req.assessment = this.like ? 'like' : 'dislike';
                    await post('news/vote', req);
                    this.$emit('vote');
                    this.loaders.vote = true;
                } catch (err) {
                    this.loaders.error = true;
                    this.loaders.vote = true;
                    // eslint-disable-next-line
                    console.log(err);

                }
            }
        },
        filters: {
            formatPrice
        }
    }
</script>