.btn-outline {
  border-radius: 5px;
  font-size: 0.91rem;
  padding: 0.5rem 1.35rem;
  border-width: 0;
  // border: 2px solid #00d1ff !important;
  line-height: 1.125rem;
  transition: 0.3s;
  text-transform: uppercase;
  font-weight: 500;
  letter-spacing: 0.05em;
  transition: background 0.25s linear, color 0.05s linear;

  border-color: transparent;
  box-shadow: 0 0 0 2px #04c4f8;
  outline: none;

  &:focus {
    outline: none;
    box-shadow: 0 0 0 2px #00d1ff;
  }

  &:not(.disabled):hover,
  &:active {
    // color: #33daff;
    // box-shadow: 0 0 0 2px #33daff;
    // background: linear-gradient(129.93deg, #33daff 4.8%, #0094ff 101.83%);
    // -webkit-background-clip: text;
    // -webkit-text-fill-color: transparent;

    background: linear-gradient(160.41deg, #00d1ff 4.8%, #0ba8ea 56.69%, #1485d7 101.83%);
    color: #fff;
    box-shadow: 0 0 0 2px #43bfd5;
  }

  .text {
    font-weight: bold;
    font-size: 1rem;
    color: white;
    margin-right: 51px;
  }

  &__size-small {
    padding: 0.42rem 0.5rem 0.3rem;
    font-size: 0.75rem;
    font-weight: 400;
  }

  &__size-sm {
    padding: 0.5rem 0.5rem;
    font-size: 0.9rem;
    font-weight: 600;
  }
}
