<template>
  <ul class="check-options" :class="customTextClass">
    <li v-for="(option,idx) in options" :key="idx" class="d-flex">
      <span class="check-options__icon-wrap">
        <icon-base v-if="option.success" width="22" height="22">
          <icon-check></icon-check>
        </icon-base>
        <b-icon v-if="!option.success" icon="alert-circle-fill" variant="danger" class="h3"></b-icon>
      </span>
      <span>{{option.text}}</span>
    </li>
  </ul>
</template>

<script>
import { BIcon, BIconAlertCircleFill } from "bootstrap-vue";
import IconBase from "../icons/IconBase";
import IconCheck from "../icons/Check";

export default {
  components: { IconBase, IconCheck, BIcon, BIconAlertCircleFill },
  props: {
    options: { type: Array, default: [] },
    customTextClass: {
      type: String,
      default: ""
    }
  }
};
</script>