<template>
    <div class="rating-table-item"
         @click="open = !open"
         :class="{
             'rating-table-item_open': open,
             'rating-table-item_active': is_user
             }"
    >
        <div class="rating-table-item__site">
            <crown v-if="site == 1"></crown>
            <span class="site" v-else>{{site}}</span>
            <span class="modifier" v-if="modifier"
                  :class="{'modifier_pro': modifier == 'pro', 'modifier_med': modifier == 'med'}">
                {{modifier}}
            </span>
            <partner-icon v-b-tooltip.hover title="Партнер wecpa"  width="18" height="18" class="ml-2" v-if="partner == 'wecpa'"></partner-icon>
        </div>
        <div class="rating-table-item__name">{{name}}</div>
        <div class="rating-table-item__regalia">
            <div class="rating-table-item__icons" v-if="regalia.length > 0">
                <beauty v-b-tooltip.hover title="Ценитель красоты" v-if="regalia.includes('health')" class="highlight"></beauty>
                <accessory-supplier v-b-tooltip.hover title="Поставщик аксессуаров" v-if="regalia.includes('accessory_supplier')" class="highlight"></accessory-supplier>
                <health v-b-tooltip.hover title="Конкурент Минздрава" v-if="regalia.includes('health')" class="highlight"></health>
                <jobs v-b-tooltip.hover title="Второй после Джобса" v-if="regalia.includes('jobs')" class="highlight"></jobs>
                <fish v-b-tooltip.hover title="Заядлый рыбак и охотник" v-if="regalia.includes('fish')" class="highlight"></fish>
                <business-executive v-b-tooltip.hover title="Хозяйственник" v-if="regalia.includes('business_executive')" class="highlight"></business-executive>
                <adult v-b-tooltip.hover title="Орден адалта" v-if="regalia.includes('adult')" class="highlight"></adult>
                <fashion v-b-tooltip.hover title="Главный в мире моды" v-if="regalia.includes('fashion')" class="highlight"></fashion>
                <tuning v-b-tooltip.hover title="Тюнинг-профи" v-if="regalia.includes('tuning')" class="highlight"></tuning>
                <esoteric v-b-tooltip.hover title="Страстный эзотерик" v-if="regalia.includes('esoteric')" class="highlight"></esoteric>
                <tester v-b-tooltip.hover title="Неутомимый тестировщик" v-if="regalia.includes('tester')" class="highlight"></tester>
                <exporter v-b-tooltip.hover title="Крупный экспортер" v-if="regalia.includes('exporter')" class="highlight"></exporter>
                <lead-machine v-b-tooltip.hover title="Лид-машина" v-if="regalia.includes('lead_machine')" class="highlight"></lead-machine>
                <gamer v-b-tooltip.hover title="Игрок-универсал" v-if="regalia.includes('gamer')" class="highlight"></gamer>
                <professor v-b-tooltip.hover title="Профессор" v-if="regalia.includes('professor')" class="highlight"></professor>
                <approve v-b-tooltip.hover title="Медаль за аппрув" v-if="regalia.includes('approve')" class="highlight"></approve>

            </div>
            <span v-else>
                <span class="title">
                     Пока не получено
                </span>
            </span>
        </div>
        <div class="rating-table-item__status">{{status}}</div>
        <div class="rating-table-item__like-value">{{like_count | formatPrice}}</div>
        <div class="rating-table-item__change"
             :class="{
                        'rating-table-item__change_up': change > 0,
                        'rating-table-item__change_down': change < 0,
                        'rating-table-item__change_without-change': change == 0
             }">
            <span class="change">
                {{ addPlus(change) | formatPrice }}
            </span>
            <icon-base v-if="big"
                    width="7"
                    height="11"
                    viewBox="0 0 7 11"
                    class="arrow"
                    :iconColor="'#E5E5E5'">
                <icon-arrow></icon-arrow>
            </icon-base>
        </div>
        <div  class="btn-collapse btn-collapse_transparent  d-flex d-sm-none ml-4"
              :class="{'btn-collapse_close': !open}">
            <arrow-gradient-top></arrow-gradient-top>
        </div>
    </div>
</template>

<script>
    import Crown from '../icons/Crown'
    import IconBase from "../icons/IconBase";
    import IconArrow from '../icons/Arrow'
    import AccessorySupplier from '../icons/regalia/AccessorySupplier'
    import Adult from '../icons/regalia/Adult'
    import Approve from '../icons/regalia/Approve'
    import Beauty from '../icons/regalia/Beauty'
    import BusinessExecutive from '../icons/regalia/BusinessExecutive'
    import Esoteric from '../icons/regalia/Esoteric'
    import Exporter from '../icons/regalia/Exporter'
    import Fashion from '../icons/regalia/Fashion'
    import Fish from '../icons/regalia/Fish'
    import Gamer from '../icons/regalia/Gamer'
    import Health from '../icons/regalia/Health'
    import Jobs from '../icons/regalia/Jobs'
    import LeadMachine from '../icons/regalia/LeadMachine'
    import Professor from '../icons/regalia/Professor'
    import Tester from '../icons/regalia/Tester'
    import Tuning from '../icons/regalia/Tuning'
    import ArrowGradientTop from "../icons/ArrowGradientTop"
    import PartnerIcon from '../icons/partnerIcon'

    import  {formatPrice, addPlus, windowResize} from "../../utils";

    export default {
        name: "RatingTableItem",
        components: {
            Crown,
            IconArrow,
            IconBase,
            AccessorySupplier,
            Adult,
            Approve,
            Beauty,
            BusinessExecutive,
            Esoteric,
            Exporter,
            Fashion,
            Fish,
            Gamer,
            Health,
            Jobs,
            LeadMachine,
            Professor,
            Tester,
            Tuning,
            ArrowGradientTop,
            PartnerIcon
        },
        props: {
            site: Number,
            name: String,
            status: String,
            modifier: String,
            like_count: Number,
            change: Number,
            regalia: Array,
            is_user: Boolean,
            partner: String
        },
        data() {
            return {
                open: false,
                icons_name: {

                },
                big: false
            }
        },
        mounted() {
            if ((window.innerWidth > 1024 && document.querySelector('.rating-table-item__status').clientWidth / this.status.length < 8.23) || this.regalia.length > 5) {
                this.big = true;
            }
            windowResize(() => {
                if (window.innerWidth > 1024 && (document.querySelector('.rating-table-item__status').clientWidth / this.status.length < 8.23) || this.regalia.length > 5) {
                    this.big = true;
                }
            })
        },
        filters: {
            formatPrice,
        },
        methods: {
            addPlus
        }
    }
</script>