<template>
    <section class="rating section mb-30">
        <header class="rating__header section__header" :class="{'align-items-center': open}">
            <div class="section__caption">
                <h2 class="h2 section__title mb-5-px" :class="{'mb-0': open}">Рейтинг</h2>
                <span class="section__clarification"  :class="{'d-none': open}">По количеству аппрув-лидов</span>
            </div>
            <div class="period mr-30 mr-xl-0">
                <span class="period__title" :class="{'d-none': open}">Период</span>
                <b-form-select class="period__select"
                               :class="{'d-none': open}"
                               v-model="period"
                               @change="changePeriod"
                               :options="period_options">
                </b-form-select>
                <button type="button"
                        class="btn-collapse icon-arrow-bottom ml-4 d-flex"
                        :class="{'btn-collapse_close': open}"
                        @click="collapse">
                </button>
            </div>
        </header>
        <rating-table class="mt-28"
                      :class="{'d-none': open}"
                      :loading="loaders.data"
                      :rating="rating"
                      :user="user"
                      :all_data_loaded="loaders.all_data_loaded"
                      @scrollFull="loadData"
        ></rating-table>
    </section>
</template>

<script>
    import RatingTable from "./RatingTable";

    import {BFormSelect} from 'bootstrap-vue'

    import {post} from '../../service/api';
    import {createTime} from "../../utils";
    import ArrowGradientTop from "../icons/ArrowGradientTop"

    export default {
        name: "Rating",
        components: {
            'b-form-select': BFormSelect,
            RatingTable,
            ArrowGradientTop
        },
        data() {
            return {
                loaders: {
                    data: false,
                    first_load: true,
                    all_data_loaded: false
                },
                period: 'today',
                period_options: [{
                    value: 'today',
                    text: 'за сегодня'
                }, {
                    value: 'at_week',
                    text: 'за неделю'
                }, {
                    value: 'at_month',
                    text: 'за месяц',
                }],
                from: 1,
                to: 10,
                total: 0,
                rating: [],
                user: {},
            }
        },
        mounted() {
            this.firstLoad();
        },
        methods: {
            changePeriod() {
                /*
                * При нулевой задержке внутренний планировщик setTimeout будет ждать выполнения предыдущего кода.
                * Это небольшой хак, при переключении периода, DOM не успевает обновиться,
                * из-за этого на мгновение появляется сообщение "Больше нечего показывать" (только если прокрутили
                * список до конца). Если так не сделать - будет мелькать сообщение.
                * */
                this.loaders.all_data_loaded = false;

                setTimeout(() => {
                    this.resetData();
                    this.firstLoad();
                })
            },
            async firstLoad() {
                this.loaders.data = false;
                try {
                    const response = await post('rating/list', {
                        period: createTime(this.period),
                        from: this.from,
                        to: this.to
                    });

                    this.from = this.from + 10;
                    this.to = this.to + 10;

                    this.user = response.data.user;
                    this.rating = this.rating.concat(response.data.all);
                    this.total = response.data.count_all;

                    this.loaders.data = true;
                    this.loaders.first_load = false;
                } catch (err) {
                    this.loaders.data = true;
                    this.loaders.first_load = false;
                    // eslint-disable-next-line
                    console.log(err);

                }
            },
            async loadData() {
                if (!this.loaders.first_load && this.total > this.rating.length) {
                    this.loaders.data = false;
                    try {
                        const response = await post('rating/list', {
                            period: createTime(this.period),
                            from: this.from,
                            to: this.to
                        });

                        this.from = this.from + 10;
                        this.to = this.to + 10;


                        this.user = response.data.user;
                        this.rating = this.rating.concat(response.data.all);
                        this.total = response.data.count_all;

                        this.loaders.data = true;
                        this.loaders.first_load = false;
                    } catch (err) {
                        this.loaders.data = true;
                        this.loaders.first_load = false;
                        // eslint-disable-next-line
                        console.log(err);

                    }
                } else {
                    this.loaders.all_data_loaded = true;
                }
            },
            resetData() {
                this.loaders.first_load = true;
                this.total = 0;
                this.from = 1;
                this.to = 10;
                this.user = {};
                this.rating = [];
            },
            collapse() {
                let state = this.$store.getters.rating;
                this.$store.dispatch('RatingOpen', !state);
            }
        },
        computed: {
            open() {
                return this.$store.getters.rating
            }
        }
    }
</script>

<style scoped>

</style>