<template>
    <div class="rating-table">
        <header class="rating-table-header">
            <span class="rating-table-header__item rating-table-header__item_site">Место</span>
            <span class="rating-table-header__item rating-table-header__item_name">Ник</span>
            <span class="rating-table-header__item rating-table-header__item_regalia">Регалии</span>
            <span class="rating-table-header__item rating-table-header__item_status">Статус</span>
            <span class="rating-table-header__item rating-table-header__item_like">
                <like v-b-tooltip.hover title="Подтвержденные лиды"></like>
            </span>
            <span class="rating-table-header__item rating-table-header__item_change">Изменение</span>
        </header>
        <div class="rating-table-body" v-on:scroll="handleScroll">
            <rating-table-item v-for="(item, index) in rating"
                               :key="index"
                               :site="item.site"
                               :name="item.name"
                               :status="item.status"
                               :modifier="item.modifier"
                               :like_count="item.like_count"
                               :change="item.change"
                               :regalia="item.regalia"
                               :partner="item.partner"
                               :is_user="item.site === user.site">
            </rating-table-item>
            <b-alert :show="loading && rating.length === 0" class="text-center mb-0">Рейтинг пуст</b-alert>
<!--            <b-alert v-if="all_data_loaded" show class="text-center mb-0">Больше нечего показывать</b-alert>-->
            <div class="text-center" v-if="!loading">
                <b-spinner label="Spinning"></b-spinner>
            </div>
        </div>
        <hr class="section__divider mt-3" v-if="Object.keys(user).length > 0">
        <footer class="rating-table-footer" v-if="Object.keys(user).length > 0" @click="open = !open">
            <div class="rating-table-footer__item rating-table-footer__item_site">
                <span>{{user.site}}</span>
            </div>
            <div class="rating-table-footer__item rating-table-footer__item_name">
                <span class="font-weight-500">{{user.name}}</span>
            </div>
            <div class="rating-table-footer__item rating-table-footer__item_status" :class="{'rating-table-footer__item_close': !open}">
                <span class="font-weight-300">{{user.status}}</span>
            </div>
            <div class="rating-table-footer__item rating-table-footer__item_count" :class="{'rating-table-footer__item_close': !open}">
                <like></like>
                <span class="font-weight-bold">{{user.like_count | formatPrice}}</span>
            </div>
            <div class="rating-table-footer__item rating-table-footer__item_change" :class="{'rating-table-footer__item_close': !open}">
                <span class="font-weight-bold">{{ addPlus(user.change) | formatPrice }}</span>
            </div>
            <div  class="btn-collapse btn-collapse_transparent  ml-4 d-flex d-sm-none" :class="{'btn-collapse_close': !open}">
                <arrow-gradient-top></arrow-gradient-top>
            </div>
        </footer>
    </div>
</template>

<script>
    import Like from '../icons/Like'
    import ArrowGradientTop from "../icons/ArrowGradientTop"

    import RatingTableItem from "./RatingTableItem";
    import {BAlert, BSpinner} from 'bootstrap-vue';

    import {formatPrice, addPlus} from "../../utils";

    export default {
        name: "RatingTable",
        components: {
            'b-spinner': BSpinner,
            'b-alert': BAlert,
            Like,
            RatingTableItem,
            ArrowGradientTop
        },
        props: {
            loading: Boolean,
            all_data_loaded: Boolean,
            rating: Array,
            user: Object
        },
        data() {
            return {
                open: true
            }
        },

        methods: {
            addPlus,
            handleScroll(event) {
                let $target = event.target;

                if ($target.scrollHeight - $target.clientHeight == $target.scrollTop && this.loading) {
                    this.$emit('scrollFull')
                }

            }
        },

        filters: {
            formatPrice
        },
    }
</script>

<style scoped>

</style>