<template>
    <div class="feed-group">
        <span class="feed-group__date">{{convertDate}}</span>
        <feed-item v-for="(item, index) in group.group"
                   :key="index"
                   :id="item.id"
                   :time="item.time"
                   :category="item.category"
                   :offer="item.offer"
                   :offer_link="item.offer_link"
                   :comment="item.comment">
        </feed-item>
    </div>
</template>

<script>
    import FeedItem from "./FeedItem";
    import moment from 'moment'
    export default {
        name: "FeedGroup",
        props: ['group'],
        components: {
          FeedItem
        },
        data() {
          return {
              day: this.group.time.day,
              month: this.group.time.month,
              year: this.group.time.year,
              months: [
                  'января',
                  'февраля',
                  'марта',
                  'апреля',
                  'мая',
                  'июня',
                  'июля',
                  'августа',
                  'сентября',
                  'октября',
                  'ноября',
                  'декабря',
              ]
          }
        },
        computed: {
            convertDate: function() {
                let date = moment();
                let year = date.year();
                let month = date.month();
                let day = date.date();

                if (this.day == day && this.month == month && this.year == year) {
                    return `Сегодня, ${this.day} ${this.months[this.month]}`
                } else {
                    return `${this.day} ${this.months[this.month]}`
                }
            }
        }
    }
</script>