<template>
  <div class="feed-item" :class="{ 'feed-item_close': collapse }" @click="open">
    <span class="feed-item__time">{{ time.hour }}:{{ time.minute }}</span>
    <span class="feed-item__category">{{ category }}</span>
    <div class="feed-item__offer" :class="{ 'feed-item__offer_big': big }">
      <a :href="offer_link">{{ offer }}</a>
    </div>
    <span
      class="feed-item__comment"
      :class="{ 'feed-item__comment_big': big }"
      >{{ comment }}</span
    >
    <icon-base
      v-if="big"
      width="11"
      height="11"
      viewBox="0 0 7 11"
      class="arrow"
      :iconColor="'#E5E5E5'"
    >
      <icon-arrow></icon-arrow>
    </icon-base>
    <div
      class="btn-collapse btn-collapse_transparent  ml-4 d-flex d-sm-none"
      :class="{ 'btn-collapse_close': collapse }"
    >
      <arrow-gradient-top></arrow-gradient-top>
    </div>
  </div>
</template>

<script>
import ArrowGradientTop from "../icons/ArrowGradientTop";
import IconBase from "../icons/IconBase";
import IconArrow from "../icons/Arrow";

import { windowResize } from "../../utils";

export default {
  name: "FeedItem",
  components: {
    ArrowGradientTop,
    IconArrow,
    IconBase
  },
  props: {
    id: String,
    time: Object,
    category: String,
    offer: String,
    comment: String,
    offer_link: String
  },
  data() {
    return {
      collapse: true,
      big: false
    };
  },
  mounted() {
    windowResize(() => {
      this.resizeHandler();
    });
  },
  methods: {
    resizeHandler() {
      const itemCommentWidth = document.querySelector(".feed-item__comment")
        .clientWidth;
      const itemCategoryWidth = document.querySelector(".feed-item__category")
        .clientWidth;
      const itemOfferWidth = document.querySelector(".feed-item__offer")
        .clientWidth;

      let longComment = false;
      let longCategody = false;
      let longOffer = false;

      if (itemCommentWidth) {
        longComment = itemCommentWidth / this.comment.length < 8.2;
      }
      if (itemCategoryWidth) {
        longCategody = itemCategoryWidth / this.category.length < 8.2;
      }
      if (itemOfferWidth) {
        longOffer = itemOfferWidth / this.offer.length < 6.75;
      }

      if (
        (longComment || longCategody || longOffer) &&
        window.innerWidth > 575
      ) {
        this.big = true;
      } else {
        this.big = false;
      }
    },
    open(event) {
      if (Object.keys(event.target).length > 0) {
        this.collapse = !this.collapse;
      }
    }
  }
};
</script>