<template>
    <section class="section mb-30">
        <header class="feed__header section__header align-items-center flex-wrap flex-sm-nowrap">
            <div class="section__caption d-flex justify-content-between max-w-100 w-100 align-items-center">
                <h2 class="h2 section__title d-flex align-items-center mb-5-px" :class="{'mb-0': open}">
                    <span>Лента</span>
                    <span v-if="total > 0 && open" @click="collapse" class="counter counter_pointer ml-2 mt-md-1">{{total}}</span>
                </h2>
                <button-gradient @click="modalFeedState = !modalFeedState" :class="{'disabled': !loaders.options, 'd-none': open}"
                                 :text="'Настроить ленту'"></button-gradient>
            </div>
            <button type="button"
                    class="btn-collapse icon-arrow-bottom ml-4 d-flex"
                    :class="{'btn-collapse_close': open}"
                    @click="collapse">
            </button>
        </header>
        <div class="feed"  :class="{'d-none': open}">
            <header class="feed-header">
                <span class="feed-header__item">Время</span>
                <span class="feed-header__item">Категория</span>
                <span class="feed-header__item">Оффер</span>
                <span class="feed-header__item">Комментарий</span>
            </header>
            <hr class="section__divider">
            <div class="feed-body mr-negative-8" v-on:scroll="handleScroll">
                <b-alert v-if="loaders.feed && total === 0" show class="text-center mb-0">Лента пуста</b-alert>
                <div v-else>
                    <feed-group v-for="(item, index) in feed"
                                :key="index"
                                :group="item">
                    </feed-group>
                    <b-alert v-if="loaders.all_feed" show class="text-center mb-0">Больше нечего показывать</b-alert>
                    <div class="text-center" v-if="!loaders.error && !loaders.feed">
                        <b-spinner label="Spinning"></b-spinner>
                    </div>
                </div>
            </div>
        </div>
        <b-modal modal-class="modal-feed" v-model="modalFeedState" size="md" id="modal-feed" centered title="Категории оповещений">
            <div class="flex-column w-100">
                <modal-option v-for="(item, index) in options"
                              :key="index"
                              :state="item"
                              :option="index" @change="change">
                </modal-option>
            </div>
            <template v-slot:modal-footer>
                <button class="btn btn-primary btn-gradient btn-gradient__size-md btn-gradient__text-center"
                        @click="applyFilters">
                    <span class="text font-weight-normal">
                        Применить фильтры
                    </span>
                </button>
                <button class="btn btn-primary btn-gradient btn-gradient__size-md btn-gradient__text-center btn-gradient__outline" @click="resetFilters">
                    <span class="text font-weight-normal">
                        Сбросить
                    </span>
                </button>
            </template>
        </b-modal>
    </section>
</template>

<script>
    import ButtonGradient from "../buttons/ButtonGradient";
    import FeedGroup from "./FeedGroup";
    import ModalOption from "./ModalOption";

    import {get, post} from '../../service/api';
    import {sortTime, parseTime, dailyGrouping} from "../../utils";

    import {BSpinner} from 'bootstrap-vue'
    import {BAlert} from 'bootstrap-vue';
    import {BModal} from 'bootstrap-vue'

    export default {
        name: "Feed",
        components: {
            ButtonGradient,
            FeedGroup,
            'b-spinner': BSpinner,
            'b-alert': BAlert,
            'b-modal': BModal,
            ModalOption,
        },
        data() {
            return {
                loaders: {
                    first_load: true,
                    feed: false,
                    all_feed: false,
                    options: false,
                    error: false,
                },
                total: 0,
                feed: [],
                feed_count: 0,
                from: 1,
                to: 10,
                options: {
                    new_offers: true,
                    change_conditions: true,
                    disabling_offers: true,
                    payment_ordered: true,
                    payment_made: true
                },
                modalFeedState: false,
            }
        },

        mounted() {
            this.loadOptions().then(() => {
                this.firstLoadFeed();
            }).catch(() => {
                this.loaders.error = true;
            });
        },

        methods: {
            async loadOptions() {
                this.loaders.options = false;
                try {
                    const response = await get('feed/options');
                    this.options = response.data.data;
                    this.loaders.options = true;
                } catch (err) {
                    this.loaders.error = true;
                    this.loaders.options = true;
                    // eslint-disable-next-line
                    console.log(err);

                }
            },
            async firstLoadFeed() {
                this.loaders.feed = false;
                try {
                    const response = await post('feed/list', {
                        from: this.from,
                        to: this.to,
                        options: this.options
                    });

                    let data = response.data.data;
                    this.feed_count = response.data.data.length;
                    this.total = response.data.count_all;

                    sortTime(data, false);

                    for (let i = 0; i < data.length; i++) {
                        data[i].time = parseTime(data[i].time);
                    }

                    data = dailyGrouping(data);

                    this.from = this.from + 10;
                    this.to = this.to + 10;
                    this.feed = data;
                    this.loaders.first_load = false;
                    this.loaders.feed = true;
                } catch (err) {
                    this.loaders.first_load = false;
                    this.loaders.error = true;
                    this.loaders.feed = true;
                    // eslint-disable-next-line
                    console.log(err);

                }
            },
            async loadFeed() {
                if (!this.loaders.first_load && this.total > this.feed_count) {
                    this.loaders.feed = false;
                    try {

                        const response = await post('feed/list', {
                            from: this.from,
                            to: this.to,
                            options: this.options
                        });

                        let data = response.data.data;
                        this.from = this.from + 10;
                        this.to = this.to + 10;
                        this.feed_count = this.feed_count + response.data.data.length;
                        this.total = response.data.count_all;

                        sortTime(data, false);

                        for (let i = 0; i < data.length; i++) {
                            data[i].time = parseTime(data[i].time);
                        }

                        data = dailyGrouping(data);

                        this.feed = this.feed.concat(data);
                        this.loaders.feed = true;
                    } catch (err) {
                        this.loaders.error = true;
                        this.loaders.feed = true;
                        // eslint-disable-next-line
                        console.log(err);

                    }
                } else {
                    this.loaders.all_feed = true;
                }
            },
            async applyFilters() {
                this.loaders.feed = false;
                try {
                    const response = await post('feed/options', {
                        data: this.options
                    });
                    this.resetData();
                    this.firstLoadFeed().then(() => {
                        this.modalFeedState = false;
                    }).catch(() => {
                        this.modalFeedState = false;
                    });

                    this.loaders.feed = true;
                } catch (err) {
                    this.loaders.error = true;
                    this.loaders.feed = true;
                    // eslint-disable-next-line
                    console.log(err);

                }
            },
            resetFilters() {
                this.options.new_offers = false;
                this.options.change_conditions = false;
                this.options.disabling_offers = false;
                this.options.payment_ordered = false;
                this.options.payment_made = false;
            },
            resetData() {
                this.loaders.all_feed = false;
                this.loaders.first_load = true;
                this.from = 1;
                this.to = 10;
                this.feed_count = 0;
                this.total =  0;
                this.feed = [];
            },
            change(value) {
                this.options[value.el] = value.state
            },
            handleScroll(event) {
                let $target = event.target;
                if ($target.scrollHeight - $target.clientHeight == $target.scrollTop && this.loaders.feed) {
                    this.loadFeed();
                }

            },
            resetData() {
                this.loaders.first_load = true;
                this.total = 0;
                this.from = 1;
                this.to = 10;
                this.feed = [];
            },
            collapse() {
                let state = this.$store.getters.feed;
                this.$store.dispatch('FeedOpen', !state);
            }
        },
        computed: {
            open() {
                return this.$store.getters.feed
            }
        }
    }
</script>