<template>
    <div class="mb-12">
        <div class="ios-checkbox ios-checkbox_one-label d-flex justify-content-between" :id=element>
            <label :for="element + 'check'" class="ios-checkbox__title" :class="{'ios-checkbox__title_active':status}">{{title}}</label>
            <b-tooltip  :target=element triggers="hover">
                {{prompt}}
            </b-tooltip>
            <input :id="element + 'check'"
                   type='checkbox'
                   :checked=check
                   @input="change"
                   class='ios-checkbox__checkbox'>
            <label :for="element + 'check'"></label>
        </div>
    </div>
</template>

<script>
    import {BTooltip} from 'bootstrap-vue'

    export default {
        name: "ModalOption",
        props: ['option', 'state'],
        components: {
            'b-tooltip': BTooltip
        },
        data() {
            return {
                element: this.option,
                status: this.state,
                titles: {
                    new_offers: {
                        label: 'Новые офферы, которые могут меня заинтересовать',
                        prompt: 'Офферы из категорий, с которыми вы работали ранее.'
                    },
                    change_conditions: {
                        label: 'Изменение условий офферов, добавленных в "Мои"',
                        prompt: 'Изменение размера отчислений, гео, цены на лендинге, добавление новых лендингов/прелендингов'
                    },
                    disabling_offers: {
                        label: 'Отключение офферов, добавленных в "Мои"',
                        prompt: 'Запланированное и срочное отключение офферов'
                    },
                    payment_ordered: {
                        label: 'Выплата заказана',
                        prompt: 'Ваш запрос на выплату поступил в бухгалтерию'
                    },
                    payment_made: {
                        label: 'Выплата произведена',
                        prompt: 'Выплата была отправлена на ваши реквизиты'
                    }
                }
            }
        },
        methods: {
          change() {
              this.$emit('change', {
                  el: this.element,
                  state: !this.status
              })
          }
        },
        computed: {
            check() {
                return this.state;
            },
            title() {
                let title;
                for (let key in this.titles) {
                    if (key == this.element) {
                        title = this.titles[key].label;
                        break;
                    }
                }
                return title;
            },
            prompt() {
                let prompt;
                for (let key in this.titles) {
                    if (key == this.element) {
                        prompt = this.titles[key].prompt;
                        break;
                    }
                }
                return prompt;
            }
        }
    }
</script>