@media (max-width: $screen-width-sub-full-hd) {
  .news-item {
    &__img {
      height: 138px;
    }
  }
}

@media (max-width: $screen-width-notebook-small) {
  .news-item {
    &__img {
      height: 138px;
    }
    &__description {
    }
  }
}

@media (max-width: $screen-width-lg) {
  .news-item {
    flex: calc(33.333333333% - 14px);
    max-width: calc(33.333333333% - 14px);
  }
  .news-options-item {
    padding-left: 20px;
    &__body {
      padding-right: 20px;
    }
  }
}

@media (max-width: $screen-width-md) {
  .news-options {
    flex-direction: column;
    max-height: 636px;
    overflow-y: auto;
  }
  .news-options-item {
    flex: 100%;
    max-width: 100%;
    padding-left: 0;
    &__body {
      border: none;
    }
  }
  .modal-news-item__footer {
    padding-right: 0;
  }
}

@media (max-width: $screen-width-sm) {
  .news {
    &__header {
      .section__title {
        line-height: 1.5625rem;
      }
    }
  }
  .news-body {
    max-height: 775px;
  }
  .news-item {
    padding: 14px 14px 30px 14px;
    &__title {
      font-size: 1rem;
    }
    &__img {
      height: 170px;
    }
    &__date {
      font-size: 0.75rem;
    }
    &__description {
      font-size: 0.875rem;
      max-height: 126px;
    }
  }
}
@media (max-width: $screen-width-xs) {
  .modal {
    .modal-header {
      padding-top: 15px !important;
    }
  }
  .news-body {
    padding-right: 8px;
  }
  .news-item {
    flex: 100%;
    max-width: 100%;
  }
  .modal-news-item__body {
    padding-right: 8px;
    max-height: 350px;
    img {
      height: 206px;
      max-width: 100%;
      width: 100%;
    }
  }
  .news__header {
    .section__title {
      margin-bottom: 1rem;
    }
    .section__caption {
      max-width: 100%;
    }
    .btn-collapse {
      position: absolute;
      top: 25px;
      right: 20px;
    }
    .btn-gradient {
      width: 100%;
    }
  }
  .modal-news-item {
    .modal-header {
      padding-top: 0px !important;
    }
    .close {
      margin-top: 0px !important;
      padding-top: 0;
      font-size: 2.5rem;
    }
    .modal-body {
      padding-bottom: 0;
    }
    .modal-footer {
      padding-left: 1rem;
    }
  }
  .modal-news-item__footer {
    margin-top: 1rem;
  }
  .modal-news-item__interaction {
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    .like {
      order: 0;
    }
    .dislike {
      order: 1;
    }
    .btn-gradient {
      order: 2;
      width: 100%;
      margin-left: 0;
      margin-right: 0;
      margin-top: 1rem;
      span {
        margin-left: auto !important;
        margin-right: auto !important;
      }
    }
  }
}

@media (max-width: 320px) {
  .modal-news-item {
    .modal-content {
      min-height: auto;
    }
    .modal-footer {
      padding-bottom: 16px;
    }
  }
  .modal-news-item__text {
    max-height: 240px;
  }
  .modal-news-item__footer {
    margin-top: 0;
  }
}
