.h1 {
  font-size: 1.75rem;
  line-height: 2rem;
  position: relative;
}

.h2 {
  font-size: 1.375rem;
  line-height: 1.5625rem;
  color: #2b415b;
}

.h3 {
  font-size: 1.15rem;
  line-height: 1;
  color: #2b415b;
}

.font-thin {
  font-weight: 100;
}

.h1,
.h2,
.h3,
.h4,
.h5 {
  color: #2b415b;
}
