@import "colors";
@import "text";
@import "icons";
@import "h";
@import "inputs";
@import "margins";

.cursor-pointer {
  cursor: pointer;
}

.custom-divider {
  height: 20px;
  font-size: 1rem;
  color: #bec9d4;

  &__hr-line {
    width: 100%;
    opacity: 0.5;
    border-top: 1px solid #bec9d4;
    display: inline-block;
    height: 1px;
  }
}

.sub-checkbox-block {
  margin-top: 0.5rem;
  margin-left: 2.25rem;
}
