.input-with-button {
  display: flex;
  justify-content: start;
  flex-shrink: 1;
  align-items: center;

  &__label {
    display: flex;
    font-size: 0.91rem;
  }

  &__input-block {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border: 1px solid #eff0f1;
    background: #fafdfe;
    border-radius: 5px;
    font-size: 0.91rem;
    width: auto;
    min-width: 450px;
    padding: 1px 1px 0;

    input {
      outline: none;
      background: transparent;
      border: none;
      width: 100%;
      padding: 5px 0.5rem;
      color: #555;
    }

    span {
      // color: #516378;
      color: #fff;
      font-size: 0.75rem;
      font-weight: 500;
      padding: 6px 1rem;
      display: inline-block;
      border-radius: 5px;
      // border: 2px solid #3793ff;
      cursor: pointer;
      background: linear-gradient(122.41deg, #00d1ff 4.8%, #0ba8ea 56.69%, #1485d7 101.83%);

      &:hover {
        background: linear-gradient(160.41deg, #00d1ff 4.8%, #0ba8ea 56.69%, #1485d7 101.83%);
      }
    }
  }
}

@media (max-width: $screen-width-md) {
  .input-with-button {
    flex-direction: column;
    align-items: flex-start;

    &__input-block {
      width: auto;
      min-width: auto;
    }
  }
}
