.mb-30 {
  margin-bottom: 1.875rem;
}

.mb-negative-5 {
  margin-bottom: -0.3125rem;
}

.mt-negative-14 {
  margin-top: -0.875rem;
}

.mb-5-px {
  margin-bottom: 0.3125rem;
}

.mr-30 {
  margin-right: 1.875rem;
}

.mt-28 {
  margin-top: 1.75rem;
}

.mb-12 {
  margin-bottom: 0.75rem;
}

.mb-20 {
  margin-bottom: 1.25rem;
}

.mx-40 {
  margin-left: 2.5rem;
  margin-right: 2.5rem;
}

.mt-negative-9 {
  margin-top: -0.5625rem;
}
.mr-negative-8 {
  margin-right: -0.5rem;
}

@media (max-width: $screen-width-lg) {
  .mr-xl-0 {
    margin-right: 0;
  }
}

@media (max-width: $screen-width-lg) {
  .max-w-100 {
    max-width: 100%;
  }
}