.text_highlight {
  background: linear-gradient(166.83deg, #49d8bd 28.06%, #3793ff 99.24%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.font-weight-500 {
  font-weight: 500;
}
.font-weight-300 {
  font-weight: 300;
}
.font-weight-100 {
  font-weight: 100;
}
.font-weight-400 {
  font-weight: 400;
}

.font-size-small {
  font-size: 0.91rem;
}
