.regalia {
  position: relative;
  &::before {
    position: absolute;
    content: " ";
    width: 84px;
    height: 84px;
    background: linear-gradient(160.38deg, #49D8BD 28.06%, #3793FF 99.24%);
    box-shadow: 0px 15px 25px rgba(29, 115, 115, 0.2);
    border-radius: 50%;
    right: -45px;
    bottom: 98.8%;
  }
}