@media (max-width: $screen-width-sm) {
  .regalia-titles-item {
    flex: 33.3333333333%;
    max-width: 33.3333333333%;
  }
}
@media (max-width: $screen-width-xs) {
  .regalia-titles {
    max-height: 204px;
    overflow-y: auto;
  }
  .regalia-titles-item {
    flex: 100%;
    max-width: 100%;
  }
}