@media (max-width: $screen-width-sm) {
  .regalia-icons {
    &__item {
      flex: 12.5%;
      max-width: 12.5%;
    }
  }
}
@media (max-width: $screen-width-xs) {
  .regalia-icons {
    margin-left: 0;
    margin-right: 0;
    &__item {
      flex: 25%;
      max-width: 25%;
    }
  }
}