.regalia-titles {
  display: flex;
  flex-wrap: wrap;
  margin-top: 3.1875rem;
  margin-bottom: -0.375rem;
}

.regalia-titles-item {
  flex: 50%;
  max-width: 50%;
  margin-bottom: 1.625rem;
  &__title {
    font-weight: normal;
    font-size: 0.875rem;
    padding-right: 0.5rem;
    margin-bottom: 0.375rem;
  }
  &__value {
    display: flex;
  }
  &__star {
    width: 14px;
    height: 14px;
    margin-right: 0.4375rem;
    border-radius: 50%;
    background: linear-gradient(160.38deg, #49D8BD 28.06%, #3793FF 99.24%);
    opacity: 0.2;
    &_active {
      opacity: 1;
    }
  }
}