.regalia-icons {
  padding-top: 1rem;
  padding-bottom: 1rem;
  margin-left: -1.125rem;
  margin-right: -1.75rem;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  &__item {
    text-align: center;
    flex: 16.666666667%;
    max-width: 16.666666667%;
    margin-bottom: 1.375rem;
    &_fill {
      path {
        fill: url(#regalia-fill) gray;
      }
      circle {
        stroke: url(#regalia-fill) gray;
      }
    }
  }
}
