.btn-collapse {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 33px !important;
  height: 33px !important;
  border-radius: 50%;
  flex-shrink: 0;
  background: #FFFFFF;
  border: 1px solid #EDF9F8;
  box-sizing: border-box;
  box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.07);
  transition: 0.3s;
  svg {
    transition: 0.3s;
  }
  &_close {
    transform: rotate(180deg);
  }
  &:hover, &:focus {
    outline: none;
    background-color: #f2f2f2;
  }
  &_transparent {
    background: transparent;
    box-shadow: none;
    border-color: transparent;
    path {
      stroke: #43bfd5;
    }
    &.btn-collapse_close {
      path {
        stroke: #E5E5E5;
      }
    }
  }
}