<template>
    <svg width="43" height="44" viewBox="0 0 43 44" fill="none" xmlns="http://www.w3.org/2000/svg">
        <g clip-path="url(#clip0)">
            <path d="M31.9853 25.9701C29.066 25.9701 26.6912 28.4016 26.6912 31.3903C26.6912 34.3791 29.066 36.8105 31.9853 36.8105C34.905 36.8105 37.2794 34.3791 37.2794 31.3903C37.2794 28.4016 34.9045 25.9701 31.9853 25.9701ZM31.9853 34.1004C30.5255 34.1004 29.3382 32.8849 29.3382 31.3903C29.3382 29.8957 30.5255 28.6802 31.9853 28.6802C33.4451 28.6802 34.6324 29.8957 34.6324 31.3903C34.6324 32.885 33.4451 34.1004 31.9853 34.1004Z" fill="url(#regalia-accessory-supplier)"/>
            <path d="M13.8972 25.9701C10.9779 25.9701 8.60303 28.4016 8.60303 31.3903C8.60303 34.3791 10.9779 36.8105 13.8972 36.8105C16.8164 36.8105 19.1913 34.3791 19.1913 31.3903C19.1913 28.4016 16.8164 25.9701 13.8972 25.9701ZM13.8972 34.1004C12.4373 34.1004 11.2501 32.8849 11.2501 31.3903C11.2501 29.8957 12.4373 28.6802 13.8972 28.6802C15.3566 28.6802 16.5442 29.8957 16.5442 31.3903C16.5442 32.885 15.357 34.1004 13.8972 34.1004Z" fill="url(#regalia-accessory-supplier)"/>
            <path d="M35.5504 10.4559C35.3254 9.99831 34.8679 9.70966 34.3676 9.70966H27.397V12.4197H33.5514L37.1553 19.7586L39.5209 18.5409L35.5504 10.4559Z" fill="url(#regalia-accessory-supplier)"/>
            <path d="M28.0147 30.0805H18V32.7906H28.0147V30.0805Z" fill="url(#regalia-accessory-supplier)"/>
            <path d="M9.92631 30.0805H5.33814C4.60708 30.0805 4.01465 30.6871 4.01465 31.4355C4.01465 32.184 4.60716 32.7905 5.33814 32.7905H9.9264C10.6575 32.7905 11.2499 32.1839 11.2499 31.4355C11.2499 30.687 10.6574 30.0805 9.92631 30.0805Z" fill="url(#regalia-accessory-supplier)"/>
            <path d="M41.9866 21.7966L39.3833 18.3638C39.1332 18.0332 38.7472 17.8399 38.3381 17.8399H28.7205V8.35458C28.7205 7.60611 28.128 6.99957 27.397 6.99957H5.33814C4.60708 6.99957 4.01465 7.60619 4.01465 8.35458C4.01465 9.10296 4.60716 9.70958 5.33814 9.70958H26.0734V19.1949C26.0734 19.9433 26.6659 20.5499 27.3969 20.5499H37.69L39.6175 23.0919V30.0803H35.9557C35.2247 30.0803 34.6322 30.6869 34.6322 31.4353C34.6322 32.1838 35.2247 32.7903 35.9557 32.7903H40.941C41.6721 32.7903 42.2645 32.1837 42.2646 31.4353V22.6277C42.2646 22.3269 42.1666 22.0342 41.9866 21.7966Z" fill="url(#regalia-accessory-supplier)"/>
            <path d="M9.83828 23.2149H3.75001C3.01894 23.2149 2.42651 23.8216 2.42651 24.5699C2.42651 25.3184 3.01903 25.9249 3.75001 25.9249H9.8382C10.5693 25.9249 11.1617 25.3183 11.1617 24.5699C11.1618 23.8216 10.5693 23.2149 9.83828 23.2149Z" fill="url(#regalia-accessory-supplier)"/>
            <path d="M12.8823 17.885H1.58814C0.85716 17.885 0.264648 18.4917 0.264648 19.2401C0.264648 19.9886 0.85716 20.5951 1.58814 20.5951H12.8823C13.6133 20.5951 14.2058 19.9885 14.2058 19.2401C14.2058 18.4917 13.6133 17.885 12.8823 17.885Z" fill="url(#regalia-accessory-supplier)"/>
            <path d="M15.0442 12.5552H3.75001C3.01894 12.5552 2.42651 13.1618 2.42651 13.9102C2.42651 14.6587 3.01903 15.2652 3.75001 15.2652H15.0442C15.7752 15.2652 16.3676 14.6586 16.3676 13.9102C16.3677 13.1618 15.7752 12.5552 15.0442 12.5552Z" fill="url(#regalia-accessory-supplier)"/>
        </g>
        <defs>
            <linearGradient id="regalia-accessory-supplier" x1="30.9485" y1="24.3224" x2="35.6799" y2="37.2826" gradientUnits="userSpaceOnUse">
                <stop offset="0.287293" stop-color="#F0F0F0"/>
                <stop offset="1" stop-color="#DCDCDC"/>
            </linearGradient>
            <linearGradient id="regalia-accessory-supplier" x1="12.8604" y1="24.3224" x2="17.5917" y2="37.2826" gradientUnits="userSpaceOnUse">
                <stop offset="0.287293" stop-color="#F0F0F0"/>
                <stop offset="1" stop-color="#DCDCDC"/>
            </linearGradient>
            <linearGradient id="regalia-accessory-supplier" x1="32.2718" y1="8.18221" x2="35.9725" y2="20.7037" gradientUnits="userSpaceOnUse">
                <stop offset="0.287293" stop-color="#F0F0F0"/>
                <stop offset="1" stop-color="#DCDCDC"/>
            </linearGradient>
            <linearGradient id="regalia-accessory-supplier" x1="22.0267" y1="29.6686" x2="22.3778" y2="33.3066" gradientUnits="userSpaceOnUse">
                <stop offset="0.287293" stop-color="#F0F0F0"/>
                <stop offset="1" stop-color="#DCDCDC"/>
            </linearGradient>
            <linearGradient id="regalia-accessory-supplier" x1="6.92382" y1="29.6686" x2="7.40562" y2="33.276" gradientUnits="userSpaceOnUse">
                <stop offset="0.287293" stop-color="#F0F0F0"/>
                <stop offset="1" stop-color="#DCDCDC"/>
            </linearGradient>
            <linearGradient id="regalia-accessory-supplier" x1="19.3943" y1="3.07938" x2="27.3366" y2="36.1134" gradientUnits="userSpaceOnUse">
                <stop offset="0.287293" stop-color="#F0F0F0"/>
                <stop offset="1" stop-color="#DCDCDC"/>
            </linearGradient>
            <linearGradient id="regalia-accessory-supplier" x1="5.93878" y1="22.803" x2="6.34006" y2="26.4304" gradientUnits="userSpaceOnUse">
                <stop offset="0.287293" stop-color="#F0F0F0"/>
                <stop offset="1" stop-color="#DCDCDC"/>
            </linearGradient>
            <linearGradient id="regalia-accessory-supplier" x1="5.87014" y1="17.4731" x2="6.12345" y2="21.1274" gradientUnits="userSpaceOnUse">
                <stop offset="0.287293" stop-color="#F0F0F0"/>
                <stop offset="1" stop-color="#DCDCDC"/>
            </linearGradient>
            <linearGradient id="regalia-accessory-supplier" x1="8.03201" y1="12.1433" x2="8.2853" y2="15.7975" gradientUnits="userSpaceOnUse">
                <stop offset="0.287293" stop-color="#F0F0F0"/>
                <stop offset="1" stop-color="#DCDCDC"/>
            </linearGradient>
            <clipPath id="accessory-supplier-clip">
                <rect width="42" height="43" fill="white" transform="translate(0.264648 0.405029)"/>
            </clipPath>
        </defs>
    </svg>
</template>