<template>
    <svg width="42" height="41" viewBox="0 0 42 41" fill="none" xmlns="http://www.w3.org/2000/svg">
        <circle cx="20.9794" cy="20.5" r="18.9765" stroke="url(#regalia-adult)" stroke-width="3"/>
        <path d="M10.01 17.6466C10.2953 17.5333 10.5905 17.4059 10.8955 17.2643C11.2103 17.1132 11.5153 16.9527 11.8105 16.7828C12.1056 16.6034 12.386 16.4193 12.6517 16.2305C12.9271 16.0323 13.1731 15.8246 13.3895 15.6075H14.9244V25.4209H12.7254V18.3546C12.4303 18.5435 12.1007 18.7181 11.7367 18.8786C11.3726 19.0296 11.0185 19.1618 10.6741 19.2751L10.01 17.6466Z" fill="url(#regalia-adult)"/>
        <path d="M25.1863 22.6878C25.1863 23.1127 25.1076 23.5044 24.9502 23.8632C24.8026 24.2125 24.5763 24.5193 24.2713 24.7836C23.9663 25.048 23.5826 25.2557 23.1202 25.4067C22.6677 25.5483 22.1413 25.6191 21.5411 25.6191C20.8524 25.6191 20.2769 25.5294 19.8145 25.3501C19.3619 25.1613 18.993 24.93 18.7076 24.6562C18.4322 24.3824 18.2354 24.085 18.1173 23.7641C17.9993 23.4336 17.9402 23.1315 17.9402 22.8578C17.9402 22.5746 17.9796 22.3149 18.0583 22.0789C18.137 21.8429 18.2452 21.6305 18.383 21.4417C18.5207 21.2434 18.6732 21.0641 18.8405 20.9036C19.0176 20.7431 19.2045 20.592 19.4013 20.4504C18.9782 20.12 18.6634 19.7943 18.4568 19.4733C18.26 19.1524 18.1616 18.7417 18.1616 18.2414C18.1616 17.8637 18.2403 17.5003 18.3977 17.151C18.565 16.8017 18.7962 16.4996 19.0914 16.2447C19.3865 15.9804 19.7407 15.7727 20.1539 15.6216C20.577 15.4611 21.0443 15.3809 21.5559 15.3809C22.1561 15.3809 22.6677 15.4658 23.0907 15.6358C23.5236 15.7963 23.8778 16.004 24.1533 16.2588C24.4288 16.5137 24.6255 16.8017 24.7436 17.1227C24.8715 17.4342 24.9354 17.7457 24.9354 18.0573C24.9354 18.5104 24.8075 18.9352 24.5517 19.3317C24.3058 19.7188 23.9959 20.0256 23.622 20.2522C24.1828 20.6015 24.5812 20.9697 24.8174 21.3567C25.0633 21.7343 25.1863 22.1781 25.1863 22.6878ZM20.0801 22.7728C20.0801 22.8861 20.1047 23.0135 20.1539 23.1551C20.2129 23.2873 20.3015 23.41 20.4196 23.5233C20.5376 23.6366 20.6901 23.731 20.877 23.8065C21.064 23.8821 21.2903 23.9198 21.5559 23.9198C22.0675 23.9198 22.4414 23.8018 22.6775 23.5658C22.9136 23.3298 23.0317 23.0655 23.0317 22.7728C23.0317 22.5557 22.9776 22.3621 22.8693 22.1922C22.771 22.0223 22.6332 21.876 22.4561 21.7532C22.279 21.6211 22.0675 21.5078 21.8215 21.4134C21.5854 21.3095 21.3296 21.2151 21.0541 21.1302C20.7787 21.3284 20.5475 21.5597 20.3605 21.824C20.1736 22.0884 20.0801 22.4046 20.0801 22.7728ZM22.8103 18.1139C22.8103 18.0101 22.7857 17.9015 22.7365 17.7882C22.6972 17.6655 22.6234 17.5522 22.5152 17.4484C22.4168 17.3445 22.2889 17.2595 22.1315 17.1935C21.974 17.1179 21.7822 17.0802 21.5559 17.0802C21.3395 17.0802 21.1525 17.1132 20.9951 17.1793C20.8377 17.2454 20.7049 17.3351 20.5966 17.4484C20.4983 17.5522 20.4245 17.6655 20.3753 17.7882C20.3261 17.9109 20.3015 18.0289 20.3015 18.1422C20.3015 18.4443 20.4146 18.7275 20.6409 18.9919C20.877 19.2562 21.2755 19.4828 21.8363 19.6716C22.1511 19.4828 22.3922 19.2657 22.5594 19.0202C22.7267 18.7747 22.8103 18.4726 22.8103 18.1139Z" fill="url(#regalia-adult)"/>
        <path d="M26.4755 20.3088H28.9401V17.6891H30.9472V20.3088H33.4117V22.0789H30.9472V24.6987H28.9401V22.0789H26.4755V20.3088Z" fill="url(#regalia-adult)"/>
        <defs>
            <linearGradient id="regalia-adult" x1="16.9694" y1="-6.20129" x2="34.5228" y2="43.0262" gradientUnits="userSpaceOnUse">
                <stop offset="0.287293" stop-color="#F0F0F0"/>
                <stop offset="1" stop-color="#DCDCDC"/>
            </linearGradient>
            <linearGradient id="regalia-adult" x1="19.4194" y1="13.8247" x2="21.532" y2="27.3668" gradientUnits="userSpaceOnUse">
                <stop offset="0.287293" stop-color="#F0F0F0"/>
                <stop offset="1" stop-color="#DCDCDC"/>
            </linearGradient>
            <linearGradient id="regalia-adult" x1="19.4194" y1="13.8247" x2="21.532" y2="27.3668" gradientUnits="userSpaceOnUse">
                <stop offset="0.287293" stop-color="#F0F0F0"/>
                <stop offset="1" stop-color="#DCDCDC"/>
            </linearGradient>
            <linearGradient id="regalia-adult" x1="19.4194" y1="13.8247" x2="21.532" y2="27.3668" gradientUnits="userSpaceOnUse">
                <stop offset="0.287293" stop-color="#F0F0F0"/>
                <stop offset="1" stop-color="#DCDCDC"/>
            </linearGradient>
        </defs>
    </svg>
</template>