<template>
    <svg width="37" height="37" viewBox="0 0 37 37" fill="none" xmlns="http://www.w3.org/2000/svg">
        <g clip-path="url(#approve-clip)">
            <path d="M32.8896 0.3396H3.63965C3.01782 0.3396 2.51465 0.842774 2.51465 1.4646V7.14124C2.51465 9.62634 4.10986 11.7862 6.48511 12.5179L16.7445 15.6742L14.9237 20.2394L7.95507 21.4041C7.53869 21.4734 7.19701 21.7698 7.06847 22.172C6.93993 22.5752 7.0465 23.0159 7.34423 23.3146L11.9969 27.9808L10.8269 35.0247C10.7599 35.4268 10.9148 35.8333 11.2312 36.089C11.4344 36.2531 11.6838 36.338 11.9365 36.338C12.0771 36.338 12.2189 36.3116 12.354 36.2575L18.2613 33.8865L24.1753 36.2575C24.5543 36.4118 24.9828 36.3445 25.2981 36.089C25.6145 35.8333 25.7694 35.4257 25.7024 35.0247L24.5323 27.9808L29.1851 23.3146C29.4828 23.0159 29.5894 22.5752 29.4608 22.172C29.3323 21.7698 28.9906 21.4734 28.5742 21.4041L21.6056 20.2394L19.7847 15.6742L30.0442 12.5179C32.4194 11.7863 34.0146 9.62634 34.0146 7.14124V1.4646C34.0146 0.842774 33.5115 0.3396 32.8896 0.3396L32.8896 0.3396ZM18.2646 13.788L13.7646 12.4033V2.58961H22.7646V12.4033L18.2646 13.788V13.788ZM4.76465 7.14124V2.5896H11.5146V11.711L7.14648 10.3668C5.72155 9.92848 4.76465 8.63209 4.76465 7.14125V7.14124ZM20.6113 22.3605L26.0485 23.2694L22.5317 26.7963C22.2746 27.0541 22.1582 27.4199 22.2175 27.779L23.1547 33.4182L18.6788 31.6233C18.5448 31.5693 18.4031 31.5428 18.2613 31.5428C18.1196 31.5428 17.9779 31.5693 17.8439 31.6233L13.3746 33.4171L14.3117 27.779C14.3711 27.4199 14.2546 27.0541 13.9975 26.7963L10.4808 23.2694L15.9179 22.3605C16.3058 22.2954 16.6321 22.0321 16.7782 21.6663L18.2646 17.9389L19.7511 21.6663C19.8972 22.0321 20.2235 22.2954 20.6113 22.3605L20.6113 22.3605ZM31.7646 7.14124C31.7646 8.63208 30.8077 9.92847 29.3828 10.3668L25.0146 11.711V2.58958H31.7646V7.14122V7.14124Z" fill="url(#regalia-approve)"/>
        </g>
        <defs>
            <linearGradient id="regalia-approve" x1="15.1803" y1="-5.1324" x2="32.2264" y2="36.6969" gradientUnits="userSpaceOnUse">
                <stop offset="0.287293" stop-color="#F0F0F0"/>
                <stop offset="1" stop-color="#DCDCDC"/>
            </linearGradient>
            <clipPath id="approve-clip">
                <rect width="36" height="36" fill="white" transform="translate(0.264648 0.3396)"/>
            </clipPath>
        </defs>
    </svg>
</template>