<template>
    <svg width="59" height="60" viewBox="0 0 59 60" fill="none" xmlns="http://www.w3.org/2000/svg">
        <g clip-path="url(#business-executive-clip)">
            <path d="M53.0951 24.9678L49.5286 21.2374C49.1282 20.8186 48.4937 20.7603 48.0273 21.0695L39.0482 11.6778C39.3778 11.2257 39.3482 10.5893 38.9479 10.1706L35.3813 6.44015C34.9315 5.9697 34.1855 5.95295 33.7151 6.40274L26.5896 13.2152C26.1192 13.665 26.1024 14.411 26.5522 14.8814L30.1188 18.6118C30.5191 19.0305 31.1537 19.0889 31.62 18.7797L32.7572 19.9691L12.8077 39.0423C11.7863 40.0189 11.7498 41.6444 12.7264 42.6659L15.8891 45.9739C16.8657 46.9954 18.4912 47.0319 19.5127 46.0553L39.4622 26.982L40.5994 28.1714C40.2696 28.6236 40.2994 29.2599 40.6997 29.6786L44.2663 33.409C44.7161 33.8795 45.4621 33.8962 45.9325 33.4465L53.0578 26.6341C53.5282 26.1842 53.545 25.4383 53.0951 24.9678ZM17.5927 44.3448L14.43 41.0368C14.3516 40.9548 14.3544 40.8243 14.4366 40.7457L34.386 21.6725L37.8332 25.2781L17.8837 44.3513C17.8017 44.4299 17.6712 44.4269 17.5927 44.3448ZM37.3582 13.3209L46.3101 22.684L42.2893 26.5282L33.3374 17.165L37.3582 13.3209ZM34.4921 8.92081L36.2812 10.7921L30.8594 15.9758L29.0703 14.1044L34.4921 8.92081ZM45.1553 30.9284L43.3661 29.057L48.7879 23.8734L50.577 25.7448L45.1553 30.9284Z" fill="url(#regalia-business-executive)"/>
        </g>
        <defs>
            <linearGradient id="regalia-business-executive" x1="46.8937" y1="9.37342" x2="31.1696" y2="56.4395" gradientUnits="userSpaceOnUse">
                <stop offset="0.287293" stop-color="#F0F0F0"/>
                <stop offset="1" stop-color="#DCDCDC"/>
            </linearGradient>
            <clipPath id="business-executive-clip">
                <rect width="41.4088" height="41.4088" fill="white" transform="translate(29.9304 0.73877) rotate(46.2864)"/>
            </clipPath>
        </defs>
    </svg>
</template>