<template>
    <svg width="42" height="43" viewBox="0 0 42 43" fill="none" xmlns="http://www.w3.org/2000/svg">
        <g clip-path="url(#esoteric-clip)">
            <path d="M41.1157 34.1876L22.1926 1.19095C21.9474 0.763484 21.4926 0.5 20.9999 0.5C20.5072 0.5 20.0524 0.763484 19.8073 1.19095L0.884119 34.1876C0.678713 34.5457 0.645162 34.9772 0.792654 35.3629C0.940229 35.7486 1.25326 36.0474 1.64537 36.1769L20.5685 42.4305C20.7085 42.4768 20.8543 42.5 20.9999 42.5C21.1456 42.5 21.2913 42.4768 21.4313 42.4305L40.3544 36.1769C40.7465 36.0474 41.0595 35.7485 41.2072 35.3629C41.3546 34.9772 41.3211 34.5457 41.1157 34.1876ZM19.6251 39.2227L6.45831 34.8715L19.6251 30.5202V39.2227ZM19.6251 27.6244L5.05688 32.4387L19.6251 7.03584V27.6244ZM22.3747 39.2228V30.5203H22.3748L35.5414 34.8716L22.3747 39.2228ZM22.3748 27.6244V7.03584L36.9428 32.4387L22.3748 27.6244Z" fill="url(#regalia-esoteric)"/>
        </g>
        <defs>
            <linearGradient id="regalia-esoteric" x1="17.0249" y1="-5.884" x2="35.5029" y2="44.2045" gradientUnits="userSpaceOnUse">
                <stop offset="0.287293" stop-color="#F0F0F0"/>
                <stop offset="1" stop-color="#DCDCDC"/>
            </linearGradient>
            <clipPath id="esoteric-clip">
                <rect width="42" height="42" fill="white" transform="translate(0 0.5)"/>
            </clipPath>
        </defs>
    </svg>
</template>