<template>
    <svg width="34" height="34" viewBox="0 0 34 34" fill="none" xmlns="http://www.w3.org/2000/svg">
        <path d="M33.0233 1.97659C30.492 -0.554715 25.2434 2.15104 21.2279 4.9175C18.9766 4.24866 16.587 4.19654 14.3086 4.76657C12.0303 5.3366 9.94676 6.50788 8.27565 8.15809C6.60454 9.8083 5.40713 11.8769 4.80848 14.1479C4.20982 16.4189 4.23187 18.809 4.87233 21.0685C0.863004 26.7743 -0.140694 30.9059 1.97662 33.0229C2.60954 33.6558 3.4925 33.9721 4.6255 33.9719C6.42345 33.9719 8.84446 33.1733 11.8661 31.5797C12.6531 31.1646 13.4521 30.7076 14.2542 30.2176C16.4638 30.7805 18.782 30.7583 20.9805 30.1531C23.1789 29.5479 25.1819 28.3805 26.7921 26.7659C28.4023 25.1514 29.5642 23.1453 30.1635 20.9452C30.7628 18.7451 30.7787 16.4269 30.2098 14.2187C30.6553 13.4714 31.0757 12.721 31.4619 11.9818C34.0961 6.94112 34.6214 3.57474 33.0233 1.97659ZM17.5 7.29167C19.562 7.29423 21.575 7.92026 23.2748 9.08757C24.9745 10.2549 26.2815 11.9089 27.0242 13.8325C25.3508 16.4803 23.4045 19.0123 21.6794 20.7373C19.2868 23.0939 16.6613 25.2018 13.8433 27.0286C11.6166 26.1746 9.75931 24.5679 8.59368 22.4874C7.42806 20.4069 7.02773 17.984 7.46217 15.6391C7.89662 13.2942 9.13842 11.1755 10.972 9.6507C12.8056 8.12588 15.1153 7.29125 17.5 7.29167ZM10.7024 28.8958C6.16623 31.3239 4.26384 31.1349 4.03889 30.961C3.51681 30.4387 3.7567 28.2002 6.25082 24.2535C7.38375 26.1314 8.96604 27.6979 10.8551 28.8119C10.8045 28.8395 10.7531 28.8686 10.7024 28.8958ZM18.0004 27.6956C20.033 26.208 21.9523 24.5715 23.7426 22.7998C25.1815 21.3227 26.5026 19.7352 27.6938 18.052C27.5541 20.5727 26.4866 22.9525 24.6969 24.7331C22.9071 26.5136 20.5218 27.5689 18.0004 27.6956ZM28.7839 10.8068C27.6978 8.98369 26.1888 7.44878 24.3845 6.33172C28.4335 3.80333 30.5277 3.64273 30.9508 4.02937C31.1994 4.45448 30.9869 6.6418 28.7839 10.8068Z" fill="url(#regalia-exporter)"/>
        <path d="M14.5833 14.5833C15.3887 14.5833 16.0417 13.9304 16.0417 13.125C16.0417 12.3196 15.3887 11.6667 14.5833 11.6667C13.7779 11.6667 13.125 12.3196 13.125 13.125C13.125 13.9304 13.7779 14.5833 14.5833 14.5833Z" fill="url(#regalia-exporter)"/>
        <path d="M17.5001 20.4167C18.3055 20.4167 18.9584 19.7638 18.9584 18.9583C18.9584 18.1529 18.3055 17.5 17.5001 17.5C16.6947 17.5 16.0417 18.1529 16.0417 18.9583C16.0417 19.7638 16.6947 20.4167 17.5001 20.4167Z" fill="url(#regalia-exporter)"/>
        <path d="M11.6666 18.9583C12.472 18.9583 13.1249 18.3054 13.1249 17.5C13.1249 16.6946 12.472 16.0417 11.6666 16.0417C10.8612 16.0417 10.2083 16.6946 10.2083 17.5C10.2083 18.3054 10.8612 18.9583 11.6666 18.9583Z" fill="url(#regalia-exporter)"/>
        <defs>
            <linearGradient id="regalia-exporter" x1="14.1761" y1="-4.04811" x2="28.3129" y2="35.6313" gradientUnits="userSpaceOnUse">
                <stop offset="0.287293" stop-color="#F0F0F0"/>
                <stop offset="1" stop-color="#DCDCDC"/>
            </linearGradient>
            <linearGradient id="regalia-exporter" x1="14.2977" y1="11.2233" x2="15.5479" y2="14.7293" gradientUnits="userSpaceOnUse">
                <stop offset="0.287293" stop-color="#F0F0F0"/>
                <stop offset="1" stop-color="#DCDCDC"/>
            </linearGradient>
            <linearGradient id="regalia-exporter" x1="17.2145" y1="17.0567" x2="18.4646" y2="20.5627" gradientUnits="userSpaceOnUse">
                <stop offset="0.287293" stop-color="#F0F0F0"/>
                <stop offset="1" stop-color="#DCDCDC"/>
            </linearGradient>
            <linearGradient id="regalia-exporter" x1="11.381" y1="15.5983" x2="12.6311" y2="19.1043" gradientUnits="userSpaceOnUse">
                <stop offset="0.287293" stop-color="#F0F0F0"/>
                <stop offset="1" stop-color="#DCDCDC"/>
            </linearGradient>
        </defs>
    </svg>
</template>