<template>
    <svg width="42" height="42" viewBox="0 0 42 42" fill="none" xmlns="http://www.w3.org/2000/svg">
        <path d="M40.7695 9.84375H28.6731L24.6914 7.85289V7.17197C26.1237 6.66408 27.1523 5.29582 27.1523 3.69141C27.1523 1.65601 25.4963 0 23.4609 0C21.4255 0 19.7695 1.65601 19.7695 3.69141C19.7695 4.37105 20.3204 4.92188 21 4.92188C21.6796 4.92188 22.2305 4.37105 22.2305 3.69141C22.2305 3.01305 22.7826 2.46094 23.4609 2.46094C24.1393 2.46094 24.6914 3.01305 24.6914 3.69141C24.6914 4.36977 24.1393 4.92188 23.4609 4.92188C22.7813 4.92188 22.2305 5.4727 22.2305 6.15234V7.85289L18.2487 9.84375H6.15234C5.4727 9.84375 4.92188 10.3946 4.92188 11.0742V21C4.92188 21.6796 5.4727 22.2305 6.15234 22.2305H9.84375V24.7734H3.69141C1.65601 24.7734 0 26.4294 0 28.4648C0 29.4095 0.357285 30.2721 0.943039 30.9258C0.357285 31.5795 0 32.4421 0 33.3867C0 34.3314 0.357285 35.194 0.943039 35.8477C0.357285 36.5013 0 37.364 0 38.3086C0 40.344 1.65601 42 3.69141 42H35.8477C36.5273 42 37.0781 41.4492 37.0781 40.7695V22.2305H40.7695C41.4492 22.2305 42 21.6796 42 21V11.0742C42 10.3946 41.4492 9.84375 40.7695 9.84375ZM23.4609 9.98891L27.0802 11.7987C26.739 13.5118 25.2201 14.8477 23.4609 14.8477C21.7018 14.8477 20.1829 13.5118 19.8416 11.7987L23.4609 9.98891ZM3.69141 27.2344H23.4609C24.1393 27.2344 24.6914 27.7865 24.6914 28.4648C24.6914 29.1432 24.1393 29.6953 23.4609 29.6953H3.69141C3.01305 29.6953 2.46094 29.1432 2.46094 28.4648C2.46094 27.7865 3.01305 27.2344 3.69141 27.2344ZM3.69141 34.6172C3.01305 34.6172 2.46094 34.0651 2.46094 33.3867C2.46094 32.7084 3.01305 32.1562 3.69141 32.1562H23.4609C24.1393 32.1562 24.6914 32.7084 24.6914 33.3867C24.6914 34.0651 24.1393 34.6172 23.4609 34.6172H3.69141ZM2.46094 38.3086C2.46094 37.6302 3.01305 37.0781 3.69141 37.0781H23.4609C24.1393 37.0781 24.6914 37.6302 24.6914 38.3086C24.6914 38.987 24.1393 39.5391 23.4609 39.5391H3.69141C3.01305 39.5391 2.46094 38.987 2.46094 38.3086ZM39.5391 19.7695H37.0781V18.5391C37.0781 17.8594 36.5273 17.3086 35.8477 17.3086C35.168 17.3086 34.6172 17.8594 34.6172 18.5391V39.5391H26.9409C27.0774 39.1539 27.1523 38.7399 27.1523 38.3086C27.1523 37.364 26.7951 36.5013 26.2093 35.8477C26.7954 35.194 27.1523 34.3314 27.1523 33.3867C27.1523 32.4421 26.7951 31.5795 26.2093 30.9258C26.7954 30.2721 27.1523 29.4095 27.1523 28.4648C27.1523 26.4294 25.4963 24.7734 23.4609 24.7734H12.3047V18.5391C12.3047 17.8594 11.7539 17.3086 11.0742 17.3086C10.3946 17.3086 9.84375 17.8594 9.84375 18.5391V19.7695H7.38281V12.3047H17.4304C17.9857 15.0845 20.438 17.3086 23.4609 17.3086C26.4823 17.3086 28.9359 15.0861 29.4915 12.3047H39.5391V19.7695Z" fill="url(#regalia-fashion)"/>
        <defs>
            <linearGradient id="regalia-fashion" x1="-3.90991" y1="42" x2="41.8769" y2="48.7868" gradientUnits="userSpaceOnUse">
                <stop stop-color="#E9E9E9"/>
                <stop offset="1" stop-color="#CECECE"/>
            </linearGradient>
        </defs>
    </svg>
</template>