<template>
    <svg width="39" height="40" viewBox="0 0 39 40" fill="none" xmlns="http://www.w3.org/2000/svg">
        <g clip-path="url(#regalia-clip)">
            <path d="M29.1301 7.20257C29.7746 7.20257 30.297 6.66671 30.297 6.0057C30.297 5.34468 29.7746 4.80882 29.1301 4.80882C28.4856 4.80882 27.9631 5.34468 27.9631 6.0057C27.9631 6.66671 28.4856 7.20257 29.1301 7.20257Z" fill="url(#regalia)"/>
            <path d="M38.6921 3.77481L38.4722 2.78739L36.3383 2.73114L36.2835 0.542548L35.3207 0.317002C32.9852 -0.230108 29.6903 -0.0598733 26.5067 0.772236C24.1353 1.39208 20.8722 2.63208 17.8947 5.08911C14.9755 5.1663 10.643 7.1777 8.32832 9.55184C7.70569 10.1904 7.40154 11.0069 7.44869 11.9132C7.51008 13.094 8.181 14.424 9.44271 15.8663C9.6905 16.1496 9.93623 16.4082 10.1622 16.6352C9.39473 19.0819 9.12203 21.4072 9.20262 23.4192C5.7662 23.1631 1.96568 24.44 0.621328 26.0044C0.0303868 26.692 -0.149607 27.508 0.127658 28.2432C0.650121 29.6282 2.08672 29.8927 3.47617 30.1485C4.9015 30.4109 6.51718 30.7082 7.78879 32.0125C9.06041 33.3168 9.35039 34.9738 9.60625 36.4357C9.85556 37.8607 10.1135 39.3342 11.4639 39.8701C11.6846 39.9577 11.9129 40.0008 12.1428 40.0008C12.659 40.0008 13.1828 39.7832 13.6467 39.3638C15.172 37.9849 16.4171 34.0873 16.1673 30.5625C16.3865 30.5717 16.6094 30.5764 16.836 30.5764C18.6371 30.5764 20.663 30.2773 22.7822 29.5781C23.012 29.8203 23.2775 30.0866 23.5692 30.355C24.9753 31.649 26.2721 32.3371 27.4234 32.4001C27.4828 32.4034 27.5418 32.405 27.6004 32.405C28.4132 32.405 29.145 32.0934 29.7258 31.4978C32.0635 29.1001 34.0407 24.5918 34.0788 21.5975C36.4486 18.5572 37.6471 15.2336 38.2481 12.8147C39.0595 9.54965 39.2254 6.1702 38.6921 3.77481ZM9.98841 11.7746C9.97972 11.609 10.0161 11.51 10.1267 11.3964C11.1937 10.3023 12.865 9.2634 14.526 8.56614C13.1008 10.3425 12.0056 12.1621 11.1896 13.955C10.5426 13.1823 10.0187 12.3573 9.98841 11.7746ZM27.9273 29.6535C27.8167 29.7669 27.7201 29.8037 27.5595 29.7954C26.984 29.7646 26.1598 29.2067 25.393 28.5253C27.1684 27.6756 28.9704 26.5309 30.7281 25.036C30.0484 26.774 29.0163 28.5366 27.9273 29.6535ZM35.7836 12.1706C35.5485 13.1169 35.2113 14.2179 34.7305 15.3822C32.0091 15.0384 29.4758 13.7755 27.5229 11.7724C26.1389 10.3529 25.1304 8.67333 24.5253 6.78044L22.1086 7.59301C22.8391 9.87848 24.0557 11.9052 25.7246 13.6169C27.866 15.8132 30.5863 17.2711 33.5295 17.8298C32.8248 19.0511 31.9436 20.2736 30.8421 21.4032C28.3745 23.9339 25.4733 25.8471 22.452 26.9357C19.8367 27.878 17.1429 28.1901 14.8665 27.8143L12.9666 27.5007L13.4302 29.4163C13.7796 30.8594 13.7172 32.7275 13.2592 34.5414C12.9635 35.7127 12.5918 36.5134 12.3032 36.9759C12.2308 36.6685 12.1646 36.2895 12.1095 35.9748C11.8197 34.3188 11.4228 32.0507 9.58714 30.1679C7.75147 28.2852 5.54005 27.8781 3.92543 27.5809C3.61861 27.5244 3.24918 27.4564 2.94937 27.3822C3.40031 27.0862 4.18099 26.705 5.32303 26.4018C7.09152 25.9319 8.91286 25.8679 10.32 26.2263L12.1877 26.7018L11.882 24.7532C11.5157 22.4185 11.82 19.6555 12.7386 16.9732C13.8 13.8744 15.6653 10.8988 18.1329 8.36794C21.0693 5.35622 24.6488 3.9495 27.1348 3.29958C29.8354 2.59364 32.1943 2.51075 33.7933 2.69677L33.8578 5.27466L36.3713 5.34091C36.5527 6.98145 36.4718 9.40083 35.7836 12.1706Z" fill="url(#regalia-fish)"/>
        </g>
        <defs>
            <linearGradient id="regalia-fish" x1="28.9016" y1="4.44497" x2="29.9478" y2="7.30562" gradientUnits="userSpaceOnUse">
                <stop offset="0.287293" stop-color="#F0F0F0"/>
                <stop offset="1" stop-color="#DCDCDC"/>
            </linearGradient>
            <linearGradient id="regalia-fish" x1="15.6815" y1="-6.07909" x2="33.1635" y2="41.7228" gradientUnits="userSpaceOnUse">
                <stop offset="0.287293" stop-color="#F0F0F0"/>
                <stop offset="1" stop-color="#DCDCDC"/>
            </linearGradient>
            <clipPath id="regalia-clip">
                <rect width="39" height="40" fill="white"/>
            </clipPath>
        </defs>
    </svg>
</template>