<template>
    <svg width="44" height="44" viewBox="0 0 44 44" fill="none" xmlns="http://www.w3.org/2000/svg">
        <g clip-path="url(#gamer-clip)">
            <path d="M7.61572 8.46155C7.61572 7.76059 7.04702 7.19189 6.34607 7.19189C5.64512 7.19189 5.07642 7.76059 5.07642 8.46155C5.07642 9.1625 5.64512 9.7312 6.34607 9.7312C7.04702 9.7312 7.61572 9.1625 7.61572 8.46155Z" fill="url(#regalia)"/>
            <path d="M20.7307 22.8457C20.7307 23.5467 21.2994 24.1154 22.0004 24.1154C22.7013 24.1154 23.27 23.5467 23.27 22.8457C23.27 22.1448 22.7013 21.5761 22.0004 21.5761C21.2994 21.5761 20.7307 22.1448 20.7307 22.8457Z" fill="url(#regalia)"/>
            <path d="M37.6539 9.7312C38.3549 9.7312 38.9236 9.1625 38.9236 8.46155C38.9236 7.76059 38.3549 7.19189 37.6539 7.19189C36.953 7.19189 36.3843 7.76059 36.3843 8.46155C36.3843 9.1625 36.953 9.7312 37.6539 9.7312Z" fill="url(#regalia)"/>
            <path d="M41.4612 18.6216C41.4612 18.6194 41.4615 18.6174 41.4615 18.6154V13.535C43.0019 12.376 44 10.5333 44 8.46154C44 4.96227 41.1531 2.11539 37.6538 2.11539C35.9918 2.11539 34.4778 2.75838 33.3453 3.80769H10.6547C9.52219 2.75838 8.00817 2.11539 6.34615 2.11539C2.84688 2.11539 0 4.96227 0 8.46154C0 11.9608 2.84688 14.8077 6.34615 14.8077C6.4075 14.8077 6.46825 14.8048 6.52918 14.803L15.7685 24.0423C15.9343 24.9075 16.2753 25.711 16.7545 26.4135L15.7239 33.2849L12.5899 36.8107C12.3834 37.0429 12.2692 37.343 12.2692 37.6538V39.3462H10.1538C9.45289 39.3462 8.88462 39.9144 8.88462 40.6154C8.88462 41.3163 9.45289 41.8846 10.1538 41.8846H33.8462C34.5471 41.8846 35.1154 41.3163 35.1154 40.6154C35.1154 39.9144 34.5471 39.3462 33.8462 39.3462H31.7308V37.6538C31.7308 37.343 31.6166 37.0429 31.4102 36.8106L28.2762 33.2848L27.2456 26.4135C27.9396 25.3962 28.3462 24.1679 28.3462 22.8462C28.3462 19.3469 25.4993 16.5 22 16.5C21.8034 16.5 21.6092 16.5103 21.4171 16.5278L18.0045 13.1154H33.3452C33.505 13.2634 33.6718 13.4038 33.8461 13.535V18.6154C33.8461 18.6175 33.8464 18.6195 33.8464 18.6216L31.6216 21.1642C31.4192 21.3955 31.3077 21.6925 31.3077 22V25.3846C31.3077 26.0856 31.876 26.6538 32.5769 26.6538C33.2779 26.6538 33.8462 26.0856 33.8462 25.3846V22.4769L36.1144 19.8846H39.1933L41.4615 22.4769V25.3846C41.4615 26.0856 42.0298 26.6538 42.7308 26.6538C43.4317 26.6538 44 26.0856 44 25.3846V22C44 21.6925 43.8885 21.3955 43.686 21.1642L41.4612 18.6216ZM41.4615 8.46154C41.4615 9.88274 40.6784 11.1237 39.5215 11.7778C38.6315 12.2802 37.5499 12.4046 36.5699 12.1111C35.0253 11.6484 33.9191 10.2264 33.8495 8.61596C33.8226 7.9948 33.9539 7.36586 34.2251 6.80638C34.8421 5.53359 36.1471 4.65385 37.6538 4.65385C39.7534 4.65385 41.4615 6.36198 41.4615 8.46154ZM2.53846 8.46154C2.53846 6.36198 4.24659 4.65385 6.34615 4.65385C7.71988 4.65385 8.92582 5.38518 9.59555 6.47883C10.2816 7.60447 10.3341 9.03972 9.72645 10.2097C9.55951 10.5311 9.3467 10.8286 9.09658 11.0905C8.38242 11.8363 7.37956 12.2692 6.34615 12.2692C4.24659 12.2692 2.53846 10.5611 2.53846 8.46154ZM20.7443 29.0671C21.5835 29.2357 22.4566 29.2337 23.2947 29.0591C23.8862 28.9364 24.4547 28.731 24.9839 28.4489L25.6031 32.5769H18.3969L19.016 28.4489C19.5452 28.731 20.1137 28.9364 20.7052 29.0591C20.7182 29.0618 20.7313 29.0644 20.7443 29.0671ZM29.1923 39.3462H14.8077V38.1364L17.493 35.1154H26.5069L29.1923 38.1364V39.3462ZM25.8077 22.8462C25.8077 24.415 24.8539 25.7649 23.4959 26.3473C22.548 26.7528 21.4521 26.7528 20.5042 26.3473C19.2769 25.821 18.3807 24.6676 18.2194 23.2925C18.0727 22.2663 18.4302 21.1786 19.0923 20.3927C19.28 20.17 19.4932 19.9688 19.7261 19.7939C20.361 19.3196 21.1483 19.0385 22 19.0385C24.0996 19.0385 25.8077 20.7466 25.8077 22.8462ZM18.712 17.4199C18.3994 17.6111 18.103 17.8293 17.8274 18.0707C17.0211 18.7762 16.3939 19.6812 16.0251 20.7091L9.36075 14.0448C9.75852 13.8292 10.1342 13.5688 10.4769 13.2734C11.2222 12.6327 11.8181 11.8234 12.2031 10.9038L18.7164 17.4172C18.7149 17.418 18.7135 17.419 18.712 17.4199ZM15.4661 10.5769L12.6531 7.76397C12.5991 7.27236 12.4886 6.79766 12.3284 6.34616H31.6701C31.2956 7.40461 31.2148 8.55284 31.4218 9.65504C31.4806 9.96795 31.5638 10.2767 31.6701 10.5769H15.4661ZM37.6538 14.8077C38.0884 14.8077 38.5129 14.7636 38.9231 14.68V17.3462H36.3846V14.68C36.7948 14.7636 37.2193 14.8077 37.6538 14.8077Z" fill="url(#regalia-gamer)"/>
        </g>
        <defs>
            <linearGradient id="regalia-gamer" x1="6.09743" y1="6.80592" x2="7.18583" y2="9.8583" gradientUnits="userSpaceOnUse">
                <stop offset="0.287293" stop-color="#F0F0F0"/>
                <stop offset="1" stop-color="#DCDCDC"/>
            </linearGradient>
            <linearGradient id="regalia-gamer" x1="21.7517" y1="21.1901" x2="22.8401" y2="24.2425" gradientUnits="userSpaceOnUse">
                <stop offset="0.287293" stop-color="#F0F0F0"/>
                <stop offset="1" stop-color="#DCDCDC"/>
            </linearGradient>
            <linearGradient id="regalia-gamer" x1="37.4053" y1="6.80592" x2="38.4937" y2="9.8583" gradientUnits="userSpaceOnUse">
                <stop offset="0.287293" stop-color="#F0F0F0"/>
                <stop offset="1" stop-color="#DCDCDC"/>
            </linearGradient>
            <linearGradient id="regalia-gamer" x1="17.6917" y1="-3.92954" x2="33.4235" y2="44.8831" gradientUnits="userSpaceOnUse">
                <stop offset="0.287293" stop-color="#F0F0F0"/>
                <stop offset="1" stop-color="#DCDCDC"/>
            </linearGradient>
            <clipPath id="gamer-clip">
                <rect width="44" height="44" fill="white"/>
            </clipPath>
        </defs>
    </svg>
</template>