<template>
    <svg width="43" height="43" viewBox="0 0 43 43" fill="none" xmlns="http://www.w3.org/2000/svg">
        <g clip-path="url(#health-clip)">
            <path d="M41.9814 9.22324C41.8209 8.84801 41.4854 8.57692 41.0851 8.49842L31.1636 6.55435C29.8741 6.30185 28.5588 6.56012 27.4603 7.28205L22.3132 10.6655V9.8061C24.0153 9.27899 25.2551 7.6906 25.2551 5.81767C25.2551 3.516 23.3825 1.64339 21.0808 1.64339C18.7791 1.64339 16.9065 3.516 16.9065 5.81767C16.9065 7.69028 18.1463 9.27899 19.8481 9.8061V10.6655L14.701 7.28205C13.6029 6.56012 12.2878 6.30153 10.9981 6.55435L1.07648 8.49842C0.676258 8.57692 0.340764 8.84801 0.180227 9.22292C0.0196898 9.59814 0.0552579 10.0278 0.274755 10.3717L2.04515 13.1428C2.49664 13.8493 3.01318 14.5091 3.58387 15.1166C3.66334 15.2323 3.76171 15.3349 3.87643 15.4185C4.86144 16.4035 5.99577 17.2363 7.24258 17.8788C9.17543 18.8747 11.2913 19.3813 13.4234 19.3813C14.6199 19.3813 15.8219 19.2214 16.9988 18.899L19.8484 18.1185V20.2958H15.0009C13.044 20.2958 11.4518 21.8877 11.4518 23.8449V24.5396C11.4518 26.4965 13.044 28.0887 15.0009 28.0887H19.8484V30.3718H18.9054C16.9485 30.3718 15.3566 31.9641 15.3566 33.921C15.3566 35.8778 16.9485 37.4697 18.9054 37.4697H19.8484V39.6375H18.9179C18.237 39.6375 17.6852 40.1893 17.6852 40.8699C17.6852 41.5508 18.237 42.1026 18.9179 42.1026H23.6539C25.6111 42.1026 27.203 40.5107 27.203 38.5538C27.203 36.5969 25.6111 35.0047 23.6539 35.0047H22.3135V32.8372H26.4336C28.3905 32.8372 29.9828 31.2453 29.9828 29.2881V29.1725C29.9828 27.2156 28.3905 25.6237 26.4336 25.6237H22.3135V22.7612H28.7501C29.4307 22.7612 29.9828 22.2091 29.9828 21.5285C29.9828 20.8479 29.4307 20.2958 28.7501 20.2958H22.3135V18.1188L25.1631 18.899C26.3401 19.2217 27.5417 19.3813 28.7385 19.3813C30.8704 19.3813 32.9865 18.8747 34.9194 17.8788C36.2447 17.1959 37.4444 16.2987 38.471 15.231C38.4723 15.2298 38.4736 15.2285 38.4749 15.2272C39.0869 14.5902 39.6377 13.8923 40.1165 13.1428L41.8869 10.3717C42.1064 10.0278 42.1419 9.59814 41.9814 9.22324ZM23.6539 37.4701C24.2515 37.4701 24.7376 37.9562 24.7376 38.5538C24.7376 39.1514 24.2515 39.6375 23.6539 39.6375H22.3132V37.4697H23.6539V37.4701ZM19.8481 35.0047H18.9054C18.3078 35.0047 17.8217 34.5186 17.8217 33.921C17.8217 33.3233 18.3078 32.8372 18.9054 32.8372H19.8481V35.0047ZM26.4336 28.0887C27.0313 28.0887 27.5174 28.5748 27.5174 29.1725V29.2881C27.5174 29.8857 27.0313 30.3718 26.4336 30.3718H22.3135V28.0887H26.4336ZM19.8481 25.6233H15.0009C14.4033 25.6233 13.9172 25.1372 13.9172 24.5396V23.8449C13.9172 23.2473 14.4033 22.7612 15.0009 22.7612H19.8481V25.6233ZM21.0808 4.1088C22.0232 4.1088 22.7897 4.87528 22.7897 5.81767C22.7897 6.76007 22.0232 7.52654 21.0808 7.52654C20.1384 7.52654 19.3719 6.76007 19.3719 5.81767C19.3719 4.87528 20.1384 4.1088 21.0808 4.1088ZM16.3474 16.5214C15.9821 16.6214 15.6136 16.7018 15.2435 16.7637C15.6341 16.2821 15.9856 15.7037 16.2602 15.0093C16.5105 14.3761 16.2 13.66 15.5668 13.4097C14.9339 13.1598 14.2178 13.4699 13.9675 14.1031C13.2142 16.0094 11.5319 16.5224 10.9862 16.6413C10.0861 16.4365 9.2078 16.1183 8.37146 15.6873C8.16927 15.5832 7.97092 15.4723 7.7761 15.356C9.05655 14.984 10.4533 14.2252 11.4803 12.715C11.8632 12.152 11.7171 11.3855 11.1541 11.0026C10.5911 10.6197 9.82463 10.7658 9.44171 11.3288C8.22919 13.112 6.10472 13.2569 5.19693 13.2299C4.8028 12.7893 4.44295 12.3167 4.12252 11.8155L3.32656 10.5697L11.4723 8.97362C12.1253 8.84545 12.7909 8.9765 13.3468 9.3418L19.8481 13.6157V15.5627L16.3474 16.5214ZM38.0388 11.8155C37.7241 12.308 37.3707 12.773 36.9842 13.2075C36.0941 13.2354 33.9398 13.1008 32.7199 11.3067C32.337 10.7437 31.5702 10.5976 31.0075 10.9805C30.4445 11.3634 30.2984 12.1299 30.681 12.6929C31.715 14.2133 33.1233 14.9718 34.4105 15.3416C34.2077 15.463 34.001 15.5787 33.7902 15.6873C32.9538 16.118 32.0755 16.4365 31.1754 16.6413C30.6294 16.5224 28.9474 16.0094 28.1941 14.1031C27.9439 13.4699 27.2277 13.1598 26.5945 13.4097C25.9617 13.66 25.6512 14.3761 25.9014 15.009C26.1757 15.7037 26.5275 16.2821 26.9181 16.7637C26.548 16.7018 26.1795 16.6214 25.8139 16.5214L22.3132 15.5627V13.6157L28.8145 9.3418C29.3704 8.9765 30.0363 8.84577 30.6893 8.97362L38.8347 10.5697L38.0388 11.8155Z" fill="url(#regalia-health)"/>
        </g>
        <defs>
            <linearGradient id="regalia-health" x1="16.9683" y1="-4.50641" x2="33.8107" y2="44.526" gradientUnits="userSpaceOnUse">
                <stop offset="0.287293" stop-color="#F0F0F0"/>
                <stop offset="1" stop-color="#DCDCDC"/>
            </linearGradient>
            <clipPath id="health-clip">
                <rect width="42" height="42" fill="white" transform="translate(0.0808105 0.905029)"/>
            </clipPath>
        </defs>
    </svg>
</template>