<template>
    <svg width="36" height="43" viewBox="0 0 36 43" fill="none" xmlns="http://www.w3.org/2000/svg">
        <path d="M34.0401 29.5876C32.7273 28.7808 29.9968 27.101 29.9968 22.7315C29.9968 19.0437 32.4075 17.1825 33.7022 16.1827L33.7293 16.1617C34.2492 15.7605 34.373 15.0133 34.0122 14.4584C31.1194 10.0117 26.1512 9.88323 25.1853 9.9017H25.1796C24.517 9.90254 23.8849 9.98061 23.2855 10.104C23.5069 9.92269 23.7217 9.72961 23.9283 9.52477C25.9979 7.47476 27.1352 4.4501 27.0474 1.22397C27.0286 0.543146 26.4841 0 25.8183 0C23.5798 0 21.0347 1.3692 19.1758 3.57368C17.303 5.79495 16.4281 8.45611 16.7766 10.8738C16.8053 11.0745 16.8808 11.2575 16.989 11.4145C16.661 11.302 16.3142 11.171 15.9714 11.0417C14.6693 10.5506 13.1926 9.99405 11.8101 9.99405C11.7822 9.99405 8.97141 10.015 6.16469 11.7998C3.70973 13.3621 0.782471 16.6134 0.782471 23.236C0.782471 26.6804 2.09687 31.5024 4.13119 35.5219C5.5366 38.2989 8.4532 42.9597 12.1988 42.9815H12.239C14.9702 42.9815 17.2333 41.3303 18.7724 41.3303C21.4012 41.3303 22.3368 43 25.1796 43C27.728 43 30.1977 41.018 32.5207 37.1102C33.3734 35.6747 34.0368 34.2551 34.4427 33.3166C35.2175 31.5285 35.2175 31.29 35.2175 31.1154C35.2175 30.3121 34.619 29.9435 34.0401 29.5876ZM21.038 5.21907C22.0473 4.02196 23.3191 3.13379 24.5236 2.74175C24.2932 4.69691 23.4864 6.45898 22.2179 7.71485C21.329 8.59547 20.2623 9.16799 19.1791 9.36527C19.2939 7.9818 19.94 6.5211 21.038 5.21907ZM30.3002 35.9987C28.5447 38.8899 26.726 40.4815 25.1796 40.4815C23.0518 40.4815 22.0572 38.8118 18.7724 38.8118C16.556 38.8118 14.4414 40.4748 12.2127 40.4631C10.4744 40.453 8.21459 38.1159 6.31556 34.3634C4.44851 30.6755 3.24235 26.3077 3.24235 23.236C3.24235 18.8875 4.63874 15.7756 7.39053 13.9858C9.53309 12.5931 11.7248 12.515 11.8175 12.5125C13.7378 12.5175 16.4035 14.2578 18.346 14.2578C20.095 14.2578 22.4368 12.4202 25.1886 12.4202H25.2337C25.9011 12.4067 29.0522 12.4831 31.2661 14.9428C29.7017 16.2918 27.537 18.718 27.537 22.7315C27.537 28.1831 30.9045 30.5765 32.4953 31.5746C32.0992 32.5568 31.344 34.2803 30.3002 35.9987Z" fill="url(#regalia-jobs)"/>
        <defs>
            <linearGradient id="regalia-jobs" x1="14.6282" y1="-6.536" x2="36.2773" y2="42.0845" gradientUnits="userSpaceOnUse">
                <stop offset="0.287293" stop-color="#F0F0F0"/>
                <stop offset="1" stop-color="#DCDCDC"/>
            </linearGradient>
        </defs>
    </svg>
</template>