<template>
    <svg width="45" height="45" viewBox="0 0 45 45" fill="none" xmlns="http://www.w3.org/2000/svg">
        <g clip-path="url(#lead-machine-clip)">
            <path d="M42.0972 20.6653V12.5012H29.9152L34.0879 4.504L31.8018 3.31128L27.0071 12.5012H18.2576L13.4629 3.31128L11.1768 4.504L15.3495 12.5016H3.16748V20.6656H0.632324V34.4156H3.16748V42.5797H42.0972V34.4156H44.6323V20.6656H42.0972V20.6653ZM39.519 40.0012H5.74561V15.0793H39.519V40.0012Z" fill="url(#regalia-lead-machine)"/>
            <path d="M14.4683 26.2512C16.6006 26.2512 18.3354 24.5167 18.3354 22.384C18.3354 20.2517 16.6006 18.5168 14.4683 18.5168C12.3359 18.5168 10.6011 20.2517 10.6011 22.384C10.6011 24.5167 12.3359 26.2512 14.4683 26.2512ZM14.4683 21.095C15.1789 21.095 15.7573 21.6734 15.7573 22.384C15.7573 23.095 15.1789 23.6731 14.4683 23.6731C13.7576 23.6731 13.1792 23.095 13.1792 22.384C13.1792 21.6734 13.7576 21.095 14.4683 21.095Z" fill="url(#regalia-lead-machine)"/>
            <path d="M30.7964 26.2512C32.9287 26.2512 34.6636 24.5167 34.6636 22.384C34.6636 20.2517 32.9287 18.5168 30.7964 18.5168C28.6641 18.5168 26.9292 20.2517 26.9292 22.384C26.9292 24.5167 28.6641 26.2512 30.7964 26.2512ZM30.7964 21.095C31.507 21.095 32.0854 21.6734 32.0854 22.384C32.0854 23.095 31.507 23.6731 30.7964 23.6731C30.0857 23.6731 29.5073 23.095 29.5073 22.384C29.5073 21.6734 30.0857 21.095 30.7964 21.095Z" fill="url(#regalia-lead-machine)"/>
            <path d="M13.1792 36.5637H32.0854V28.8293H13.1792V36.5637ZM15.7573 31.4075H29.5073V33.9856H15.7573V31.4075Z" fill="url(#regalia-lead-machine)"/>
        </g>
        <defs>
            <linearGradient id="regalia-lead-machine" x1="18.324" y1="-2.65752" x2="33.6983" y2="45.6541" gradientUnits="userSpaceOnUse">
                <stop offset="0.287293" stop-color="#F0F0F0"/>
                <stop offset="1" stop-color="#DCDCDC"/>
            </linearGradient>
            <linearGradient id="regalia-lead-machine" x1="13.7109" y1="17.3412" x2="17.0261" y2="26.6383" gradientUnits="userSpaceOnUse">
                <stop offset="0.287293" stop-color="#F0F0F0"/>
                <stop offset="1" stop-color="#DCDCDC"/>
            </linearGradient>
            <linearGradient id="regalia-lead-machine" x1="30.0391" y1="17.3412" x2="33.3542" y2="26.6383" gradientUnits="userSpaceOnUse">
                <stop offset="0.287293" stop-color="#F0F0F0"/>
                <stop offset="1" stop-color="#DCDCDC"/>
            </linearGradient>
            <linearGradient id="regalia-lead-machine" x1="20.7811" y1="27.6537" x2="22.2779" y2="37.9146" gradientUnits="userSpaceOnUse">
                <stop offset="0.287293" stop-color="#F0F0F0"/>
                <stop offset="1" stop-color="#DCDCDC"/>
            </linearGradient>
            <clipPath id="lead-machine-clip">
                <rect width="44" height="44" fill="white" transform="translate(0.632324 0.905029)"/>
            </clipPath>
        </defs>
    </svg>
</template>