<template>
    <svg width="44" height="44" viewBox="0 0 44 44" fill="none" xmlns="http://www.w3.org/2000/svg">
        <path d="M43.3234 15.5784L24.0806 5.18804C22.7778 4.48456 21.2222 4.48456 19.9194 5.18804L0.676582 15.5784C0.193614 15.8392 -0.0786365 16.3827 0.0201057 16.9407C0.0903167 17.3373 0.354488 17.673 0.708895 17.8643L4.48722 19.9045V32.0892C2.99045 32.6406 1.94038 34.1235 2.04368 35.8311C2.15875 37.7329 3.71989 39.2603 5.62357 39.3365C7.75482 39.4218 9.51586 37.7126 9.51586 35.6C9.51586 33.9907 8.49406 32.6156 7.06526 32.0893V21.2966L10.3926 23.0932L9.50958 28.7622C9.47916 28.9574 9.46593 29.1557 9.48131 29.3527C9.62775 31.2292 11.0334 32.9154 13.4768 34.1295C15.7749 35.2713 18.8018 35.9002 21.9999 35.9002C25.198 35.9002 28.2249 35.2713 30.523 34.1295C32.9664 32.9154 34.3721 31.2293 34.5185 29.3529C34.5339 29.1558 34.5207 28.9574 34.4902 28.7621L33.6066 23.0936L43.291 17.8644C43.6454 17.673 43.9097 17.3374 43.9798 16.9408C44.0786 16.3827 43.8064 15.8392 43.3234 15.5784ZM5.77628 36.7614C5.13588 36.7614 4.61475 36.2404 4.61475 35.5999C4.61475 34.9594 5.13579 34.4383 5.77628 34.4383C6.41678 34.4383 6.93782 34.9594 6.93782 35.5999C6.93782 36.2404 6.41669 36.7614 5.77628 36.7614ZM29.3759 31.8207C27.4273 32.7889 24.8078 33.3221 22 33.3221C19.1922 33.3221 16.5727 32.7888 14.6241 31.8207C12.9861 31.0068 12.0468 29.988 12.0468 29.0252C12.0468 28.0625 12.9862 27.0436 14.6241 26.2298C16.5727 25.2615 19.1922 24.7283 22 24.7283C24.8078 24.7283 27.4273 25.2616 29.3759 26.2298C31.0139 27.0436 31.9532 28.0625 31.9532 29.0252C31.9532 29.988 31.0139 31.0068 29.3759 31.8207ZM12.8115 24.278L13.5693 19.639C13.5701 19.6338 13.571 19.6286 13.5717 19.6234C13.9185 17.323 18.2167 15.8992 22 15.8992C24.3975 15.8992 26.5783 16.3265 28.1407 17.1023C28.9189 17.4888 30.2507 18.328 30.4258 19.6062C30.4274 19.617 30.4289 19.628 30.4308 19.6388L31.1877 24.2775C30.9756 24.1546 30.754 24.0356 30.5231 23.9209C28.225 22.779 25.1981 22.1501 22 22.1501C18.8019 22.1501 15.775 22.779 13.4769 23.9209C13.2457 24.0359 13.0238 24.155 12.8115 24.278ZM33.1673 20.4009L32.9777 19.2386C32.479 15.6983 28.071 13.321 22 13.321C19.2161 13.321 16.692 13.8608 14.7004 14.882C12.5923 15.9628 11.2869 17.5069 11.0236 19.2307L10.8325 20.4007L4.00219 16.7125L21.1443 7.45662C21.68 7.16727 22.3199 7.16736 22.8557 7.45662L39.9979 16.7127L33.1673 20.4009Z" fill="url(#regalia-professor)"/>
        <defs>
            <linearGradient id="regalia-professor" x1="17.6916" y1="-0.610799" x2="29.93" y2="42.936" gradientUnits="userSpaceOnUse">
                <stop offset="0.287293" stop-color="#F0F0F0"/>
                <stop offset="1" stop-color="#DCDCDC"/>
            </linearGradient>
        </defs>
    </svg>
</template>