<template>
    <svg width="36" height="37" viewBox="0 0 36 37" fill="none" xmlns="http://www.w3.org/2000/svg">
        <path d="M34.8047 33.6902L26.5219 25.1773C28.575 22.6047 29.8125 19.3094 29.8125 15.7178C29.8125 7.47949 23.3086 0.794922 15.293 0.794922C7.27031 0.794922 0.773438 7.47949 0.773438 15.7178C0.773438 23.9561 7.27031 30.6406 15.293 30.6406C18.7875 30.6406 21.9867 29.376 24.4898 27.2658L32.7727 35.7715C33.3352 36.3496 34.2422 36.3496 34.8047 35.7715C35.3672 35.2006 35.3672 34.2611 34.8047 33.6902ZM15.293 27.6705C8.87344 27.6705 3.65625 22.3084 3.65625 15.7178C3.65625 9.12715 8.87344 3.75781 15.293 3.75781C21.7055 3.75781 26.9297 9.12715 26.9297 15.7178C26.9297 22.3084 21.7055 27.6705 15.293 27.6705Z" fill="url(#regalia-tester)"/>
        <defs>
            <linearGradient id="regalia-tester" x1="14.6265" y1="-4.58742" x2="30.1271" y2="37.7086" gradientUnits="userSpaceOnUse">
                <stop offset="0.287293" stop-color="#F0F0F0"/>
                <stop offset="1" stop-color="#DCDCDC"/>
            </linearGradient>
        </defs>
    </svg>
</template>