<template>
    <svg width="53" height="53" viewBox="0 0 53 53" fill="none" xmlns="http://www.w3.org/2000/svg">
        <g clip-path="url(#tuning-clip)">
            <path d="M51.9602 19.8652C51.3094 19.4501 50.5026 19.3964 49.8028 19.722L48.5388 20.3097H46.4355C44.4993 19.5093 33.461 15.1789 25.4733 17.0049C24.5125 17.2245 23.5526 17.5959 22.6207 18.1086C20.1191 19.4852 18.1515 20.6168 17.4069 21.0481C14.9664 21.0046 4.78219 21.0079 0.60229 23.9834C0.127943 24.321 -0.0951013 24.912 0.037578 25.479L1.54467 31.9143C1.69657 32.5629 2.27505 33.0217 2.94117 33.0217C2.94146 33.0217 2.94189 33.0217 2.94218 33.0217L5.40356 33.0201C6.01647 34.9986 7.86336 36.4402 10.0406 36.4402C12.2201 36.4402 14.0684 34.9958 14.6792 33.0139L37.0974 32.9991C37.7036 34.9885 39.5553 36.4402 41.7402 36.4402C43.9356 36.4402 45.7943 34.9741 46.3913 32.97C46.5145 32.9486 46.635 32.9132 46.7491 32.8603L52.1685 30.3497C52.6755 30.1149 53 29.607 53 29.0483V21.7616C53 20.9893 52.6113 20.2804 51.9602 19.8652ZM39.756 31.5873C39.756 30.4931 40.646 29.6031 41.7402 29.6031C42.8343 29.6031 43.7243 30.4931 43.7243 31.5873C43.7243 32.6814 42.8343 33.5715 41.7402 33.5715C40.646 33.5715 39.756 32.6814 39.756 31.5873ZM12.0248 31.5873C12.0248 32.6814 11.1347 33.5715 10.0406 33.5715C8.94645 33.5715 8.05643 32.6814 8.05643 31.5873C8.05643 30.4931 8.94645 29.6031 10.0406 29.6031C11.1347 29.6031 12.0248 30.4931 12.0248 31.5873ZM17.7371 23.9253C17.7509 23.9257 17.7648 23.9259 17.7786 23.9259H30.1218C30.9138 23.9259 31.5561 23.2836 31.5561 22.4915C31.5561 21.6995 30.9138 21.0571 30.1218 21.0571H23.2161C23.4718 20.9154 23.7345 20.7703 24.0038 20.6221C24.7022 20.2378 25.4116 19.9617 26.1126 19.8015C33.7919 18.046 45.4615 23.0109 45.5781 23.0612C45.7574 23.1386 45.9508 23.1784 46.1461 23.1784H48.8559C49.0648 23.1784 49.2712 23.1328 49.4607 23.0447L50.1312 22.7329V28.1319L46.2939 29.9096C45.6095 28.058 43.8266 26.7344 41.7402 26.7344C39.5717 26.7344 37.7313 28.1642 37.111 30.1304L14.6748 30.1453C14.0593 28.1713 12.2145 26.7344 10.0406 26.7344C7.86451 26.7344 6.01833 28.1743 5.40471 30.1513L4.07863 30.1522L3.07084 25.8488C6.74412 24.0462 14.744 23.8387 17.7371 23.9253Z" fill="url(#regalia-tuning)"/>
        </g>
        <defs>
            <linearGradient id="regalia-tuning" x1="21.3103" y1="13.538" x2="24.8496" y2="40.0003" gradientUnits="userSpaceOnUse">
                <stop offset="0.287293" stop-color="#F0F0F0"/>
                <stop offset="1" stop-color="#DCDCDC"/>
            </linearGradient>
            <clipPath id="tuning-clip">
                <rect width="53" height="53" fill="white"/>
            </clipPath>
        </defs>
    </svg>
</template>