.like {
  display: flex;
  flex-direction: column;
  align-items: center;
  cursor: pointer;
  &.disabled {
    pointer-events: none;
    opacity: 0.7;
  }
  &:hover {
    .like__count {
      color: #23C6EA;
    }
  }
  &__count {
    margin-top: 6px;
    display: inline-block;
    font-size: 11px;
    line-height: 13px;
    text-align: center;
    color: #8696A9;
  }
}

.dislike {
  &:hover {
    .like__count {
      color: #FF5353;
    }
  }
}