.sidebar-accordion {
  list-style: none;
  margin: 0;
  padding: 0;

  &-item {
    &__link {
      pointer-events: none;
      color: #516378;
      display: block;
      transition: 0.15s;
      height: 0;
      opacity: 0;
      padding: 0 0.8215rem 0 1.6875rem;
      background-color: #def0f7;
      &:hover, &:focus {
        color: #516378;
        text-decoration: none;
        background-color: #dff1f8;
        transition: 0s;
      }
    }
  }
}