@media (max-width: $screen-width-sm) {
  .sidebar {
    height: calc(100vh - 76px);
    position: absolute;
    z-index: 1000;
    transform: translateX(-75px);
    transition: 0.3s;
    &_open {
      transform: translateX(0);
    }
  }
  .sidebar-overlay {
    &_open {
      display: block;
      opacity: 0.3;
    }
  }
}