.sidebar-item {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0.8125rem 0.8215rem 1rem 1.6875rem;
  border: none;
  border-left: 2px solid transparent;
  background: transparent;
  color: #516378;
  cursor: pointer;
  &.router-link-exact-active {
    position: relative;
    .sidebar-item__title {
      background: linear-gradient(174.77deg, #49D8BD 28.06%, #3793FF 99.24%);;
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
    }
    .sidebar-item__alert {
      display: none;
    }
    &::before {
      left: -2px;
      position: absolute;
      background: #ffffff;
      background: linear-gradient(96.4deg, #49D8BD 28.06%, #3793FF 99.24%);
      filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffff', endColorstr='#999999', GradientType=1);
      content: "";
      display: block;
      height: 100%;
      width: 2px;
    }
  }
  &_active {
    background: linear-gradient(125.43deg, rgba(0, 209, 255, 0.1) 4.8%, rgba(11, 168, 234, 0.1) 56.69%, rgba(20, 133, 215, 0.1) 101.83%);
    border-image: linear-gradient(to bottom, #49D8BD 28.06%, #3793FF 99.24%) 1 100%;
    .sidebar-item__title {
      background: linear-gradient(174.77deg, #49D8BD 28.06%, #3793FF 99.24%);;
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
    }
  }

  &_open {
    background-color: #def0f7;
    position: relative;
    .sidebar-item_open {
      background-color: red;
    }
    &::before {
      left: -2px;
      position: absolute;
      background: #ffffff;
      background: linear-gradient(96.4deg, #49D8BD 28.06%, #3793FF 99.24%);
      filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffff', endColorstr='#999999', GradientType=1);
      content: "";
      display: block;
      height: 100%;
      width: 2px;
    }
    .sidebar-item__arrow {
      transform: rotate(90deg);
    }
    & + ul > li > .sidebar-accordion-item__link {
      pointer-events: auto;
      padding: 0.5rem 0.8125rem 0.5rem 1.6875rem;
      height: auto;
      opacity: 1;
      background-color: #def0f7;
      &:hover {
        background-color: darken(#def0f7, 5%);
      }
      &.router-link-exact-active {
        position: relative;
        &::before {
          position: absolute;
          top: -1px;
          left: 0;
          background: #ffffff;
          background: linear-gradient(96.4deg, #49D8BD 28.06%, #3793FF 99.24%);
          filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffff', endColorstr='#999999', GradientType=1);
          content: "";
          display: block;
          height: 100%;
          width: 2px;
        }
      }
    }

    & + ul > li > .sidebar-item {
      pointer-events: auto !important;
      padding: 0.5rem 0.8125rem 0.5rem 1.6875rem !important;
      height: auto !important;
      opacity: 1 !important;
      background-color: #def0f7;
      & + ul > li > .sidebar-accordion-item__link {
        background-color: darken(#def0f7, 5%);
        &:hover {
          background-color: darken(#def0f7, 10%);
        }
      }
    }
  }
  &:hover, &:focus {
    outline: none;
    color: #516378;
    text-decoration: none;
    background: linear-gradient(125.43deg, rgba(0, 209, 255, 0.1) 4.8%, rgba(11, 168, 234, 0.1) 56.69%, rgba(20, 133, 215, 0.1) 101.83%);

  }

  & + ul > li > .sidebar-item {
    pointer-events: none;
    transition: 0.15s;
    height: 0;
    opacity: 0;
    padding: 0 0.8215rem 0 1.6875rem;
    &__title {
      margin-left: 0;
    }
  }
  & + ul > li > .sidebar-item .sidebar-item__title {
    margin-left: 0;
  }


  &__icon {
    margin-top: 0.25rem;
  }

  &__title {
    display: inline-block;
    margin-left: 1rem;
    line-height: 1.125rem;
    transition: 0.3s;
    opacity: 0;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }

  &__arrow {
    transition: 0.15s;
  }
  &__alert {
    margin-top: 2px;
    width: 1.3125rem;
    height: 1.3125rem;
    font-size: 0.6875rem;
    line-height: 0.8125rem;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #FFFFFF;
    font-weight: bold;
    background: linear-gradient(98.43deg, #00D1FF 4.8%, #0BA8EA 56.69%, #1485D7 101.83%);
    border-radius: 50%;
  }
}