.sidebar {
  height: calc(100vh - 88px);
  position: relative;
  width: 100%;
  overflow-y: auto;
  overflow-x: hidden;
  list-style: none;
  padding: 0;
  margin: 0;
  background-color: #F4FAFA;
  max-width: 75px;
  will-change: width;
  z-index: 1000;
  ul {
    list-style: none;
    padding: 0;
    margin: -0;
  }

  &_open {
    max-width: 240px;

    .sidebar-item__title {
      opacity: 1 !important;
    }
  }
}

.sidebar-overlay {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0; bottom: 0; left: 0; right: 0;
  background-color: rgb(110, 131, 153);
  z-index: 999;
  display: none;
  transition: 0.3s;
  opacity: 0;
}