<template>
    <footer class="footer">
        <div class="footer-item footer-item_soc order-sm-0 order-md-0">
            <span class="text text-white">Мы в соцсетях</span>
            <a href="#" class="footer-item__link">
                <vk></vk>
            </a>
            <a href="#" class="footer-item__link">
                <telegram></telegram>
            </a>
        </div>
        <div class="footer-item order-sm-2 order-md-1">
            <a href="#" class="text text-white">Политика конфиденциальности</a>
        </div>
        <div class="footer-item order-sm-1 order-md-2">
            <span class="text">Поддержка партнёров, время работы с 8:00 до 23:00 по МСК</span>
        </div>
        <div class="footer-item footer-item__contacts order-sm-3">
            <a href="#" class="footer-contact-item">
                <skype></skype>
                <span class="text">maxim.tlight.biz (Максим)</span>
            </a>
            <a href="#" class="footer-contact-item">
                <telegram-gradient></telegram-gradient>
                <span class="text">@maxtlight (Максим)</span>
            </a>
            <a href="#" class="footer-contact-item">
                <message-gradient></message-gradient>
                <span class="text">support@tlight.biz</span>
            </a>
        </div>
    </footer>
</template>

<script>
    import Vk from "../icons/Vk"
    import Telegram from "../icons/Telegram"
    import Skype from "../icons/SkypeGradient"
    import TelegramGradient from "../icons/TelegramGradient"
    import MessageGradient from "../icons/MessageGradient"
    export default {
        name: "Footer",
        components: {
            Vk,
            Telegram,
            Skype,
            TelegramGradient,
            MessageGradient
        }
    }
</script>