<template>
    <button class="btn btn-primary btn-gradient" @click="click">
        <span class="text">{{text}}</span>
        <plus class="btn__icon"></plus>
    </button>
</template>

<script>
    import Plus from '../icons/Plus'
    export default {
        name: "ButtonGradient",
        components: {
            Plus
        },
        props: {
            text: String
        },
        methods: {
            click() {
                this.$emit('click')
            }
        }
    }
</script>

<style scoped>

</style>