<template>
    <div class="regalia-icons">
        <span class="regalia-icons__item" :class="{'regalia-icons__item_fill':item.value === 5}" v-for="(item, index) in regalia" :key="index">
            <accessory-supplier v-if="item.title === 'accessory_supplier'"></accessory-supplier>
            <adult v-if="item.title === 'adult'"></adult>
            <approve v-if="item.title === 'approve'"></approve>
            <beauty v-if="item.title === 'beauty'"></beauty>
            <business-executive v-if="item.title === 'business_executive'"></business-executive>
            <esoteric v-if="item.title === 'esoteric'"></esoteric>
            <exporter v-if="item.title === 'exporter'"></exporter>
            <fashion v-if="item.title === 'fashion'"></fashion>
            <fish v-if="item.title === 'fish'"></fish>
            <gamer v-if="item.title === 'gamer'"></gamer>
            <health v-if="item.title === 'health'"></health>
            <jobs v-if="item.title === 'jobs'"></jobs>
            <lead-machine v-if="item.title === 'lead_machine'"></lead-machine>
            <professor v-if="item.title === 'professor'"></professor>
            <tester v-if="item.title === 'tester'"></tester>
            <tuning v-if="item.title === 'tuning'"></tuning>
        </span>
        <svg aria-hidden="true" focusable="false" style="width:0;height:0;position:absolute;">
            <linearGradient id="regalia-fill" x1="15.3943" y1="-3.92062" x2="23.3366" y2="29.1134" gradientUnits="userSpaceOnUse">
                <stop offset="0.287293" stop-color="#49D8BD"/>
                <stop offset="1" stop-color="#3793FF"/>
            </linearGradient>
        </svg>
    </div>
</template>

<script>
    import AccessorySupplier from '../icons/regalia/AccessorySupplier'
    import Adult from '../icons/regalia/Adult'
    import Approve from '../icons/regalia/Approve'
    import Beauty from '../icons/regalia/Beauty'
    import BusinessExecutive from '../icons/regalia/BusinessExecutive'
    import Esoteric from '../icons/regalia/Esoteric'
    import Exporter from '../icons/regalia/Exporter'
    import Fashion from '../icons/regalia/Fashion'
    import Fish from '../icons/regalia/Fish'
    import Gamer from '../icons/regalia/Gamer'
    import Health from '../icons/regalia/Health'
    import Jobs from '../icons/regalia/Jobs'
    import LeadMachine from '../icons/regalia/LeadMachine'
    import Professor from '../icons/regalia/Professor'
    import Tester from '../icons/regalia/Tester'
    import Tuning from '../icons/regalia/Tuning'

    export default {
        name: "RegaliaIcons",
        components: {
            AccessorySupplier,
            Adult,
            Approve,
            Beauty,
            BusinessExecutive,
            Esoteric,
            Exporter,
            Fashion,
            Fish,
            Gamer,
            Health,
            Jobs,
            LeadMachine,
            Professor,
            Tester,
            Tuning
        },
        props: {
           regalia: Array,
        },
    }
</script>

<style scoped>

</style>