<template>
    <section class="section regalia">
        <h2 class="h2  section__title d-flex justify-content-between">
            <span>Регалии</span>
            <button type="button" class="btn-collapse ml-4 d-flex d-xl-none" :class="{'btn-collapse_close': collapse}"
                    @click="collapse = !collapse">
                <arrow-gradient-top></arrow-gradient-top>
            </button>
        </h2>
        <div v-if="loaders.data" :class="{'d-none': collapse}">
            <regalia-icons :regalia="regalia" v-if="regalia.length > 0"></regalia-icons>
            <hr class="section__divider">
            <regalia-titles :regalia="regalia" v-if="regalia.length > 0"></regalia-titles>
            <b-alert :show="regalia.length === 0" class="text-center mb-0">Список Регалий пуст</b-alert>
        </div>
        <div class="text-center" v-else>
            <b-spinner label="Spinning"></b-spinner>
        </div>
    </section>
</template>

<script>
    import {get} from '../../service/api';

    import {BSpinner} from 'bootstrap-vue'
    import { BAlert } from 'bootstrap-vue'

    import RegaliaIcons from "./RegaliaIcons";
    import RegaliaTitles from "./RegaliaTitles";
    import ArrowGradientTop from "../icons/ArrowGradientTop"

    export default {
        name: "Regalia",
        components: {
            RegaliaTitles,
            'b-spinner': BSpinner,
            'b-alert': BAlert,
            RegaliaIcons,
            ArrowGradientTop
        },
        data() {
            return {
                loaders: {
                    data: true
                },
                regalia: [],
                collapse: false
            }
        },
        mounted() {
            this.loadData();
        },
        methods: {
            async loadData() {
                this.loaders.data = false;
                try {
                    const response = await get('regalia/list');

                    this.regalia = response.data.data;
                    this.loaders.data = true;
                } catch (err) {
                    this.loaders.data = true;
                    // eslint-disable-next-line
                    console.log(err);

                }
            }
        }
    }
</script>

<style scoped>

</style>