<template>
    <div class="regalia-titles">
        <div class="regalia-titles-item"
             v-for="(item, index) in regalia"
             :key="index">
            <h5 class="regalia-titles-item__title">{{titles[item.title]}}</h5>
            <div class="regalia-titles-item__value">
                <div class="regalia-titles-item__star"
                     v-for="(star, starIndex) in 5"
                     :key="starIndex"
                     :class="{'regalia-titles-item__star_active':item.value > starIndex}"
                ></div>
            </div>
        </div>
    </div>
</template>

<script>
    export default {
        name: "RegaliaTitles",
        props: {
            regalia: Array,
        },
        data() {
            return {
                titles: {
                    tester: 'Неутомимый тестировщик',
                    exporter: 'Крупный экспортер',
                    lead_machine: 'Лид-машина',
                    beauty: 'Ценитель красоты',
                    accessory_supplier: 'Поставщик аксессуаров',
                    health: 'Конкурент Минздрава',
                    jobs: 'Второй после Джобса',
                    fish: 'Заядлый охотник и рыбак',
                    gamer: 'Игрок-универсал',
                    professor: 'Профессор',
                    approve: 'Медаль за аппрув',
                    business_executive: 'Хозяйственник',
                    adult: 'Орден адалта',
                    fashion: 'Главный в мире моды',
                    tuning: 'Тюнинг-профи',
                    esoteric: 'Страстный эзотерик'
                }
            }
        }
    }
</script>

<style scoped>

</style>