<template>
    <section class="offers section">
        <h2 class="h2 offers__title section__title d-flex justify-content-between" :class="{'mb-0': collapse}">
            <span>Новые офферы</span>
        </h2>
        <button type="button" class="btn-collapse icon-arrow-bottom ml-4 d-flex flex-grow-1 d-xl-none" :class="{'btn-collapse_close': collapse}"
                @click="collapse = !collapse">
        </button>
        <swiper ref="slider_swiper" :options="sliderOptions"
                :class="{'d-none': collapse}">
            <swiper-slide v-for="(item, index) in sliders"
                          :key="index">
                <slider-item
                        :title="item.title"
                        :img="item.img"
                        :link="item.link"
                        :time="item.time"
                        :price="item.price"
                        :type="item.type"
                ></slider-item>
            </swiper-slide>
        </swiper>
        <div class="slider-navigation"
             :class="{'d-none': collapse}">
            <button type="button" class="slider-navigation__button slider-navigation__button_prev d-none d-md-flex">
                <arrow-gradient-left></arrow-gradient-left>
            </button>
            <div class="slider-navigation__pagination"></div>
            <button type="button" class="slider-navigation__button slider-navigation__button_next d-none d-md-flex">
                <arrow-gradient-right></arrow-gradient-right>
            </button>
        </div>
    </section>
</template>

<script>
    import ArrowGradientLeft from '../icons/ArrowGradientLeft'
    import ArrowGradientRight from '../icons/ArrowGradientRight'
    import SliderItem from "./SliderItem";

    import {swiper, swiperSlide} from 'vue-awesome-swiper'

    import {get} from '../../service/api';

    export default {
        name: "Slider",
        components: {
            SliderItem,
            swiper,
            swiperSlide,
            ArrowGradientLeft,
            ArrowGradientRight,
        },
        data() {
            return {
                loaders: {
                    data: false
                },
                sliderOptions: {
                    slidesPerGroup: 5,
                    slidesPerView: 5,
                    spaceBetween: 13,
                    navigation: {
                        prevEl: '.slider-navigation__button_prev',
                        nextEl: '.slider-navigation__button_next',
                    },
                    loop: true,
                    loopFillGroupWithBlank: true,
                    pagination: {
                        el: '.slider-navigation__pagination',
                        clickable: true,
                        renderBullet: function (index, className) {
                            return '<span class="'+ className +' swiper-pagination-bullet__wrap">' +
                                    '<i class="' + 'swiper-pagination-bullet__icon' + '"></i>' +
                                '</span>';
                        },
                    },
                    autoplay: {
                        delay: 5000,
                    },
                    breakpoints: {
                        1600: {
                            slidesPerView: 4,
                            slidesPerGroup: 4,
                            spaceBetween: 13,
                        },
                        1440: {
                            slidesPerView: 3,
                            slidesPerGroup: 3,
                            spaceBetween: 13,
                        },
                        1200: {
                            slidesPerView: 4,
                            slidesPerGroup: 4,
                            spaceBetween: 13,
                        },
                        991: {
                            slidesPerView: 3,
                            slidesPerGroup: 3,
                            spaceBetween: 13,
                        },
                        767: {
                            slidesPerView: 3,
                            slidesPerGroup: 3,
                            spaceBetween: 27,
                        },
                        575: {
                            slidesPerView: "auto",
                            slidesPerGroup: 1,
                            spaceBetween: 0,

                        },
                    }
                },
                sliders: [],
                collapse: false,
                watcher_open: null,
            }
        },
        mounted() {
            let that = this;
            this.loadData();
            this.watcher_open = this.$store.watch(
                (state, getters) => getters.sidebar_open,
                () => {
                    that.$refs.slider_swiper.update();
                },
            );
        },
        beforeDestroy() {
            this.watcher_open();
        },
        methods: {
            async loadData() {
                try {
                    const response = await get('offers/list');
                    this.sliders = response.data.data;
                    this.loaders.data = true
                } catch (err) {
                    // eslint-disable-next-line
                    console.log(err);
                }

            }
        }
    }
</script>

<style scoped>

</style>