<template>
    <a href="" class="slider-item">
        <div class="slider-item__img">
            <img :src="img">
            <span class="slider-item__type" v-if="type === 'private'">Приватный</span>
        </div>
        <h5 class="slider-item__title">{{title}}</h5>
        <div class="slider-item__body">
            <div class="slider-item__date"><span>Дата выхода:</span><span>{{time}}</span></div>
            <div class="slider-item__value">
                <span class="slider-item__price"
                      v-for="(item, index) in price.slice(0, 3)"
                      :key="index">
                    <icon-russia v-if="item.country === 'RUS'" class="slider-item__icon"></icon-russia>
                    <icon-ukraine v-if="item.country === 'UA'" class="slider-item__icon"></icon-ukraine>
                    {{item.price | formatPrice}} RUB / {{item.affiliate_payout | formatPrice}} RUB
                </span>
            </div>
            <div class="slider-item__geo-prompt" v-if="price.length > 3">Показать все {{price.length}} гео</div>
        </div>
    </a>
</template>

<script>
    import IconRussia from '../icons/country/Russia'
    import IconUkraine from '../icons/country/Ukraine'

    import  {formatPrice} from "../../utils";

    export default {
        name: "SliderItem",
        components: {
            IconRussia,
            IconUkraine
        },
        props: {
            img: String,
            title: String,
            link: String,
            time: String,
            price: Array,
            type: String
        },
        filters: {
            formatPrice
        }
    }
</script>

<style scoped>

</style>