<template>
  <div>
    <ul class="sidebar" :class="{'sidebar_open':open}">
      <sidebar-item :item="items"></sidebar-item>
    </ul>
    <div class="sidebar-overlay" @click="sidebarToogle" :class="{'sidebar-overlay_open':open}"></div>
  </div>
</template>

<script>
import SidebarItem from "./SidebarItem";

import { get } from "../../service/api";

export default {
  name: "Sidebar",
  components: {
    SidebarItem
  },

  data() {
    return {
      items: {
        type: "root",
        children: [
          {
            type: "link",
            router: "dashboard",
            iconWidth: 18,
            iconHeight: 18,
            iconViewBox: "0 0 18 14",
            notificationsCount: 19,
            title: "Дашборд",
            icon: "IconGraph"
          },
          {
            type: "link",
            iconWidth: 18,
            iconHeight: 18,
            iconViewBox: "0 0 18 18",
            notificationsCount: 0,
            title: "Моя команда",
            icon: "IconMultiplieUsers",
            router: "my-team"
          },
          {
            type: "link",
            iconWidth: 18,
            iconHeight: 18,
            iconViewBox: "0 0 18 18",
            notificationsCount: 0,
            title: "Команда (еще пример)",
            icon: "IconMultiplieUsers",
            router: "my-team-one-example"
          },
          {
            type: "link",
            link: "#",
            iconWidth: 18,
            iconHeight: 18,
            iconViewBox: "0 0 18 10",
            notificationsCount: 0,
            title: "Статистика",
            icon: "IconStatistic"
          },
          {
            type: "link",
            link: "#",
            iconWidth: 16,
            iconHeight: 16,
            iconViewBox: "0 0 16 16",
            notificationsCount: 0,
            title: "Лиды",
            icon: "IconChecked"
          },
          {
            type: "accordion",
            iconWidth: 18,
            iconHeight: 12,
            iconViewBox: "0 0 18 12",
            title: "Финансы",
            icon: "IconPapperBill",
            children: [
              {
                type: "accordion-item",
                title: "Заказать выплату",
                link: "#finance"
              },
              {
                type: "accordion-item",
                title: "Баланс",
                link: "#finance"
              },
              {
                type: "accordion-item",
                title: "Лайты",
                link: "#finance"
              },
              {
                type: "accordion-item",
                title: "Правила проведения выплат",
                link: "#finance"
              },
              {
                type: "accordion-item",
                title: "Реквизиты",
                link: "#finance"
              }
            ]
          },
          {
            type: "link",
            link: "#",
            iconWidth: 18,
            iconHeight: 18,
            iconViewBox: "0 0 18 18",
            notificationsCount: 0,
            title: "Топ Офферов",
            icon: "IconBomb"
          },
          {
            type: "link",
            link: "#",
            iconWidth: 18,
            iconHeight: 18,
            iconViewBox: "0 0 18 18",
            notificationsCount: 0,
            title: "Офферы",
            icon: "IconCart"
          },
          {
            type: "link",
            link: "#",
            iconWidth: 18,
            iconHeight: 18,
            iconViewBox: "0 0 18 18",
            notificationsCount: 0,
            title: "Потоки",
            icon: "IconFlowChart"
          },
          {
            type: "link",
            link: "#",
            iconWidth: 18,
            iconHeight: 18,
            iconViewBox: "0 0 18 18",
            notificationsCount: 0,
            title: "Командный забег",
            icon: "IconMultiplieUsers"
          },
          {
            type: "link",
            link: "#",
            iconWidth: 18,
            iconHeight: 16,
            iconViewBox: "0 0 18 16",
            notificationsCount: 0,
            title: "Лайт Store",
            icon: "IconBriefCase"
          },
          {
            type: "accordion",
            iconWidth: 18,
            iconHeight: 18,
            iconViewBox: "0 0 18 18",
            title: "Инструменты",
            icon: "IconTool",
            children: [
              {
                type: "accordion-item",
                title: "Арбитражная команда",
                router: "arbitration-team"
              },
              {
                type: "accordion-item",
                title: "Парковка домена",
                link: "#tool"
              },
              {
                type: "accordion-item",
                title: "Настройка оповещений",
                link: "#tool"
              },
              {
                type: "accordion-item",
                title: "Глобальный постбек",
                link: "#tool"
              },
              {
                type: "accordion-item",
                title: "API",
                link: "#tool"
              },
              {
                type: "accordion-item",
                title: "Реферальная программа",
                link: "#tool"
              },
              {
                type: "accordion-item",
                title: "Сервисы",
                link: "#tool"
              },
              {
                type: "accordion",
                title: "Автопостинг",
                children: [
                  {
                    type: "accordion-item",
                    title: "Автопостинг",
                    link: "#"
                  },
                  {
                    type: "accordion-item",
                    title: "Добавить группу",
                    link: "#"
                  },
                  {
                    type: "accordion-item",
                    title: "Тексты",
                    link: "#"
                  },
                  {
                    type: "accordion-item",
                    title: "Картинки",
                    link: "#"
                  },
                  {
                    type: "accordion-item",
                    title: "Массовое редактирование",
                    link: "#"
                  },
                  {
                    type: "accordion-item",
                    title: "Массовая смена статусов",
                    link: "#"
                  },
                  {
                    type: "accordion-item",
                    title: "Массовое удаление",
                    link: "#"
                  }
                ]
              }
            ]
          },
          {
            type: "link",
            link: "#",
            iconWidth: 16,
            iconHeight: 16,
            iconViewBox: "0 0 16 16",
            notificationsCount: 0,
            title: "FAQ",
            icon: "IconQuestion"
          },
          {
            type: "link",
            link: "#",
            iconWidth: 18,
            iconHeight: 18,
            iconViewBox: "0 0 18 18",
            notificationsCount: 0,
            title: "Поддержка",
            icon: "IconHelp"
          }
        ]
      }
    };
  },

  mounted() {
    this.getNotifications();
  },

  methods: {
    sidebarToogle() {
      this.$store.dispatch("SidebarOpen", !this.$store.getters.sidebar_open);
    },
    async getNotifications() {
      try {
        const response = await get("notifications/list");
        console.log(response.data);
      } catch (err) {
        // eslint-disable-next-line
        console.log(err);
      }
    }
  },

  computed: {
    open() {
      return this.$store.getters.sidebar_open;
    }
  }
};
</script>