<template>
    <li>
        <a v-if="item.type === 'link' && item.link" :href="item.link" class="sidebar-item">
            <div class="d-flex align-items-center">
                <i class="sidebar-item__icon icon">
                    <icon-base :width="item.iconWidth"
                               :viewBox=item.iconViewBox
                               :height="item.iconHeight">
                        <component :is="item.icon"></component>
                    </icon-base>
                </i>
                <span class="sidebar-item__title">{{item.title}}</span>
            </div>
            <span v-if="item.notificationsCount > 0" class="sidebar-item__alert">{{item.notificationsCount}}</span>
        </a>
        <router-link v-else-if="item.type === 'link' && item.router"
                     :to="{name: item.router}"
                     class="sidebar-item">
            <div class="d-flex align-items-center">
                <i class="sidebar-item__icon icon">
                    <icon-base :width="item.iconWidth"
                               :viewBox=item.iconViewBox
                               :height="item.iconHeight">
                        <component :is="item.icon"></component>
                    </icon-base>
                </i>
                <span class="sidebar-item__title">{{item.title}}</span>
            </div>
            <span v-if="item.notificationsCount > 0" class="sidebar-item__alert">{{item.notificationsCount}}</span>
        </router-link>
        <div v-else-if="item.type === 'accordion'"
             class="sidebar-item"
             :class="{'sidebar-item_open': this.$route.name === item.children.find((el) => {el.router}) || isOpen}"
             @click="toggle">
            {{item.router}}
            <div class="d-flex align-items-center">
                {{item.router}}
                <i class="sidebar-item__icon icon" v-if="item.icon">
                    <icon-base
                            :width="item.iconWidth"
                            :viewBox=item.iconViewBox
                            :height="item.iconHeight">
                        <component :is="item.icon"></component>
                    </icon-base>
                </i>
                <span class="sidebar-item__title">{{item.title}}</span>
            </div>
            <i class="sidebar-item__arrow icon">
                <icon-base width="7" height="11" viewBox="0 0 7 11">
                    <icon-arrow/>
                </icon-base>
            </i>
        </div>
        <a v-else-if="item.type === 'accordion-item' && item.link"
           :href="item.link"
           class="sidebar-accordion-item__link">
            {{ item.title }}
        </a>
        <router-link v-else-if="item.type === 'accordion-item' && item.router"
                     :to="{name: item.router}"
                     class="sidebar-accordion-item__link">
            {{ item.title }}
        </router-link>
        <ul>
            <sidebar-item
                    v-for="(child, index) in item.children"
                    :key="index"
                    :item="child"
            >
            </sidebar-item>
        </ul>
    </li>
</template>

<script>
    import IconBase from "../icons/IconBase";
    import IconGraph from "../icons/Graph";
    import IconStatistic from "../icons/Statistic";
    import IconChecked from "../icons/Checked";
    import IconPapperBill from "../icons/PaperBill";
    import IconBomb from "../icons/Bomb";
    import IconCart from "../icons/ShoppingCart";
    import IconFlowChart from "../icons/FlowChart";
    import IconMultiplieUsers from "../icons/MultiplieUsers";
    import IconBriefCase from "../icons/Briefcase"
    import IconTool from "../icons/Tool"
    import IconHelp from "../icons/Help"
    import IconQuestion from "../icons/Question"
    import IconArrow from "../icons/Arrow";

    export default {
        name: "SidebarItem",
        components: {
            IconBase,
            IconGraph,
            IconStatistic,
            IconChecked,
            IconPapperBill,
            IconBomb,
            IconCart,
            IconFlowChart,
            IconMultiplieUsers,
            IconBriefCase,
            IconTool,
            IconQuestion,
            IconHelp,
            IconArrow
        },
        data() {
            return {
                isOpen: false
            }
        },
        props: {
            item: Object
        },
        created() {
            this.$store.watch( // чтобы поменять состояние аккордиона, нужно следить за состоянием меню
                (state, getters) => getters.sidebar_open,
                (newValue) => {
                    if (!newValue) {
                        this.isOpen = false;
                    }
                },
            );
        },
        methods: {
            toggle() {
                if (this.menuOpen) {
                    this.isOpen = !this.isOpen;
                } else {
                    this.$store.dispatch('SidebarOpen', true);
                    this.isOpen = true;
                }
            }
        },
        computed: {
            menuOpen() {
                return this.$store.getters.sidebar_open
            }
        }
    }
</script>

<style scoped>

</style>