.feed {
  margin-top: 0.5625rem;
  &__header {
    .section__title {
      line-height: 3.75rem;
    }
  }
}

.feed-header {
  display: flex;
  margin-bottom: 0.9375rem;
  &__item {
    font-weight: 300;
    font-size: 0.875rem;
    line-height: 1.3125rem;
    color: #808D9D;
    &:nth-child(1) {
      margin-left: 1.625rem;
      flex: 8.1%;
      max-width: 8.1%;
    }
    &:nth-child(2) {
      flex: 21.5%;
      max-width: 21.5%;
    }
    &:nth-child(3) {
      flex: 26.9%;
      max-width: 26.9%;
    }
  }
}

.feed-body {
  margin-top: 1.75rem;
  overflow-y: auto;
  max-height: 574px;
  padding-right: 1.5625rem;
}
.feed-group {
  &__date {
    font-size: 1.125rem;
    color: #2B415B;
    display: inline-block;
    margin-bottom: 1rem;
  }
}

.feed-item {
  display: flex;
  font-size: 0.875rem;
  line-height: 1rem;
  color: #516378;
  background: #FAFDFE;
  border: 1px solid #EFF0F1;
  border-radius: 5px;
  padding: 16px 26px;
  margin-bottom: 10px;
  transition: 0.3s;
  cursor: pointer;
  &:hover {
    background: #edf8fb;
    border-color: #e7e8ea;
  }
  &>.arrow {
    margin-top: 3px;
    transform: rotate(-90deg);
    transition: 0.3s;
  }
  &_close {
    align-items: center;
    &>.arrow {
      transform: rotate(90deg);
    }

    .feed-item__comment, .feed-item__offer, .feed-item__category  {
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
    }
  }
  &__time {
    flex: 8.5%;
    max-width: 8.5%;
  }
  &__category {
    flex: 22.6%;
    max-width: 22.6%;
    padding-right: 1rem;
    text-overflow: clip;
    white-space: normal;
  }
  &__offer {
    flex: 28.2%;
    max-width: 28.2%;
    padding-right: 1rem;
    text-overflow: clip;
    white-space: normal;
    padding-right: 8px;

    a {
      color: #23C6EA;
      &:hover, &:focus {
        color: #1193b0;
        text-decoration: none;
      }
    }
  }
  &__comment {
    margin-right: 10px;
    flex: 40.7%;
    max-width: 40.7%;
    font-weight: 500;
    overflow: auto;
    text-overflow: clip;
    white-space: normal;
    padding-right: 4px;
    &_big {
      flex: calc(40.7% - 12px);
      max-width: calc(40.7% - 12px);
    }
  }
}

.main_open {
  .feed-header {
    &__item:nth-child(3) {
      flex: 26.6%;
      max-width: 26.6%;
    }
  }
}