@media (max-width: 1600px) {
  .feed-header {
    &__item:nth-child(2) {
      flex: 21.1%;
      max-width: 21.1%;
    }
    &__item:nth-child(3) {
      flex: 26.3%;
      max-width: 26.3%;
    }
  }
}

@media (max-width: 1366px) {
  .feed-header {
    &__item {
      &:nth-child(1) {
        flex: 7.9%;
        max-width: 7.9%;
      }
      &:nth-child(2) {
        flex: 21.1%;
        max-width: 21.1%;
      }
      &:nth-child(3) {
        flex: 26%;
        max-width: 26%;
      }
    }
  }
  .main_open {
    .feed-header {
      &__item {
        &:nth-child(1) {
          flex: 7.9%;
          max-width: 7.9%;
        }
        &:nth-child(2) {
          flex: 20.8%;
          max-width: 20.8%;
        }
        &:nth-child(3) {
          flex: 25.8%;
          max-width: 25.8%;
        }
      }
    }
  }
}

@media (max-width: 1280px) {
  .feed-header {
    &__item:nth-child(2) {
      flex: 20.8%;
      max-width: 20.8%;
    }
    &__item:nth-child(3) {
      flex: 26%;
      max-width: 26%;
    }
  }
  .main_open {
    .feed-header {
      &__item:nth-child(2) {
        flex: 20.4%;
        max-width: 20.4%;
      }
      &__item:nth-child(3) {
        flex: 25.6%;
        max-width: 25.6%;
      }
    }
  }
}

@media (max-width: 1150px) {
  .feed-header {
    &__item:nth-child(2) {
      flex: 20.4%;
      max-width: 20.4%;
    }
  }

  .main_open {
    .feed-header {
      &__item:nth-child(2) {
        flex: 19.7%;
        max-width: 19.7%;
      }
    }
  }
}

@media (max-width: 1024px) {
  .feed-header {
    &__item:nth-child(2) {
      flex: 19.8%;
      max-width: 19.8%;
    }
    &__item:nth-child(3) {
      flex: 25.5%;
      max-width: 25.5%;
    }
  }

  .main_open {
    .feed-header {
      &__item:nth-child(2) {
        flex: 19.5%;
        max-width: 19.5%;
      }
      &__item:nth-child(3) {
        flex: 24.6%;
        max-width: 24.6%;
      }
    }
  }
}

@media (max-width: $screen-width-sm) {
  .feed {
    &__header {
      .section__title {
        line-height: 1.5625rem;
      }
    }
  }
  .feed-body {
    max-height: 338px;
  }

  .feed-header {
    &__item:nth-child(2) {
      flex: 19%;
      max-width: 19%;
    }
    &__item:nth-child(3) {
      flex: 25%;
      max-width: 25%;
    }
  }

  .main_open {
    .feed-header {
      &__item:nth-child(2) {
        flex: 19%;
        max-width: 19%;
      }
      &__item:nth-child(3) {
        flex: 25%;
        max-width: 25%;
      }
    }

  }
}

@media (max-width: $screen-width-xs) {
  .feed {
    margin-top: 1rem;
  }
  .section__caption {
    flex-wrap: wrap;
  }
  .feed-body {
    padding-right: 8px;
  }
  .feed__header {
    .section__title {
      margin-bottom: 1rem;
    }
    .btn-collapse {
      position: absolute;
      top: 25px;
      right: 20px;
    }
    .btn-gradient {
      width: 100%;
    }
  }
  .feed-header {
    &__item {
      display: none;
      font-size: 12px;
      &:nth-child(1) {
        margin-left: 13px;
        display: block;
        flex: 37.5%;
        max-width: 37.5%;
      }
      &:nth-child(2) {
        display: block;
        flex: auto;
        max-width: 100%;
      }
    }
  }
  .feed-item {
    font-size: 12px;
    align-items: center;
    flex-wrap: wrap;
    padding: 17px 8px 19px 12px;

    &__time {
      flex: 38%;
      max-width: 38%;
      margin-right: 0.5rem;
      order: 0;
    }
    &__category {
      flex: 51%;
      max-width: 51%;
      order: 1;
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
    }
    &_close {
      flex-wrap: nowrap;
      .feed-item__offer {
        display: none;
      }
      .feed-item__comment {
        display: none;
      }
    }
    &__offer {
      margin-top: 1rem;
      margin-bottom: 1rem;
      padding-top: 1rem;
      padding-bottom: 1rem;
      position: relative;
      flex: 100%;
      max-width: 100%;
      padding-left: 40.7%;
      border-top:  1px solid #EFF0F1;
      border-bottom:  1px solid #EFF0F1;
      order: 3;
      &::before {
        content: "Оффер";
        position: absolute;
        left: 0;
        right: 0;
        color: #808D9D;
      }
    }
    &__comment {
      flex: 100%;
      max-width: 100%;
      order: 4;
      position: relative;
      padding-left: 40.7%;
      &::before {
        content: "Комментарий";
        position: absolute;
        left: 0;
        right: 0;
        color: #808D9D;
      }
    }
    .btn-collapse {
      order: 2;
      width: 15px !important;
      height: 15px !important;
      margin-left: 0 !important;

    }
  }
  .feed-group__date {
    font-size: 14px;
  }
}

@media (max-width: 320px) {
  .feed-item {
    &__time {
      flex: 38.5%;
      max-width: 38.5%;
    }
    &__category {
      flex: 50.5%;
      max-width: 50.5%;
    }
    &__offer {
      padding-left: 42.3%;
    }
    &__comment {
      padding-left: 42.1%;
    }
  }
}