@media (max-width: $screen-width-sub-full-hd) {
  .main_open .footer {
    background-position-x: -170px;
  }
  .footer {
    background-position-x: -170px;
  }
  .footer-item {
    &__contacts {
      margin-top: 1rem;
      width: 100%;
      display: flex;
      justify-content: space-between;
    }
  }
  .footer-contact-item {
    &:first-child {
      margin-left: 0;
    }
  }
}

@media (max-width: $screen-width-lg) {
  .footer {
    flex-direction: column;
  }
  .footer-item {
    margin-bottom: 0.5rem;
    .text {
      color: white;
    }
    &__contacts {
      flex-direction: column;
    }
  }
  .footer-contact-item {
    margin-left: 0;
  }
}

@media (max-width: $screen-width-sm) {
  .main_open {
    .footer {
      background-position-x: -531px;
    }
  }
  .footer {
    padding: 219px 15px 34px 15px;
    flex-direction: row;
    background-position-y: 34px;
    background-position-x: -531px;
  }
  .footer-item {
    &__contacts {
      flex-direction: row;
    }
    &:nth-child(3) {
      .text {
        color:  #516378;
      }
    }
  }
  .footer-contact-item {
    &:nth-child(2), &:nth-child(3) {
      .text {
        color:  #516378;
      }
    }
  }
}

@media (max-width: $screen-width-xs) {
  .footer-item__contacts {
    flex-direction: column;
  }
  .footer-item {
    .text {
      color: white !important;
    }
  }
}
