.passport {
  .dropdown-toggle {
    padding: 0;
  }
  .dropdown-menu {
    left: -1rem;
  }
}
.passport-face {
  display: flex;
  align-items: center;
  cursor: pointer;
  &:hover, &:focus {
    opacity: 0.8;
    text-decoration: none;
  }
  &__text {
    line-height: 1rem;
    font-size: 0.875rem;
    color: #97A7BA;
  }
  &__icon {
    margin-right: 1rem;
  }

}

.passport-menu {
  display: none;
}
.passport-menu_open {
  display: block;
  width: 100%;
  position: absolute;
  top: 100%;
  z-index: 1;
  background-color: white;
  box-shadow: 0 8px 17px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  &::before {
    position: absolute;
    bottom: 100%;
    left: calc(50% - 4px);
    content: " ";
    width: 0;
    height: 0;
    border-left: 4px solid transparent;
    border-right: 4px solid transparent;
    border-bottom: 8px solid white;
  }
}