@media (max-width: $screen-width-xs) {
  .passport {
    .dropdown-menu,show {
      top: 25px !important;
      left: -160px;
    }
  }
  .passport-face {
    &__icon {
      margin-right: 0;
    }
  }
}