<template>
    <b-navbar toggleable="false" variant="white" class="main-header">
        <div>
            <a href="/">
                <img class="main-header__logo img-fluid" src="@/assets/images/logo.svg" alt="Traffic Light" width="143">
            </a>
            <b-navbar-toggle target="nav-collapse" @click="sidebarToogle"></b-navbar-toggle>
        </div>
        <div class="d-flex">
            <Purse
                    :balance_rub="purse.balance.currency.rub"
                    :balance_dollar="purse.balance.currency.dollar"
                    :balance_eur="purse.balance.currency.eur"

                    :balance_bonus="purse.balance.bonus"

                    :hold_rub="purse.hold.rub"
                    :hold_dollar="purse.hold.dollar"
                    :hold_eur="purse.hold.eur"

                    :expect_rub="purse.expect.rub"
                    :expect_dollar="purse.expect.dollar"
                    :expect_eur="purse.expect.eur"
                    :rate="rate"/>
            <Passport email="info-test@test.ru"/>
        </div>
    </b-navbar>
</template>

<script>
    import Purse from './Purse'
    import Passport from "./Passport"

    import {get} from '../../service/api';

    export default {
        name: "Header",
        components: {
            Passport,
            Purse
        },
        data() {
            return {
                purse: {
                    balance: {
                        currency: {
                            rub: 0,
                            dollar: 0,
                            eur: 0
                        },
                        bonus: 0
                    },
                    hold: {
                        rub: 0,
                        dollar: 0,
                        eur: 0
                    },
                    expect: {
                        rub: 0,
                        dollar: 0,
                        eur: 0
                    }
                },
                rate: 0
            }
        },
        mounted() {
            this.loadData();
        },
        methods: {
            sidebarToogle() {
                this.$store.dispatch('SidebarOpen', !this.$store.getters.sidebar_open);
            },
            async loadData() {
                try {
                    const response = await get('user/get');

                    this.purse.balance.currency.rub = response.data.purse.balance.currency.rub;
                    this.purse.balance.currency.dollar = response.data.purse.balance.currency.dollar;
                    this.purse.balance.currency.eur = response.data.purse.balance.currency.eur;

                    this.purse.balance.bonus = response.data.purse.balance.bonus;

                    this.purse.hold.rub = response.data.purse.hold.rub;
                    this.purse.hold.dollar = response.data.purse.hold.dollar;
                    this.purse.hold.eur = response.data.purse.hold.eur;

                    this.purse.expect.rub = response.data.purse.expect.rub;
                    this.purse.expect.dollar = response.data.purse.expect.dollar;
                    this.purse.expect.eur = response.data.purse.expect.eur;
                    this.rate = response.data.rate;
                } catch (err) {
                    // eslint-disable-next-line
                    console.log(err);

                }
            }
        }
    }
</script>