<template>
    <b-dropdown variant="link" no-caret class="passport" >
        <template v-slot:button-content>
            <div class="passport-face">
                <icon-base class="passport-face__icon" icon-name="passport" width="30" height="30" viewBox="0 0 30 30">
                    <icon-user/>
                </icon-base>
                <span class="passport-face__text d-none d-sm-inline">{{email}}</span>
            </div>
        </template>
        <b-dropdown-item href="#">
            <FaUser width="16" height="16"></FaUser>
            Профиль
        </b-dropdown-item>
        <b-dropdown-item variant="danger" href="#">
            <icon-base width="17" height="19" viewBox="0 0 17 19">
                <sign-out/>
            </icon-base>
            Выйти
        </b-dropdown-item>
    </b-dropdown>
</template>

<script>

    import IconBase from '../icons/IconBase.vue'
    import IconUser from '../icons/User'
    import SignOut from '../icons/SignOut'
    import FaUser from '../icons/FaUser'

    export default {
        name: "Item",
        components: {
            IconBase,
            IconUser,
            SignOut,
            FaUser
        },
        props: ['email'],
    }
</script>