<template>
    <b-dropdown variant="link" no-caret class="purse">
        <template v-slot:button-content>
            <div class="purse-face">
                <icon-base class="purse-face__icon" icon-name="purse"><icon-purse /></icon-base>
                <span class="purse-face__text d-none d-sm-inline">
                    {{balance_rub | formatPrice}} ₽
                </span>
                <span class="purse-face__text d-none d-sm-inline">{{balance_bonus | formatPrice}} <l-icon></l-icon></span>
            </div>
        </template>
        <b-dropdown-text>
            <div class="purse-menu">
                <div class="purse-menu__item">
                    <h5 class="purse-menu__title">
                        Баланс
                    </h5>
                    <div class="purse-menu__content">
                        <span class="purse-menu__value">
                            <RubleSign></RubleSign>
                            {{balance_rub | formatPrice}}
                        </span>
                        <span class="purse-menu__value">
                            <DollarSign></DollarSign>
                            {{balance_dollar | formatPrice}}
                        </span>
                        <span class="purse-menu__value">
                            <EurSign></EurSign>
                            {{balance_eur | formatPrice}}
                        </span>
                        <span class="purse-menu__value">
                            <l-icon width="20"></l-icon>
                            {{balance_bonus | formatPrice}}
                        </span>
                        <small class="purse-menu__rate">
                            RUB -> USD, по курсу {{rate}}
                        </small>
                    </div>
                    <b-dropdown-divider></b-dropdown-divider>
                    <h5 class="purse-menu__title">
                        Холд
                    </h5>
                    <div class="purse-menu__content">
                        <span class="purse-menu__value">
                            <RubleSign></RubleSign>
                            {{hold_rub | formatPrice}}
                        </span>
                        <span class="purse-menu__value">
                            <DollarSign></DollarSign>
                            {{hold_dollar | formatPrice}}
                        </span>
                        <span class="purse-menu__value">
                            <EurSign></EurSign>
                            {{hold_eur | formatPrice}}
                        </span>
                    </div>
                    <b-dropdown-divider></b-dropdown-divider>
                    <h5 class="purse-menu__title">
                        Ожидает
                    </h5>
                    <div class="purse-menu__content">
                        <span class="purse-menu__value">
                            <RubleSign></RubleSign>
                            {{expect_rub | formatPrice}}
                        </span>
                        <span class="purse-menu__value">
                            <DollarSign></DollarSign>
                            {{expect_dollar | formatPrice}}
                        </span>
                        <span class="purse-menu__value">
                            <EurSign></EurSign>
                            {{expect_eur | formatPrice}}
                        </span>
                    </div>
                </div>
            </div>
        </b-dropdown-text>
        <b-dropdown-divider></b-dropdown-divider>
        <b-dropdown-item href="#">Вывод средств</b-dropdown-item>
    </b-dropdown>
</template>

<script>
    import IconBase from '../icons/IconBase.vue'
    import IconPurse from '../icons/Purse.vue'
    import RubleSign from '../icons/RubleSign'
    import DollarSign from '../icons/DollarSign'
    import EurSign from '../icons/EurSign'
    import LIcon from '../icons/LIcon'

    import  {formatPrice} from "../../utils";

    export default {
        name: "purse",
        props: {
            balance_rub: Number,
            balance_dollar: Number,
            balance_eur: Number,
            balance_bonus: Number,

            hold_rub: Number,
            hold_dollar: Number,
            hold_eur: Number,

            expect_rub: Number,
            expect_dollar: Number,
            expect_eur: Number,

            rate: Number
        },
        components: {
            IconBase,
            IconPurse,
            RubleSign,
            DollarSign,
            EurSign,
            LIcon
        },
        filters: {
            formatPrice
        }
    }
</script>