.purse {
  .dropdown-toggle {
    padding: 0;
  }
  .b-dropdown-text {
    padding-left: 0;
    padding-right: 0;
  }
}

.purse-face {
  display: flex;
  align-items: center;
  margin-right: 45px;
  &:hover, &:focus {
    opacity: 0.8;
    text-decoration: none;
  }
  &__text {
    line-height: 0.875rem;
    font-size: 0.875rem;
    color: #97A7BA;
    margin-left: 0.5rem;
    svg {
      margin-top: -5px;
    }
  }
  &__icon {
    margin-right: 0.5rem;
  }
}

.purse-menu {
  &__title {
    padding-right: 1.5rem;
    padding-left: 1.5rem;
  }
  &__content {
    padding-right: 1.5rem;
    padding-left: 1.5rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
  }
  &__rate {
    margin-top: 0.25rem;
    color: #a0b1c4;
    font-size: 9px;
  }
  &__value {
    font-size: 0.875rem;
    font-weight: 300;
    margin-right: 0.25rem;
    display: flex;
    align-items: center;
    white-space: nowrap;
    svg {
      margin-top: -0.125rem;
      path {
        fill: #516378;
      }
    }
  }
}