@media (max-width: $screen-width-lg) {
  .main {
    &::before {
      left: 0;
      top: 0;
      width: 200px;
      height: 200px;
      background-size: cover;
    }
    &::after {
      right: 0;
      top: 0;
      width: 400px;
      height: 400px;
      background-size: cover;

    }
    &__row {
      flex-direction: column;
    }
    &__col {
      &_left, &_right {
        flex: 100%;
        max-width: 100%;
      }
    }
  }
}

@media (max-width: $screen-width-sm) {
  .main{
    padding-top: 30px;
    padding-left: 0px;
    padding-right: 0px;
    height: calc(100vh - 76px);
    &::before {
      display: none;
    }
    &::after {
      display: none;
    }
    &__row {
      margin-right: -10px;
      margin-left: -10px;
    }
    &__title {
      font-size: 25px !important;
      color: #2B415B !important;
    }
  }
}

@media (max-width: $screen-width-xs) {
  .main__row {
    margin-left: -15px;
    margin-right: -15px;
  }
}