<template>
  <div class="container-fluid px-0">
    <h1 class="h1 mx-4 mt-4 mb-2">Арбитражная команда</h1>

    <div class="container-fluid bg-green-gradient px-4 py-3 page_wrap__body">
      <create-team></create-team>
    </div>
  </div>
</template>

<script>
import CreateTeam from "./teams/CreateTeam.vue";

export default {
  name: "ArbitrationTeam",
  components: {
    CreateTeam
  },
  computed: {
    open() {
      return this.$store.getters.sidebar_open;
    }
  }
};
</script>

<style scoped>
</style>