<template>
    <main class="main" :class="{'main_open': open}">
        <h1 class="h1 main__title text-white mb-30">Дашборд</h1>
        <div class="container-fluid">
            <div class="main__row">
                <div class="main__col main__col_left">
                    <os class="mb-30"></os>
                    <slider class="mb-30"></slider>
                </div>
                <div class="main__col main__col_right">
                    <achievements class="mb-30"></achievements>
<!--                    <regalia class="mb-30"></regalia>-->
                </div>
                <div class="main__col main__col_fluid" style="z-index: 100">
                    <feed></feed>
                    <rating></rating>
                    <news></news>
                </div>
            </div>
        </div>
        <footer-component></footer-component>
        <svg aria-hidden="true" focusable="false" style="width:0;height:0;position:absolute;">
            <linearGradient id="regalia-fill" x1="15.3943" y1="-3.92062" x2="23.3366" y2="29.1134" gradientUnits="userSpaceOnUse">
                <stop offset="0.287293" stop-color="#49D8BD"/>
                <stop offset="1" stop-color="#3793FF"/>
            </linearGradient>
        </svg>
    </main>
</template>

<script>
    import os from './os/OS'
    import Achievements from "./achievements/Achievements";
    import Slider from './slider/Slider'
    // import Regalia from "./regalia/Regalia";
    import Rating from "./rating/Rating";
    import Feed from "./feed/Feed";
    import News from "./news/News";
    import FooterComponent from "./footer/Footer"

    export default {
        name: "Dashboard",
        components: {
            // Regalia,
            os,
            Achievements,
            Slider,
            Rating,
            Feed,
            News,
            FooterComponent
        },
        computed: {
            open() {
                return this.$store.getters.sidebar_open;
            }
        }
    }
</script>

<style scoped>

</style>