<template>
  <div class="container-fluid px-0">
    <h1 class="h1 mx-4 mt-4 mb-2">Моя команда</h1>

    <div
      v-if="errors.includes('blocked')"
      class="container-fluid bg-green-gradient px-4 py-3 page_wrap__body"
    >
      <section class="section">
        <error-team error="Вы заблокированы тимлидом. Ваше членство в команде остановлено.">
          <p
            class="font-size-small font-weight-400 mb-2 mt-2"
          >Вы будете удалены из команды после следующих событий:</p>
          <CheckOptions :options="deleteFromTeamEvents" customTextClass="check-options__small" />
        </error-team>
      </section>
    </div>

    <div
      v-if="teams.length && !errors.length"
      class="container-fluid bg-green-gradient px-4 py-3 page_wrap__body"
    >
      <b-row>
        <b-col colls="12">
          <tabs-team :teams="teams" :activeTeam="activeTeam" @change="changeActiveTeam"></tabs-team>
        </b-col>
      </b-row>

      <div class="text-center" v-if="loading">
        <b-spinner label="Spinning"></b-spinner>
      </div>

      <detail-team v-if="!loading" />
    </div>
  </div>
</template>

<script>
import TabsTeam from "./teams/TabsTeam.vue";
import DetailTeam from "./teams/DetailTeam.vue";
import { BSpinner } from "bootstrap-vue";
import CheckOptions from "./lists/CheckOptions.vue";
import ErrorTeam from "./teams/ErrorTeam.vue";
import { mapActions, mapState, mapMutations } from "vuex";

export default {
  name: "MyTeam",
  components: {
    DetailTeam,
    TabsTeam,
    BSpinner,
    ErrorTeam,
    CheckOptions
  },
  data() {
    return {
      loading: true,
      errors: []
    };
  },
  computed: {
    ...mapState("team", [
      "teams",
      "statOptions",
      "payOptions",
      "deleteFromTeamEvents",
      "conditionOptionResult",
      "activeTeam"
    ]),
    open() {
      return this.$store.getters.sidebar_open;
    }
  },
  methods: {
    ...mapActions("team", ["getMyTeams", "getDict"]),
    ...mapMutations("team", ["SET_ACTIVE_TEAM"]),
    changeActiveTeam(team) {
      this.loading = true;
      setTimeout(() => {
        this.loading = false;
        this.SET_ACTIVE_TEAM(team);
      }, 500);
    }
  },
  mounted() {
    this.getDict();

    this.getMyTeams(5).then(res => {
      this.loading = false;
    });

    // mock errors
    window.addEventListener("keypress", e => {
      if (String.fromCharCode(e.keyCode) === "1") {
        this.errors = ["blocked"];
      }

      if (String.fromCharCode(e.keyCode) === "0") {
        this.errors = [];
      }
    });
    //end mock erros
  }
};
</script>