<template>
  <div class="container-fluid px-0">
    <h1 class="h1 mx-4 mt-4 mb-2">Моя команда</h1>

    <div
      v-if="!loading&&teams.length"
      class="container-fluid bg-green-gradient px-4 py-3 page_wrap__body"
    >
      <b-row>
        <b-col colls="12">
          <tabs-team :teams="teams" :activeTeam="activeTeam" @change="changeActiveTeam"></tabs-team>
        </b-col>
      </b-row>

      <div class="text-center" v-if="loading">
        <b-spinner label="Spinning"></b-spinner>
      </div>

      <detail-team v-if="!loading" />
    </div>
    <div v-else>вам нужно создать команду</div>
  </div>
</template>

<script>
import TabsTeam from "./teams/TabsTeam.vue";
import DetailTeam from "./teams/DetailTeam.vue";
import { BSpinner } from "bootstrap-vue";

import { mapActions, mapState, mapMutations } from "vuex";

export default {
  name: "MyTeamOne",
  components: {
    DetailTeam,
    TabsTeam,
    BSpinner
  },
  data() {
    return {
      loading: true
    };
  },
  computed: {
    ...mapState("team", [
      "teams",
      "statOptions",
      "payOptions",
      "deleteFromTeamEvents",
      "conditionOptionResult",
      "activeTeam"
    ]),
    open() {
      return this.$store.getters.sidebar_open;
    }
  },
  methods: {
    ...mapActions("team", ["getMyTeams", "getDict"]),
    ...mapMutations("team", ["SET_ACTIVE_TEAM"]),
    changeActiveTeam(team) {
      this.loading = true;
      setTimeout(() => {
        this.loading = false;
        this.SET_ACTIVE_TEAM(team);
      }, 1000);
    }
  },
  mounted() {
    this.getDict();
    this.loading = false;
  }
};
</script>