.achievement-item {
  margin-bottom: 1.625rem;
  &__title {
    font-weight: normal;
    font-size: 1.125rem;
    line-height: 1.4375rem;
    color: #23C6EA;
  }
  &__reward {
    font-weight: 300;
    font-size: 0.875rem;
    opacity: 0.7;
    color: #808D9D;
  }
  &__stage {
    display: flex;
    justify-content: space-between;
  }
  &__stage-number {
    font-weight: 300;
    font-size: 0.75rem;
    color: #808D9D;
  }
  .progress {
    margin-top: 0.8125rem;
    margin-bottom: 0.5rem;
  }
  .progress-bar {
    background-image: linear-gradient(176.58deg, #49D8BD 28.06%, #3793FF 99.24%);
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
  }
  &_done {
    opacity: 0.5;
  }
}