@media (max-width: $screen-width-lg) {
  .achievements {
    &-section {
        .btn-collapse {
          top: 25px;
          right: 20px;
          position: absolute;
          margin-left: 0 !important;
        }

    }
  }
}
@media (max-width: $screen-width-sm) {
  .achievements {
    max-height: 442px;
  }
}
@media (max-width: $screen-width-xs) {
  .achievements {
    padding-right: 8px;
  }
  .achievement-item {
    &__title {
      font-size: 1rem;
    }
  }
}