@media (max-width: $screen-width-sub-full-hd) {
  .rating-table-header {
    &__item {
      &_site {
        flex: 13.5%;
        max-width: 13.5%;
        padding-left: 2rem;
      }

      &_name {
        flex: 11.2%;
        max-width: 11.2%;
      }

      &_regalia {
        flex: 11.9%;
        max-width: 11.9%;
      }

      &_status {
        flex: 40.1%;
        max-width: 40.1%;
      }
      &_change {
        flex: 9.6%;
        max-width: 9.6%;
      }
    }
  }
  .rating-table-item {
    &__site {
      flex: 11.8%;
      max-width: 11.8%;
    }
    &__icons {
      margin-left: -4px;
      svg {
        margin-left: 4px;
      }
    }
    &__regalia {
      flex: 12.7%;
      max-width: 12.7%;
    }

    &__status {
      flex: 43.7%;
      max-width: 43.7%;
    }
    &__change {
      flex: 12.7%;
      max-width: 12.7%;
    }

  }
  .rating-table-footer {
    &__item {
      &_site {
        flex: 13.5%;
        max-width: 13.5%;
      }
      &_name {
        flex: 23.2%;
        max-width: 23.2%;
      }

      &_status {
        flex: 40.7%;
        max-width: 40.7%;
      }
      &_change {
        flex: 9.6%;
        max-width: 9.6%;
      }
    }
  }
  .main_open {
    .rating-table-header {
      &__item {
        &_change {
          flex: 9.55%;
          max-width: 9.55%;
        }
        &_status {
          flex: 39.2%;
          max-width: 39.2%;
        }
      }
    }
    .rating-table-item {
      &__regalia {
        flex: 12.9%;
        max-width: 12.9%;
      }
      &__status {
        flex: 42.9%;
        max-width: 42.9%;
      }
    }
    .rating-table-footer__item_status {
      flex: 39.8%;
      max-width: 39.8%;
    }
  }
}

@media (max-width: $screen-width-notebook-lg) {
  .rating-table-footer {
    &__item {
      &_status {
        flex: 40.5%;
        max-width: 40.5%;
      }
    }
  }
  .main_open {
    .rating-table-footer__item_status {
      flex: 40.2%;
      max-width: 40.2%;
    }
  }
}

@media (max-width: $screen-width-notebook) {
  .rating-table-header {
    &__item {
      &_site {
        flex: 13.54%;
        max-width: 13.54%;
      }
      &_name {
        flex: 15.8%;
        max-width: 15.8%;
      }

      &_regalia {
        flex: 14%;
        max-width: 14%;
      }

      &_status {
        flex: 32.5%;
        max-width: 32.5%;
      }
      &_change {
        flex: 9.45%;
        max-width: 9.45%;
      }

    }
  }
  .rating-table-item {
    &__site {
      flex: 11.6%;
      max-width: 11.6%;
    }
    &__name {
      flex: 17.2%;
      max-width: 17.2%;
    }

    &__regalia {
      flex: 15%;
      max-width: 15%;
    }

    &__status {
      flex: 35.9%;
      max-width: 35.9%;
    }
  }
  .rating-table-footer {
    &__item {
      &_name {
        flex: 29.8%;
        max-width: 29.8%;
      }

      &_status {
        flex: 32.85%;
        max-width: 32.85%;
      }
    }
  }
  .main_open {
    .rating-table-header {
      &__item {
        &_name {
          flex: 15.7%;
          max-width: 15.7%;
        }
        &_regalia {
          flex: 14.8%;
          max-width: 14.8%;
        }
        &_status {
          flex: 32.6%;
          max-width: 32.6%;
        }
        &_change {
          flex: 8.6%;
          max-width: 8.6%;
        }
      }
    }
    .rating-table-item {
      &__site {
        flex: 11.38%;
        max-width: 11.38%;
      }
      &__name {
        flex: 17.2%;
        max-width: 17.2%;
      }
      &__status {
        flex: 35.9%;
        max-width: 35.9%;
      }
      &__regalia {
        flex: 16%;
        max-width: 16%;
      }
      &__like-value {
        flex: 8%;
        max-width: 8%;
      }
      &__change {
        flex: 11%;
        max-width: 11%;
      }
    }
    .rating-table-footer {
      &__item {
        &_name {
          flex: 30.4%;
          max-width: 30.4%;
        }
        &_status {
          flex: 33%;
          max-width: 33%;
        }
      }
    }
  }
}

@media (max-width: $screen-width-notebook-small) {
  .main_open {
    .rating-table-header {
      &__item {
        &_site {
          flex: 14.5%;
          max-width: 14.5%;
        }
        &_name {
          flex: 14.7%;
          max-width: 14.7%;
        }
        &_regalia {
          flex: 16.2%;
          max-width: 16.2%;
        }
        &_status {
          flex: 31.2%;
          max-width: 31.2%;
        }
        &_change {

        }
      }
    }
    .rating-table-item {
      &__site {
        flex: 12.38%;
        max-width: 12.38%;
      }
      &__name {
        flex: 16.2%;
        max-width: 16.2%;
        padding-right: 8px;
      }
      &__status {
        flex: 33.9%;
        max-width: 33.9%;
      }
      &__regalia {
        flex: 18%;
        max-width: 18%;
      }
      &__like-value {
        flex: 8%;
        max-width: 8%;
      }
    }
    .rating-table-footer {
      &__item {
        &_site {
          flex: 14.5%;
          max-width: 14.5%;
        }
        &_name {
          flex: 31.1%;
          max-width: 31.1%;
        }
        &_status {
          flex: 31.3%;
          max-width: 31.3%;
        }
      }
    }
  }
}


@media (max-width: 1215px) {
  .rating-table-header {
    &__item {
      &_site {
        flex: 15.8%;
        max-width: 15.8%;
      }

      &_name {
        flex: 18.1%;
        max-width: 18.1%;
      }

      &_regalia {
        flex: 18%;
        max-width: 18%;
      }

      &_status {
        flex: 23.5%;
        max-width: 23.5%;
      }
    }
  }
  .rating-table-item {
    &__site {
      flex: 13.7%;
      max-width: 13.7%;
      padding-right: 8px;
    }

    &__name {
      flex: 20%;
      max-width: 20%;
    }

    &__regalia {
      flex: 20%;
      max-width: 20%;
    }

    &__status {
      flex: 26%;
      max-width: 26%;
    }
    &_open {
      .rating-table-item__icons {

      }
    }
  }
  .rating-table-footer {
    &__item {
      &_site {
        flex: 15.7%;
        max-width: 15.7%;
      }

      &_name {
        flex: 36.6%;
        max-width: 36.6%;
      }

      &_status {
        flex: 21.7%;
        max-width: 21.7%;
      }
      &_count {
        flex: 10.5%;
        max-width: 10.5%;
      }
      &_change {
        flex: 4.6%;
        max-width: 4.6%;
      }
    }
  }
  .main_open {
    .rating-table-header {
      &__item {
        &_site {
          flex: 14.9%;
          max-width: 14.9%;
        }
        &_name {
          flex: 18.1%;
          max-width: 18.1%;
        }
        &_regalia {
          flex: 18.1%;
          max-width: 18.1%;
        }

        &_status {
          flex: 22.5%;
          max-width: 22.5%;
        }
        &_like {
          flex: 10%;
          max-width: 10%;
        }
      }
    }

    .rating-table-item {
      &__site {
        .modifier {
          display: none;
        }
      }

      &__name {
        padding-right: 12px;
        flex: 20%;
        max-width: 20%;
      }
      &__regalia {
        flex: 20.7%;
        max-width: 20.7%;
      }

      &__status {
        flex: 26.7%;
        max-width: 26.7%;
      }
      &__change {
        flex: 11.7%;
        max-width: 11.7%;
      }

    }

    .rating-table-footer {
      &__item {
        &_site {
          flex: 14.8%;
          max-width: 14.8%;
        }
        &_name {
          flex: 36.7%;
          max-width: 36.7%;
        }

        &_status {
          flex: 24.1%;
          max-width: 24.1%;
        }
        &_change {
          flex: 9.8%;
          max-width: 9.8%;
        }
      }
    }
  }
}

@media (max-width: 1150px) {
  .rating-table-footer {
    &__item {

      &_status {
        flex: 21.4%;
        max-width: 21.4%;
      }
    }
  }

  .main_open {
    .rating-table-footer {
      &__item {
        &_status {
          flex: 23.7%;
          max-width: 23.7%;
        }
      }
    }
  }
}
@media (max-width: 1100px) {
  .rating-table-footer {
    &__item {
      &_site {
        flex: 15.9%;
        max-width: 15.9%;
      }
      &_name {
        flex: 36.2%;
        max-width: 36.2%;
      }
      &_status {
        flex: 21.4%;
        max-width: 21.4%;
      }
    }
  }

  .main_open {
    .rating-table-header {
      &__item {
        &_site {
          flex: 15.3%;
          max-width: 15.3%;
        }
        &_name {
          flex: 16.8%;
          max-width: 16.8%;
        }
        &_regalia {
          flex: 19%;
          max-width: 19%;
        }
      }
    }
    .rating-table-item {
      &__name {
        flex: 19%;
        max-width: 19%;
      }
      &__regalia {
        flex: 21.7%;
        max-width: 21.7%;
      }
    }
    .rating-table-footer {
      &__item {
        &_site {
          flex: 15.3%;
          max-width: 15.3%;
        }
        &_name {
          flex: 36%;
          max-width: 36%;
        }

      }
    }
  }
}

@media (max-width: 1050px) {
  .rating-table-header {
    &__item {
      &_site {
        flex: 16.1%;
        max-width: 16.1%;
      }
      &_name {
        flex: 18%;
        max-width: 18%;
      }
      &_regalia {
        flex: 18%;
        max-width: 18%;
      }
      &_status {
        flex: 22.5%;
        max-width: 22.5%;
      }
    }
  }
  .rating-table-item {
    &_open {
      .rating-table-item__icons {
        padding-right: 0%;
      }
    }
  }
  .rating-table-footer {
    &__item {
      &_site {
        flex: 16%;
        max-width: 16%;
      }
      &_name {
        flex: 35.9%;
        max-width: 35.9%;
      }
      &_status {
        flex: 21.2%;
        max-width: 21.2%;
      }

    }
  }
  .main_open {
    .rating-table-header {
      &__item {
        &_regalia {
          flex: 20.5%;
          max-width:20.5%;
        }
        &_status {
          flex: 20.3%;
          max-width: 20.3%;
        }
      }
    }
    .rating-table-item {
      &__name {
        flex: 19%;
        max-width: 19%;
      }
      &__regalia {
        flex: 23.5%;
        max-width: 23.5%;
      }
      &__status {
        flex: 25.2%;
        max-width: 25.2%;
      }

    }
    .rating-table-footer {
      &__item {
        &_site {
          flex: 15.3%;
          max-width: 15.3%;
        }
        &_name {
          flex: 37.2%;
          max-width: 37.2%;
        }
        &_status {
          flex: 22.1%;
          max-width: 22.1%;
        }

      }
    }
  }
}

@media (max-width: $screen-width-sub-lg) {
  .rating-table-header {
    &__item {
      &_site {
        flex: 21%;
        max-width: 21%;
      }

      &_name {
        flex: 26.8%;
        max-width: 26.8%;
      }

      &_regalia {
        flex: 24%;
        max-width: 24%;
      }

      &_status {
        display: none;
      }
      &_like {
        flex: 9%;
        max-width: 9%;
      }
    }
  }
  .rating-table-item {
    &__site {
      flex: 19%;
      max-width: 19%;
    }

    &__name {
      flex: 30%;
      max-width: 30%;
    }

    &__regalia {
      flex: 25%;
      max-width: 25%;
    }
    &__like-value {
      padding-left: 10px;
      flex: 12.6%;
      max-width: 12.6%;
    }

    &__status {
      display: none;
    }
    &_open {
      .rating-table-item__icons {
        padding-right: 10%;
      }
    }
  }
  .rating-table-footer {
    &__item {
      &_site {
        flex: 21%;
        max-width: 21%;
      }
      &_name {
        flex: 49.6%;
        max-width: 49.6%;
      }
      &_change {
        flex: 7.5%;
        max-width: 7.5%;
      }
      &_status {
        display: none;
      }
      &_count {
        flex: 11%;
        max-width: 11%;
      }
    }
  }


  .main_open {
    .rating-table-header {
      &__item {
        &_site {
          flex: 21.3%;
          max-width: 21.3%;
        }

        &_name {
          flex: 26%;
          max-width: 26%;
        }

        &_regalia {
          flex: 23%;
          max-width: 23%;
        }

        &_status {
          display: none;
        }
      }
    }
    .rating-table-item {
      &__site {
        flex: 19%;
        max-width: 19%;
      }

      &__name {
        flex: 30%;
        max-width: 30%;
      }

      &__regalia {
        flex: 25%;
        max-width: 25%;
      }
      &__like-value {
        padding-left: 10px;
        flex: 12.6%;
        max-width: 12.6%;
      }

      &__status {
        display: none;
      }
    }
    .rating-table-footer {
      &__item {
        &_site {
          flex: 21.5%;
          max-width: 21.5%;
        }
        &_name {
          flex: 48.4%;
          max-width: 48.4%;
          padding-right: 0px;
        }
        &_change {
          flex: 7.5%;
          max-width: 7.5%;
        }
        &_status {
          display: none;
        }
        &_count {
          flex: 11%;
          max-width: 11%;
        }
      }
    }
  }
}

@media (max-width: $screen-width-sm) {
  .rating-table-body {
    max-height: 375px;
  }
  .rating-table-header {
    &__item {
      &_regalia {
        flex: 25%;
        max-width: 25%;
      }
      &_like {
        flex: 8%;
        max-width: 8%;
      }
    }
  }
  .rating-table-item {
    &_open {
      .rating-table-item__icons {
        padding-right: 0;
      }
    }
  }
  .rating-table-footer {
    &__item {
      &_site {
        flex: 21.2%;
        max-width: 21.2%;
      }
      &_name {
        flex: 49%;
        max-width: 49%;
      }
    }
  }
  .main_open {
    .rating-table-header {
      &__item {
        &_regalia {
          flex: 25%;
          max-width: 25%;
        }
        &_like {
          flex: 8%;
          max-width: 8%;
        }
      }
    }
    .rating-table-item {
      &__site {
        .modifier {
          display: block;
        }
      }
      &__change {
        flex: 12.7%;
        max-width: 12.7%;
      }
    }
    .rating-table-footer {
      &__item {
        &_site {
          flex: 21.2%;
          max-width: 21.2%;
        }
        &_name {
          flex: 49%;
          max-width: 49%;
        }
      }
    }
  }
}

@media (max-width: $screen-width-xs) {
  .rating {
    &__header {
      flex-wrap: wrap;

      .btn-collapse {
        top: 25px;
        right: 20px;
        position: absolute;
      }

      .section__caption {
        max-width: 100%;
      }

      .period {
        margin-top: 0.5rem;
      }
    }
  }

  .rating-table-header {
    &__item {
      font-size: 12px;

      &_site {
        padding-left: 8px;
        flex: 35%;
        max-width: 35%;
      }

      &_regalia {
        display: none;
      }

      &_status {
        display: none;
      }

      &_like {
        display: none;
      }
      &_change {
        display: none;
      }
    }
  }
  .rating-table-item {
    align-items: center;
    padding: 1rem;
    font-size: 12px;

    &__site {
      order: 0;
      flex: 34.5%;
      max-width: 34.5%;

      .site {
        padding-left: 0;
      }

      .modifier {
        display: none;
      }
    }

    &__name {
      order: 1;
      flex: 57%;
      max-width: 57%;
    }

    &__like-value {
      font-size: 12px;
      display: none;
      flex: 100%;
      max-width: 100%;
    }

    &__status {
      order: 3;
      margin-top: 1rem;
      padding-top: 1rem;
      padding-bottom: 1rem;
      display: none;
      flex: 100%;
      max-width: 100%;
      position: relative;
      padding-left: 34.5%;
      border-top: 1px solid #EFF0F1;
      border-bottom: 1px solid #EFF0F1;

      &::before {
        content: "Статус";
        position: absolute;
        left: 0;
        right: 0;
        color: #808D9D;
      }
    }

    &__change {
      order: 4;
      padding-top: 1rem;
      padding-bottom: 1rem;
      display: none;
      flex: 100%;
      max-width: 100%;
      position: relative;
      padding-left: 34%;
      border-bottom: 1px solid #EFF0F1;

      &::before {
        content: "Изменение";
        position: absolute;
        left: 0;
        right: 0;
        color: #808D9D;
      }

      .change {
        min-width: auto;
        padding-left: 2px;
      }
      svg {
        display: none;
      }
    }

    &_open {
      .rating-table-item__regalia {
        display: flex;
      }
      .rating-table-item__change {
        display: flex;
      }
    }
    &__regalia {
      display: none;
      flex: 100%;
      max-width: 100%;
      order: 5;
      font-size: 12px;
      position: relative;
      padding-left: 34.8%;
      &::before {
        content: "Регалии";
        position: absolute;
        left: 0;
        right: 0;
        color: #808D9D;
      }

      .name svg {
        display: none;
      }

      .title {
        font-size: 12px;
      }

      svg {
        width: 40px;
        height: 40px;

        & + svg {
          margin-left: 4px;
        }
      }
    }

    .btn-collapse {
      order: 2;
      width: 15px !important;
      height: 15px !important;
      margin-left: 0 !important;

    }

    &_open {
      .rating-table-item__status {
        display: block;
      }
    }
  }
  .rating-table-body {
    padding-right: 8px;
  }

  .rating-table-footer {
    flex-wrap: wrap;
    margin-bottom: 0;

    &__item {
      font-size: 14px;
      display: flex;
      align-items: center;

      svg {
        display: block;
        margin-right: 30.3%;
      }

      &_site {
        order: 0;
        padding-left: 0;
        flex: 35%;
        max-width: 35%;
      }

      &_name {
        order: 1;
        padding-right: 8px;
        flex: 54.5%;
        max-width: 54.5%;
      }

      &:nth-child(3) {
        margin-top: 1rem;
        padding-top: 1rem;
        padding-bottom: 1rem;
        border-top: 1px solid #EFF0F1;
        border-bottom: 1px solid #EFF0F1;
        order: 3;
        flex: 100%;
        max-width: 100%;
        position: relative;
        padding-left: 35%;

        &::before {
          content: "Статус";
          position: absolute;
          left: 0;
          right: 0;
          color: #808D9D;
        }
      }

      &:nth-child(4) {
        padding-top: 1rem;
        padding-bottom: 1rem;
        border-bottom: 1px solid #EFF0F1;
        order: 4;
        flex: 100%;
        max-width: 100%;
      }

      &:nth-child(5) {
        padding-top: 1rem;
        order: 5;
        flex: 100%;
        max-width: 100%;
        position: relative;
        padding-left: 35%;

        &::before {
          content: "Изменение";
          position: absolute;
          left: 0;
          color: #808D9D;
        }
      }

      &_close {
        &:nth-child(3) {
          display: none;
        }

        &:nth-child(4) {
          display: none;
        }

        &:nth-child(5) {
          display: none;
        }
      }
    }

    .btn-collapse {
      order: 2;
      width: 25px !important;
      height: 25px !important;
      margin-left: 0 !important;
      box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.07);
      background: #FFFFFF;
    }
  }
  .rating-table-item__regalia {
    .name {
      margin-right: 15%;

      & + span {
        font-size: 12px;
      }
    }
  }
  .rating-table-item_open {
    .rating-table-item__regalia {
      padding-top: 1rem;
    }
  }
  .rating-table-item__icons {
    margin-left: -4px;
    max-width: 100%;
    align-items: center;
    justify-content: flex-start;
    svg {
      display: block;
      flex: 1 1 20% !important;
      width: 20% !important;
      height: auto;
      margin-top: 0;
      margin-bottom: 8px;
    }
  }

  .main_open {
    .rating {
      &__header {
        flex-wrap: wrap;

        .btn-collapse {
          top: 25px;
          right: 20px;
          position: absolute;
        }

        .section__caption {
          max-width: 100%;
        }

        .period {
          margin-top: 0.5rem;
        }
      }
    }

    .rating-table-header {
      &__item {
        font-size: 12px;

        &_site {
          padding-left: 8px;
          flex: 35%;
          max-width: 35%;
        }

        &_regalia {
          display: none;
        }

        &_status {
          display: none;
        }

        &_like {
          display: none;
        }
        &_change {
          display: none;
        }
      }
    }
    .rating-table-item {
      align-items: center;
      padding: 1rem;
      font-size: 12px;

      &__site {
        order: 0;
        flex: 34.5%;
        max-width: 34.5%;

        .site {
          padding-left: 0;
        }

        .modifier {
          display: none;
        }
      }

      &__name {
        order: 1;
        flex: 57%;
        max-width: 57%;
        padding-right: 0;
      }

      &__like-value {
        font-size: 12px;
        display: none;
        flex: 100%;
        max-width: 100%;
      }

      &__status {
        order: 3;
        margin-top: 1rem;
        padding-top: 1rem;
        padding-bottom: 1rem;
        display: none;
        flex: 100%;
        max-width: 100%;
        position: relative;
        padding-left: 34.5%;
        border-top: 1px solid #EFF0F1;
        border-bottom: 1px solid #EFF0F1;

        &::before {
          content: "Статус";
          position: absolute;
          left: 0;
          right: 0;
          color: #808D9D;
        }
      }

      &__change {
        order: 4;
        padding-top: 1rem;
        padding-bottom: 1rem;
        display: none;
        flex: 100%;
        max-width: 100%;
        position: relative;
        padding-left: 34%;
        border-bottom: 1px solid #EFF0F1;

        &::before {
          content: "Изменение";
          position: absolute;
          left: 0;
          right: 0;
          color: #808D9D;
        }

        .change {
          min-width: auto;
          padding-left: 2px;
        }
        svg {
          display: none;
        }
      }

      &_open {
        .rating-table-item__regalia {
          display: flex;
        }
        .rating-table-item__change {
          display: flex;
        }
      }
      &__regalia {
        display: none;
        flex: 100%;
        max-width: 100%;
        order: 5;
        font-size: 12px;
        position: relative;
        padding-left: 34.8%;
        &::before {
          content: "Регалии";
          position: absolute;
          left: 0;
          right: 0;
          color: #808D9D;
        }

        .name svg {
          display: none;
        }

        .title {
          font-size: 12px;
        }

        svg {
          width: 40px;
          height: 40px;

          & + svg {
            margin-left: 4px;
          }
        }
      }

      .btn-collapse {
        order: 2;
        width: 15px !important;
        height: 15px !important;
        margin-left: 0 !important;

      }

      &_open {
        .rating-table-item__status {
          display: block;
        }
      }
    }
    .rating-table-body {
      padding-right: 8px;
    }

    .rating-table-footer {
      flex-wrap: wrap;
      margin-bottom: 0;

      &__item {
        font-size: 14px;
        display: flex;
        align-items: center;

        svg {
          display: block;
          margin-right: 30.3%;
        }

        &_site {
          order: 0;
          padding-left: 0;
          flex: 35%;
          max-width: 35%;
        }

        &_name {
          order: 1;
          padding-right: 8px;
          flex: 54.5%;
          max-width: 54.5%;
        }

        &:nth-child(3) {
          margin-top: 1rem;
          padding-top: 1rem;
          padding-bottom: 1rem;
          border-top: 1px solid #EFF0F1;
          border-bottom: 1px solid #EFF0F1;
          order: 3;
          flex: 100%;
          max-width: 100%;
          position: relative;
          padding-left: 35%;

          &::before {
            content: "Статус";
            position: absolute;
            left: 0;
            right: 0;
            color: #808D9D;
          }
        }

        &:nth-child(4) {
          padding-top: 1rem;
          padding-bottom: 1rem;
          border-bottom: 1px solid #EFF0F1;
          order: 4;
          flex: 100%;
          max-width: 100%;
        }

        &:nth-child(5) {
          padding-top: 1rem;
          order: 5;
          flex: 100%;
          max-width: 100%;
          position: relative;
          padding-left: 35%;

          &::before {
            content: "Изменение";
            position: absolute;
            left: 0;
            color: #808D9D;
          }
        }

        &_close {
          &:nth-child(3) {
            display: none;
          }

          &:nth-child(4) {
            display: none;
          }

          &:nth-child(5) {
            display: none;
          }
        }
      }

      .btn-collapse {
        order: 2;
        width: 25px !important;
        height: 25px !important;
        margin-left: 0 !important;
        box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.07);
        background: #FFFFFF;
      }
    }
    .rating-table-item__regalia {
      .name {
        margin-right: 15%;

        & + span {
          font-size: 12px;
        }
      }
    }
    .rating-table-item_open {
      .rating-table-item__regalia {
        padding-top: 1rem;
      }
    }
    .rating-table-item__icons {
      margin-left: -4px;
      max-width: 100%;
      align-items: center;
      justify-content: flex-start;
      svg {
        display: block;
        flex: 1 1 20% !important;
        width: 20% !important;
        height: auto;
        margin-top: 0;
        margin-bottom: 8px;
      }
    }
  }

}

@media (max-width: 393px) {
  .rating-table-footer {
    &__item {
      svg {
        margin-right: 30%;
      }
    }
  }

  .main_open {
    .rating-table-footer {
      &__item {
        svg {
          margin-right: 30%;
        }
      }
    }
  }
}
@media (max-width: 320px) {
  .rating-table-item {
    &__site{
      flex: 35%;
      max-width: 35%;
    }
    &__status {
      padding-left: 35%;
    }
    &__change {
      padding-left: 35%;
      .change {
        padding-left: 0;
      }
    }
    &__regalia {
      padding-left: 35%;
    }
  }
  .rating-table-footer {
    &__item {
      &_site {
        flex: 35.5%;
        max-width: 35.5%;
      }
      &_name {
        flex: 54%;
        max-width: 54%;
      }
      &:nth-child(3) {
        padding-left: 35.5%;
      }
      &:nth-child(5) {
        padding-left: 35.5%;
      }
      svg {
        margin-right: 29%;
      }
    }
  }

  .main_open {
    .rating-table-item {
      &__site{
        flex: 35%;
        max-width: 35%;
      }
      &__status {
        padding-left: 35%;
      }
      &__change {
        padding-left: 35%;
        .change {
          padding-left: 0;
        }
      }
      &__regalia {
        padding-left: 35%;
      }
    }
    .rating-table-footer {
      &__item {
        &_site {
          flex: 35.5%;
          max-width: 35.5%;
        }
        &_name {
          flex: 54%;
          max-width: 54%;
        }
        &:nth-child(3) {
          padding-left: 35.5%;
        }
        &:nth-child(5) {
          padding-left: 35.5%;
        }
        svg {
          margin-right: 29%;
        }
      }
    }
  }
}