
.rating-table-header {
  display: flex;
  align-items: center;
  margin-bottom: 1.125rem;
  &__item {
    display: inline-block;
    font-size: 0.875rem;
    line-height: 1rem;
    color: #808D9D;
    &_site {
      flex: 13%;
      max-width: 13%;
      padding-left: 1.5rem;
    }
    &_name {
      flex: 11.4%;
      max-width: 11.4%;
    }
    &_regalia {
      flex: 11.5%;
      max-width: 11.5%;
    }
    &_status {
      flex: 39.9%;
      max-width: 39.9%;
    }
    &_like {
      text-align: center;
      flex: 7%;
      max-width: 7%;
    }
    &_change {
      text-align: center;
      flex: 11%;
      max-width: 11%;
    }
  }
}

.rating-table-body {
  max-height: 682px;
  overflow-y: auto;
  padding-right: 1.625rem;
}

.rating-table-item {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  background: #FAFDFE;
  border: 1px solid #EFF0F1;
  border-radius: 5px;
  padding: 19px 25px 24px 32px;
  margin-bottom: 10px;
  transition: 0.3s;
  cursor: pointer;
  &_open {
    align-items: flex-start;
    .rating-table-item__icons {
      svg {
        display: block;
      }
    }
    .rating-table-item__status {
      overflow: auto;
      text-overflow:clip;
      white-space: normal;
      padding-right: 4px;
    }
    .arrow {
      transform: rotate(-90deg) !important;
    }
  }
  &:hover, &:focus {
    background: darken(#FAFDFE, 3%);
    border-color: darken(#EFF0F1, 3%);
  }
  &:last-child {
    margin-bottom: 0;
  }
  &_active {
    border-width: 2px;
    border-color: #43bfd5;
    &:hover, &:focus {
      border-color: darken(#43bfd5, 3%);
    }
  }
  &__site {
    flex: 11.7%;
    max-width: 11.7%;
    display: flex;
    align-items: center;
    svg {
      & + .modifier {
        margin-left: 1.0625rem;
      }
    }
    .site {
      padding-left: 0.375rem;
      margin-right: 10px;
    }
    .modifier {
      margin-left: 1rem;
      padding: 3px 5px 3px 6px;
      font-weight: bold;
      text-align: center;
      font-size: 0.5625rem;
      line-height: 0.625rem;
      text-transform: uppercase;
      color: #656565;
      border-radius: 3px;
      &_pro {
        background: linear-gradient(169.23deg, #FFEA2D 28.06%, #FFC737 99.24%);
      }
      &_med {
        background: linear-gradient(169.23deg, #F0F0F0 28.06%, #DCDCDC 99.24%);
      }
    }
  }
  &__name {
    font-weight: 500;
    flex: 12.05%;
    max-width: 12.05%;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }
  &__status {
    flex: 42.4%;
    max-width: 42.4%;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    padding-right: 1rem;
  }
  &__like-value {
    text-align: center;
    display: inline-block;
    margin-top: 0.1875rem;
    flex: 6.9%;
    max-width: 6.9%;
    font-weight: 300;
    font-size: 0.875rem;
  }
  &__change {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex: 14.7%;
    max-width: 14.7%;
    .change {
      display: inline-block;
      font-weight: bold;
      text-align: center;
      min-width: 81%;
      color: #2B415B;
    }
    .arrow {
      margin-top: 6px;
      transition: 0.3s;
      transform: rotate(90deg);
    }
    &_up {
      .change {
        background: linear-gradient(166.83deg, #49D8BD 28.06%, #3793FF 99.24%);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
      }
    }
    &_down {
      .change {
        color: #FF5353;
      }
    }
  }

  &__regalia {
    flex: 12.1%;
    max-width: 12.1%;
    flex-wrap: wrap;
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-weight: 300;
    font-size: 0.875rem;
    line-height: 1.5rem;
  }
  &__icons {
    max-width: 180px;
    display: flex;
    flex-wrap: wrap;
    margin-left: -8px;
    svg {
      margin-top: 8px;
      margin-left: 8px;
      max-width: 24px;
      max-height: 24px;
      display: none;
      &:nth-child(1) {
        margin-top: 0;
        display: block;
      }
      &:nth-child(2) {
        margin-top: 0;
        display: block;
      }
      &:nth-child(3) {
        margin-top: 0;
        display: block;
      }
      &:nth-child(4) {
        margin-top: 0;
        display: block;
      }
      &:nth-child(5) {
        margin-top: 0;
        display: block;
      }
    }
    .highlight {
      path {
        fill: url(#regalia-fill);
      }
      circle {
        stroke: url(#regalia-fill);
      }
    }
  }
}

.rating-table-footer {
  display: flex;
  margin-top: 1.875rem;
  margin-bottom: 1.875rem;
  span {
    color: #23C6EA;
  }
  &__item {
    svg {
      display: none;
    }
    span {
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
    }
    &_site{
      flex: 13%;
      max-width: 13%;
      padding-left: 2.5rem;
    }
    &_name {
      flex: 22.9%;
      max-width: 22.9%;
    }
    &_status {
      flex: 40.18%;
      max-width: 40.18%;
    }
    &_count {
      text-align: center;
      flex: 6.5%;
      max-width: 6.5%;
    }
    &_change {
      text-align: center;
      flex: 11.3%;
      max-width: 11.3%;
    }
  }
}

.main_open {
  .rating-table-item {
    &__site {
      flex: 11.55%;
      max-width: 11.55%;
    }
    &__name {
      flex: 12.2%;
      max-width: 12.2%;
    }
    &__regalia {
      flex: 12.1%;
      max-width: 12.1%;
    }
  }
  .rating-table-header {
    &__item {
      &_status {
        flex: 39.75%;
        max-width: 39.75%;
      }
      &_like {
        flex: 6.9%;
        max-width: 6.9%;
      }
    }
  }
  .rating-table-footer {
    &__item {
      &_status {
        flex: 40%;
        max-width: 40%;
      }
      &_count {
        flex: 6.4%;
        max-width: 6.4%;
      }
    }
  }
}