$icon-size: 1.1em;
$icon-size-small: 0.91rem;

.check-options {
  padding: 0;
  margin: 0;

  li {
    list-style-type: none;
    font-size: 1.1rem;
  }

  .check-options__icon-wrap {
    margin-top: 0.25rem !important;
    margin-right: 0.75rem;
    width: $icon-size;
    svg {
      vertical-align: baseline !important;
      width: $icon-size;
      height: $icon-size;
    }
  }

  &__small {
    li {
      font-size: 0.91rem;
      margin-bottom: 0.25rem;
    }

    .check-options__icon-wrap {
      margin-top: 0.15rem !important;
      margin-right: 0.75rem;
      width: $icon-size-small;
      svg {
        vertical-align: baseline !important;
        width: $icon-size-small;
        height: $icon-size-small;
      }
    }
  }

  &__small_air {
    li {
      font-size: 0.91rem;
      margin-bottom: 0.75rem;
    }

    .check-options__icon-wrap {
      margin-top: 0.15rem !important;
      margin-right: 0.75rem;
      width: $icon-size-small;
      svg {
        vertical-align: baseline !important;
        width: $icon-size-small;
        height: $icon-size-small;
      }
    }
  }
}
