.ios-checkbox {
  display: flex;
  align-items: center;

  &__title {
    cursor: pointer;
    margin-bottom: 0;
    font-size: 0.875rem;
    color: #ABAAAA;
    line-height: 31px;
    margin-right: 11px;
    &_active {
      font-weight: normal;
      color: #516378;
    }
  }
  &__checkbox {
    display: none;
    &:checked + label::before {
      background: linear-gradient(169.21deg, #49D8BD 28.06%, #3793FF 99.24%);
    }
    &:checked + label::after {
      left: 28px;
    }
    & + label {
      cursor: pointer;
      padding-left: 72px;
      position: relative;
      &::before {
        content: "";
        display: inline-block;
        position: absolute;
        top: 0;
        left: 0;
        vertical-align: middle;
        padding: 0;
        height: 31px;
        width: 58px;
        margin: 0 5px 0 0;
        border: 1px solid #dadada;
        border-radius: 15.5px;
        background: #dddddd;
      }
      &::after {
        content: "";
        display: block;
        position: absolute;
        top: 1px;
        left: 1px;
        width: 29px;
        height: 29px;
        border-radius: 50%;
        background: #fff;
        border: 1px solid #dadada;
        box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.15), 0px 1px 1px rgba(0, 0, 0, 0.1), 0px 3px 4px rgba(0, 0, 0, 0.1);
      }
      &::before, &::after {
        transition: all .2s ease-out;
      }
    }
  }

  &_one-label {
    .ios-checkbox__checkbox + label::before {
      top: -10px;
    }
    .ios-checkbox__checkbox + label::after {
      top: -9px;
    }
  }
}