<template>
    <li class="achievement-item" :id="'achievement-item-' + index" :class="{'achievement-item_done': count === stage_all}">
        <h5 class="achievement-item__title mb-negative-5">
            <span>{{title}}</span>
            <span v-if="count === stage_all">. ВЫПОЛНЕНО</span>
        </h5>
        <span class="achievement-item__reward">Вознаграждение - {{reward | formatPrice}}L</span>
        <b-progress :value="Number(animatedNumber)" :max="stage_all" show-value></b-progress>
        <div class="achievement-item__stage">
            <span class="achievement-item__stage-number">0</span>
            <span class="achievement-item__stage-number">{{stage_all}}</span>
        </div>
        <b-tooltip v-if="prompt !== null && !mobile"
                   :fallback-placement="'counterclockwise'"
                   :placement="'right'"
                   :target="'achievement-item-' + index"
                   :title="prompt"></b-tooltip>
    </li>
</template>

<script>
    import { BProgress, BTooltip } from 'bootstrap-vue'

    import  {formatPrice} from "../../utils";
    import { TweenLite } from 'gsap'

    export default {
        name: "AchievementItem",
        components: {
            'b-progress': BProgress,
            'b-tooltip': BTooltip
        },
        props: {
            index: Number,
            title: String,
            reward: Number,
            count: Number,
            stage_all: Number,
            prompt: [String, Object],
        },
        data() {
            return {
                tweenedNumber: 0,
                mobile: true
            }
        },
        filters: {
            formatPrice
        },
        computed: {
            animatedNumber: function() {
                return this.tweenedNumber.toFixed(0);
            }
        },
        mounted() {
            TweenLite.to(this.$data, 3, {
                tweenedNumber: this.count,
                ease: "expo.out"
            });

            if (window.innerWidth > 575) {
                this.mobile = false
            }
        }
    }
</script>