<template>
    <section class="achievements-section section">
        <h2 class="h2 achievements-section__title section__title" :class="{'mb-0': collapse}">Достижения
        </h2>
        <button type="button" class="btn-collapse icon-arrow-bottom ml-4 d-flex d-xl-none" :class="{'btn-collapse_close': collapse}"
                @click="collapse = !collapse">
        </button>
        <div v-if="loaders.data">
            <ul id="achievements" class="achievements" v-if="achievements.length > 0" :class="{'d-none': collapse}">
                <achievement-item
                        v-for="(item, index) in achievements"
                        :key="index"
                        :index="index"
                        :title="item.title"
                        :prompt="item.prompt"
                        :reward="item.reward"
                        :count="item.stage_current"
                        :stage_all="item.stage_all">
                </achievement-item>
            </ul>
            <b-alert :show="achievements.length === 0" class="text-center mb-0">Список достижений пуст</b-alert>
        </div>
        <div class="text-center" v-else>
            <b-spinner label="Spinning"></b-spinner>
        </div>
    </section>
</template>

<script>
    import AchievementItem from "./AchievementItem";

    import {BSpinner} from 'bootstrap-vue'
    import { BAlert } from 'bootstrap-vue'


    import {get} from '../../service/api';
    export default {
        name: "Achievements",
        components: {
            'b-spinner': BSpinner,
            'b-alert': BAlert,
            AchievementItem,
        },
        data() {
            return {
                loaders: {
                    data: true
                },
                achievements: [],
                collapse: false
            }
        },
        mounted() {
            this.loadData();
        },
        methods: {
            async loadData() {
                this.loaders.data = false;
                try {
                    const response = await get('achievements/list');

                    this.achievements = response.data.data;

                    this.loaders.data = true;
                } catch (err) {
                    this.loaders.data = true;
                    // eslint-disable-next-line
                    console.log(err);

                }
            }
        }
    }
</script>