.section {
  position: relative;
  background-color: white;
  box-shadow: 0px 20px 50px rgba(29, 115, 115, 0.1);
  border-radius: 0.625rem;
  // padding: 1.9375rem 2.8125rem 2.4375rem 2.8125rem;
  padding: 1.9375rem 2.8125rem 1.9375rem 2.8125rem;

  &__title {
    margin-bottom: 1.9375rem;
  }

  &__divider {
    border-top-color: #eff0f1;
    border: 0;
    border-top: 1px solid rgba(0, 0, 0, 0.1);
    margin-left: -2.8125rem;
    margin-right: -2.8125rem;
  }

  &__header {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
  }

  &__clarification {
    font-size: 0.875rem;
    color: #808d9d;
  }
}
