@media (max-width: $screen-width-notebook) {
  .section {
    padding: 1.5rem 1.875rem 2rem 1.875rem;
    &__title {
      margin-bottom: 1.5rem;
    }
    &__divider {
      margin-left: -1.875rem;
      margin-right: -1.875rem;
    }
  }
}
@media (max-width: $screen-width-sm) {
  .section {
    padding: 1.5rem 1.875rem 2rem 1.375rem;
  }
}
@media (max-width: $screen-width-xs) {
  .section {
    padding: 1.5625rem 1.25rem 2rem 1.25rem;
    &__title {
      line-height: 2rem !important;
    }
    &__caption {
      max-width: 75%;
    }

    &__divider {
      margin-left: -1.25rem;
      margin-right: -1.25rem;
    }
  }

  .web-masters {
    .section__header {
      flex-direction: column;
      align-items: flex-start;
    }
  }
}
