.slider-item {
  display: block;
  height: 100%;
  padding: 0.875rem 1rem 1.875rem 1rem;
  border: 1px solid #E5E5E5;
  border-radius: 10px;
  &:hover {
   text-decoration: none;
  }
  &:last-child {
    margin-right: 0;
  }
  &__img {
    border: 1px solid #E5E5E5;
    box-sizing: border-box;
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    height: 96px;
    position: relative;
    img {
      object-fit: cover;
      max-height: 100%;
      max-width: 100%;
    }
  }
  &__type {
    display: inline-block;
    width: 100%;
    text-align: center;
    font-weight: bold;
    font-size: 0.6875rem;
    transform: rotate(-45deg);
    color: white;
    background: linear-gradient(98.43deg, #00D1FF 4.8%, #0BA8EA 56.69%, #1485D7 101.83%);
    position: absolute;
    border-radius: 2px;
    padding: 8px 10px 10px 15%;
    bottom: 10px;
    right: -27%;
  }
  &__title {
    font-size: 1rem;
    font-weight: normal;
    margin-top: 0.8125rem;
    margin-bottom: 0.5rem;
  }

  &__date {
    font-size: 0.75rem;
    line-height: 1;
    color: $body-color;
    display: flex;
    justify-content: space-between;
  }
  &__value {
    display: flex;
    color: $body-color;
    flex-direction: column;
    margin-top: 0.5rem;
    margin-bottom: 10px;

  }
  &__price {
    font-size: 0.75rem;
    line-height: 2;
  }
  &__icon {
    margin-right: 0.5rem;
  }
  &__geo-prompt {
    font-weight: 500;
    font-size: 0.875rem;
    line-height: 1;
    color: $body-color;
  }
}