.slider-navigation {
  margin-top: 0;
  margin-bottom: 0;
  display: flex;
  justify-content: center;
  position: relative;
  &__button {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 36px;
    height: 36px;
    border-radius: 50%;
    background: #ffffff;
    border: 1px solid #edf9f8;
    box-sizing: border-box;
    box-shadow: 0px 0px 15px rgba(21, 75, 70, 0.06);
    transition: 0.3s;
    &.disabled {
      pointer-events: none;
      opacity: 0.7;
    }
    &:focus {
      outline: none;
    }
    &:hover {
      background-color: darken(#ffffff, 5%);
    }
  }
  &__pagination {
    display: flex;
    align-items: center;
    padding-right: 13px;
    padding-left: 13px;
    .swiper-pagination-bullet {
      background: transparent;
      outline: none;
      opacity: 1;
      &__wrap {
        width: 30px;
        margin-left: 10px;
        margin-right: 10px;
        height: 30px;
        display: flex;
        justify-content: center;
        align-items: center;
      }
      &__icon {
        border-radius: 50%;
        transition: 0.3s;
        width: 10px;
        height: 10px;
        background: #e6e6e6;
        opacity: 1;
      }
      &-active {
        .swiper-pagination-bullet__icon {
          margin-left: 0;
          margin-right: 0;
          width: 30px;
          height: 30px;
          background: linear-gradient(160.38deg, #49d8bd 28.06%, #3793ff 99.24%);
          border: 7px solid #edfbf8;
        }
      }
    }
  }
}
