.private-ofers {
  padding-bottom: 2.5rem;
  // margin-left: -14px;

  // .swiper-slide-next {
  //   a {
  //     box-shadow: none;
  //   }
  // }

  .swiper-container {
    padding: 20px;
    padding-top: 0;
  }
  .slider-item {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    border: none;
    box-shadow: 0px 20px 33px rgba(29, 115, 115, 0.1);
    padding: 0.875rem 1rem 1rem 1rem;

    button {
      text-transform: none;
      padding: 0.337rem 0;
    }

    &__title {
      color: #23c6ea;
      font-size: 1rem;
    }
    &__img {
      border: 1px solid #e5e5e5;
      box-sizing: border-box;
      border-radius: 5px;
    }
  }
}

@media (max-width: $screen-width-xs) {
  .private-ofers {
    padding-bottom: 0;
  }
}
