@media (max-width: $screen-width-xs) {
  .slider-item {
    &__type {
      padding-left: 22%;
    }
    &__date {
      justify-content: flex-start;
      span:first-child {
        margin-right: 0.875rem;
      }
    }
    &__img {
      height: 150px;
    }
  }
}