// $screen-width-sub-full-hd: 1600px;
// $screen-width-notebook-lg: 1440px;
// $screen-width-notebook: 1366px;
// $screen-width-notebook-small: 1280px;
// $screen-width-lg: 1215px;
// $screen-width-sub-lg: 1024px;
// $screen-width-md: 991px;
// $screen-width-sm: 768px;
// $screen-width-xs: 575px;

$screen-width-sm-2: 769px;
.private-ofers {
  .swiper-container {
    margin: 0;
    padding: 20px;
    padding-top: 0px;
  }
  .swiper-slide-prev {
    .slider-item {
      box-shadow: none;
    }
  }
}

@media (max-width: $screen-width-md) {
  .slider-navigation__pagination {
    display: flex;
    align-items: center;
    padding-right: 13px;
    padding-left: 13px;
    flex-wrap: wrap;
    max-width: 80%;
    justify-content: center;
  }
}

@media (min-width: $screen-width-sm-2) {
  .private-ofers {
    padding-bottom: 1rem;
    // margin: 0 auto;
    max-width: calc(100vw - 112px);
    // margin-left: -14px;
    .slider-navigation {
      margin-top: 0;
    }

    &_open {
      max-width: calc(100vw - 290px);
    }
  }
}

@media (min-width: $screen-width-lg) {
  .private-ofers {
    // margin: 0 auto;
    max-width: calc(100vw - 127px);

    &_open {
      max-width: calc(100vw - 290px);
    }
  }
}

@media (max-width: $screen-width-lg) {
  .offers {
    .btn-collapse {
      top: 25px;
      right: 20px;
      position: absolute;
    }
  }
}
