.master-block-tooltip {
  .tooltip-inner {
    min-width: 430px !important;
    max-width: auto !important;
  }
}
.web-masters {
  .section__caption {
    min-width: 180px;
  }

  &__balance {
    min-width: 320px;
    margin-right: 2.5rem;
    .custom-checkbox {
      width: 3.5rem;
      svg {
        margin-left: -0.75rem;
        margin-top: -0.2rem;
      }
    }
  }

  &__header {
    align-items: center;
    // .section__title {
    //   line-height: 3.75rem;
    // }
  }
}
