::-webkit-scrollbar { /* 1 - скроллбар */
  width: 4px;
  height: 4px;
  background-color: #F2F2F2;
}

::-webkit-scrollbar-button { /* 2 - кнопка */

}

::-webkit-scrollbar-track { /* 3 - трек */
}

::-webkit-scrollbar-track-piece { /* 4 - видимая часть трека */
}

::-webkit-scrollbar-thumb { /* 5 - ползунок */
  background: linear-gradient(-90deg, #49D8BD 28.06%, #3793FF 99.24%);
  border-radius: 20px;
}

::-webkit-scrollbar-corner { /* 6 - уголок */
}

::-webkit-resizer { /* 7 - изменение размеров */
}