$font-family-base: "Ubuntu";
// main
$body-color: #516378;
$base-bg: #e5e5e5;
$link-color: #23c6ea;
// navbar
$navbar-padding-y: 1.25rem;
$navbar-padding-x: 1.75rem;
$navbar-light-toggler-border-color: none;
$navbar-toggler-padding-y: 0.5rem;
$navbar-toggler-padding-x: 0.5rem;
$navbar-toggler-border-radius: 50%;
// forms
$custom-select-font-size: 0.875rem;
$custom-select-color: #516378;
$custom-select-height: auto;
$custom-select-indicator: url(data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMTEiIGhlaWdodD0iNyIgdmlld0JveD0iMCAwIDExIDciIGZpbGw9Im5vbmUiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PHBhdGggZD0iTTEgMUw1LjUgNS41TDEwIDEiIHN0cm9rZT0iIzgwOEQ5RCIgc3Ryb2tlLXdpZHRoPSIyIiBzdHJva2UtbGluZWNhcD0icm91bmQiLz48L3N2Zz4=);
$custom-control-indicator-size: 1.25rem;
$custom-checkbox-indicator-border-radius: 0.1875rem;
$custom-control-gutter: 1rem;
//progress
$progress-bg: #ebfef8;
$progress-font-size: 0.625rem;
$progress-height: 1.625rem;
//modal
$modal-xl: 1226px;
$modal-header-border-width: 0;
$modal-backdrop-bg: #2b415b;
$modal-backdrop-opacity: 0.4;
$close-color: #e5e5e5;
$close-font-size: 3rem;
$close-font-weight: 300;
//screen width
$screen-width-sub-full-hd: 1600px;
$screen-width-notebook-lg: 1440px;
$screen-width-notebook: 1366px;
$screen-width-notebook-small: 1280px;
$screen-width-lg: 1215px;
$screen-width-sub-lg: 1024px;
$screen-width-md: 991px;
$screen-width-sm: 768px;
$screen-width-sm_gt: 769px;
$screen-width-xs: 575px;

$dropdown-min-width: 200px;
$tooltip-max-width: 300px;
