@media (max-width: $screen-width-sm) {
  .custom-select {
    padding: 0.5rem 1.7rem 0.3125rem 0.9375rem;
  }
}

@media (max-width: $screen-width-xs) {
  .custom-select {
    padding-right: 35px;
  }
}
