.custom-select {
  -webkit-appearance: none;
  padding: 0.3rem 1.7rem 0.3125rem 0.9375rem;
  background: url(data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMTEiIGhlaWdodD0iNyIgdmlld0JveD0iMCAwIDExIDciIGZpbGw9Im5vbmUiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PHBhdGggZD0iTTEgMUw1LjUgNS41TDEwIDEiIHN0cm9rZT0iIzgwOEQ5RCIgc3Ryb2tlLXdpZHRoPSIyIiBzdHJva2UtbGluZWNhcD0icm91bmQiLz48L3N2Zz4=)
    no-repeat right 0.75rem center/8px 6px;
}
@import "custom-select-mq";
